<div class="box mb-0">
  <div class="box-body">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="mb-2">
          <small class="text-muted">Terminal Id</small>
          <div class="_500">
            {{ _HelperService._UserAccount.DisplayName || "--" }}
          </div>
        </div>
        <div>
          <small class="text-muted">Bank </small>
          <div class="_500">
            {{ _HelperService._UserAccount.BankDisplayName || "--" }}
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="mb-2">
          <small class="text-muted"> Location</small>
          <div class="_500">
            {{ _HelperService._UserAccount.SubOwnerDisplayName || "--" }}
          </div>
        </div>
        <div>
          <small class="text-muted">Address </small>
          <div class="_500">
            {{ _HelperService._UserAccount.SubOwnerAddress || "--" }}
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div>
          <small class="text-muted">Provider</small>
          <div class="_500">
            {{ _HelperService._UserAccount.OwnerDisplayName || "--" }}
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div>
          <small class="text-muted">{{
            "Common.ActiveSince" | translate
          }}</small>
          <div class="_500">
            {{ _HelperService._UserAccount.CreateDateS || "--" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box mb-2 mt-2">
  <div class="navbar navbar-expand-lg">
    <li class="d-lg-none d-flex align-items-center">
      <a href="#" class="mx-2" data-toggle="collapse" data-target="#navbarToggler"><svg
          xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
          <path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z"></path>
        </svg></a>
    </li>
    <div class="collapse navbar-collapse order-lg-1" id="navbarToggler">
      <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2"
        *ngIf="_HelperService.UserAccount.AccountTypeCode == _HelperService.AppConfig.AccountType.Merchant">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link"
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Terminal.Dashboard}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
            [routerLinkActive]="['active']">
            <span class="nav-text">{{
                "System.Menu.Dashboard" | translate
              }}</span></a>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Rewards & Redeem</a>
          <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn">
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Terminal.RewardHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Rewards </a>
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Terminal.RewardClaimHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Reward Claims </a>
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Terminal.RedeemHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Redeem </a>
          </div>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sales</a>
          <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn">
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Terminal.SalesHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Sales Transactions </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2"
        *ngIf="_HelperService.UserAccount.AccountTypeCode == _HelperService.AppConfig.AccountType.Acquirer">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link"
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Terminal.Dashboard}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
            [routerLinkActive]="['active']">
            <span class="nav-text">{{
                  "System.Menu.Dashboard" | translate
                }}</span></a>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Rewards & Redeem</a>
          <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn">
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Terminal.RewardHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Rewards </a>
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Terminal.RewardClaimHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Reward Claims </a>
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Terminal.RedeemHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Redeem </a>
          </div>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sales</a>
          <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn">
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Terminal.SalesHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Sales Transactions </a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2"
        *ngIf="_HelperService.UserAccount.AccountTypeCode == _HelperService.AppConfig.AccountType.Admin">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link"
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Terminal.Dashboard}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
            [routerLinkActive]="['active']">
            <span class="nav-text">{{
                "System.Menu.Dashboard" | translate
              }}</span></a>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Rewards & Redeem</a>
          <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn">
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Terminal.RewardHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Rewards </a>
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Terminal.RewardClaimHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Reward Claims </a>
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Terminal.RedeemHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Redeem </a>
          </div>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sales</a>
          <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn">
            <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Terminal.SalesHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
              class="dropdown-item" [routerLinkActive]="['active']">Sales Transactions </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>