<aside class="aside aside-fixed">
  <div class="aside-header">
    <a *ngIf="_HelperService.CheckMode == 'light'" routerLink="{{
      _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Acquirer
    }}" [routerLinkActive]="['active']" class="aside-logo nav-link pd-l-10"><img src="../../assets/img/thankucash.svg"
        height="20px" width="128px" alt="." /></a>

    <a *ngIf="_HelperService.CheckMode =='dark'" routerLink="{{
          _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Acquirer
        }}" [routerLinkActive]="['active']" class="aside-logo nav-link pd-l-10"><img
        src="../../assets/img/thankucash_white.svg" height="20px" width="128px" alt="." /></a>
    <a href="" class="aside-menu-link cursor-pointer">
      <i data-feather="menu"></i>
      <i data-feather="x"></i>
    </a>
  </div>

  <div class="aside-body">
    <div class="aside-loggedin">
      <div class="d-flex align-items-center justify-content-start">
        <a class="avatar"><img src="{{ _HelperService.UserAccount.IconUrl }}" class="rounded-circle" alt=""></a>
        <div class="aside-alert-link">
          <a class="" data-toggle="tooltip" title="You have 0  unread messages"><i
              data-feather="message-square"></i></a>
          <a class="" data-toggle="tooltip" title="You have 0 new notifications"><i data-feather="bell"></i></a>
          <a class="cursor-pointer" (click)="ProcessLogout()" data-toggle="tooltip" title="Sign out"><i
              data-feather="log-out"></i></a>
        </div>
      </div>
      <div class="aside-loggedin-user">
        <a href="#loggedinMenu" class="d-flex align-items-center justify-content-between mg-b-2" data-toggle="collapse">
          <h6 class="tx-semibold mg-b-0">{{ _HelperService.UserAccount.DisplayName }}

          </h6>
          <i data-feather="chevron-down"></i>
        </a>
        <p class="tx-color-03 tx-12 mg-b-0">Administrator</p>
      </div>
      <div class="collapse" id="loggedinMenu">
        <ul class="nav nav-aside mg-b-0">
          <!-- <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{
    _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Profile
    }}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="edit"></i> <span>Edit
                Profile</span></a>
          </li> -->
          <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{
    _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Profile
    }}" [routerLinkActive]="['active']" class="nav-link">


              <i data-feather="user-check"></i>
              <span class="">{{"System.Menu.Account" | translate}}</span></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Accounts.Subadmins
          }}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="user"></i>
              <span>SubAccounts</span></a></li>

          <!-- <li class="nav-item"><a class="nav-link"><i data-feather="settings"></i> <span>Account
                Settings</span></a></li> -->
          <!-- <li class="nav-item"><a class="nav-link"><i data-feather="help-circle"></i> <span>Help
                Center</span></a></li> -->
          <li class="nav-item cursor-pointer"><a (click)="ProcessLogout()" class="nav-link"><i
                data-feather="log-out"></i> <span>Sign
                Out</span></a>
          </li>
        </ul>
      </div>
    </div><!-- aside-loggedin -->
    <ul class="nav nav-aside mg-b-50">
      <!-- <li class="nav-label">Dashboard</li> -->
      <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{
    _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Acquirer
    }}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="home"></i>
          <span>{{"System.Menu.Overview" | translate}}</span></a></li>

      <li class="nav-label mg-t-20">Reward Campaigns</li>
      <!-- <li class="nav-item" [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Campaigns.Campaigns}}"
              [routerLinkActive]="['active']" class="nav-link"><i data-feather="target"></i>
              <span>Campaigns</span></a></li> -->

      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isGroupLoyalty"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.LoyaltyProgram.BankLoyaltyOverview}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="layers"></i>
          <span>Group Loyalty</span></a></li>


      <li class="nav-label mg-t-20">Merchant Management</li>
      <!-- <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchants}}"
          [routerLinkActive]="['active']" class="nav-link">
          <i data-feather="shopping-cart"></i>
          <span>Merchants</span></a>
      </li> -->
      <!-- <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer
    .Terminals
    }}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="smartphone"></i>
          <span>{{"System.Menu.PosTerminals" | translate}}</span></a></li> -->

      <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer
            .Terminals
            }}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="smartphone"></i>
          <span>POS Terminals</span></a></li>


      <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Stores
            }}" [routerLinkActive]="['active']" class="nav-link">
          <!-- <i data-feather="shopping-cart"></i> -->
          <i data-feather="map-pin"></i>
          <span>{{"System.Menu.Stores" | translate}}</span>
        </a></li>
      <!-- <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer
                    .Live.Terminals
                    }}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="activity"></i>
          <span>{{"System.Menu.LiveTerminals" | translate}}</span></a></li> -->

      <!-- Add Merchant  -->

      <!-- <li class="nav-item with-sub" [routerLinkActive]="['active']">
            <a href="" class="nav-link"><i data-feather="user-plus"></i> <span>Add Merchants</span></a>
            <ul>
              <li  [routerLinkActive]="['active']"><a
                  routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.MerchantOnboarding}}"
                  [routerLinkActive]="['active']">Onboard Merchant</a></li>
              <li [routerLinkActive]="['active']">
                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.MerchantUpload}}"
                  [routerLinkActive]="['active']">Upload Merchants</a>
              </li>
              <li [routerLinkActive]="['active']"> <a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.AddTerminal}}"
                  [routerLinkActive]="['active']">Assign Terminals</a>
              </li>
            </ul>
          </li> -->

      <!-- <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.AddAccount.AddBranch
            }}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="plus-circle"></i>
                  <span>{{"System.Menu.AddBranches" | translate}}</span></a></li> -->




      <!-- commented nav 1st menu -->
      <!-- bank management -->
      <li class="nav-label mg-t-20">Bank Management</li>

      <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Accounts.Branch
                  }}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="codesandbox"></i>
          <span>Branches/Divisions</span></a></li>

      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="
                        _HelperService.UserAccount.AccountTypeCode ==
                        _HelperService.AppConfig.AccountType.Merchant ||
                        _HelperService.UserAccount.AccountTypeCode ==
                        _HelperService.AppConfig.AccountType.Acquirer
                        "><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.SubAccounts}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="users"></i>
          <span>Manager</span></a></li>

      <!-- <li class="nav-item" [routerLinkActive]="['active']" *ngIf="
          _HelperService.UserAccount.AccountTypeCode ==
          _HelperService.AppConfig.AccountType.Merchant ||
          _HelperService.UserAccount.AccountTypeCode ==
          _HelperService.AppConfig.AccountType.Acquirer
          "><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Targets}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="target"></i>
          <span>Target</span></a></li> -->




      <!-- removed the commented list campaigns  -->
      <!-- reward campaigns -->



      <!-- <li class="nav-item with-sub" [routerLinkActive]="['active']">
        <a href="" class="nav-link"><i data-feather="settings"></i> <span>Settings</span></a>
        <ul>

          <li [routerLinkActive]="['active']">
            <a routerLink="{{
    _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Accounts.Subadmins
    }}" [routerLinkActive]="['active']">
              <span>Sub- Admins</span></a>
          </li>
          <li [routerLinkActive]="['active']">
            <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Accounts.Rms}}"
              [routerLinkActive]="['active']">
              <span>{{ "System.Menu.Rms" | translate }}</span></a>
          </li>
        </ul>
      </li> -->

      <li class="nav-label mg-t-20">Report & Analysis</li>

      <li class="nav-item with-sub" [routerLinkActive]="['active']">
        <a href="" class="nav-link"><i data-feather="pie-chart"></i> <span>POS Reports</span></a>
        <ul>


          <li [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Activity}}"
              [routerLinkActive]="['active']"> <span>Activity</span></a></li>

          <!-- <li [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.SalesReport}}"
              [routerLinkActive]="['active']">
              <span>Sales Report</span></a></li> -->

          <li [routerLinkActive]="['active']"><a
              routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.SalesHistory}}"
              [routerLinkActive]="['active']">
              <span>Merchant Transaction</span></a></li>

          <!-- 
            <li  [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.TerminalsSale}}"
              [routerLinkActive]="['active']">
              <span>Terminal Transaction</span></a></li> -->
        </ul>


      </li>
      <li class="nav-label mg-t-20">Bank Customers</li>

      <li *ngIf="_HelperService.AppConfig.ActiveOwnerAccountTypeCode == 'acquirer'" class="nav-item"
        [routerLinkActive]="['active']">
        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.Partner.Customers}}" [routerLinkActive]="['active']"
          class="nav-link"><i data-feather="users"></i> <span>Customers</span></a>
      </li>


      <li *ngIf="_HelperService.AppConfig.ActiveOwnerAccountTypeCode == 'acquirer'" class="nav-label mg-t-20">Bulk
        Upload</li>
      <li *ngIf="_HelperService.AppConfig.ActiveOwnerAccountTypeCode == 'acquirer'" class="nav-item"
        [routerLinkActive]="['active']">
        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.Partner.BulkMerchantUpload}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="download"></i> <span>Bulk Upload
            Merchants</span></a>
      </li>
      <li *ngIf="_HelperService.AppConfig.ActiveOwnerAccountTypeCode == 'acquirer'" class="nav-item"
        [routerLinkActive]="['active']">
        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.Partner.BulkCustomerUpload}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="download"></i> <span>Bulk Upload
            Customer</span></a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Apps}}" [routerLinkActive]="['active']"
          class="nav-link"><i data-feather="disc"></i>
          <span>App And Keys</span></a></li>

      <li class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.FAQCategories}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="help-circle"></i>
          <span>FAQs</span></a></li>

      <!-- <li class="nav-item" [routerLinkActive]="['active']"><a 
        routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.RMReport}}" 
        [routerLinkActive]="['active']" class="nav-link"><i
            data-feather="bar-chart-2"></i>
          <span>RM Reports</span></a></li> -->


      <!-- <li class="nav-label mg-t-25">Pages</li>
    <li class="nav-item with-sub" [routerLinkActive]="['active']">
    <a href="" class="nav-link"><i data-feather="user"></i> <span>Reward Campaigns</span></a>
    <ul>
    <li><a routerLink="{{
    _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer
    .Campaigns.Campaigns
    }}" [routerLinkActive]="['active']">Campaigns</a></li>
    </ul>
    </li> -->

      <!-- <li class="nav-item with-sub">
    <a href="" class="nav-link"><i data-feather="file"></i> <span>Other Pages</span></a>
    <ul>
    <li><a href="page-timeline.html">Timeline</a></li>
    </ul>
    </li> -->
      <!-- <li class="nav-label mg-t-25">User Interface</li>
      <li class="nav-item"><a href="../../components" class="nav-link disabled"><i data-feather="layers"></i>
          <span>Components</span></a></li>
      <li class="nav-item"><a href="../../collections" class="nav-link disabled"><i data-feather="box"></i>
          <span>Collections</span></a></li> -->


    </ul>



  </div>

  <span class="aside-header d-flex justify-content-center bd-t w-100 text-center"
    style="position: fixed; bottom:0%; margin-top: -2.5em ;">
    <div class="mg-r-20 pd-b-10">
      <!-- <a routerLink="{{
        _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Acquirer
      }}" [routerLinkActive]="['active']" class="aside-logo nav-link pd-l-10"><img
          src="../../assets/img/thankucash.svg" height="25px" alt="." /></a> -->

      <a class="aside-logo tx-10 tx-spacing-3 p-0 m-0" target="_blank" href="http://connectedanalytics.xyz/"> <span
          class="tx-10 tx-color-03 text-uppercase" style="font-size: 10px !important;"> Powered by </span> <br> <span
          class="tx-18 pd-b-20"> <img src="../../assets/img/connected-analytics.svg" height="25" width="135" alt="">
        </span></a>


    </div>
  </span>

</aside>

<div class="content ht-100v pd-0">
  <div class="content-header justify-content-start">
    <a class="cursor-pointer" (click)="_HelperService.NavigateBack()">
      <i data-feather="arrow-left-circle"></i>
    </a>
    <span class="text-uppercase ml-3">
      {{ _HelperService.AppConfig.ActivePageName }}</span>
  </div>
  <div [className]="_HelperService.FullContainer ? '' : 'content-body skin'">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




<div class="df-settings">
  <a id="dfSettingsShow" href="" class="df-settings-link"><i data-feather="settings"></i></a>
  <div class="df-settings-body">
    <div class="pd-y-20">
      <h3 class="tx-bold tx-spacing--2 tx-brand-02 mg-b-0"><img src="../../assets/img/thankucash.svg" alt=""></h3>
      <span class="tx-sans tx-9 tx-uppercase tx-semibold tx-spacing-1 tx-color-03"> Skin Customizer</span>
      <h6 class="tx-sans tx-9 tx-uppercase tx-semibold tx-spacing-1 tx-color-03">V-0.0.2.6</h6>
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Skin Mode</label>
      <div class="row row-xs">
        <div class="col-4">
          <a href="" class="df-mode df-mode-default active" data-title="classic"></a>
          <span class="df-skin-name">Classic</span>
        </div>
        <div class="col-4">
          <a href="" class="df-mode df-mode-light" data-title="light">
            <span class="bg-ui-01"></span>
            <span class="bg-ui-02"></span>
          </a>
          <span class="df-skin-name">Light</span>
        </div>
        <div class="col-4">
          <a href="" class="df-mode df-mode-cold" data-title="cool">
            <span class="bg-primary op-1"></span>
            <span class="bg-primary op-2"></span>
          </a>
          <span class="df-skin-name">Cool</span>
        </div>
        <div class="col-4 mg-t-15">
          <a href="" class="df-mode df-mode-dark" data-title="dark">
            <span class="bg-gray-700"></span>
            <span class="bg-gray-900"></span>
          </a>
          <span class="df-skin-name tx-nowrap">Dark</span>
        </div>
      </div><!-- row -->
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Navigation Skin</label>
      <div class="row row-xs">
        <div class="col-4">
          <a href="" class="df-skin df-skin-default active" data-title="default"></a>
          <span class="df-skin-name">Default</span>
        </div>
        <div class="col-4">
          <a href="" class="df-skin df-skin-deepblue" data-title="deepblue">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Deep Blue</span>
        </div>
        <div class="col-4">
          <a href="" class="df-skin df-skin-charcoal" data-title="charcoal">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Charcoal</span>
        </div>
        <div class="col-4 mg-t-15">
          <a href="" class="df-skin df-skin-gradient1" data-title="gradient1">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Gradient 1</span>
        </div>
      </div><!-- row -->
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Font Family Base</label>
      <div class="row row-xs">
        <div class="col-7">
          <a href="" id="setFontBase" class="btn btn-xs btn-outline-secondary ">IBM Plex Sans</a>
        </div><!-- col -->
        <div class="col-5">
          <a href="" id="setFontRoboto" class="btn btn-xs btn-outline-secondary active">Roboto</a>
        </div><!-- col -->
      </div><!-- row -->
    </div>
  </div><!-- df-settings-body -->
</div><!-- df-settings -->