<!-- acquirer--manager--detail--terminal -->
<div class="row row-xs pb-3" *ngIf="TerminalsList_Config.OriginalResponse != undefined">
    <div class="col-sm-6 col-lg-3">
        <div class="card p-3 mb-3 r-1x" (click)="ToggleActivityStatus(2)">
            <div class="media cursor-pointer">
                <h4
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
                    <i class="fa fa-play"></i>
                </h4>
                <div class="media-body">
                    <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1  tx-semibold tx-nowrap mg-md-b-2">Active</h6>
                    <p class="tx-12 tx-sm-12 tx-md-12 tx-normal tx-color-03 tx-rubik mg-b-0">Terminals</p>
                    <div class="db-title-count-xl tx-20 tx-bold">
                        {{ _AccountOverview.ActiveTerminals | number: "1.0-1" || "--" }}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card p-3 mb-3 r-1x" (click)="ToggleActivityStatus(3)">
            <div class="media cursor-pointer">
                <h4
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-warning tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
                    <i class="fa fa-clock"></i>
                </h4>
                <div class="media-body">
                    <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1  tx-semibold tx-nowrap mg-md-b-2">Idle Terminals
                    </h6>
                    <p class="tx-12 tx-sm-12 tx-md-12 tx-normal tx-color-03 tx-rubik mg-b-0">Unused for a week</p>
                    <div class="db-title-count-xl tx-20 tx-bold">
                        {{ _AccountOverview.IdleTerminals | number: "1.0-1" || "--" }}
                    </div>
                </div>
            </div>
            <!-- <div class="db-title color-merchant">
              <i class="fa fa-briefcase db-title-icon"></i> Merchants
            </div>
            <div class=" db-title-sub color-merchant">Total merchants
            </div> -->

        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class=" card p-3 mb-3 r-1x " (click)="ToggleActivityStatus(4)">
            <div class="media cursor-pointer">
                <h4
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
                    <i class="fa fa-ban"></i>
                </h4>
                <div class="media-body">
                    <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1  tx-semibold tx-nowrap mg-md-b-2">Dead Terminals
                    </h6>
                    <p class="tx-12 tx-sm-12 tx-md-12 tx-normal tx-color-03 tx-rubik mg-b-0">Unused for a week</p>
                    <div class="db-title-count-xl tx-20 tx-bold">
                        {{ _AccountOverview.DeadTerminals| number: "1.0-1" || "--"}}
                    </div>
                </div>
            </div>
            <!-- <div class="db-title color-merchant">
              <i class="fa fa-briefcase db-title-icon"></i> Merchants
            </div>
            <div class=" db-title-sub color-merchant">Total merchants
            </div> -->
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card p-3 mb-3 r-1x" (click)="ToggleActivityStatus(1)">
            <div class="media cursor-pointer">
                <h4
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
                    <i class="fa fa-exclamation-triangle"></i>
                </h4>
                <div class="media-body">
                    <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1  tx-semibold tx-nowrap mg-md-b-2">Unused</h6>
                    <p class="tx-12 tx-sm-12 tx-md-12 tx-normal tx-color-03 tx-rubik mg-b-0">Software not updated</p>
                    <div class="db-title-count-xl tx-20 tx-bold">
                        {{ _AccountOverview.UnusedTerminals| number: "1.0-1" || "--"}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- <div [className]="_HelperService._Assets.Box.root">
    <div [className]="_HelperService._Assets.Box.header">
        <div [className]="_HelperService._Assets.Box.headerTitle">
            {{TerminalsList_Config.Title}} :  
            <span *ngIf="TerminalsList_Config.TotalRecords != undefined">
                {{TerminalsList_Config.TotalRecords | number: "1.0-1" || "--"}}</span>
           
        </div>
        <div [className]="_HelperService._Assets.Box.headerTitleRight">
            <nav class="nav nav-icon-only mg-l-auto">
            <a (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Csv)" data-toggle="tooltip" title="Download" class="nav-link d-none px-2 d-sm-block iconColor cursor-pointer"><i data-feather="download-cloud"></i></a>
            <a (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)" data-toggle="tooltip" title="Refresh" class="nav-link d-none d-sm-block iconColor cursor-pointer mr-3"><i data-feather="refresh-cw"></i></a>
            <button class="btn btn-primary  tx-13" (click)="Form_AddUser_Open()"> Add New </button>
            </nav>
            </div>
    </div>
    <div [className]="_HelperService._Assets.Box.bodyFilter">
        <div class="form-inline ">
            <div class="input-group mr-2 ">
                
                <input type="text" [value]="TerminalsList_Config.SearchParameter" maxlength="100" class="form-control"
                    placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append"><button class="btn btn-white" type="button"
                        (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                'Common.Go' | translate }}</button></div>
            </div>
            <div class="form-group mr-2 ">
                <input type="text" class="form-control  form-daterangepicker mr-2" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DatePickerOptions"
                    (selected)="TerminalsList_ToggleOptionPre($event, _HelperService.AppConfig.ListToggleOption.Date)" />
            </div>

            <div class="form-group mr-2 ">
                <select2 [options]="TerminalsList_Filter_Store_Option"
                    (valueChanged)="TerminalsList_Filter_Stores_Change($event)">
                </select2>
            </div>
            <div class="form-group mr-2 ">
                <select2 [options]="TerminalsList_Filter_Provider_Option"
                    (valueChanged)="TerminalsList_Filter_Stores_Change($event)">
                </select2>
            </div>

        </div>
        <div class="mt-2" *ngIf="TerminalsList_Config.ToggleFilter">

        </div>
        <div class="table-responsive mt-3">
            <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
                <thead>
                    <tr>
                        <th class="td-status">
                        </th>
                        <th *ngFor="let TItem of TerminalsList_Config.VisibleHeaders" class="{{TItem.Class}}">
                            {{TItem.DisplayName}}
                        </th>
                        <th class="td-status">
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer" (click)="TerminalsList_RowSelected(TItem)" *ngFor="let TItem of TerminalsList_Config.Data
                                                            | paginate: { id: 'TerminalsList',itemsPerPage: TerminalsList_Config.PageRecordLimit, currentPage: TerminalsList_Config.ActivePage,
                                                            totalItems: TerminalsList_Config.TotalRecords }">

                        <td class="td-status ">
                            <img class="br" src="{{TItem.IconUrl}}" class="avatar avatar-sm"
                                [style.border-color]="TItem.StatusC">
                        </td>
                        <td *ngFor="let HTItem of TerminalsList_Config.VisibleHeaders" class=" {{HTItem.Class}} rowvertical"
                            title="{{TItem[HTItem.SystemName]}}">
                            <span *ngIf="HTItem.NavigateLink != undefined">
                                <span *ngIf="HTItem.NavigateLink != undefined && HTItem.NavigateField == undefined">
                                    <a routerLink="{{HTItem.NavigateLink}}"> {{TItem[HTItem.SystemName] || "--"}}</a>
                                </span>
                                <span *ngIf="HTItem.NavigateField != undefined">
                                    <a routerLink="{{HTItem.NavigateLink}}/{{TItem[HTItem.NavigateField]}}">
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                            {{TItem[HTItem.SystemName] || "--"}}
                                        </span>
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                            {{TItem[HTItem.SystemName]|| "0"}}
                                        </span>
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                            {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                        </span>
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                            {{TItem[HTItem.SystemName] || "--"}}
                                        </span></a>
                                </span>
                            </span>
                            <span *ngIf="HTItem.NavigateLink == undefined">
                                <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                    {{TItem[HTItem.SystemName] || "--"}}
                                </span>
                                <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                    {{TItem[HTItem.SystemName]|| "0"}}
                                </span>
                                <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                    {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                </span>
                                <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                    {{TItem[HTItem.SystemName] || "--"}}
                                </span>
                            </span>
                        </td>
                        <td>
                            <div class="badge grey full-width" *ngIf="TItem.ApplicationStatusId == undefined">
                                n/a
                            </div>
                            <div class="badge grey full-width" *ngIf="TItem.ApplicationStatusId == 1">
                                unused
                            </div>
                            <div class="badge success full-width" *ngIf="TItem.ApplicationStatusId == 2">
                                active
                            </div>
                            <div class="badge warning full-width" *ngIf="TItem.ApplicationStatusId == 3">
                                idle
                            </div>
                            <div class="badge danger full-width" *ngIf="TItem.ApplicationStatusId == 4">
                                dead
                            </div>

                        </td>
                     
                    </tr>
                </tbody>
            </table>

            <div class="  p-4">
                <span class="mr-1">
                    {{ 'Common.Showing' | translate }}
                    <span class="bold">{{TerminalsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                        {{TerminalsList_Config.ShowingEnd}}
                    </span> {{ 'Common.Of' | translate }} {{TerminalsList_Config.TotalRecords}}
                </span>
                |
                <span class="ml-1">
                    {{ 'Common.Show' | translate }}
                    <select class=" w-64 " [(ngModel)]="TerminalsList_Config.PageRecordLimit"
                        (ngModelChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                            {{TItem}}
                        </option>
                    </select> {{ 'Common.Entries' | translate }}
                </span>
                <span class="float-right">
                    <pagination-controls id="TerminalsList"
                        (pageChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
                    </pagination-controls>
                </span>
            </div>
        </div>
    </div>


</div> -->

<div class="card bd-t-0">
    <!-- <div class="card-header pt-0">
        <button class="px-4 float-right btn tx-12 btn-success rounded-50" (click)="Form_AddUser_Open()"> Add New Terminal </button>

    </div> -->
    <!-- <div class="card-header">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <div class=" media">
                    <div type="button" (click)="FilterByStatus('All')"
                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </div>
                    <div class="media-body bd-pink">
                        <h6
                            class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                            ALL</h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            {{_AOverview.TerminalStatus.Total  | number: "1.0-1" || "--"}}</h4>
                    </div>
                </div>
                <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded "
                        (click)="FilterByStatus('Active')">
                        <i data-feather="smartphone"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                            Active</h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            {{_AOverview.TerminalStatus.Active  | number: "1.0-1" || "--"}}</h4>
                    </div>
                </div>
                <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                    <div (click)="FilterByStatus('Idle')"
                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-MasterCard tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                            Idle</h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            {{_AOverview.TerminalStatus.Idle  | number: "1.0-1" || "--"}}</h4>
                    </div>
                </div>
                <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                    <div (click)="FilterByStatus('Dead')"
                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                            Dead</h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            {{_AOverview.TerminalStatus.Dead | number: "1.0-1" || "--"}}</h4>
                    </div>
                </div>
                <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                    <div (click)="FilterByStatus('Unused')"
                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-secondary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                            Unused</h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            {{ '0' | number: "1.0-1" || "--"}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="box-header px-3 pb-3 pt-0 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TerminalsList_Config.SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)"><i
                            data-feather="search"></i> </button>
                </div>
            </div>
            <span class="badge badge-pill badge-primary"
                *ngFor="let TItem of TerminalsList_Config.Filters">{{TItem.Title}}</span>
        </div>
        <!-- <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div> -->


        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
                class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i>
            </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
            _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
                class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div>
        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TerminalsList_sdropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="TerminalsList_Config.Sort.SortOrder == 'desc'"
                                (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="TerminalsList_Config.Sort.SortOrder == 'asc'"
                                (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                            *ngFor="let TItem of TerminalsList_Config.Sort.SortOptions"
                            (click)="TerminalsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>



                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm mg-t-20"
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TerminalsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group">
                                <label>Date</label>
                                <input id="TermDatePicker" type="text" class="form-control  form-daterangepicker"
                                    name="daterangeInput" daterangepicker
                                    [options]="_HelperService.AppConfig.DateRangeOptions"
                                    (selected)="TerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                    [data]="TerminalsList_Config.StatusOptions"
                                    (valueChanged)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                            </div>
                        </div>
                        <!-- <div>
                            <div class="form-group wd-100p">
                                <label>Merchant</label>
                                <select2 [options]="TerminalsList_Filter_Merchant_Option"
                                    (valueChanged)="TerminalsList_Filter_Merchants_Change($event)">
                                </select2>
                            </div>

                        </div> -->
                        <div>

                            <div class="form-group wd-100p">
                                <label>Store</label>
                                <select2 [options]="TerminalsList_Filter_Merchant_Option"
                                    (valueChanged)="TerminalsList_Filter_Merchants_Change($event)">
                                </select2>
                            </div>
                        </div>
                        <div>

                            <div class="form-group wd-100p">
                                <label>Provider</label>
                                <select2 [options]="TerminalsList_Filter_Provider_Option"
                                    (valueChanged)="TerminalsList_Filter_Providers_Change($event)">
                                </select2>
                            </div>
                        </div>

                        <button type="button" class="btn btn-light btn-sm mr-2"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm "
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>

                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
                (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                    data-feather="refresh-cw"></i>
            </a>
        </nav>
    </div>

    <div class="pt-0 pd-l-15 pd-b-15">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
            (click)="RemoveFilterComponent('Status')">
            {{_HelperService.FilterSnap.StatusName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
            (click)="RemoveFilterComponent('Sort')">
            <span>
                {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div> -->

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
            _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>


        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
            (click)="RemoveFilterComponent('Other',i)">
            {{TItem.data[0].DisplayName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary"
            *ngFor="let TItem of TerminalsList_Config.Filters">{{TItem.Title}}</span>
    </div>
    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th class="text-center">
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Provider
                    </th>
                    <th class="text-center">
                        Last Transaction
                    </th>
                    <th>
                        Sale Amount
                    </th>
                    <th class="text-center">
                        RM
                    </th>
                    <th class="text-center">
                        Added On
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" (click)="TerminalsList_RowSelected(TItem)"
                    *ngFor="let TItem of TerminalsList_Config.Data  | paginate: { id: 'TerminalsList_Paginator',itemsPerPage: TerminalsList_Config.PageRecordLimit, currentPage: TerminalsList_Config.ActivePage,  totalItems: TerminalsList_Config.TotalRecords }">
                    <td class="text-center">
                        <img class="br" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2"
                            [style.border-color]="TItem.StatusC">
                    </td>
                    <td>
                        <div class="tx-semibold">{{TItem.DisplayName || "--"}}</div>
                    </td>
                    <td>
                        <div class="">{{TItem.ProviderDisplayName || "--"}}</div>

                    </td>
                    <td class="text-muted text-center">
                        {{TItem.LastTransactionDate || "--"}}
                    </td>
                    <td class="text-center">
                        {{TItem.SaleAmount || "--"}}
                    </td>
                    <td class="text-muted">
                        {{TItem.RmName || "--"}}
                    </td>
                    <td class="text-muted text-center">
                        <div class="text-uppercase">{{TItem.CreateDateD || "--"}}</div>
                        <div class="text-lowercase">{{TItem.CreateDateT || "--"}}</div>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
            {{ 'Common.Showing' | translate }}
            <span class="bold">{{TerminalsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{TerminalsList_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{TerminalsList_Config.TotalRecords}}
        </span>
        <span>
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="TerminalsList_Config.PageRecordLimit"
                (ngModelChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="TerminalsList_Paginator" class="pagination pagination-space"
                (pageChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>