<!-- acquirer--manager--list -->
<div class="card ">
    <div [className]="_HelperService._Assets.Box.header">
        <div class="tx-14 tx-bold"> {{UserAccounts_Config.Title}} </div>
        <div [className]="_HelperService._Assets.Box.headerTitleRight">
            <nav class="nav nav-icon-only mg-l-auto">
                <button class="btn tx-12 btn-primary rounded-50 pd-x-30" (click)="Form_AddUser_Show()"> New Manager
                </button>
            </nav>
        </div>
    </div>
    <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="UserAccounts_Config.SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="UserAccounts_ToggleOption(null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                            data-feather="search"></i> </button>
                </div>
            </div>

        </div>

        <!-- <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div> -->

        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
                class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i>
            </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
            _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
                class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div>
        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="UserAccounts_sdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="align-left"
                        class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="UserAccounts_Config.Sort.SortOrder == 'desc'"
                                (click)="UserAccounts_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="UserAccounts_Config.Sort.SortOrder == 'asc'"
                                (click)="UserAccounts_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>


                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                            *ngFor="let TItem of UserAccounts_Config.Sort.SortOptions"
                            (click)="UserAccounts_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>

                        <!-- <div *ngFor="let TItem of UserAccounts_Config.SortExpressionOption"
                            (click)="UserAccounts_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </div> -->
                        <!-- <div class="mt-2">
                            <button type="button" class="btn btn-primary btn-sm mr-2"
                                (click)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SortApply)">Apply</button>

                            <button type="button" class="btn btn-light btn-sm "
                                (click)="UserAccounts_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortReset)">
                                Reset</button>
                        </div> -->
                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm mg-t-20"
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="UserAccounts_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                    daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                                    (selected)="UserAccounts_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <!-- <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                    [data]="UserAccounts_Config.StatusOptions" [value]="UserAccounts_Config.Status"
                                    (valueChanged)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2> -->
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                    [data]="UserAccounts_Config.StatusOptions"
                                    (valueChanged)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Branch</label>
                                <select2 [options]="UserAccounts_Filter_Owners_Option" class="wd-100p"
                                    (valueChanged)="UserAccounts_Filter_Owners_Change($event)">
                                </select2>
                            </div>
                        </div>
                        <button type="button" class="btn btn-light btn-sm mr-2"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm "
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>

                    </form>
                </div>
            </div>
            <!--  -->
            <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"
                (click)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                <i data-feather="refresh-cw"></i>
            </a>
            <!--  -->
        </nav>
    </div>

    <div class="pt-0 pd-l-15 pd-b-15">

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
            (click)="RemoveFilterComponent('Status')">
            {{_HelperService.FilterSnap.StatusName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
            (click)="RemoveFilterComponent('Sort')">
            <span>
                {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
            _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
            (click)="RemoveFilterComponent('Other',i)">
            {{TItem.data[0].DisplayName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary" *ngFor="let TItem of UserAccounts_Config.Filters">
            {{TItem.Title}}
        </span>
    </div>
    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th class="text-center tx-14" *ngIf="ColoumConfig[0].Value">
                    </th>
                    <th class="tx-14">
                        Name
                    </th>
                    <th *ngIf="ColoumConfig[1].Value" class="tx-14">
                        City
                    </th>
                    <th *ngIf="ColoumConfig[2].Value" class="tx-14">
                        Contact
                    </th>
                    <th *ngIf="ColoumConfig[3].Value" class="tx-14">
                        Designation
                    </th>
                    <th *ngIf="ColoumConfig[4].Value" class="tx-14">
                        Reporting To
                    </th>
                    <th *ngIf="ColoumConfig[5].Value" class="text-right tx-14">
                        POS
                    </th>
                    <th *ngIf="ColoumConfig[6].Value" class="text-right tx-14">
                        Stores
                    </th>
                    <th *ngIf="ColoumConfig[7].Value" class="tx-14">
                        Added on
                    </th>
                    <th class="d-flex">
                        <span class="btn cursor-pointer text-primary p-0"
                            style="position: absolute; z-index: 3;right: -10px;" data-toggle="tooltip"
                            title="Edit Your Column" (click)="EditColConfig()">
                            <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i>
                        </span>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr class="cursor-pointer" (click)="UserAccounts_RowSelected(TItem)"
                    *ngFor="let TItem of UserAccounts_Config.Data  | paginate: { id: 'UserAccounts_Paginator',itemsPerPage: UserAccounts_Config.PageRecordLimit, currentPage: UserAccounts_Config.ActivePage,  totalItems: UserAccounts_Config.TotalRecords }">
                    <td class="text-center" *ngIf="ColoumConfig[0].Value">
                        <img class="br" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2"
                            [style.border-color]="TItem.StatusC">
                    </td>
                    <td>
                        <div class="tx-semibold tx-14">{{TItem.Name || "--"}}</div>
                        <div class="text-muted tx-11">{{TItem.BranchAddress | truncateText:40 || "--"}}</div>
                    </td>
                    <td *ngIf="ColoumConfig[1].Value">
                        <div class="tx-14">{{TItem.BranchCity || "--"}} </div>
                    </td>
                    <td *ngIf="ColoumConfig[2].Value">
                        <div class="tx-verve tx-14">{{TItem.MobileNumber || "--"}}</div>
                        <div class="text-muted tx-11">{{TItem.EmailAddress || "--"}}</div>
                    </td>
                    <td class="text-primart" *ngIf="ColoumConfig[3].Value">
                        <div class="tx-14">{{TItem.RoleName || "--"}}</div>
                    </td>
                    <td class="text-primary" *ngIf="ColoumConfig[4].Value">
                        <div class="tx-14">{{TItem.OwnerDisplayName || "--"}}</div>

                    </td>
                    <td *ngIf="ColoumConfig[5].Value" class="text-right">
                        <div class="tx-14">{{TItem.Terminals}}</div>
                    </td>
                    <td *ngIf="ColoumConfig[6].Value" class="text-right">
                        <div class="tx-14">{{TItem.Stores}}</div>
                    </td>
                    <td *ngIf="ColoumConfig[7].Value">
                        <div class="text-uppercase tx-14">{{TItem.CreateDateD || "--"}}</div>
                        <div class="text-lowercase tx-14">{{TItem.CreateDateT || "--"}}</div>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3 tx-14">
            {{ 'Common.Showing' | translate }}
            <span class="bold">{{UserAccounts_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{UserAccounts_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{UserAccounts_Config.TotalRecords}}
        </span>
        <span class="tx-14">
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="UserAccounts_Config.PageRecordLimit"
                (ngModelChange)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right tx-14">
            <pagination-controls id="UserAccounts_Paginator" class="pagination pagination-space"
                (pageChange)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>
<div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title ml-3">Create New Manager</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12" *ngIf="ResetFilterControls">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                    <label>{{ 'System.Menu.Branch' | translate }}<span class="text-danger">*</span>
                                    </label>
                                    <select2 name="S2GetBranches" class="full-width" [options]="GetBranches_Option"
                                        (valueChanged)="GetBranches_ListChange($event)"></select2>
                                    <!-- <label class="text-danger" for="RoleKey"
                                        *ngIf="Form_AddUser.controls['RoleKey'].hasError('required') && Form_AddUser.controls['RoleKey'].touched">{{
                                            'System.Users.EmailAddress_ER_Required' | translate }}</label> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                    <label>{{ 'System.Users.Role' | translate }}<span class="text-danger">*</span>
                                    </label>
                                    <select2 name="S2GetRoles" class="full-width tx-14" [data]="_Roles"
                                        [options]="GetRoles_Option" (valueChanged)="GetRoles_ListChange($event)">
                                    </select2>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="_ShowReportingM">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        {{ 'System.Users.AssignReportingManager' | translate }}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select2 name="S2GetManagers" class="full-width" [options]="GetMangers_Option"
                                        (valueChanged)="GetMangers_ListChange($event)"></select2>
                                    <!-- <label class="text-danger" for="RoleKey"
                                        *ngIf="Form_AddUser.controls['RoleKey'].hasError('required') && Form_AddUser.controls['RoleKey'].touched">{{
                                            'System.Users.EmailAddress_ER_Required' | translate }}</label> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.Name" | translate
                                        }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="Name" maxlength="128" class="form-control"
                                            [formControl]="Form_AddUser.controls['Name']" [ngClass]="{
                              'is-invalid':
                                !Form_AddUser.controls['Name'].valid &&
                                Form_AddUser.controls['Name'].touched
                            }" />
                                    </div>
                                    <label class="text-danger" for="Name" *ngIf="
                            Form_AddUser.controls['Name'].hasError('required') &&
                            Form_AddUser.controls['Name'].touched
                          ">{{
                                        "System.Users.Name_ER_Required" | translate
                                        }}</label>
                                    <label class="text-danger" for="Name" *ngIf="
                            Form_AddUser.controls['Name'].hasError(
                              'minlength'
                            ) ||
                            Form_AddUser.controls['Name'].hasError('maxlength')
                          ">Name must be between 2 to 128 characters</label>
                                </div>
                            </div>

                        </div>

                        <!-- MobileNumber -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.MobileNumber" | translate
                                        }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <div class="input-group">
                                            <div class="input-group-prepend" style="height: 41px;">
                                                <span class="input-group-text">+234</span>
                                            </div>

                                            <input type="text" [ngClass]="{ 'is-invalid':!Form_AddUser.controls['MobileNumber'].valid &&
                                            Form_AddUser.controls['MobileNumber'].touched}" name="MobileNumber"
                                                minlength="10" maxlength="14" class="form-control"
                                                (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="Form_AddUser.controls['MobileNumber']" />
                                        </div>
                                    </div>
                                    <label class="text-danger" for="MobileNumber" *ngIf="
                            Form_AddUser.controls['MobileNumber'].hasError(
                              'required'
                            ) && Form_AddUser.controls['MobileNumber'].touched
                          ">{{
                                        "System.Users.MobileNumber_ER_Required" | translate
                                        }}</label>
                                    <label class="text-danger" for="MobileNumber" *ngIf="
                            Form_AddUser.controls['MobileNumber'].hasError(
                              'minlength'
                            ) ||
                            Form_AddUser.controls['MobileNumber'].hasError(
                              'maxlength'
                            )
                          ">{{
                                        "System.Users.MobileNumber_ER_Length" | translate
                                        }}</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.EmailAddress" | translate
                                        }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                                            [formControl]="Form_AddUser.controls['EmailAddress']" [ngClass]="{
                              'is-invalid':
                                !Form_AddUser.controls['EmailAddress'].valid &&
                                Form_AddUser.controls['EmailAddress'].touched
                            }" />
                                    </div>
                                    <label class="text-danger" for="EmailAddress" *ngIf="
                            Form_AddUser.controls['EmailAddress'].hasError(
                              'required'
                            ) && Form_AddUser.controls['EmailAddress'].touched
                          ">{{
                                        "System.Users.EmailAddress_ER_Required" | translate
                                        }}</label>

                                    <label class="text-danger" for="EmailAddress" *ngIf="
                            Form_AddUser.controls['EmailAddress'].hasError('email') &&
                            Form_AddUser.controls['EmailAddress'].touched
                          ">{{
                                        "System.Users.EmailAddress_ER_Invalid" | translate
                                        }}</label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <label>{{'System.Users.Address' | translate }}<span class="text-danger">*</span>
                                          </label>
                                          <div class="controls">
                                              <input type="text" name="Address" maxlength="128" class="form-control"
                                                  [formControl]="Form_AddUser.controls['Address']"
                                                  [ngClass]="{'is-invalid':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}">
                                          </div>
                                          <label class="text-danger" for="Address"
                                              *ngIf="Form_AddUser.controls['Address'].hasError('required') && Form_AddUser.controls['Address'].touched">{{
                                                          'System.Users.Address_ER_Required' | translate }}</label>
                                          <label class="text-danger" for="Address"
                                              *ngIf="Form_AddUser.controls['Address'].hasError('minlength') || Form_AddUser.controls['Address'].hasError('maxlength')">{{
                                                          'System.Users.Address_ER_Length' | translate }}</label>
                                      </div>
                                  </div>
      
                              </div> -->
                        <!-- <div class="form-group">
                            <div>
                                <label>{{ "System.Users.Gender" | translate
                        }}<span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="radio float-left mr-3">
                                <label class="ui-check"><input type="radio" name="gender"
                                        [value]="_HelperService.AppConfig.Gender.Male"
                                        [formControl]="Form_AddUser.controls['GenderCode']" />
                                    <i class="dark-white"></i>
                                    {{ "System.Users.Male" | translate }}</label>
                            </div>
                            <div class="radio  mr-3">
                                <label class="ui-check"><input type="radio" name="gender"
                                        [value]="_HelperService.AppConfig.Gender.Female"
                                        [formControl]="Form_AddUser.controls['GenderCode']" />
                                    <i class="dark-white"></i>
                                    {{ "System.Users.Female" | translate }}</label>
                            </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ "System.Users.UserName" | translate
                          }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="UserName" maxlength="256" class="form-control"
                                            [formControl]="Form_AddUser.controls['UserName']" [ngClass]="{
                              'is-invalid':
                                !Form_AddUser.controls['UserName'].valid &&
                                Form_AddUser.controls['UserName'].touched
                            }" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ "System.Users.Password" | translate
                          }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" name="Password" maxlength="20"
                                            [(ngModel)]="_HelperService.RandomPassword" class="form-control"
                                            [formControl]="Form_AddUser.controls['Password']" [ngClass]="{
                              'is-invalid':
                                !Form_AddUser.controls['Password'].valid &&
                                Form_AddUser.controls['Password'].touched
                            }" />

                                        <div class="input-group-append">
                                            <button class="btn white" type="button"
                                                (click)="_HelperService.GeneratePassoword()">
                                                <i class="{{ 'Common.RefreshI' | translate }}"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label class="text-danger" for="UserName" *ngIf="
                          Form_AddUser.controls['UserName'].hasError('required') &&
                          Form_AddUser.controls['UserName'].touched
                        ">{{ "System.Users.UserName_ER_Required" | translate }}</label>

                                <label class="text-danger" for="UserName" *ngIf="
                          Form_AddUser.controls['UserName'].hasError('minlength') ||
                          Form_AddUser.controls['UserName'].hasError('maxlength')
                        ">{{ "System.Users.UserName_ER_Length" | translate }}</label>
                                <label class="text-danger" for="Password" *ngIf="
                          Form_AddUser.controls['Password'].hasError('required') &&
                          Form_AddUser.controls['Password'].touched
                        ">{{ "System.Users.Password_ER_Required" | translate }}</label>
                                <label class="text-danger" for="Password" *ngIf="
                          Form_AddUser.controls['Password'].hasError('pattern') ||
                          Form_AddUser.controls['Password'].hasError('minlength') ||
                          Form_AddUser.controls['Password'].hasError('maxlength')
                        ">{{ "System.Users.Password_ER_Length" | translate }}</label>
                            </div>
                        </div> -->

                        <!-- <div class="form-group">
                            <div>
                                <label>Role<span class="text-danger">*</span> </label>
                            </div>
                            <div class="radio float-left mr-3">
                                <label class="ui-check"><input type="radio" name="roleoptions" [value]="'7'"
                                        [formControl]="Form_AddUser.controls['RoleKey']" />
                                    <i class="dark-white"></i> Admin</label>
                            </div>
                            <div class="radio  mr-3">
                                <label class="ui-check"><input type="radio" name="roleoptions" [value]="'8'"
                                        [formControl]="Form_AddUser.controls['RoleKey']" />
                                    <i class="dark-white"></i> RM (Relationship Manager)</label>
                            </div>
                        </div> -->

                        <!-- <div class="form-group">
                            <div>
                                <label>{{ "System.Users.AccountStatus" | translate
                        }}<span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="radio float-left mr-3">
                                <label class="ui-check"><input type="radio" name="statusoptions"
                                        [value]="_HelperService.AppConfig.Status.Active"
                                        [formControl]="Form_AddUser.controls['StatusCode']" />
                                    <i class="dark-white"></i>
                                    {{ "Common.Active" | translate }}</label>
                            </div>
                            <div class="radio  mr-3">
                                <label class="ui-check"><input type="radio" name="statusoptions"
                                        [value]="_HelperService.AppConfig.Status.Inactive"
                                        [formControl]="Form_AddUser.controls['StatusCode']" />
                                    <i class="dark-white"></i>
                                    {{ "Common.Inactive" | translate }}</label>
                            </div>
                        </div> -->
                        <!-- <div class="text-sm text-muted">
                            Password must be at least 8 characters in length and include at
                            least one uppercase, one lowercase, one number and one special
                            character.
                        </div> -->
                        <!-- <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                      <label>{{ 'System.Users.Icon' | translate }}
      
                                          <span class="small muted">
                                              -
                                              {{_HelperService._FileSelect_Icon_Data.Width}}x{{_HelperService._FileSelect_Icon_Data.Height}}
                                          </span>
                                      </label>
                                      <ng2-file-input [id]="_HelperService._FileSelect_Icon" [multiple]="false"
                                          (onAdded)="_HelperService._FileSelect_Icon_onAdded($event)"
                                          extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                                          [browse-text]="'Show file picker'" [removable]="false"></ng2-file-input>
                                  </div>
                              </div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_AddUser_Close()">
                        {{ "Common.Cancel" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="Form_AddUser.value.OperationType = 'new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>

                    <!-- <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
                              (click)="Form_AddUser.value.OperationType='edit'"
                              [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                              <span *ngIf="!_HelperService.IsFormProcessing">
                                  {{ 'Common.SaveAndEdit' | translate }}
                              </span>
                              <span *ngIf="_HelperService.IsFormProcessing">
                                  <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                      }}...
                              </span>
                          </button> -->



                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="EditColConfig" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Column</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngFor="let Col of TempColumnConfig">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
                        <label class="form-check-label" for="">
                            {{Col.Name}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="EditTempColConfig()">Save</button>
            </div>
        </div>
    </div>
</div>


<!-- <br>
<div class="card ">
    <div class="card-header">
        <h6 class="tx-uppercase tx-semibold mg-b-0"> {{MerchantsList_Config.Title}}</h6>
    </div>
    <div class="box-header px-3 py-3 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="MerchantsList_Config.SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)"><i
                            data-feather="search"></i> </button>
                </div>
            </div>
            <span class="badge badge-pill badge-primary"
                *ngFor="let TItem of MerchantsList_Config.Filters">{{TItem.Title}}</span>
        </div>
        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'desc'"
                                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'asc'"
                                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>
                        <a class="dropdown-item" *ngFor="let TItem of MerchantsList_Config.Sort.SortOptions"
                            (click)="MerchantsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>

                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <i data-feather="filter"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                    daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                                    (selected)="MerchantsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                    [data]="MerchantsList_Config.StatusOptions" [value]="MerchantsList_Config.Status"
                                    (valueChanged)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Owner</label>
                                <select2 [options]="MerchantsList_Filter_Owners_Option" class="wd-100p"
                                    (valueChanged)="MerchantsList_Filter_Owners_Change($event)">
                                </select2>
                            </div>
                        </div>
                        <button type="button" class="btn btn-light btn-sm mr-2"
                            (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm "
                            (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter)">Apply</button>

                    </form>
                </div>
            </div>
            <a class="nav-link ml-2"
                (click)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                    data-feather="refresh-cw"></i> </a>
        </nav>
    </div>
    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th *ngFor="let TItem of MerchantsList_Config.VisibleHeaders" class="{{TItem.Class}}">
                        {{TItem.DisplayName}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" (click)="MerchantsList_RowSelected(TItem)"
                    *ngFor="let TItem of MerchantsList_Config.Data  | paginate: { id: 'MerchantsList_Paginator',itemsPerPage: MerchantsList_Config.PageRecordLimit, currentPage: MerchantsList_Config.ActivePage,  totalItems: MerchantsList_Config.TotalRecords }">
                    <td class="td-status p-1">
                        <img class="br" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2"
                            [style.border-color]="TItem.StatusC">
                    </td>
                    <td *ngFor="let HTItem of MerchantsList_Config.VisibleHeaders" class="{{HTItem.Class}}"
                        title="{{TItem[HTItem.SystemName]}}">
                        <span *ngIf="HTItem.NavigateLink != undefined">
                            <span *ngIf="HTItem.NavigateLink != undefined && HTItem.NavigateField == undefined">
                                <a routerLink="{{HTItem.NavigateLink}}"> {{TItem[HTItem.SystemName] || "--"}}</a>
                            </span>
                            <span *ngIf="HTItem.NavigateField != undefined">
                                <a routerLink="{{HTItem.NavigateLink}}/{{TItem[HTItem.NavigateField]}}">
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                        {{TItem[HTItem.SystemName] || HTItem.DefaultValue}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                        {{TItem[HTItem.SystemName]|| "0"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                        {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                        {{TItem[HTItem.SystemName] || "--"}}
                                    </span></a>
                            </span>
                        </span>
                        <span *ngIf="HTItem.NavigateLink == undefined">
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                {{TItem[HTItem.SystemName] || HTItem.DefaultValue}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                {{TItem[HTItem.SystemName]|| "0"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                {{TItem[HTItem.SystemName] || "--"}}
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
            {{ 'Common.Showing' | translate }}
            <span class="bold">{{MerchantsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{MerchantsList_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{MerchantsList_Config.TotalRecords}}
        </span>
        <span>
            {{ 'Common.Show' | translate }}
            <select class="wd-40 " [(ngModel)]="MerchantsList_Config.PageRecordLimit"
                (ngModelChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="MerchantsList_Paginator" class="pagination pagination-space"
                (pageChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div> -->