<div class="d-flex flex fixed-height" id="SideContainer" [style.height.px]="_HelperService.ContainerHeight">
    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex  ">
            <div class="box mb-2 ">
                <div class="box-body py-2 px-3">
                    <div>
                        <div>
                            <img src="../../assets/img/logoinverse.png" class="w-xmd" style=" margin-top:-10px" alt=".">

                            <span class="text-lg _500 pl-1 text-uppercase" style="color: #442364">
                                |
                                {{_HelperService.UserAccount.DisplayName}}
                                <span class="text-dark _600  text-xs"> TERMINAL ANALYTICS <span
                                        style="    font-size: 14px;"
                                        class="text-success _500">{{timeLeft || '--'}}</span></span>
                            </span>
                            <span class="float-right">
                                <span class=" text-primary _500 text-lg">
                                    {{ now | date:'HH:mm:ss'}}
                                </span>
                                <span class="_500">{{todaysdate || '--'}} </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrollable hover pl-4 pr-4">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6  pl-1 pr-1 "
                        *ngFor="let TItem of PosTerminalsByTransactions.Data">
                        <div class="box white fadeIn animated  p-2 mb-2 mb-2 text-ellipsis">
                            <div class="  w-100 ">
                                <div *ngIf="TItem.Transactions > 0">
                                    <div> <span class="_600 text-success"> {{TItem.DisplayName || "--"}}
                                        </span>
                                        <span class="text-xxs _500"
                                            *ngIf="TItem.OwnerKey != _HelperService.AppConfig.ActiveOwnerKey">-
                                            {{TItem.OwnerDisplayName  || "--"}}</span>
                                        <span class="text-xxs float-right _700">{{TItem.Transactions  || "0"}}TR</span>
                                    </div>
                                    <div class="text-xs _500 text-warn"
                                        *ngIf="TItem.MerchantKey != _HelperService.AppConfig.ActiveOwnerKey">
                                        {{TItem.MerchantDisplayName  || "--"}}</div>
                                    <div class="text-xs _500 text-warn"
                                        *ngIf="TItem.StoreKey != _HelperService.AppConfig.ActiveOwnerKey">
                                        {{TItem.StoreName  || "--"}}</div>
                                </div>
                                <div *ngIf="TItem.Transactions == 0">
                                    <div> <span class="_600 text-danger"> {{TItem.DisplayName || "--"}}

                                        </span>
                                        <span class="text-xxs _500"
                                            *ngIf="TItem.OwnerKey != _HelperService.AppConfig.ActiveOwnerKey">-
                                            {{TItem.OwnerDisplayName  || "--"}}</span>
                                        <span class="text-xxs float-right _700">{{TItem.Transactions  || "0"}}TR</span>
                                    </div>
                                    <div class="text-xs _500 text-warn"
                                        *ngIf="TItem.MerchantKey != _HelperService.AppConfig.ActiveOwnerKey">
                                        {{TItem.MerchantDisplayName  || "--"}}</div>
                                    <div class="text-xs _500 text-warn "
                                        *ngIf="TItem.StoreKey != _HelperService.AppConfig.ActiveOwnerKey">
                                        {{TItem.StoreName  || "--"}}</div>
                                </div>
                                <div class="text-xs _500 pb-1"
                                    *ngIf="TItem.AcquirerKey != _HelperService.AppConfig.ActiveOwnerKey">
                                    {{TItem.AcquirerDisplayName   || "--"}}</div>
                                <div class="text-xs text-danger _500"
                                    *ngIf="TItem.LastTransactionDateDiff == undefined">
                                    <div>{{TItem.LastTransactionDate || "--"}}</div>
                                    <div class=" text-xxs _500">
                                        {{TItem.LastTransactionDateDiffS}} ago
                                    </div>
                                </div>
                                <div class="text-xs text-success _500"
                                    *ngIf="TItem.LastTransactionDateDiff != undefined && TItem.LastTransactionDateDiff.Hours < 1">


                                    <div>{{TItem.LastTransactionDate || "--"}}</div>
                                    <div class=" text-xxs _500">
                                        {{TItem.LastTransactionDateDiffS}} ago
                                    </div>
                                </div>
                                <div class="text-xs text-warning _500"
                                    *ngIf="TItem.LastTransactionDateDiff != undefined && TItem.LastTransactionDateDiff.Hours > 0 &&  TItem.LastTransactionDateDiff.Hours < 5 ">

                                    <div>{{TItem.LastTransactionDate || "--"}}</div>
                                    <div class=" text-xxs  _500">
                                        {{TItem.LastTransactionDateDiffS}} ago
                                    </div>
                                </div>
                                <div class="text-xs text-danger _500"
                                    *ngIf="TItem.LastTransactionDateDiff != undefined && TItem.LastTransactionDateDiff.Hours > 4 ">
                                    <div>{{TItem.LastTransactionDate || "--"}}</div>
                                    <div class=" text-xxs  _500">
                                        {{TItem.LastTransactionDateDiffS}} ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fade aside aside-lg b-l b-r" id="content-aside" *ngIf="_HelperService.ShowAsidePanel">
        <div class="modal-dialog d-flex flex-column w-md h-100 white  lt">
            <div class="scrollable hover">
                <div class="box mb-0 px-3 py-2 success">
                    <div class="d-flex"><span class="text-white">Active Terminals </span></div>
                    <div class="py-1 text-center text-lg text-white"> {{PosTerminalsByTransactions.Offset}} /
                        {{PosTerminalsByTransactions.TotalRecords}} </div>
                    <div class="text-white text-xs  _600">IDLE TERMINALS :
                        {{PosTerminalsByTransactions.Limit}} </div>
                </div>
                <div class="p-2">
                    <div class="box-header px-1">
                        <h3 class="text-warn">TERMINALS ACTIVITY </h3>
                    </div>
                    <div *ngFor="let TItem of _AccountOverview.PosOverview">
                        <div class="box light fadeIn animated  p-2 mb-2 mb-2 text-ellipsis">
                            <div class="  w-100 ">
                                <div class="_500 pb-1"> <span class="text-warn">{{TItem.DisplayName || "--"}}</span>
                                    <span class="text-xs _500 text-uppercase float-right">{{TItem.Terminals || "--"}}
                                        Terminals</span>
                                </div>
                                <div class=" text-sm _600">
                                    <span class="text-xxs"> ACTIVE </span>
                                    <span class="text-success">{{TItem.ActiveTerminals|| "0"}}</span>
                                    <span class="float-right">
                                        <span class="text-xxs "> IDLE </span>
                                        <span class="text-danger"> {{TItem.IdleTerminals  || "0"}}</span>
                                    </span>
                                </div>
                                <div class=" ">
                                    <span class="text-xxs _600"> LAST TR : </span>
                                    <span class="text-success text-xs _500 ">
                                        {{TItem.LastTransactionLocation  || "--"}}</span>
                                </div>
                                <div class=" pb-1  text-xs _500">
                                    {{TItem.LastTransactionDate || "--"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="box-header px-1">
                        <h3 class="text-warn">IDLE TERMINALS - <span
                                class="text-danger">{{PosTerminalsByTransactions.Limit}} </span> </h3>
                    </div>
                    <div *ngFor="let TItem of PosTerminalsByTransactionsAsc.Data">
                        <div class="box danger fadeIn animated  p-2 mb-2 mb-2 text-ellipsis">
                            <div class="  w-100 ">
                                <div class="_500 "> <span class="text-white">{{TItem.DisplayName || "--"}}</span>
                                    <span class="text-xs float-right">{{TItem.OwnerDisplayName  || "--"}}</span>

                                </div>

                                <div class="text-xs _500 text-white "
                                    *ngIf="TItem.MerchantKey != _HelperService.AppConfig.ActiveOwnerKey">
                                    {{TItem.MerchantDisplayName  || "--"}}</div>
                                <div class="text-xs _500 text-white "
                                    *ngIf="TItem.StoreKey != _HelperService.AppConfig.ActiveOwnerKey">
                                    {{TItem.StoreName  || "--"}}</div>
                                <div class="text-xs _500 pb-1"
                                    *ngIf="TItem.AcquirerKey != _HelperService.AppConfig.ActiveOwnerKey">
                                    {{TItem.AcquirerDisplayName   || "--"}}</div>
                                <div class=" text-sm  _600">
                                    {{TItem.LastTransactionDate || "--"}}

                                    <span
                                        class="text-white float-right text-xs">{{TItem.LastTransactionDateDiff}}</span>

                                    <!-- <span class="float-right"> {{TItem.LastTransactionDate || "--"}}</span> -->
                                </div>
                                <!-- <div class="text-xs _500">
                                        {{TItem.LastTransactionDate || "--"}}
                                    </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>