<div class="box mb-3">
    <div class="box-body p-0">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 light b-r">
                <div class="p-3">
                    <div class="media pb-0">
                        <span class="avatar w-48 b-a b-warn b-2x"
                            [style.border-color]="_HelperService._UserAccount.StatusC">
                            <img src="{{ _HelperService._UserAccount.IconUrl }}" alt="." />
                            <i class="{{_HelperService._UserAccount.StatusI}} text-xs m-0"></i>
                        </span>
                        <div class="media-body mx-2 ml-3 mb-0 text-ellipses">
                            <h6 class="mb-1 text-dark mt-1 text-ellipses"
                                title="{{ _HelperService._UserAccount.DisplayName }}">
                                {{ _HelperService._UserAccount.DisplayName || "--" }}
                            </h6>
                            <p class=" text-sm mb-0 text-ellipses"
                                title="{{ _HelperService._UserAccount.ContactNumber }}">
                                {{ _HelperService._UserAccount.MobileNumber || "--" }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12 ">
                <div class="row no-gutters">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="p-3">
                            <div class="mb-2" title="{{ _HelperService._UserAccount.Name }}">
                                <small class="text-muted">{{"System.Users.Name" | translate  }}</small>
                                <div class="_500 text-ellipses">{{ _HelperService._UserAccount.Name || "--" }} </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="p-3">
                            <div title="{{ _HelperService._UserAccount.EmailAddress }}">
                                <small class="text-muted">Email</small>
                                <div class="_500 text-ellipses">{{ _HelperService._UserAccount.EmailAddress || "--" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="p-3">
                            <div title="{{ _HelperService._UserAccount.UserName }}">
                                <small class="text-muted">{{"System.Users.UserName" | translate  }}</small>
                                <div class="_500 text-warn text-ellipses">
                                    {{ _HelperService._UserAccount.UserName || "--" }} </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 light lt b-r">
                        <div class="p-3">
                            <div class="mb-2" title="{{ _HelperService._UserAccount.CreatedByDisplayName}}">
                                <small class="text-muted">{{ "Common.CreateDate" | translate  }}
                                    <span class="text-xxs"> :
                                        #{{ _HelperService._UserAccount.ReferenceId || "--" }}</span>
                                    <span class="float-right text-xxs">
                                        <span
                                            class="{{_HelperService._UserAccount.StatusB}}">{{ _HelperService._UserAccount.StatusName || "--" }}</span>

                                    </span>
                                </small>
                                <div class="text-sm _500 text-ellipses">
                                    {{ _HelperService._UserAccount.CreateDateS || "--" }}
                                    <span
                                        class="text-xxs ">{{ _HelperService._UserAccount.CreatedByDisplayNameShort || "--" }}</span>
                                </div>
                            </div>
                            <!-- <div title="{{ _HelperService._UserAccount.ModifyByDisplayName}}">
                                <small class="text-muted">{{ "Common.ModifyDate" | translate  }} </small>
                                <div class="text-sm _500 text-ellipses">
                                    {{ _HelperService._UserAccount.ModifyDateS || "--" }}
                                    <span
                                        class="text-xxs ">{{ _HelperService._UserAccount.ModifyByDisplayNameShort  }}</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-b b-warn nav-active-primary">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab"
                data-target="#tabLocations">Locations</a>
        </li>
        <li class="nav-item"><a class="nav-link " href="#" data-toggle="tab" data-target="#tabTerminals"
                (click)="RMTerminals_Setup()">Terminals</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" data-target="#tabManageAccount">Manage
                Account</a></li>
    </ul>
</div>
<div class="tab-content  mb-3 white">
    <div class="tab-pane animate fadeIn text-muted active" id="tabLocations">
        <div class="box mb-0">
            <div class="box-header b-b">
                <h3> {{AssignedStores_Config.Title}} <button type="button" class="ml-2 btn warn"
                        (click)="Open_AddStore()">Assign Store</button></h3>
            </div>
            <div class="box-tool">
                <ul class="nav nav-xs">
                    <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
                        (click)="AssignedStores_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Csv)"><a
                            class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a></li>
                    <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
                        (click)="AssignedStores_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                        <a class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
                </ul>
            </div>
            <div class="box-header light lt">
                <div class="form-inline ">
                    <div class="input-group mr-2">
                        <input type="text" [value]="AssignedStores_Config.SearchParameter" maxlength="100"
                            class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                            (keyup)="AssignedStores_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                        <div class="input-group-append"><button class="btn white" type="button"
                                (click)="AssignedStores_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                            'Common.Go' | translate }}</button></div>
                    </div>
                    <div class="form-group mr-2 ">
                        <input type="text" class="form-control  form-daterangepicker mr-2" name="daterangeInput"
                            daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                            (selected)="AssignedStores_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                    </div>
                    <div class="form-group mr-2 ">
                        <select2 [options]="_DataHelperService.S2_Sort_Option"
                            [data]="AssignedStores_Config.SortExpressionOption"
                            [value]="AssignedStores_Config.SortExpression"
                            (valueChanged)="AssignedStores_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
                        </select2>
                    </div>
                    <div class="form-group mr-2 ">
                        <select2 [options]="_DataHelperService.S2_Status_Option"
                            [data]="AssignedStores_Config.StatusOptions" [value]="AssignedStores_Config.Status"
                            (valueChanged)="AssignedStores_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                        </select2>
                    </div>
                </div>
                <div class="mt-2" *ngIf="AssignedStores_Config.ToggleFilter">

                </div>
            </div>

            <div class="box-body p-0">
                <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
                    <thead>
                        <tr>
                            <th class="td-status">
                                <i class="{{ 'Common.StatusI' | translate }}"></i>
                            </th>
                            <th *ngFor="let TItem of AssignedStores_Config.VisibleHeaders" class="{{TItem.Class}}">
                                {{TItem.DisplayName}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursor-pointer" (click)="AssignedStores_RowSelected(TItem)"
                            *ngFor="let TItem of AssignedStores_Config.Data
                                                                        | paginate: { id: 'AssignedStores_Paginator',itemsPerPage: AssignedStores_Config.PageRecordLimit, currentPage: AssignedStores_Config.ActivePage,
                                                                        totalItems: AssignedStores_Config.TotalRecords }">
                            <td class="td-status p-1">
                                <img class="br" src="{{TItem.MerchantIconUrl}}" class="grid-icon"
                                    [style.border-color]="TItem.StatusC">
                            </td>
                            <td *ngFor="let HTItem of AssignedStores_Config.VisibleHeaders" class="{{HTItem.Class}}"
                                title="{{TItem[HTItem.SystemName]}}">
                                <span *ngIf="HTItem.NavigateLink != undefined">
                                    <span *ngIf="HTItem.NavigateLink != undefined && HTItem.NavigateField == undefined">
                                        <a routerLink="{{HTItem.NavigateLink}}">
                                            {{TItem[HTItem.SystemName] || "--"}}</a>
                                    </span>
                                    <span *ngIf="HTItem.NavigateField != undefined">
                                        <a routerLink="{{HTItem.NavigateLink}}/{{TItem[HTItem.NavigateField]}}">
                                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                                {{TItem[HTItem.SystemName] || "--"}}
                                            </span>
                                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                                {{TItem[HTItem.SystemName]|| "0"}}
                                            </span>
                                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                                {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                            </span>
                                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                                {{TItem[HTItem.SystemName] || "--"}}
                                            </span></a>
                                    </span>
                                </span>
                                <span *ngIf="HTItem.NavigateLink == undefined">
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                        {{TItem[HTItem.SystemName] || "--"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                        {{TItem[HTItem.SystemName]|| "0"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                        {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                        {{TItem[HTItem.SystemName] || "--"}}
                                    </span>
                                </span>
                            </td>
                            <!-- <td class="td-btn-info" (click)="AssignedStores_RowSelected(TItem)">
                                                <i class="{{ 'Common.InfoI' | translate }}"></i>
                                            </td> -->
                        </tr>
                    </tbody>
                </table>

                <div class="  p-4">
                    <span class="mr-1">
                        {{ 'Common.Showing' | translate }}
                        <span class="bold">{{AssignedStores_Config.ShowingStart}} {{ 'Common.To' | translate }}
                            {{AssignedStores_Config.ShowingEnd}}
                        </span> {{ 'Common.Of' | translate }} {{AssignedStores_Config.TotalRecords}}
                    </span>
                    |
                    <span class="ml-1">
                        {{ 'Common.Show' | translate }}
                        <select class=" w-64 " [(ngModel)]="AssignedStores_Config.PageRecordLimit"
                            (ngModelChange)="AssignedStores_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                            <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                                {{TItem}}
                            </option>
                        </select> {{ 'Common.Entries' | translate }}
                    </span>
                    <span class="float-right">
                        <pagination-controls id="AssignedStores_Paginator"
                            (pageChange)="AssignedStores_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                            nextLabel="{{ 'Common.Next' | translate }}"
                            previousLabel="{{ 'Common.Previous' | translate }}">
                        </pagination-controls>
                    </span>
                </div>
            </div>
        </div>
        <!-- <div class="box">
            <div class="box-header b-b">
                <h3>
                    Assigned Locations
                    <span class="pull-right">
                       
                    </span>
                </h3>

            </div>
        </div> -->

    </div>
    <div class="tab-pane animate fadeIn text-muted " id="tabTerminals">
        <div class="box mb-0">
            <div class="box-header b-b">
                <h3> {{RMTerminals_Config.Title}}</h3>
            </div>
            <div class="box-tool">
                <ul class="nav nav-xs">
                    <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
                        (click)="RMTerminals_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Csv)"><a
                            class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a></li>
                    <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
                        (click)="RMTerminals_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                        <a class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
                </ul>
            </div>
            <div class="box-header light lt">
                <div class="form-inline ">
                    <div class="input-group mr-2">
                        <input type="text" [value]="RMTerminals_Config.SearchParameter" maxlength="100"
                            class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                            (keyup)="RMTerminals_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                        <div class="input-group-append"><button class="btn white" type="button"
                                (click)="RMTerminals_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                    'Common.Go' | translate }}</button></div>
                    </div>
                    <div class="form-group mr-2 ">
                        <input type="text" class="form-control  form-daterangepicker mr-2" name="daterangeInput"
                            daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                            (selected)="RMTerminals_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                    </div>
                    <div class="form-group mr-2 ">
                        <select2 [options]="_DataHelperService.S2_Sort_Option"
                            [data]="RMTerminals_Config.SortExpressionOption" [value]="RMTerminals_Config.SortExpression"
                            (valueChanged)="RMTerminals_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
                        </select2>
                    </div>
                    <div class="form-group mr-2 ">
                        <select2 [options]="_DataHelperService.S2_Status_Option"
                            [data]="RMTerminals_Config.StatusOptions" [value]="RMTerminals_Config.Status"
                            (valueChanged)="RMTerminals_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                        </select2>
                    </div>
                </div>
                <div class="mt-2" *ngIf="RMTerminals_Config.ToggleFilter">

                </div>
            </div>

            <div class="box-body p-0">
                <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
                    <thead>
                        <tr>
                            <th class="td-status">
                                <i class="{{ 'Common.StatusI' | translate }}"></i>
                            </th>
                            <th *ngFor="let TItem of RMTerminals_Config.VisibleHeaders" class="{{TItem.Class}}">
                                {{TItem.DisplayName}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursor-pointer" (click)="RMTerminals_RowSelected(TItem)" *ngFor="let TItem of RMTerminals_Config.Data
                                                                | paginate: { id: 'RMTerminals_Paginator',itemsPerPage: RMTerminals_Config.PageRecordLimit, currentPage: RMTerminals_Config.ActivePage,
                                                                totalItems: RMTerminals_Config.TotalRecords }">
                            <td class="td-status p-1">
                                <img class="br" src="{{TItem.MerchantIconUrl}}" class="grid-icon"
                                    [style.border-color]="TItem.StatusC">
                            </td>
                            <td *ngFor="let HTItem of RMTerminals_Config.VisibleHeaders" class="{{HTItem.Class}}"
                                title="{{TItem[HTItem.SystemName]}}">
                                <span *ngIf="HTItem.NavigateLink != undefined">
                                    <span *ngIf="HTItem.NavigateLink != undefined && HTItem.NavigateField == undefined">
                                        <a routerLink="{{HTItem.NavigateLink}}">
                                            {{TItem[HTItem.SystemName] || "--"}}</a>
                                    </span>
                                    <span *ngIf="HTItem.NavigateField != undefined">
                                        <a routerLink="{{HTItem.NavigateLink}}/{{TItem[HTItem.NavigateField]}}">
                                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                                {{TItem[HTItem.SystemName] || "--"}}
                                            </span>
                                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                                {{TItem[HTItem.SystemName]|| "0"}}
                                            </span>
                                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                                {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                            </span>
                                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                                {{TItem[HTItem.SystemName] || "--"}}
                                            </span></a>
                                    </span>
                                </span>
                                <span *ngIf="HTItem.NavigateLink == undefined">
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                        {{TItem[HTItem.SystemName] || "--"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                        {{TItem[HTItem.SystemName]|| "0"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                        {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                        {{TItem[HTItem.SystemName] || "--"}}
                                    </span>
                                </span>
                            </td>
                            <!-- <td class="td-btn-info" (click)="RMTerminals_RowSelected(TItem)">
                                        <i class="{{ 'Common.InfoI' | translate }}"></i>
                                    </td> -->
                        </tr>
                    </tbody>
                </table>

                <div class="  p-4">
                    <span class="mr-1">
                        {{ 'Common.Showing' | translate }}
                        <span class="bold">{{RMTerminals_Config.ShowingStart}} {{ 'Common.To' | translate }}
                            {{RMTerminals_Config.ShowingEnd}}
                        </span> {{ 'Common.Of' | translate }} {{RMTerminals_Config.TotalRecords}}
                    </span>
                    |
                    <span class="ml-1">
                        {{ 'Common.Show' | translate }}
                        <select class=" w-64 " [(ngModel)]="RMTerminals_Config.PageRecordLimit"
                            (ngModelChange)="RMTerminals_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                            <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                                {{TItem}}
                            </option>
                        </select> {{ 'Common.Entries' | translate }}
                    </span>
                    <span class="float-right">
                        <pagination-controls id="RMTerminals_Paginator"
                            (pageChange)="RMTerminals_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                            nextLabel="{{ 'Common.Next' | translate }}"
                            previousLabel="{{ 'Common.Previous' | translate }}">
                        </pagination-controls>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane animate fadeIn text-muted" id="tabManageAccount">
        <div class="box mb-0">
            <div class="box-header b-b">
                <h3> Manage user account</h3>
            </div>
            <form [formGroup]="Form_UpdateUser" (ngSubmit)="Form_UpdateUser_Process(Form_UpdateUser.value)" role="form">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ "System.Users.DisplayName" | translate
                            }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="DisplayName" maxlength="25"
                                        [(ngModel)]="_HelperService._UserAccount.DisplayName" class="form-control"
                                        [formControl]="Form_UpdateUser.controls['DisplayName']" [ngClass]="{
                                'is-invalid':
                                  !Form_UpdateUser.controls['DisplayName'].valid &&
                                  Form_UpdateUser.controls['DisplayName'].touched
                              }" />
                                </div>
                                <label class="text-danger" for="DisplayName" *ngIf="
                              Form_UpdateUser.controls['DisplayName'].hasError('required') &&
                              Form_UpdateUser.controls['DisplayName'].touched
                            ">{{ "System.Users.DisplayName_ER_Required" | translate }}</label>
                                <label class="text-danger" for="DisplayName" *ngIf="
                              Form_UpdateUser.controls['DisplayName'].hasError('minlength') ||
                              Form_UpdateUser.controls['DisplayName'].hasError('maxlength')
                            ">{{ "System.Users.DisplayName_ER_Length" | translate }}</label>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>{{ "System.Users.FirstName" | translate
                                }}<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="FirstName" maxlength="128" class="form-control"
                                                [(ngModel)]="_HelperService._UserAccount.FirstName"
                                                [formControl]="Form_UpdateUser.controls['FirstName']" [ngClass]="{
                                    'is-invalid':
                                      !Form_UpdateUser.controls['FirstName'].valid &&
                                      Form_UpdateUser.controls['FirstName'].touched
                                  }" />
                                        </div>
                                        <label class="text-danger" for="FirstName" *ngIf="
                                  Form_UpdateUser.controls['FirstName'].hasError(
                                    'required'
                                  ) && Form_UpdateUser.controls['FirstName'].touched
                                ">{{ "System.Users.FirstName_ER_Required" | translate }}</label>
                                        <label class="text-danger" for="FirstName" *ngIf="
                                  Form_UpdateUser.controls['FirstName'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_UpdateUser.controls['FirstName'].hasError('maxlength')
                                ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>{{ "System.Users.LastName" | translate
                                }}<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="LastName" maxlength="128" class="form-control"
                                                [(ngModel)]="_HelperService._UserAccount.LastName"
                                                [formControl]="Form_UpdateUser.controls['LastName']" [ngClass]="{
                                    'is-invalid':
                                      !Form_UpdateUser.controls['LastName'].valid &&
                                      Form_UpdateUser.controls['LastName'].touched
                                  }" />
                                        </div>
                                        <label class="text-danger" for="LastName" *ngIf="
                                  Form_UpdateUser.controls['LastName'].hasError('required') &&
                                  Form_UpdateUser.controls['LastName'].touched
                                ">{{ "System.Users.LastName_ER_Required" | translate }}</label>
                                        <label class="text-danger" for="LastName" *ngIf="
                                  Form_UpdateUser.controls['LastName'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_UpdateUser.controls['LastName'].hasError('maxlength')
                                ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>{{ "System.Users.MobileNumber" | translate
                                }}<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="MobileNumber" minlength="10" maxlength="14"
                                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                [(ngModel)]="_HelperService._UserAccount.MobileNumber"
                                                [formControl]="Form_UpdateUser.controls['MobileNumber']" [ngClass]="{
                                    'is-invalid':
                                      !Form_UpdateUser.controls['MobileNumber'].valid &&
                                      Form_UpdateUser.controls['MobileNumber'].touched
                                  }" />
                                        </div>
                                        <label class="text-danger" for="MobileNumber" *ngIf="
                                  Form_UpdateUser.controls['MobileNumber'].hasError(
                                    'required'
                                  ) && Form_UpdateUser.controls['MobileNumber'].touched
                                ">{{
                                  "System.Users.MobileNumber_ER_Required" | translate
                                }}</label>
                                        <label class="text-danger" for="MobileNumber" *ngIf="
                                  Form_UpdateUser.controls['MobileNumber'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_UpdateUser.controls['MobileNumber'].hasError(
                                    'maxlength'
                                  )
                                ">{{
                                  "System.Users.MobileNumber_ER_Length" | translate
                                }}</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>{{ "System.Users.EmailAddress" | translate
                                }}<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                                                [(ngModel)]="_HelperService._UserAccount.EmailAddress"
                                                [formControl]="Form_UpdateUser.controls['EmailAddress']" [ngClass]="{
                                    'is-invalid':
                                      !Form_UpdateUser.controls['EmailAddress'].valid &&
                                      Form_UpdateUser.controls['EmailAddress'].touched
                                  }" />
                                        </div>
                                        <label class="text-danger" for="EmailAddress" *ngIf="
                                  Form_UpdateUser.controls['EmailAddress'].hasError(
                                    'required'
                                  ) && Form_UpdateUser.controls['EmailAddress'].touched
                                ">{{
                                  "System.Users.EmailAddress_ER_Required" | translate
                                }}</label>

                                        <label class="text-danger" for="EmailAddress" *ngIf="
                                  Form_UpdateUser.controls['EmailAddress'].hasError(
                                    'email'
                                  ) && Form_UpdateUser.controls['EmailAddress'].touched
                                ">{{
                                  "System.Users.EmailAddress_ER_Invalid" | translate
                                }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>{{ "System.Users.UserName" | translate
                                }}<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="UserName" maxlength="256" class="form-control"
                                                [(ngModel)]="_HelperService._UserAccount.UserName"
                                                [formControl]="Form_UpdateUser.controls['UserName']" [ngClass]="{
                                    'is-invalid':
                                      !Form_UpdateUser.controls['UserName'].valid &&
                                      Form_UpdateUser.controls['UserName'].touched
                                  }" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>{{ "System.Users.Password" | translate }} </label>
                                        <div class="input-group">
                                            <input type="text" [readonly]="isReadOnly" name="Password" maxlength="20"
                                                [(ngModel)]="_HelperService.RandomPassword" [ngClass]="{
                                    'text-warning': isReadOnly == true,
                                    'text-success': isReadOnly == false
                                  }" class="form-control" [formControl]="Form_UpdateUser.controls['Password']"
                                                [ngClass]="{
                                    'is-invalid':
                                      !Form_UpdateUser.controls['Password'].valid &&
                                      Form_UpdateUser.controls['Password'].touched
                                  }" />
                                            <div *ngIf="!isReadOnly" class="input-group-append">
                                                <button class="btn white" type="button"
                                                    (click)="_HelperService.GeneratePassoword()">
                                                    <i class="{{ 'Common.RefreshI' | translate }}"></i>
                                                </button>
                                            </div>

                                            <div class="input-group-append">
                                                <button class="btn white" type="button" (click)="EditPassword()">
                                                    <i class="{{ 'Common.EditI' | translate }}"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <label class="text-danger" for="UserName" *ngIf="
                                Form_UpdateUser.controls['UserName'].hasError('required') &&
                                Form_UpdateUser.controls['UserName'].touched
                              ">{{ "System.Users.UserName_ER_Required" | translate }}</label>

                                    <label class="text-danger" for="UserName" *ngIf="
                                Form_UpdateUser.controls['UserName'].hasError('minlength') ||
                                Form_UpdateUser.controls['UserName'].hasError('maxlength')
                              ">{{ "System.Users.UserName_ER_Length" | translate }}</label>
                                    <label class="text-danger" for="Password" *ngIf="
                                Form_UpdateUser.controls['Password'].hasError('required') &&
                                Form_UpdateUser.controls['Password'].touched
                              ">{{ "System.Users.Password_ER_Required" | translate }}</label>
                                    <label class="text-danger" for="Password" *ngIf="
                                Form_UpdateUser.controls['Password'].hasError('pattern') ||
                                Form_UpdateUser.controls['Password'].hasError('minlength') ||
                                Form_UpdateUser.controls['Password'].hasError('maxlength')
                              ">{{ "System.Users.Password_ER_Length" | translate }}</label>
                                </div>
                            </div>
                            <div class="form-group"
                                *ngIf="_HelperService._UserAccount.StatusCode != _HelperService.AppConfig.Status.Inactive">
                                <div>
                                    <label>{{ "System.Users.AccountStatus" | translate
                              }}<span class="text-danger">*</span>
                                    </label>
                                </div>
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="radio" name="statusoptions"
                                            [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                            [value]="_HelperService.AppConfig.Status.Active"
                                            [formControl]="Form_UpdateUser.controls['StatusCode']" />
                                        <i class="dark-white"></i>
                                        {{ "Common.Active" | translate }}</label>
                                </div>
                                <div class="radio  mr-3">
                                    <label class="ui-check"><input type="radio" name="statusoptions"
                                            [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                            [value]="_HelperService.AppConfig.Status.Blocked"
                                            [formControl]="Form_UpdateUser.controls['StatusCode']" />
                                        <i class="dark-white"></i>
                                        {{ "Common.Block" | translate }}</label>
                                </div>
                            </div>
                            <div class="text-sm text-muted mb-2">
                                Password must be at least 8 characters in length and include at
                                least one uppercase, one lowercase, one number and one special
                                character.
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-fw warn warn mr-2"
                                    (click)="Form_UpdateUser.value.OperationType = 'new'" [disabled]="
                            !Form_UpdateUser.valid || _HelperService.IsFormProcessing
                          ">
                                    <span *ngIf="!_HelperService.IsFormProcessing">
                                        {{ "Common.Update" | translate }}
                                    </span>
                                    <span *ngIf="_HelperService.IsFormProcessing">
                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                        {{ "Common.PleaseWait" | translate }}...
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="ModalAssignStore" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Store</h5>
            </div>
            <div class="modal-body  p-0">
                <div class="box m-0 p-0">
                    <div class="box-header light lt">
                        <div class="pb-3">
                            <h3 class="text-warn">Search Store location</h3>
                        </div>
                        <div class="form-group">
                            <input type="text" [value]="StoresList_Config.SearchParameter" maxlength="256"
                                class="form-control input-lg" placeholder="enter merchant or store location"
                                (keyup)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                        </div>
                        <!-- <div class="form-inline mt-2">
                            <div class="input-group mr-2">
                                <input type="text" [value]="StoresList_Config.SearchParameter" maxlength="256"
                                    class="form-control" placeholder="Search store location"
                                    (keyup)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                                <div class="input-group-append"><button class="btn white" type="button"
                                        (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                                            'Common.Go' | translate }}</button></div>
                            </div>
                            <ul class="nav nav-xs">
                                <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
                                    (click)="StoresList_GetData()"><a class="nav-link"><i
                                            class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="box-body p-0">
                        <div>
                            <div (click)="StoresList_RowSelected(TItem)" class="p-3 b-b cursor-pointer" *ngFor="let TItem of StoresList_Config.Data
                            | paginate: { id: 'StoresList',itemsPerPage: StoresList_Config.PageRecordLimit, currentPage: StoresList_Config.ActivePage,
                            totalItems: StoresList_Config.TotalRecords }">
                                <img class="br" src="{{TItem.IconUrl}}" width="55" height="55"
                                    class="grid-icon float-left mr-3">
                                <div>
                                    <div>
                                        {{TItem.DisplayName}}
                                    </div>
                                    <div class="text-muted text-xs">
                                        {{TItem.OwnerDisplayName}}
                                    </div>
                                    <div class="text-sm">
                                        {{TItem.Address}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ "Common.Close" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>