<!-- acquirer--branches--addnew -->
<form [formGroup]="Form_AddUser" class="body-font" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
    <div class="tx-13 card mg-b-25">
        <div id="wizard1">

            <h3 class="tx-roboto tx-21 text-dark">Add General Details</h3>
            <section>
                <p class="tx-color-03 tx-14 tx-roboto"> Fill following details to create branch</p>

                <div class="row row-sm">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">{{'System.Menu.BranchName' | translate }}<span
                                    class="text-danger">*</span> </label>
                            <div class="controls">
                                <input type="text" placeholder="Branch Name" name="Name" maxlength="256" minlength="2"
                                    class="form-control" [formControl]="Form_AddUser.controls['Name']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                            </div>
                            <label class="text-danger" for="Name"
                                *ngIf="Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">
                                Enter branch name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">
                                Branch name must be between 2 - 25 characters </label>

                        </div>
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">{{'System.Menu.BranchShortName' | translate }}<span
                                    class="text-danger">*</span></label>
                            <div class="controls">

                                <input type="text" placeholder="Branch Short Name" name="DisplayName" maxlength="25"
                                    class="form-control" [formControl]="Form_AddUser.controls['DisplayName']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['DisplayName'].valid && Form_AddUser.controls['DisplayName'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['DisplayName'].hasError('required') && Form_AddUser.controls['DisplayName'].touched">
                                Enter branch short name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['DisplayName'].hasError('minlength') || Form_AddUser.controls['DisplayName'].hasError('maxlength')">
                                Branch short name must be between 2 - 25 characters</label>
                        </div>
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark"> {{'System.Menu.BranchCode' | translate}}<span
                                    class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Branch Code" name="BranchCode" minlength="6"
                                    maxlength="18" class="form-control" (keypress)="_HelperService.PreventText($event)"
                                    [formControl]="Form_AddUser.controls['BranchCode']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['BranchCode'].valid && Form_AddUser.controls['BranchCode'].touched}">
                            </div>
                            <label class="text-danger" for="BranchCode"
                                *ngIf="Form_AddUser.controls['BranchCode'].hasError('required') && Form_AddUser.controls['BranchCode'].touched">
                                Enter branch code
                            </label>
                            <label class="text-danger" for="BranchCode"
                                *ngIf="Form_AddUser.controls['BranchCode'].hasError('minlength') || Form_AddUser.controls['BranchCode'].hasError('maxlength')">
                                Branch code must be between 6 - 18 number </label>
                        </div>
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark"> {{'System.Users.MobileNumber' | translate }}<span
                                    class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">+234</span>
                                    </div>
                                    <input type="text" placeholder="Phone Number" name="PhoneNumber" minlength="10"
                                        maxlength="18" class="form-control contact-textbox-height"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['PhoneNumber']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['PhoneNumber'].valid && Form_AddUser.controls['PhoneNumber'].touched}">
                                </div>
                            </div>
                            <label class="text-danger" for="PhoneNumber"
                                *ngIf="Form_AddUser.controls['PhoneNumber'].hasError('required') && Form_AddUser.controls['PhoneNumber'].touched">Enter
                                Branch contact number</label>
                            <label class="text-danger" for="PhoneNumber"
                                *ngIf="Form_AddUser.controls['PhoneNumber'].hasError('minlength') || Form_AddUser.controls['PhoneNumber'].hasError('maxlength')">
                                Branch contact number must be between 10 - 18 number </label>

                        </div>
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">
                                {{'System.Users.EmailAddress' | translate }}<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Email Id" name="EmailAddress" maxlength="256"
                                    class="form-control" [formControl]="Form_AddUser.controls['EmailAddress']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                            </div>
                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">
                                Enter branch email address
                            </label>

                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">
                                {{'System.AddAcquirer.BranchEmail' | translate }} </label>

                        </div>
                    </div>

                </div>
            </section>

            <h3 class="tx-roboto tx-21 text-dark">Add Address Details</h3>
            <section>
                <p class="tx-color-03 tx-14 tx-roboto"> Fill following address details to create new branch</p>

                <div class="row row-sm">
                    <!-- <div class="col-sm-6">

                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">Locate Address<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="GAddress" maxlength="256" class="form-control"
                                    ngx-google-places-autocomplete #places="ngx-places"
                                    (onAddressChange)="Form_AddUser_AddressChange($event)">
                            </div>
                            <label class="text-warn">You can click on map to mark exact location of store </label>
                          
                        </div>
                        <div class="agm">
                            <agm-map style="height:255px;" [zoom]="12" [latitude]="Form_AddUser_Latitude"
                                [styles]="_HelperService.darkStyle" [longitude]="Form_AddUser_Longitude"
                                (mapClick)="Form_AddUser_PlaceMarkerClick($event)" [streetViewControl]="false">
                                <agm-marker [latitude]="Form_AddUser_Latitude" [longitude]="Form_AddUser_Longitude">
                                </agm-marker>
                            </agm-map>
                        </div>
                        <div class="form-group mt-3">
                            <label class="tx-roboto tx-12 text-dark">City<span class="text-danger">*</span></label>
                            <div class="controls">
                                <input type="text" placeholder="City" name="City" maxlength="100" class="form-control"
                                    [formControl]="Form_AddUser.controls['CityName']"
                                    [(ngModel)]='_CurrentAddress.administrative_area_level_2'
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['CityName'].valid && Form_AddUser.controls['CityName'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="CityName"
                                *ngIf="Form_AddUser.controls['CityName'].hasError('required') && Form_AddUser.controls['CityName'].touched">
                                enter city name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['CityName'].hasError('minlength') || Form_AddUser.controls['CityName'].hasError('maxlength')">
                                {{'System.AddAcquirer.CityName' | translate }}</label>
                        </div>

                        <div class="form-group mt-3">
                            <label class="tx-roboto tx-12 text-dark">State<span class="text-danger">*</span></label>
                            <div class="controls">

                                <input type="text" placeholder="State" name="State" maxlength="25" class="form-control"
                                    [formControl]="Form_AddUser.controls['StateName']"
                                    [(ngModel)]='_CurrentAddress.administrative_area_level_1'
                                    [(ngModel)]='_HelperService.selectedLocation.address.Region'
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['StateName'].valid && Form_AddUser.controls['StateName'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="StateName"
                                *ngIf="Form_AddUser.controls['StateName'].hasError('required') && Form_AddUser.controls['StateName'].touched">
                                enter state name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['StateName'].hasError('minlength') || Form_AddUser.controls['StateName'].hasError('maxlength')">
                                {{'System.AddAcquirer.StateName' | translate }}</label>
                        </div>

                       


                    </div>
                    <div class="col-sm-6">
                         <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">{{"System.Users.Region" | translate}}<span
                                    class="text-danger">*</span>
                            </label>
                            <div class="d-flex">
                                <div class="wd-100p">

                                    <div *ngIf="!_ShowInput">
                                        <select2 [options]="S2_Region_Option" [data]="_SubRegions" class="full-width"
                                            *ngIf="select2" [value]="_SubRegions[0]"
                                            (valueChanged)="S2_Region_Change($event)">
                                        </select2>
                                    </div>
                                    <div class="controls" *ngIf="_ShowInput">
                                        <input type="text" placeholder="Region" name="RegionName" maxlength="25"
                                            class="form-control" [formControl]="Form_AddUser.controls['RegionName']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['RegionName'].valid && Form_AddUser.controls['RegionName'].touched}">
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-transparent pt-0 AddRegion"
                                        (click)="toogleShowInput()"><span class=""> <i
                                                style="height: 30px; width: 30px;;" data-feather="plus-circle"></i>
                                        </span> </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">Detailed Address <span class="text-muted"> (Street
                                    Name, Building Name, Floor Number Etc) </span> <span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <textarea name="Address" maxlength="256" class="form-control" rows="3"
                                    [formControl]="Form_AddUser.controls['Address']" [(ngModel)]='Form_AddUser_Address'
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}"></textarea>
                            </div>
                            <label class="text-danger" for="Address"
                                *ngIf="Form_AddUser.controls['Address'].hasError('required') && Form_AddUser.controls['Address'].touched">{{
                                'System.Users.Address_ER_Required' | translate }}</label>
                            <label class="text-danger" for="Address"
                                *ngIf="Form_AddUser.controls['Address'].hasError('minlength') || Form_AddUser.controls['Address'].hasError('maxlength')">{{
                                'System.Users.Address_ER_Length' | translate }}</label>
                        </div>
                    </div> -->

                </div>

                <div class="row row-sm">
                    <div class="col-md-6">
                        <h3 class="tx-medium tx-14">Business Location</h3>
                        <hcx-addressmanager [data]="_Address" (OnAddressSet)="AddressChange($event)">
                        </hcx-addressmanager>
                    </div>
                </div>
            </section>

            <h3 class="tx-roboto tx-21 text-dark">Assign Manager</h3>
            <section>
                <p class="tx-color-03 tx-14 tx-roboto"> Assign existing manager to this branch or you can add new
                    manager</p>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="isActive"
                            [checked]="isActive" (change)="toogleIsActive()">
                        <label class="custom-control-label" for="customCheck1">Add New Manager</label>
                    </div>
                </div>
                <div class="row row-sm">
                    <div class="col-sm-6" *ngIf="!isActive">
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">Select Manager<span class="text-danger">*</span>
                            </label>
                            <select2 name="S2GetManagers" class="full-width" [options]="GetMangers_Option"
                                (valueChanged)="GetMangers_ListChange($event)"></select2>
                        </div>

                   </div>

                    <div class="col-sm-6" *ngIf="isActive">
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">{{'System.Users.ManagerName' | translate}}<span
                                    class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Manager Name" name="Name" minlength="2" maxlength="128"
                                    class="form-control" [formControl]="MForm_AddUser.controls['Name']"
                                    [ngClass]="{'is-invalid':!MForm_AddUser.controls['Name'].valid && MForm_AddUser.controls['Name'].touched}">
                            </div>
                            <label class="text-danger" for="Name"
                                *ngIf="MForm_AddUser.controls['Name'].hasError('required') && MForm_AddUser.controls['Name'].touched">
                                Enter manager name
                            </label>
                            <label class="text-danger" for="Name"
                                *ngIf="MForm_AddUser.controls['Name'].hasError('minlength') || MForm_AddUser.controls['Name'].hasError('maxlength')">
                                Manager name must be between 2 - 25 characters </label>
                        </div>
                        


                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">
                                {{'System.Users.MobileNumber' | translate}}<span class="text-danger">*</span>
                            </label>


                            <div class="controls">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">+234</span>
                                    </div>
                                    <input type="text" placeholder="Manager Mobile Number" name="MobileNumber"
                                    minlength="10" maxlength="18" class="form-control"
                                    (keypress)="_HelperService.PreventText($event)"
                                    [formControl]="MForm_AddUser.controls['MobileNumber']"
                                    [ngClass]="{'is-invalid':!MForm_AddUser.controls['MobileNumber'].valid && MForm_AddUser.controls['MobileNumber'].touched}">
                                </div>
                            </div>
                            <label class="text-danger" for="MobileNumber"
                                *ngIf="MForm_AddUser.controls['MobileNumber'].hasError('required') && MForm_AddUser.controls['MobileNumber'].touched">
                                Enter mobile number
                            </label>
                            <label class="text-danger" for="MobileNumber"
                                *ngIf="MForm_AddUser.controls['MobileNumber'].hasError('minlength') || MForm_AddUser.controls['MobileNumber'].hasError('maxlength')">
                                Mobile number must be between 10 - 18 number</label>
                        </div>



                        <div class="form-group ">
                            <label class="tx-roboto tx-12 text-dark">
                                {{'System.Users.EmailAddress' | translate }}<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Email Id" name="EmailAddress" maxlength="256"
                                    class="form-control" [formControl]="MForm_AddUser.controls['EmailAddress']"
                                    [ngClass]="{'is-invalid':!MForm_AddUser.controls['EmailAddress'].valid && MForm_AddUser.controls['EmailAddress'].touched}">
                            </div>
                            <label class="text-danger" for="EmailAddress"
                                *ngIf="MForm_AddUser.controls['EmailAddress'].hasError('required') && MForm_AddUser.controls['EmailAddress'].touched">
                                Enter email address
                            </label>

                            <label class="text-danger" for="EmailAddress"
                                *ngIf="MForm_AddUser.controls['EmailAddress'].hasError('email') && MForm_AddUser.controls['EmailAddress'].touched">
                                {{'System.AddAcquirer.EmailAddress' | translate }} </label>
                        </div>
                        <!-- <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">Role<span class="text-danger">*</span>
                            </label>
                            <select2 name="S2GetRoles" class="full-width" [data]="_Roles"
                            [options]="Get_Roles_Load_Option" (valueChanged)="GetRoles_ListChange($event)">
                        </select2>
                 
                        </div> -->
                        <!-- <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">Manager<span class="text-danger">*</span>
                            </label>
                       
                        <select2 name="S2GetManagers" class="full-width" [options]="GetMangers_Option"
                        (valueChanged)="GetMangers_ListChange($event)"></select2>
                        </div> -->
                        <div class="form-group" *ngIf="_ShowReportingM">
                            <label class="tx-roboto tx-12 text-dark">Assign Reporting Manager<span
                                    class="text-danger">*</span>
                            </label>
                            <select2 class="full-width" [options]="AssignManger_Option"
                                (valueChanged)="AssignManger_ListChange($event)">
                            </select2>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>