<div class="card ">
  <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{SubAccountList_Config.Title}} </div>
    <div [className]="_HelperService._Assets.Box.headerTitleRight">
      <nav class="nav nav-icon-only mg-l-auto">
        <button class="btn tx-12 btn-primary rounded-50 pd-x-30" (click)="Form_AddUser_Open()"> Add SubAccount </button>
      </nav>
    </div>
  </div>
  <div class="box-header px-3 py-3 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="SubAccountList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="SubAccountList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <!-- <button class="btn btn-outline-light" type="button"
            (click)="SubAccountList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button> -->

          <button class="btn btn-outline-light" type="button"
            (click)="SubAccountList_ToggleOption(null, _HelperService.AppConfig.ListToggleOption.Search)">
            <i data-feather="search"></i>
          </button>
        </div>
      </div>
      <span class="badge badge-pill badge-primary" *ngFor="let TItem of SubAccountList_Config.Filters">
        {{TItem.Title}}
      </span>
    </div>

    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
        _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()">
        <i data-feather="plus-circle"></i>
      </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
              Sort
              <div class="float-right tx-20" *ngIf="SubAccountList_Config.Sort.SortOrder == 'desc'"
                (click)="SubAccountList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="SubAccountList_Config.Sort.SortOrder == 'asc'"
                (click)="SubAccountList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of SubAccountList_Config.Sort.SortOptions"
              (click)="SubAccountList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset
            </button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">
              Apply
            </button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
          <i data-feather="filter"></i>
        </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
              Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="SubAccountList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="SubAccountList_Config.StatusOptions"
                  (valueChanged)="SubAccountList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>
            <!-- <div>
              <div class="form-group">
                <label>Owner</label>
                <select2 [options]="MerchantsList_Filter_Owners_Option" class="wd-100p"
                  (valueChanged)="MerchantsList_Filter_Owners_Change($event)">
                </select2>
              </div>
            </div> -->
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset
            </button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">
              Apply
            </button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="SubAccountList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
        <i data-feather="refresh-cw"></i>
      </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
      (click)="RemoveFilterComponent('Status')">
      {{_HelperService.FilterSnap.StatusName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i>
      </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
      (click)="RemoveFilterComponent('Sort')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i>
      </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i>
      </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
      (click)="RemoveFilterComponent('Other',i)">
      {{TItem.data[0].DisplayName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i>
      </span>
    </div>

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of SubAccountList_Config.Filters">
      {{TItem.Title}}
    </span>

  </div>


  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="text-center">
          </th>
          <th class="tx-14">
            Name
          </th>
          <th class="text-left tx-14">
            Mobile Number
          </th>
          <th class="text-center tx-14">
            Email Address
          </th>
          <th class="tx-14">
            Added On
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="SubAccountList_RowSelected(TItem)"
          *ngFor="let TItem of SubAccountList_Config.Data  | paginate: { id: 'MerchantsList_Paginator',itemsPerPage: SubAccountList_Config.PageRecordLimit, currentPage: SubAccountList_Config.ActivePage,  totalItems: SubAccountList_Config.TotalRecords }">
          <td class="m-l-auto">
            <!-- <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span> -->
            <img class="br" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2"
              [style.border-color]="TItem.StatusC">
          </td>

          <td>
            <div class="tx-14 tx-semibold ">{{TItem.Name || "--"}}</div>
          </td>

          <td class="text-left">
            <div class="text-muted  tx-14 tx-verve">
              {{TItem.MobileNumber || "--"}}
            </div>
          </td>

          <td class="text-center tx-14 ">
            {{TItem.EmailAddress || "--"}}
          </td>
          <td class="text-muted">
            <div class="text-uppercase tx-14">{{TItem.CreateDateD || "--"}}</div>
            <div class="text-lowercase tx-14">{{TItem.CreateDateT || "--"}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer pd-20">
    <span class="mr-3 tx-14">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{SubAccountList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{SubAccountList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{SubAccountList_Config.TotalRecords}}
    </span>
    <span class="tx-14">
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="SubAccountList_Config.PageRecordLimit"
        (ngModelChange)="SubAccountList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right tx-14">
      <pagination-controls id="MerchantsList_Paginator" class="pagination pagination-space"
        (pageChange)="SubAccountList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div id="Form_AddUser_Content" class="modal" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title ml-3">Add Subaccount</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="col-md-12">

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>
                    {{ "System.Users.Name" | translate}}<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="text" name="Name" maxlength="256" minlength="4" class="form-control"
                      [formControl]="Form_AddUser.controls['Name']"
                      [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid &&Form_AddUser.controls['Name'].touched}" />
                  </div>
                  <label class="text-danger" for="Name"
                    *ngIf="Form_AddUser.controls['Name'].hasError('required') &&Form_AddUser.controls['Name'].touched">
                    {{"System.Users.Name_ER_Required" | translate}}
                  </label>
                  <label class="text-danger" for="Name"
                    *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">
                    {{ "System.Users.Name_ER_Length" | translate }}
                  </label>
                </div>
              </div>

            </div>



            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>
                    {{ "System.Users.MobileNumber" | translate}}
                    <span class="text-danger">*</span>
                  </label>


                  <div class="controls">
                    <div class="input-group">
                      <div class="input-group-prepend" style="height: 41px;">
                        <span class="input-group-text">+234</span>
                      </div>
                      <input type="text" name="MobileNumber" minlength="10" maxlength="14" class="form-control"
                        (keypress)="_HelperService.PreventText($event)"
                        [formControl]="Form_AddUser.controls['MobileNumber']"
                        [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid &&Form_AddUser.controls['MobileNumber'].touched}" />
                    </div>
                  </div>


                  <label class="text-danger" for="MobileNumber"
                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">
                    {{"System.Users.MobileNumber_ER_Required" | translate}}
                  </label>
                  <label class="text-danger" for="MobileNumber"
                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') ||Form_AddUser.controls['MobileNumber'].hasError('maxlength')">
                    {{"System.Users.MobileNumber_ER_Length" | translate}}
                  </label>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>{{ "System.Users.EmailAddress" | translate}}<span class="text-danger">*</span></label>
                  <div class="controls">
                    <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                      [formControl]="Form_AddUser.controls['EmailAddress']"
                      [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid &&Form_AddUser.controls['EmailAddress'].touched}" />
                  </div>
                  <label class="text-danger" for="EmailAddress"
                    *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">
                    {{"System.Users.EmailAddress_ER_Required" | translate}}
                  </label>

                  <label class="text-danger" for="EmailAddress"
                    *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') &&Form_AddUser.controls['EmailAddress'].touched">
                    {{"System.Users.EmailAddress_ER_Invalid" | translate}}
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>
                  <input type="radio" [formControl]="Form_AddUser.controls['StatusCode']" id="Active" name="StatusCode"
                  value="default.active">&nbsp;
                <label for="male">Active</label>
                </span>
          
                <span class="ml-3">
                  <input [formControl]="Form_AddUser.controls['StatusCode']" type="radio" id="Inactive" name="StatusCode"
                  value="default.inactive">&nbsp;
                <label for="female">InActive</label>
                </span>
                
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-6" *ngIf="_imageConfig.profileImages.length < 1">
                <label>Profile Image <span class="text-danger">*</span></label>
                <div class="col-lg-12">
                  <input-file fileAccept="image/*" sizeLimit="400" fileLimit="1"
                    [formControl]="Form_AddUser.controls['TImage']" (acceptedFile)="onImageAccept($event)"
                    (deletedFile)="removeImage($event)">
                  </input-file>
                </div>
              </div>
              <div class="col-md-6 " *ngFor="let item of _imageConfig.profileImages; let i = index">
                <div class="card card-file mt-5">
                  <img [src]="item.ImageContent.OriginalContent" class="img-fluid">
                  <div class="card-body p-2">

                    <button type="button" (click)="RemoveImage(item)"
                      class="btn btn-xs btn-block btn-outline-danger">Remove Image</button>
                  </div>
                </div>
              </div>
            </div> -->

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_AddUser_Close()">
            {{ "Common.Cancel" | translate }}
          </button>
          <button type="submit" class="btn btn-primary" (click)="Form_AddUser.value.OperationType = 'new'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>

          <!-- <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
                            (click)="Form_AddUser.value.OperationType='edit'"
                            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                {{ 'Common.SaveAndEdit' | translate }}
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                    }}...
                            </span>
                        </button> -->

        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="m-3" *ngIf="_ImageManager.ActiveImage != undefined && _ImageManager.ActiveImage != null">
              <image-cropper [imageFileChanged]="_ImageManager.ActiveImage.file" [aspectRatio]="2 / 1" [format]="jpeg"
                [maintainAspectRatio]="_ImageManager.Option.MaintainAspectRatio"
                [cropperMinWidth]="_ImageManager.Option.MinimumWidth"
                [resizeToWidth]="_ImageManager.Option.ResizeToWidth" (imageCroppedBase64)="Icon_B64Cropped($event)"
                (imageLoaded)="_HelperService.Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
              </image-cropper>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
            <div class="p-3">
              <div class="mb-2">
                Image Preview
              </div>
              <div class="mb-2">
                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
              </div>
              <div>
                <button type="button" class="btn btn-success " (click)="Icon_B64CroppedDone()" data-dismiss="modal">{{
                  'Common.PictureDone' |
                  translate }}</button>
                <button type="button" class="btn btn-warning " (click)="Icon_Crop_Clear()">{{
                  'Common.PictureClearAndClose' |
                  translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->