<!-- acquirer--branch--details -->
<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">

            <div class="row ">

                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl    avatar-online"><img
                                src="{{ _HelperService.UserAccount.IconUrl }}" class="rounded-circle " alt=""> </div>
                    </div><!-- media -->
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter mg-t-15  mg-lg-t-0">
                    <div class="media  Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-bold text-capitalize mg-b-2">
                                {{_BranchDetails.DisplayName}}</h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal tx-rubik lh-2 mg-b-5">
                                    <span class="tx-13 mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="codesandbox"></i> </span>Branch
                                    Id : {{_BranchDetails.BranchCode}}
                                </h2>
                            </div>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal lh-2 mg-b-0 d-flex">
                                    <span class="tx-13 mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="map-pin"></i> </span> <span> {{_BranchDetails.Address}}</span>
                                </h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div>
                <div class="col-lg-6 mg-t-15  mg-lg-t-0 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class="tx-bold tx-40  tx-rubik tx-verve mg-b-5 mg-r-5 lh-1">
                                                {{_BranchDetails.Stores}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 "> Stores</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class="tx-bold tx-40 tx-rubik tx-teal mg-b-5 mg-r-5 lh-1 ">
                                                {{_BranchDetails.Terminals}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0"> Pos Terminals</p>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex mg-t-15  mg-lg-t-0 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0">
                                    <button (click)="EditBranch()" type="button"
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">
                                        Manage Account
                                    </button>
                                </div>

                                <div class="collapseButton">
                                    <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                        (click)="changeSlide() ; _HideStoreDetail()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                                [class.clicked]="slideOpen"></i>
                                        </div>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0">
                <div class="row">

                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">
                        <div class="row">


                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <agm-map class="Hm-height ht-100p" [zoom]="14" [styles]="_HelperService.darkStyle"
                                    [latitude]="_HelperService._UserAccount.Latitude"
                                    [longitude]="_HelperService._UserAccount.Longitude">
                                    <agm-marker [latitude]="_HelperService._UserAccount.Latitude"
                                        [longitude]="_HelperService._UserAccount.Longitude"></agm-marker>
                                </agm-map>
                                <!-- <div style="z-index: 3 !important;" class="Hm-height   ht-100p" leaflet *ngIf="_ShowMap"
                                    [leafletOptions]="_HelperService.lefletoptions"
                                    [leafletLayers]="_HelperService.layers"
                                    (leafletMapReady)="_HelperService.onMapReady($event,false)">
                                </div> -->
                            </div>

                            <div class="col-sm-12 col-md-6  col-lg-6">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6  col-lg-6 mg-t-15  mg-lg-t-0">
                                        <label class="tx-14 tx-bold text-capitalize Hm-HeaderColor mg-b-15">
                                            Contact information
                                        </label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03">
                                                <i data-feather="user"></i>
                                                <span class="tx-color-03">
                                                    <!-- {{_BranchDetails.Name || "--"}} -->
                                                    {{_BranchDetails.DisplayName || "--"}}
                                                </span>
                                            </li>
                                            <li class="tx-color-03">
                                                <i data-feather="smartphone"></i>
                                                <a>{{_BranchDetails.PhoneNumber}}</a>
                                            </li>
                                            <li class="tx-color-03">
                                                <i data-feather="mail"></i>
                                                <a>{{_BranchDetails.EmailAddress}}</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="col-sm-12 col-md-6  col-lg-6 mg-t-15  mg-lg-t-0">
                                        <label class="tx-14 tx-bold text-capitalize Hm-HeaderColor mg-b-15">
                                            Manager
                                        </label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03">
                                                <i data-feather="user"></i>
                                                <span class="tx-color-03">
                                                    {{_BranchDetails.ManagerName}}
                                                </span>
                                            </li>
                                            <li class="tx-color-03">
                                                <i data-feather="smartphone"></i>
                                                <a class="tx-color-03">
                                                    {{_BranchDetails.ManagerMobileNumber ||"--"}}
                                                </a>
                                            </li>
                                            <li class="tx-color-03">
                                                <i data-feather="mail"></i>
                                                <a>
                                                    {{_BranchDetails.ManagerEmailAddress || "--"}}
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <!-- <div class="col-lg-12 mg-t-15  mg-lg-t-0">
                                        <div class="d-flex">
                                            <button type="button"
                                                class="btn btn-xs  tx-color-03 btn-transparent bd bd-primary rounded-pill mg-r-10">Food</button>
                                            <button type="button"
                                                class="btn btn-xs  tx-color-03 btn-transparent bd bd-primary rounded-pill mg-r-10">Drinks</button>
                                            <button type="button"
                                                class="btn btn-xs  tx-color-03 btn-transparent bd bd-primary rounded-pill mg-r-10">Grocessory</button>
                                            <button type="button"
                                                class="btn  btn-xs tx-color-03  btn-transparent bd bd-primary rounded-pill mg-r-10">Drinks</button>


                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mg-t-15  mg-lg-t-0 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap">

                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <div class=" text-center stores">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40  tx-rubik tx-verve mg-b-5 mg-r-5 lh-1">
                                            {{_BranchDetails.Stores}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0 "> Stores</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class=" text-center Terminals">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40 tx-rubik tx-teal mg-b-5 mg-r-5 lh-1 ">
                                            {{_BranchDetails.Terminals}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0"> Pos Terminal</p>

                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex mg-t-15  mg-lg-t-0 justify-content-end">
                        <div class="row">
                            <div class="manageButton mg-t-0 pd-t-0">
                                <button (click)="EditBranch()" type="button"
                                    class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                    Account</button>
                            </div>

                            <div class="collapseButton">
                                <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                    (click)="changeSlide() ; _ShowStoreDetails()" class="btn  btn-link"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                            [class.clicked]="slideOpen"></i>
                                    </div>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="card bd-b-0 pd-20 mt-3">
    <ul class="nav nav-line" id="myTab5" role="tablist">
        <!-- <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Branches.BranchUpdate}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"  >
                <span class="nav-text">{{"System.Menu.Overview" | translate}}</span>
            </a>
        </li> 
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" id="Transactions-tab5" data-toggle="tab" [routerLinkActive]="['active']"  routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Manager.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}" role="tab"
                aria-controls="Transactions" aria-selected="false">Transactions</a>
        </li> -->
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" id="Terminal-tab5" [routerLinkActive]="['active']" data-toggle="tab" role="tab"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Branches.BranchTerminals}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                aria-controls="Terminal" aria-selected="false">Terminal</a>
        </li>
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Manager.Stores}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                aria-controls="Stores" aria-selected="false">Stores</a>
        </li>
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" id="Team-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Branches.Manager}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                aria-controls="Team" aria-selected="false">Team</a>
        </li>

        <div class="ml-auto d-flex" *ngIf="_HelperService.ShowDateRange">
            <div class="  mg-r-10 order-1">
                <input type="text" class="form-control tx-13 form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DatePickerOptions"
                    (selected)="_HelperService.SetDateRange($event)" />
            </div>
        </div>

        <div class="btn-group" data-toggle="buttons" *ngIf="_HelperService.ShowDateRange">
            <label
                class="btn btn-xs pb-0 mb-0 tx-13  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                (click)="_HelperService.ToogleRange('A')">
                <input type="radio" name="options" style="display: none;" checked>
                <span class="tx-13 mg-b-5"> Month </span>
            </label>
            <label
                class="btn btn-xs  pb-0 mb-0 tx-13  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                (click)="_HelperService.ToogleRange('B')">
                <input class="tx-13" type="radio" name="options" style="display: none;">
                <span class="tx-13 mg-b-5">Week</span>
            </label>
            <label
                class="btn pb-0 mb-0 btn-xs tx-13 active  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                (click)="_HelperService.ToogleRange('C')">
                <input class="tx-13" type="radio" name="options" style="display: none;">
                <span class="tx-13 mg-b-5"> Day </span>
            </label>
        </div>

    </ul>
</div>
<router-outlet></router-outlet>