<!-- acquirer--merchants--detail-terminals -->
<div class="card  bd-t-0">
    <div class="card-header pt-0">
        <button class="btn px-4 float-right tx-12 btn-success rounded-50" (click)="Form_AddUser_Show()"> Add terminal
        </button>
    </div>

    <div class="card-header">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <div class=" media">
                    <div type="button"
                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded"
                        (click)="MerchantsList_ListTypeChange(5)">
                        <i data-feather="smartphone"></i>
                    </div>
                    <div class="media-body bd-pink">
                        <h6
                            class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                            ALL
                        </h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            {{_AOverview.TerminalStatus.Total | number: "1.0-1" || "--"}}
                        </h4>
                    </div>
                </div>
                <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
                    (click)="MerchantsList_ListTypeChange(1)">
                    <div
                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                        <i data-feather="smartphone"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                            Active
                        </h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            {{_AOverview.TerminalStatus.Active | number: "1.0-1" || "--"}}
                        </h4>
                    </div>
                </div>
                <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
                    (click)="MerchantsList_ListTypeChange(2)">
                    <div
                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-MasterCard tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                            Idle
                        </h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            {{_AOverview.TerminalStatus.Idle | number: "1.0-1" || "--"}}
                        </h4>
                    </div>
                </div>
                <div type="button" (click)="MerchantsList_ListTypeChange(3)"
                    class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                    <div
                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                            Dead
                        </h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            {{_AOverview.TerminalStatus.Dead | number: "1.0-1" || "--"}}
                        </h4>
                    </div>
                </div>
                <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
                    (click)="MerchantsList_ListTypeChange(4)">
                    <div
                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-secondary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                            Unused
                        </h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            {{ _AOverview.TerminalStatus.Inactive | number: "1.0-1" || "--"}}
                        </h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="box-header px-3 py-2 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TerminalsList_Config.SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                            data-feather="search"></i> </button>
                </div>
            </div>
            <span class="badge badge-pill badge-primary"
                *ngFor="let TItem of TerminalsList_Config.Filters">{{TItem.Title}}</span>
        </div>
        <!-- <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div> -->

        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
                class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i>
            </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
            _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
                class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div>
        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TerminalsList_sdropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="TerminalsList_Config.Sort.SortOrder == 'desc'"
                                (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="TerminalsList_Config.Sort.SortOrder == 'asc'"
                                (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                            *ngFor="let TItem of TerminalsList_Config.Sort.SortOptions"
                            (click)="TerminalsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>



                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm mg-t-20"
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TerminalsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group">
                                <label>Date</label>
                                <input id="TermDatePicker" type="text" class="form-control  form-daterangepicker"
                                    name="daterangeInput" daterangepicker
                                    [options]="_HelperService.AppConfig.DateRangeOptions"
                                    (selected)="TerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                    [data]="TerminalsList_Config.StatusOptions"
                                    (valueChanged)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                            </div>
                        </div>
                        <!-- <div>
                            <div class="form-group wd-100p">
                                <label>Merchant</label>
                                <select2 [options]="TerminalsList_Filter_Merchant_Option"
                                    (valueChanged)="TerminalsList_Filter_Merchants_Change($event)">
                                </select2>
                            </div>

                        </div> -->
                        <div>

                            <div class="form-group wd-100p">
                                <label>Store</label>
                                <select2 [options]="TerminalsList_Filter_Merchant_Option"
                                    (valueChanged)="TerminalsList_Filter_Merchants_Change($event)">
                                </select2>
                            </div>
                        </div>
                        <div>

                            <div class="form-group wd-100p">
                                <label>Provider</label>
                                <select2 [options]="TerminalsList_Filter_Provider_Option"
                                    (valueChanged)="TerminalsList_Filter_Providers_Change($event)">
                                </select2>
                            </div>
                        </div>

                        <button type="button" class="btn btn-light btn-sm mr-2"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm "
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>

                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
                (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                    data-feather="refresh-cw"></i>
            </a>
        </nav>
    </div>

    <div class="pt-0 pd-l-15 pd-b-8">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
            (click)="RemoveFilterComponent('Status')">
            {{_HelperService.FilterSnap.StatusName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
            (click)="RemoveFilterComponent('Sort')">
            <span>
                {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div> -->

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
            _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>


        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
            (click)="RemoveFilterComponent('Other',i)">
            {{TItem.data[0].DisplayName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary"
            *ngFor="let TItem of TerminalsList_Config.Filters">{{TItem.Title}}</span>
    </div>
    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th class="text-center tx-14">
                    </th>
                    <th class="tx-14 text-right">
                        Terminal Id
                    </th>
                    <th class="tx-14">
                        Provider
                    </th>

                    <th class=" tx-14">
                        Today's Tr Amount
                    </th>
                    <th class=" tx-14">
                        Last Transaction
                    </th>
                    <th class="tx-14">
                        RM
                    </th>
                    <th class=" tx-14">
                        Added On
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" (click)="TerminalsList_RowSelected(TItem)"
                    *ngFor="let TItem of TerminalsList_Config.Data  | paginate: { id: 'TerminalsList_Paginator',itemsPerPage: TerminalsList_Config.PageRecordLimit, currentPage: TerminalsList_Config.ActivePage,  totalItems: TerminalsList_Config.TotalRecords }">
                    <td class="text-center">
                        <img class="br" src="{{TItem.ProviderIconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2"
                            [style.border-color]="TItem.StatusC">
                    </td>
                    <td class="text-right">
                        <div class="tx-semibold tx-14">{{TItem.TerminalId || "--"}}</div>
                    </td>
                    <td>
                        <div class="tx-semibold tx-14">{{TItem.ProviderName || "--"}}</div>

                    </td>
                    <td class="">
                        <div class="tx-14">
                            {{TItem.TodaysTransactionAmount || "--"}}
                        </div>
                    </td>
                    <td class="text-muted">
                        <div class="tx-14">
                            {{TItem.LastTransactionDate || "--"}}
                        </div>
                    </td>

                    <td class="text-muted">
                        <div class="tx-14">
                            {{TItem.RmName || "--"}}
                        </div>
                    </td>
                    <td class="text-muted">
                        <div class="text-uppercase tx-14">{{TItem.CreateDateD || "--"}}</div>
                        <div class="text-lowercase tx-14">{{TItem.CreateDateT || "--"}}</div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3 tx-14">
            {{ 'Common.Showing' | translate }}
            <span class="bold">{{TerminalsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{TerminalsList_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{TerminalsList_Config.TotalRecords}}
        </span>
        <span class="tx-14">
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="TerminalsList_Config.PageRecordLimit"
                (ngModelChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right tx-14">
            <pagination-controls id="TerminalsList_Paginator" class="pagination pagination-space"
                (pageChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>

<!-- <div id="Form_AddUser_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Pos Terminal</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.TerminalId" | translate
                              }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="TerminalId" maxlength="128" class="form-control"
                                            [formControl]="Form_AddUser.controls['TerminalId']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddUser.controls['TerminalId'].valid &&
                                    Form_AddUser.controls['TerminalId'].touched
                                }" />
                                    </div>
                                    <label class="text-danger" for="TerminalId" *ngIf="
                                Form_AddUser.controls['TerminalId'].hasError('required') &&
                                Form_AddUser.controls['TerminalId'].touched
                              ">{{
                                "System.Users.Terminal_ER_Required" | translate
                              }}</label>
                                    <label class="text-danger" for="TerminalId" *ngIf="
                                Form_AddUser.controls['TerminalId'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddUser.controls['TerminalId'].hasError('maxlength')
                              ">{{ "System.Users.Terminal_ER_Length" | translate }}</label>
                                </div>
                                <div class="form-group">
                                    <label for=""> Store </label>
                                    <select2 class="wd-100p" [options]="StoresList_Option"
                                        (valueChanged)="StoresList_Change($event)">
                                    </select2>
                                </div>
                                <div class="form-group">
                                    <label for=""> Provider</label>
                                    <select2 class="wd-100p" [options]="ProvidersList_Option"
                                        (valueChanged)="ProvidersList_Change($event)">
                                    </select2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddUser.value.OperationType = 'new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.SaveChanges" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> -->


<div id="Form_AddUser_Content" class="modal fade " data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-lg dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Pos Terminal</h5>
                </div>
                <div class="modal-body  p-lg" *ngIf="ResetFilterControls">
                    <div class="row bd-b">

                        <div class="col-md-6">

                            <div class="form-group">
                                <label for=""> Store </label>
                                <!-- <select2 class="wd-100p" [options]="StoresList_Option"
                                    (valueChanged)="StoresList_Change($event)">
                                </select2> -->

                                <select2 class="full-width" [options]="StoresList_Option"
                                    (valueChanged)="StoresList_Change($event)"></select2>
                            </div>


                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for=""> Provider</label>
                                <select2 class="wd-100p" [options]="ProvidersList_Option"
                                    (valueChanged)="ProvidersList_Change($event)">
                                </select2>
                            </div>

                        </div>

                    </div>
                    <div class="row mg-t-15">

                        <div class="col-md-12">

                            <div class="form-group">
                                <label for=""> TID <span class="text-danger">*</span> </label>
                                <div class="controls">
                                    <input type="text" name="TerminalId" class="form-control" (keyup)="KeyUP()"
                                        [(ngModel)]="TID" [ngModelOptions]="{standalone: true}" />
                                </div>
                                <span class="tx-12 text-secondary ">By Using 'comma' you can add multiple TIDs here
                                </span><br>
                                <button [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing"
                                    type="button" class="btn btn-primary btn-xs mg-t-10" (click)="AddTID()"> Add
                                    Terminal</button>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="form-group">
                                <label for=""> Serial Number  </label>
                                <div class="controls">
                                    <input type="text" name="TerminalId" class="form-control" (keyup)="KeyUP()"
                                        [(ngModel)]="SerialNumber" [ngModelOptions]="{standalone: true}" />
                                </div>
                                
                            </div>
                        </div>
                         -->
                        <div class="col-md-9 d-flex align-items-center pd-b-60">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="d-inline mg-r-5" *ngFor='let Term of TIDs;let i=index;'>
                                    <span
                                        class="badge badge-transparent pd-x-10 pd-t-4 pd-b-6  bd bd-1 bd-gray-500 rounded-50 tx-color-03  tx-14 mg-t-5">
                                        {{Term}} <a class="cursor-pointer" (click)="RemoveTID(i)"> <i
                                                class="fas fa-times-circle tx-18"></i> </a></span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-2">
                            <div class="form-group">
                                <label for=""> TID</label>

                                <div class="controls">
                                    <input type="text" name="TerminalId" maxlength="128" class="form-control"
                                        [(ngModel)]="TID2" [ngModelOptions]="{standalone: true}" />
                                </div>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for=""> TID</label>

                                <div class="controls">
                                    <input type="text" name="TerminalId" maxlength="128" class="form-control"
                                        [(ngModel)]="TID3" [ngModelOptions]="{standalone: true}" />
                                </div>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for=""> TID</label>

                                <div class="controls">
                                    <input type="text" name="TerminalId" maxlength="128" class="form-control"
                                        [(ngModel)]="TID4" [ngModelOptions]="{standalone: true}" />
                                </div>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for=""> TID</label>

                                <div class="controls">
                                    <input type="text" name="TerminalId" maxlength="128" class="form-control"
                                        [(ngModel)]="TID5" [ngModelOptions]="{standalone: true}" />
                                </div>

                            </div>
                        </div>-->
                    </div>
                    <div class="row container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">TID</th>
                                    <th scope="col">Store</th>
                                    <th scope="col">Provider

                                    </th>
                                    <th class="text-center"> Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <div id="tertable" class="pos-relative ht-50 wd-100p"> -->
                                <tr *ngFor="let T of Terminals;let indexOfTID=index;">
                                    <td>
                                        {{T.TerminalId}}
                                    </td>
                                    <td>
                                        {{T.StoreName}}

                                    </td>
                                    <td>
                                        {{T.ProviderName}}

                                    </td>
                                    <td class="">

                                        <button type="button"
                                            class="btn btn-danger btn-icon d-flex align-items-center m-auto"
                                            (click)="DeleteRowTerminal(indexOfTID)" style="height: 24px;">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                <!-- </div> -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddUser.value.OperationType = 'new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.SaveChanges" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>