<div class="box">
    <div class="box-header b-b b-2x">
        <h3 class="text-warn">Customers Upload</h3>
        <small class="text-gray">Upload customers list in bulk </small>
    </div>
    <div class="box-body light">
        <div class="row no-gutters">
            <div class="col-md-7">

                <input type="file" (change)="onFileChange($event)" multiple="false"
                    class="btn warn btn-lg p-5  float-left mr-4 mb-3" accept=".xlsx" style="padding:42px !important;" />

                <a href="../../../../assets/uploads/CustomerImport.xlsx" target="_blank"
                    class="btn btn-success  float-left p-3  mb-3">
                    <div class="mb-2"><i class="fa fa-file-excel fa-4x"></i> </div>
                    <div> Download Sample</div>
                </a>
            </div>
            <div class="col-md-5">
                <div class="mb-2">
                    Fields required for upload
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="text-danger  mb-1 _700">FirstName <span class="text-danger _500 text-xs"> :
                                required</span>
                        </div>
                        <div class="mb-1 text-danger _700">LastName <span class="text-danger _500 text-xs"> :
                                required</span>
                        </div>
                        <div class="text-danger _700">MobileNumber <span class="text-danger _500 text-xs"> :
                                required</span></div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="mb-1">EmailAddress <span class="text-success _500 text-xs">optional</span></div>
                        <div class="mb-1">Gender <span class="text-success _500 text-xs">optional</span></div>
                        <div>Date Of Birth <span class="text-success _500 text-xs">optional</span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="box-header b-b b-2x b-t " *ngIf="CustomersList.length > 0">
        <h3 class="text-warn">Customers Upload Status</h3>
        <small class="text-gray">Process selected customers list </small>
    </div>
    <div class="box-body" *ngIf="CustomersList.length > 0">
        <button type="button" class="btn btn-success  float-left p-3  mb-3" (click)="StartCustomerUpload()"
            *ngIf="!IsUploading">
            <div class="mb-2"><i class="fa fa-upload fa-4x"></i> </div>
            <div>Start Upload</div>
        </button>

        <h1> {{UploadCount || '0'}} / {{TotalCount || '0'}} </h1>

    </div>
    <div class="box-body  p-0" *ngIf="CustomersList.length > 0">
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile Number</th>
                        <th>Email Address</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let TItem of  CustomersList">
                        <td>
                            {{ TItem.FirstName || '--'}}
                        </td>
                        <td>
                            {{ TItem.LastName || '--'}}
                        </td>
                        <td>
                            {{ TItem.MobileNumber || '--'}}
                        </td>
                        <td>
                            {{ TItem.EmailAddress || '--'}}
                        </td>
                        <td>
                            {{ TItem.Gender || '--'}}
                        </td>
                        <td>
                            {{ TItem.Status || '--'}}
                        </td>
                        <td>
                            {{ TItem.Message || '--'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>