<div class="card">
  <form [formGroup]="Form_EditUser" class="body-font" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)"
    role="form">
    <div class="card-header">
      <span class="tx-18 tx-roboto tx-bold"> Manage Account </span>
    </div>
    <div class="card-body">
      <div class="tx-color-03 tx-14 mg-b-15">
        <span class="">
          {{_BranchDetails.DisplayName}}, <br> <span> Branch Id :
            {{_BranchDetails.BranchCode}}
          </span>
        </span>
      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label class="tx-roboto tx-12 text-dark">{{'System.Menu.BranchName' | translate }}<span
                class="text-danger">*</span> </label>
            <div class="controls">
              <input type="text" placeholder="Branch Short Name" name="DisplayName" maxlength="256" class="form-control"
                [(ngModel)]="_BranchDetails.DisplayName" [formControl]="Form_EditUser.controls['DisplayName']"
                [ngClass]="{'is-invalid':!Form_EditUser.controls['DisplayName'].valid && Form_EditUser.controls['DisplayName'].touched}">
            </div>
            <label class="text-danger" for="DisplayName"
              *ngIf="Form_EditUser.controls['DisplayName'].hasError('required') && Form_EditUser.controls['DisplayName'].touched">
              enter branch Name
            </label>
            <label class="text-danger" for="DisplayName"
              *ngIf="Form_EditUser.controls['DisplayName'].hasError('minlength') || Form_EditUser.controls['DisplayName'].hasError('maxlength')">
              branch Name must be between 2 to 25 characters
            </label>
          </div>

          <div class="form-group">
            <label class="tx-roboto tx-12 text-dark"> {{'System.Users.MobileNumber' | translate}}<span
                class="text-danger">*</span>
            </label>
            <div class="controls">
              <div class="input-group">
                <div class="input-group-prepend" style="height: 41px;"><span class="input-group-text">+234</span>
                </div>
                <input type="text" placeholder="Mobile Number" name="MobileNumber" minlength="8" maxlength="18"
                  class="form-control" (keypress)="_HelperService.PreventText($event)"
                  [(ngModel)]="_BranchDetails.PhoneNumber" [formControl]="Form_EditUser.controls['PhoneNumber']"
                  [ngClass]="{'is-invalid':!Form_EditUser.controls['PhoneNumber'].valid && Form_EditUser.controls['PhoneNumber'].touched}">
              </div>
            </div>

            <label class="text-danger" for="PhoneNumber"
              *ngIf="Form_EditUser.controls['PhoneNumber'].hasError('required') && Form_EditUser.controls['PhoneNumber'].touched">
              enter contact Number
            </label>
            <label class="text-danger" for="PhoneNumber"
              *ngIf="Form_EditUser.controls['PhoneNumber'].hasError('minlength') || Form_EditUser.controls['PhoneNumber'].hasError('maxlength')">
              branch contact number must be between 10 - 18 number </label>
          </div>
          <div class="form-group">
            <label class="tx-roboto tx-12 text-dark">
              {{'System.Users.EmailAddress' | translate }}<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" placeholder="Email Id" name="EmailAddress" maxlength="256" class="form-control"
                [formControl]="Form_EditUser.controls['EmailAddress']" [(ngModel)]="_BranchDetails.EmailAddress"
                [ngClass]="{'is-invalid':!Form_EditUser.controls['EmailAddress'].valid && Form_EditUser.controls['EmailAddress'].touched}">
            </div>
            <label class="text-danger" for="EmailAddress"
              *ngIf="Form_EditUser.controls['EmailAddress'].hasError('required') && Form_EditUser.controls['EmailAddress'].touched">
              enter branch email address
            </label>

            <label class="text-danger" for="EmailAddress"
              *ngIf="Form_EditUser.controls['EmailAddress'].hasError('email') && Form_EditUser.controls['EmailAddress'].touched">
              {{'System.AddAcquirer.BranchEmail' | translate }} </label>

          </div>

          <!-- <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1" name="isActive" [checked]="isActive"
                (change)="isActive = !isActive">
              <label class="custom-control-label" for="customCheck1">Add New Manager</label>
            </div>
          </div> -->


          <!-- <div *ngIf="isActive">

         
            <div class="form-group">
              <label class="tx-roboto tx-12 text-dark">{{'System.Users.ManagerName' | translate}}<span
                  class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="Name" minlength="4" maxlength="128" class="form-control"
                  [formControl]="MForm_EditUser.controls['Name']"
                  [ngClass]="{'is-invalid':!MForm_EditUser.controls['Name'].valid && MForm_EditUser.controls['Name'].touched}">
              </div>
              <label class="text-danger" for="Name"
                *ngIf="MForm_EditUser.controls['Name'].hasError('required') && MForm_EditUser.controls['Name'].touched">
                enter manager name
              </label>
              <label class="text-danger" for="Name"
                *ngIf="MForm_EditUser.controls['Name'].hasError('minlength') || MForm_EditUser.controls['Name'].hasError('maxlength')">
                {{'System.AddAcquirer.Mname' | translate }} </label>
            </div>

            
            <div class="form-group">
              <label class="tx-roboto tx-12 text-dark"> {{'System.Users.MobileNumber' | translate}}<span
                  class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="MobileNumber" minlength="10" maxlength="18" class="form-control"
                  (keypress)="_HelperService.PreventText($event)"
                  [formControl]="MForm_EditUser.controls['MobileNumber']"
                  [ngClass]="{'is-invalid':!MForm_EditUser.controls['MobileNumber'].valid && MForm_EditUser.controls['MobileNumber'].touched}">
              </div>
              <label class="text-danger" for="MobileNumber"
                *ngIf="MForm_EditUser.controls['MobileNumber'].hasError('required') && MForm_EditUser.controls['MobileNumber'].touched">
                enter mobile number
              </label>
              <label class="text-danger" for="MobileNumber"
                *ngIf="MForm_EditUser.controls['MobileNumber'].hasError('minlength') || MForm_EditUser.controls['MobileNumber'].hasError('maxlength')">
                {{'System.AddAcquirer.MobileNumber' | translate }} </label>
            </div>
            <div class="form-group ">
              <label class="tx-roboto tx-12 text-dark"> {{'System.Users.EmailAddress' | translate }}<span
                  class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                  [formControl]="MForm_EditUser.controls['EmailAddress']"
                  [ngClass]="{'is-invalid':!MForm_EditUser.controls['EmailAddress'].valid && MForm_EditUser.controls['EmailAddress'].touched}">
              </div>
              <label class="text-danger" for="EmailAddress"
                *ngIf="MForm_EditUser.controls['EmailAddress'].hasError('required') && MForm_EditUser.controls['EmailAddress'].touched">
                enter branch email address
              </label>

              <label class="text-danger" for="EmailAddress"
                *ngIf="MForm_EditUser.controls['EmailAddress'].hasError('email') && MForm_EditUser.controls['EmailAddress'].touched">
                {{'System.AddAcquirer.BranchNum' | translate }} </label>
            </div>
          </div> -->

          <div *ngIf="!isActive">
            <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
              <label class="tx-roboto tx-12 text-dark">Edit Manager<span class="text-danger">*</span>
              </label>
              <select2 name="S2GetManagers" class="full-width"  [options]="GetMangers_Option"
                (valueChanged)="GetMangers_ListChange($event)"></select2>
                <div class="col-lg-12 Hm-media768 mg-b-20">
                  <div class="d-inline justify-content-between">
                      <button class="d-flex align-items-center" type="button"
                          class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 pd-r-10 pd-l-12 pd-y-5 text-warn text-sm mg-t-10">
                          {{ManagerNameFetch}}
                      </button>
                  </div>
              </div>
            </div>
            


            <!-- <div class="form-group" *ngIf="_ShowReportingM">
              <label class="tx-roboto tx-12 text-dark">Assign Reporting Manager<span class="text-danger">*</span>
              </label>
              <select2 class="full-width" [options]="AssignManger_Option"
                (valueChanged)="AssignManger_ListChange($event)">
              </select2>
            </div> -->


            <!-- <div class="form-group">
              <label class="tx-roboto tx-12 text-dark"> {{'System.Menu.BranchMobContact' | translate}}<span
                  class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="MobileNumber" minlength="10" maxlength="18" class="form-control"
                  (keypress)="_HelperService.PreventText($event)"
                  [formControl]="MForm_EditUser.controls['MobileNumber']"
                  [ngClass]="{'is-invalid':!MForm_EditUser.controls['MobileNumber'].valid && MForm_EditUser.controls['MobileNumber'].touched}">
              </div>
              <label class="text-danger" for="MobileNumber"
                *ngIf="MForm_EditUser.controls['MobileNumber'].hasError('required') && MForm_EditUser.controls['MobileNumber'].touched">
                enter mobile number
              </label>
              <label class="text-danger" for="MobileNumber"
                *ngIf="MForm_EditUser.controls['MobileNumber'].hasError('minlength') || MForm_EditUser.controls['MobileNumber'].hasError('maxlength')">
                {{'System.AddAcquirer.MobileNumber' | translate }} </label>
            </div>
            <div class="form-group ">
              <label class="tx-roboto tx-12 text-dark"> {{'System.Menu.BranchEmailAddress' | translate }}<span
                  class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                  [formControl]="MForm_EditUser.controls['EmailAddress']"
                  [ngClass]="{'is-invalid':!MForm_EditUser.controls['EmailAddress'].valid && MForm_EditUser.controls['EmailAddress'].touched}">
              </div>
              <label class="text-danger" for="EmailAddress"
                *ngIf="MForm_EditUser.controls['EmailAddress'].hasError('required') && MForm_EditUser.controls['EmailAddress'].touched">
                enter branch email address
              </label>

              <label class="text-danger" for="EmailAddress"
                *ngIf="MForm_EditUser.controls['EmailAddress'].hasError('email') && MForm_EditUser.controls['EmailAddress'].touched">
                {{'System.AddAcquirer.BranchNum' | translate }} </label>
            </div> -->
          </div>



        </div>

        <div class="col-md-6">

          <div class="row" *ngIf="_isAddressLoaded">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              
              <hcx-addressmanager [data]="_Address" [config]="_AddressConfig" (OnAddressSet)="AddressChange($event)">
              </hcx-addressmanager>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="card-footer">
      <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="Form_EditUser_Block()">
        {{ "Common.Block" | translate }}
      </button> -->
      <button type="submit" class="btn btn-primary float-right mg-b-10"
        (click)="Form_EditUser.value.OperationType = 'new'"
       >
        <span *ngIf="!_HelperService.IsFormProcessing">
          {{ "Common.Save" | translate }}
        </span>
        <span *ngIf="_HelperService.IsFormProcessing">
          <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
          {{ "Common.PleaseWait" | translate }}...
        </span>
      </button>

      <!-- <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
                (click)="Form_EditUser.value.OperationType='edit'"
                [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                <span *ngIf="!_HelperService.IsFormProcessing">
                    {{ 'Common.SaveAndEdit' | translate }}
                </span>
                <span *ngIf="_HelperService.IsFormProcessing">
                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                        }}...
                </span>
            </button> -->

    </div>
  </form>
</div>