<div class="box mb-0">
  <div class="box-header b-b">
    <h3> {{ TUTr_Config.Title }}</h3>
  </div>
  <div class="box-tool">
    <ul class="nav nav-xs">
      <li title="{{ 'Common.FilterT' | translate }}" class="nav-item"
        (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)"><a
          class="nav-link"><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li>
      <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
        (click)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.Csv)">
        <a class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a>
      </li>
      <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
        (click)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.Refresh)">
        <a class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a>
      </li>
    </ul>
  </div>
  <div class="box-header light lt">
    <div class="row no-gutters">
      <div class="col-md-2">
        <div class="form-group mr-2 mb-2">
          <select2 class="full-width" [options]="TUTr_Filter_UserAccount_Option"
            (valueChanged)="TUTr_Filter_UserAccounts_Change($event)">
          </select2>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="form-group  mr-2 mb-2">
          <select2 class="full-width" [options]="TUTr_Filter_TransactionType_Option"
            (valueChanged)="TUTr_Filter_TransactionTypes_Change($event)">
          </select2>
        </div>
      </div>
      <!-- <div class="col-md-2 ">
          <div class="input-group  mr-2">
            <input type="text" maxlength="100" [(ngModel)]="TUTr_Config.SearchParameter" class="form-control" (keyup)="
                TUTr_ToggleOption(
                  null,
                  _HelperService.AppConfig.ListToggleOption.Search
                )
              " placeholder="{{ 'Common.Search' | translate }}" />
            <div class="input-group-append">
              <button class="btn white" type="button" (click)="
                      TUTr_ToggleOption(
                        null,
                        _HelperService.AppConfig.ListToggleOption.Search
                      )
                    ">
                {{ "Common.Go" | translate }}
              </button>
            </div>
          </div>
        </div> -->
      <div class="col-md-2">
        <div class="form-group mr-2 mb-2">
          <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option"
            (valueChanged)="TUTr_Filter_Merchants_Change($event)">
          </select2>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="form-group mr-2 mb-2">
          <input type="text" class="form-control full-width" name="daterangeInput" daterangepicker
            [options]="_HelperService.AppConfig.DateRangeOptions"
            (selected)="TUTr_ToggleOption_Date($event,_HelperService.AppConfig.ListToggleOption.Date)" />
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="form-group mr-2 mb-2">
          <select2 class="full-width" [options]="_HelperService.S2_Sort_Option"
            [data]="TUTr_Config.SortExpressionOption" [value]="TUTr_Config.SortExpression"
            (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
          </select2>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="form-group  mr-2 mb-2">
          <select2 class="full-width" [options]="_DataHelperService.S2_Status_Option" [data]="TUTr_Config.StatusOptions"
            [value]="TUTr_Config.Status"
            (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
          </select2>
        </div>
      </div>
    </div>
    <div class="mt-2" *ngIf="TUTr_Config.ToggleFilter">
      <div class="row no-gutters">
        <div class="col-md-2">
          <div class="form-group mr-2 mb-2">
            <select2 class="full-width" [options]="TUTr_Filter_CardBrand_Option"
              (valueChanged)="TUTr_Filter_CardBrands_Change($event)">
            </select2>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group mr-2 mb-2">
            <select2 class="full-width" [options]="TUTr_Filter_CardBank_Option"
              (valueChanged)="TUTr_Filter_CardBanks_Change($event)">
            </select2>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group mr-2 mb-2" *ngIf="!TUTr_Filter_Store_Toggle">
            <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
              (valueChanged)="TUTr_Filter_Stores_Change($event)">
            </select2>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group mr-2 mb-2">
            <select2 class="full-width" [options]="TUTr_Filter_Bank_Option"
              (valueChanged)="TUTr_Filter_Banks_Change($event)">
            </select2>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group mr-2 mb-2" *ngIf="!_HelperService.ToggleField">
            <select2 class="full-width" [options]="TUTr_Filter_Issuer_Option"
              (valueChanged)="TUTr_Filter_Issuers_Change($event)">
            </select2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="mb-2">
            <ng5-slider [value]="TUTr_InvoiceRangeMinAmount" [highValue]="TUTr_InvoiceRangeMaxAmount"
              [options]="_HelperService.AppConfig.RangeInvoiceAmountOptions"
              (userChangeEnd)="TUTr_InvoiceRange_OnChange($event)">
            </ng5-slider>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="box-body p-0">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="td-date">Date</th>
          <th>
            User
          </th>
          <th>Type</th>
          <th class="td-number">Bank</th>
          <th class="td-amount">Sale</th>
          <th>Merchant</th>
          <th>Done By</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
              let TItem of (TUTr_Config.Data
                | paginate
                  : {
                      id: 'TUTr_Paginator',
                      itemsPerPage: TUTr_Config.PageRecordLimit,
                      currentPage: TUTr_Config.ActivePage,
                      totalItems: TUTr_Config.TotalRecords
                    })
            ">
          <td class="td-date">
            <div>{{ TItem.TransactionDateD || "--" }}
              <span class="text-xxs _600 w-60">{{ TItem.TransactionDateT || "--" }}</span>
            </div>
            <div class="text-xs _500 ">
              <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
            </div>
          </td>
          <td>
            <div class="text-warn _500">
              {{ TItem.UserDisplayName || "--" }}
            </div>
            <div class="text-xs _500 text-muted">
              {{ TItem.UserMobileNumber || "--" }}
            </div>
          </td>
          <td>
            <div class="text-xs _500 text-uppercase" *ngIf="TItem.TypeName != 'Cash '">
              <span *ngIf="TItem.CardBrandName != undefined">
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'"
                  class="fab fa-cc-visa text-visa-card text-sm float-right"></i>
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'mastercard'"
                  class="fab fa-cc-mastercard text-mastercard text-sm  float-right"></i>
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                  class="fas fa-credit-card text-verve-card text-sm  float-right"></i>
              </span>
              {{ TItem.CardBrandName }}
            </div>
            <div class="text-xs _500 text-uppercase" *ngIf="TItem.TypeName == 'Cash '">
              <i class="fab fas fa-money-bill-alt text-cash   float-right"></i>
              Cash Payment
            </div>
            <div class="text-xs _500 text-muted">
              {{ TItem.TypeName  }}
            </div>
          </td>
          <td>
            <div class="text-ellipses">{{ TItem.CardBankName || "--" }}</div>
            <div class="text-xs _500 text-muted">
              {{ TItem.AccountNumber  }}
            </div>
          </td>
          <td class="td-amount _600 text-warning">
            <div>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.InvoiceAmount | number: "1.2-2" || "--" }}
            </div>
          </td>

          <td>
            <div>{{ TItem.ParentDisplayName || "--" }}</div>
            <div class="text-xs _500 text-muted">
              {{ TItem.SubParentDisplayName || "--" }}
            </div>
          </td>

          <td>
            <div>{{ TItem.CreatedByDisplayName || "--" }}
            </div>
            <div class="text-xs _500 text-muted">
              {{ TItem.AcquirerDisplayName || "--" }}
              <span>- {{ TItem.ProviderDisplayName || "--" }}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="  p-4">
      <span class="mr-1">
        {{ "Common.Showing" | translate }}
        <span class="bold">{{ TUTr_Config.ShowingStart }}
          {{ "Common.To" | translate }}
          {{ TUTr_Config.ShowingEnd }}
        </span>
        {{ "Common.Of" | translate }} {{ TUTr_Config.TotalRecords }}
      </span>
      |
      <span class="ml-1">
        {{ "Common.Show" | translate }}
        <select class=" w-64 " [(ngModel)]="TUTr_Config.PageRecordLimit" (ngModelChange)="
              TUTr_ToggleOption(
                $event,
                _HelperService.AppConfig.ListToggleOption.Limit
              )
            ">
          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
            {{ TItem }}
          </option>
        </select>
        {{ "Common.Entries" | translate }}
      </span>
      <span class="float-right">
        <pagination-controls id="TUTr_Paginator" (pageChange)="
              TUTr_ToggleOption(
                $event,
                _HelperService.AppConfig.ListToggleOption.Page
              )
            " nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
        </pagination-controls>
      </span>
    </div>
  </div>
</div>