<div class="d-flex flex fixed-height" id="SideContainer" [style.height.px]="_HelperService.ContainerHeight">
    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex  ">
            <div class="box mb-0 b-b ">
                <div class="box-body py-2 px-3">
                    <div>
                        <div>
                            <img src="../../assets/img/logoinverse.png" class="w-xmd" style=" margin-top:-10px" alt=".">
                            <span class="text-lg _500 pl-1 text-uppercase" style="color: #442364">
                                |
                                {{_HelperService.AppConfig.ActiveOwnerDisplayName}}
                                <span class="text-dark _600  text-xs"> TERMINAL ANALYTICS</span>
                            </span>
                            <button *ngIf="!AutoRefresh" (click)="GetLiveTerminals()" class="btn warn btn-sm ml-2">
                                Refresh
                            </button>
                            <span class="float-right">
                                <span class=" text-primary _500 text-lg">
                                    {{ now | date:'HH:mm:ss'}}
                                </span>
                                <span class="_500">{{todaysdate || '--'}} </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box mb-2 ">
                <div class="box-body py-2 px-3">
                    <div>
                        <div class="row">
                            <!-- <div class="col-2">
                                <select class="form-control" [(ngModel)]="SelectedMerchant"
                                    (change)="TerminalViewChange()">
                                    <option value="0">Filter by Merchant</option>
                                    <option *ngFor="let TItem of Merchants" [value]="TItem.Name" value="{{TItem.Name}}">
                                        {{TItem.Name}}</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <select class="form-control" [(ngModel)]="SelectedTerminalStatus"
                                    (change)="TerminalViewChange()">
                                    <option value="0">Filter by Status</option>
                                    <option value="live">Live</option>
                                    <option value="idle">Idle</option>
                                    <option value="dead">Dead</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <select class="form-control" [(ngModel)]="SelectedStore"
                                    (change)="TerminalViewChange()">
                                    <option value="0">Filter by Store</option>
                                    <option *ngFor="let TItem of Stores" [value]="TItem.Name" value="{{TItem.Name}}">
                                        {{TItem.Name}}</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <select class="form-control" [(ngModel)]="SelectedProvider"
                                    (change)="TerminalViewChange()">
                                    <option value="0">Filter by Provider</option>
                                    <option *ngFor="let TItem of Providers" [value]="TItem.Name" value="{{TItem.Name}}">
                                        {{TItem.Name}}</option>
                                </select>
                            </div> -->
                            <div class="col-2">
                                <div class="float-left">
                                    <div class="_600 text-xs text-uppercase "> Auto Update</div>
                                    <div class="text-success _500 text-xs" *ngIf="AutoRefresh">
                                        <span class="text-xxs  text-uppercase"> Update in:</span>
                                        {{timeLeft || '--'}}
                                    </div>
                                    <div class="text-warning  text-uppercase _500 text-xxs" *ngIf="!AutoRefresh">
                                        Manual Sync
                                    </div>
                                </div>
                                <label class="ui-switch ui-switch-lg warn m-t-xs float-right"><input type="checkbox"
                                        [(ngModel)]="AutoRefresh" (change)="ToggleAutoRefresh()"> <i></i></label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="scrollable hover pl-4 pr-4">
                <!-- <div class="row" *ngIf="LiveTerminals != undefined">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6  pl-1 pr-1 "
                        *ngFor="let TItem of LiveTerminals.Data">
                        <div class="box white fadeIn animated  shadow mb-2  text-ellipsis">
                            <div class="p-2 bg-light b-b">
                                <div class="text-success _600" style="font-size: 16px;"
                                    [ngClass]="{'text-success': TItem.Type == 'live', 'text-deep-orange': TItem.Type == 'idle' , 'text-danger': TItem.Type == 'dead' }">
                                    <img src="{{TItem.ProviderIconUrl}}" style="    width: 24px;
                                            float: left;
                                            margin-right: 5px;
                                            border: 1px solid #ccc;
                                            border-radius: 3px;">
                                    {{TItem.DisplayName  || "--"}}
                                       </div>
                            </div>
                            <div class="p-2 _500 ">
                                <div class="mb-2">
                                    <img src="{{TItem.MerchantIconUrl}}" style="    width: 32px;
                                    float: left;
                                    margin-right: 5px;
                                    border: 1px solid #ccc;
                                    border-radius: 3px;">
                                    <div class="text-sm _500 text-warn">
                                        {{TItem.MerchantDisplayName  || "--"}}</div>
                                    <div class="text-xxs _500  ">
                                        {{TItem.StoreDisplayName  || "--"}}</div>
                                </div>
                                <div class="text-xs  text-muted  text-center  _500">
                                    <div class="text-xxxs">Last Transaction</div>
                                    <div>{{TItem.LastTransactionDate || "--"}}</div>
                                    <div class=" text-xxs _500">
                                        {{TItem.LastTransactionDateDiffS}} ago
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> -->
                <div class="row" *ngIf="LiveTerminals != undefined">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  pl-1 pr-1 "
                        *ngFor="let TItem of LiveTerminals.Data">
                        <div class="box white fadeIn animated  shadow  mb-2  text-ellipsis">
                            <div class="p-2 _600  bg-light b-b">
                                <div class="text-success"
                                    [ngClass]="{'text-success': TItem.Type == 'live', 'text-deep-orange': TItem.Type == 'idle' , 'text-danger': TItem.Type == 'dead' }">
                                    <img src="{{TItem.IconUrl}}" style="    width: 20px;
                                    float: left;
                                    margin-right: 5px;
                                    border: 1px solid #ccc;
                                    border-radius: 3px;">
                                    {{TItem.DisplayName  || "--"}}
                                    <span class="badge float-right" style="font-size: 60%;"
                                        [ngClass]="{'badge-success ': TItem.Type == 'live', 'deep-orange': TItem.Type == 'idle' , 'badge-danger': TItem.Type == 'dead' }">{{TItem.Type}}</span>
                                </div>
                            </div>
                            <div class=" _500 ">
                                <div class="text-xxs p-2 text-center  _500">
                                    <div class=" text-sm _500"
                                        [ngClass]="{'text-success': TItem.Type == 'live', 'text-deep-orange': TItem.Type == 'idle' , 'text-danger': TItem.Type == 'dead' }">
                                        {{TItem.LastTransactionDateDiffS}} ago
                                    </div>
                                    <div>{{TItem.LastTransactionDate || "--"}}</div>
                                </div>
                            </div>
                            <div class="row row-col no-gutters b-t light rounded-bottom text-center">
                                <div class="col-12">
                                    <div class="   text-ellipsis text-xs text-center text-uppercase _500 p-2">
                                        Terminal Status
                                    </div>
                                </div>
                                <div class="col-4 b-r">
                                    <a class="py-1 d-block">
                                        <strong class="d-block text-success">{{TItem.ActiveTerminals}}</strong>
                                        <span class="d-block text-uppercase text-xxs _600 text-muted">Active</span>
                                    </a>
                                </div>
                                <div class="col-4 b-r"><a class="py-1 d-block"><strong
                                            class="d-block text-deep-orange">{{TItem.IdleTerminals}}</strong><span
                                            class="d-block text-uppercase text-xxs _600  text-muted">Idle</span></a>
                                </div>
                                <div class="col-4"><a class="py-1 d-block"><strong
                                            class="d-block text-danger">{{TItem.DeadTerminals}}</strong><span
                                            class="d-block text-uppercase text-xxs _600  text-muted">Dead</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row" *ngIf="LiveTerminals != undefined">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6  pl-1 pr-1 "
                            *ngFor="let TItem of LiveTerminals.Data">
                            <div class="box white fadeIn animated   mb-2  text-ellipsis">
                                <div class="p-2 _600">
                                    <div class="text-success"
                                        [ngClass]="{'text-success': TItem.Type == 'live', 'text-deep-orange': TItem.Type == 'idle' , 'text-danger': TItem.Type == 'dead' }">
                                        <img src="{{TItem.ProviderIconUrl}}" style="    width: 20px;
                                        float: left;
                                        margin-right: 5px;
                                        border: 1px solid #ccc;
                                        border-radius: 3px;">
                                        {{TItem.DisplayName  || "--"}}
                                        <span class="badge float-right"
                                            [ngClass]="{'badge-success ': TItem.Type == 'live', 'deep-orange': TItem.Type == 'idle' , 'badge-danger': TItem.Type == 'dead' }">{{TItem.Type}}</span>
                                    </div>
                                </div>
                                <div class="p-2 _500 ">
    
                                    <div class=" _500 text-warn">
                                        {{TItem.MerchantDisplayName  || "--"}}</div>
                                    <div class="text-xxs text-muted _500 ">
                                        {{TItem.StoreDisplayName  || "--"}}</div>
                                    <div class="text-xs   _500">
                                        <div>{{TItem.LastTransactionDate || "--"}}</div>
                                        <div class=" text-xxs _500">
                                            {{TItem.LastTransactionDateDiffS}} ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
            </div>
        </div>
    </div>
    <div class="fade aside aside-lg b-l b-r" id="content-aside" *ngIf="_HelperService.ShowAsidePanel">
        <div class="modal-dialog d-flex flex-column w-md h-100 light  lt">
            <div class="scrollable hover">

                <div class="d-block pt-3 pl-3 pb-2 pr-3 pb-1 text-left">
                    <span class="text-warn _600 "> Recent Transactions </span>
                    <span class="pl-1">
                        <a (click)="TUTr_GetData()"><i class="fa fa-fw  f-s-11 fa-sync text-success"></i></a>
                    </span>
                </div>
                <div class="box shadow r-2x m-2 p-2" *ngFor="let TItem of TUTr_Config.Data">
                    <span class="float-right _500">
                        <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{TItem.InvoiceAmount}}
                    </span>
                    <div class="text-sm _500 ">
                        {{TItem.UserDisplayName}}
                    </div>
                    <div class="text-xs  text-muted">
                        {{TItem.ParentDisplayName}}
                    </div>
                    <div class="text-xs ">
                        <span class="text-muted"> {{TItem.TransactionDate}}
                        </span>
                        <span class="badge float-right text-lowercase" [ngClass]="TItem.StatusBadge">
                            {{TItem.StatusName}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>