<!-- acquirer--overview -->
<div class="shadow-none">
  <div class="row mg-b-20 mg-lg-b-30">
    <div class="col-12">
      <!-- <h4 class="text-dark _300  mg-b-20 mg-lg-b-30">Welcome, <span
          class="tx-indigo">{{_HelperService.UserAccount.DisplayName}}</span>
      </h4> -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
          <!-- <li class="breadcrumb-item active">Dashboard</li> -->
          <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
              [routerLinkActive]="['active']">Dashboard
            </a></li>
        </ol>
      </nav>
      <h4 class="mg-b-0 tx-spacing--1"> Todays Overview - <span> {{TodayDate | date }} </span></h4>
    </div>

    <!-- <div class="row text-center">
      <div class="col-12">
        <img class="br" src="{{TItem.ProviderIconUrl}}" (error)="_HelperService.defaultImage($event)"
                    class="img wd-40 ht-40 rounded-circle bd bd-2 bd-danger">
      </div>
     </div> -->

  </div>

  <div class="row row-xs mg-b-10">
    <div class="col-sm-6 col-lg-3 ">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active Merchants</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-primary mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.ActiveMerchants | number: "1.0-1" || "--"}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->
        </div>
        <p class="tx-12 tx-color-03 mg-b-0"> Total active merchant of <span class="tx-color-02 tx-bold">
            {{_AccountOverview.TotalMerchants | number: "1.0-1" || "--"}} </span>
          registered merchant</p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active POS Terminals</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-teal tx-rubik mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.ActiveTerminals | number: "1.0-1" || "--"}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->
        </div>
        <p class="tx-12 tx-color-03 mg-b-0"> Total active POS of <span class="tx-color-02 tx-bold">
            {{_AccountOverview.TotalTerminals | number: "1.0-1" || "--"}} </span>
          registered pos terminals</p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">total stores</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-verve mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.ActiveStores | number: "1.0-1" || "--"}} </h3>

        </div>
        <p class="tx-12 tx-color-03 mg-b-0"> Total active stores of <span class="tx-color-02 tx-bold">
            {{_AccountOverview.TotalStores | number: "1.0-1" || "--"}} </span>
          registered stores</p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">pos providers</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-MasterCard mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.Ptsp | number: "1.0-1" || "--"}}</h3>
        </div>
        <p class="tx-12 tx-color-03 mg-b-0"> Currently onboard POS terminals providers</p>
      </div>
    </div><!-- col -->
  </div>

  <div class="row row-xs mg-b-10">
    <div class="col-lg-9 col-xl-9 col-sm-12 col-md-12">
      <div class="card">
        <div
          class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <div>
            <h6 class="mg-b-5 tx-bold">Terminal Activity Metrics</h6>
            <p class="tx-11 tx-color-03 mg-b-0">The Metrics Explains how many terminals are active and working
            </p>
          </div>
          <!-- <div class="btn-group mg-t-20 mg-sm-t-0">
            <button class="btn btn-xs btn-white btn-uppercase">Day</button>
            <button class="btn btn-xs btn-white btn-uppercase">Week</button>
            <button class="btn btn-xs btn-white btn-uppercase active">Month</button>
          </div> -->
          <!-- btn-group -->
        </div><!-- card-header -->
        <div class="card-body pd-lg-25">
          <div class="row align-items-sm-end">
            <div class="col-lg-7 col-xl-8 ht-100p">
              <canvas class="chart-six" baseChart #DataPlot="base-chart" [datasets]="barChartData"
                [labels]="barChartLabels" [options]="BarChartOptions" [colors]="barChartColors"
                [plugins]="BarChartOptions.Plugins" [chartType]="_HelperService.ChartConfig.BarChart.Type">
              </canvas>
            </div>

            <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0" *ngIf="_AccountOverview.TerminalStatus">
              <div class="row mg-b-15">
                <div class="col-sm-6 col-lg-12">
                  <div class="d-flex align-items-center justify-content-between mg-b-5">

                    <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Active POS </h6>
                    <span class="tx-10 tx-color-03">{{ _AccountOverview.ActiveTerminalsPerc | number: "1.0-1" || "--"
                      }}%
                      Active POS</span>
                  </div>
                  <div class="d-flex align-items-end justify-content-between mg-b-5">
                    <h5 class="tx-bold tx-rubik lh-2 mg-b-0">
                      {{ _AccountOverview.TerminalStatus.Active | number: "1.0-1" || "--" }}</h5>
                    <h6 class="tx-normal tx-rubik tx-color-03 lh-2 mg-b-0">
                      {{ _AccountOverview.TerminalStatus.Total | number: "1.0-1" || "--" }}</h6>
                  </div>
                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-teal" [ngStyle]="{'width': _AccountOverview.ActiveTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                  <div class="d-flex justify-content-between mg-b-5">
                    <div class="leftdiv">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Idle POS</h6>
                      <h5 class="tx-bold tx-rubik lh-2 mg-b-0 mg-t-5">
                        {{ _AccountOverview.TerminalStatus.Idle | number: "1.0-1" || "--" }}</h5>

                    </div>

                    <div class="rightdiv mg-t-0 pd-t-0 d-flex align-items-start">
                      <span class="tx-10 tx-color-03 lh-8">{{ _AccountOverview.IdleTerminalsPerc | number: "1.0-1" ||
                        "--" }}%
                        idle POS are not <br> seen activity in <strong class="text-body tx-bold"> 4 Hours</strong>
                      </span>

                    </div>
                  </div>

                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-warning" [ngStyle]="{'width': _AccountOverview.IdleTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30">
                  <div class="d-flex justify-content-between mg-b-5">
                    <div class="leftdiv">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Dead POS</h6>
                      <h5 class="tx-bold tx-rubik lh-2 mg-b-0 mg-t-5">
                        {{ _AccountOverview.TerminalStatus.Dead| number: "1.0-1" || "--"}}</h5>

                    </div>

                    <div class="rightdiv mg-t-0 pd-t-0 d-flex align-items-start">
                      <span class="tx-10 tx-color-03 lh-8">{{ _AccountOverview.DeadTerminalsPerc | number: "1.0-1" ||
                        "--" }}%
                        POS are not <br> seen activity in <span class="text-body tx-bold"> 7 Days </span> </span>

                    </div>
                  </div>
                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-deadpos" [ngStyle]="{'width': _AccountOverview.DeadTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30">
                  <div class="d-flex justify-content-between mg-b-5">
                    <div class="leftdiv">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Inactive POS</h6>
                      <h5 class="tx-bold tx-rubik lh-2 mg-b-0 mg-t-5">
                        {{ _AccountOverview.TerminalStatus.Inactive | number: "1.0-1" || "--" }}</h5>

                    </div>

                    <div class="rightdiv mg-t-0 pd-t-0 d-flex align-items-start">
                      <span class="tx-10 tx-color-03 lh-8">{{ _AccountOverview.UnusedTerminalsPerc | number: "1.0-1" ||
                        "--" }}%
                        POS are not <br> provisioned yet </span>

                    </div>
                  </div>
                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-primary" [ngStyle]="{'width': _AccountOverview.UnusedTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div><!-- row -->

            </div>
          </div>
        </div><!-- card-body -->
      </div><!-- card -->
    </div>

    <div class="col-lg-3 col-xl-3 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0 ">
      <div class="card ht-100p">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between bd-b-0">
          <h5 class="mg-b-5 tx-14 tx-bold">POS Alerts <br>
            <p class="tx-11 tx-normal  tx-color-03 mg-b-0 cursor-poin">These POS need urgent attention .</p>
          </h5>
          <div class="d-flex align-items-center tx-18">
            <a (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"
              class="link-03 lh-0 cursor-pointer "><i class="icon link-03 ion-md-refresh tx-color-03"></i></a>
            <a class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more tx-color-03"></i></a>
          </div>
        </div>
        <!-- "StatusCode": "default.active", "StatusCode": "default.blocked", -->
        <div class="PosAlert">
          <ul class="list-group list-group-flush tx-13" *ngFor="let TItem of TerminalsList_Config.Data">
            <li class="list-group-item d-flex pd-sm-x-20 cursor-pointer" (click)="TerminalsList_RowSelected(TItem)">

              <div class="ht-40 ht-40"><span class="rounded-circle">
                  <img class="br" src="{{TItem.ProviderIconUrl}}" (error)="_HelperService.defaultImage($event)"
                    class="img wd-40 ht-40 rounded-circle bd bd-2 bd-danger">
                </span></div>
              <!-- <div class="pd-l-10">
                <p class="tx-bold tx-14 mg-b-0 tx-alertpos">{{TItem.TerminalId}}</p>
                <small class="tx-11 tx-color-03 mg-b-0">Last Transaction On {{TItem.LastTransactionDate || "n/a"}}
                </small>
                <br> <small class="tx-11 tx-color-03 mg-b-0 "><span class="tx-color-02 tx-medium"> {{TItem.StoreName}}
                  </span>,
                  {{TItem.StoreAddress}} </small>

                <br> <small class="tx-11 tx-normal tx-teal mg-b-0"> {{TItem.ContactNumber || "--"}}</small>
              </div> -->
              <div class="pd-l-10">
                <p class="mg-b-0 postid">{{TItem.TerminalId}}</p>
                <small class="mg-b-0 postrdate">Last Transaction On {{TItem.LastTransactionDate || "n/a"}}
                </small>
                <br>
                <small class="posaddress mg-b-0 ">
                  <span class="tx-color-02 tx-medium"> {{TItem.StoreName}}</span>,
                  {{TItem.StoreAddress}}
                </small>


                <!-- <br> <small class="poscontact mg-b-0"> {{TItem.RmMobileNumber || "--"}}</small> -->
                <br> <small class="poscontact mg-b-0"> {{TItem.StoreMobileNumber || "--"}}</small>
              </div>

            </li>


          </ul>
        </div>

      </div><!-- card -->
    </div>
  </div>

  <div class="row row-xs mg-t-10">
    <div class="col-sm-12 col-lg-6 ">
      <div class="card shadow-none ht-100p">
        <div class="card-header bd-b-0">
          <h6 class="mg-b-0 tx-bold">Transaction By Channel</h6>
          <span class="tx-11 tx-color-03">
            This section provides information regarding how overall money flow is
            happening at merchant places, either by CASH or CARDS or POINTS
          </span>
        </div><!-- card-header -->

        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card-body  pd-t-0 md-t-0" *ngIf="_AccountOverview.TotalSale != 0">
              <canvas style="height: 250px;" baseChart [chartType]="'doughnut'" [datasets]="datapieType.datasets"
                [labels]="datapieType.labels" [options]="pieChartOptions" [colors]="doughnuttype" [legend]="false"
                (chartClick)="onChartClick($event)">
              </canvas>
            </div><!-- card-body -->


            <div class="card-body pd-t-30 mg-t-0" *ngIf=" _AccountOverview.TotalSale == 0">
              <div style="height:200px" class="text-center m-auto  text-muted">
                <div>
                  <div>
                    <div
                      class="wd-140 wd-md-150 ht-140 ht-md-150  tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                      <img src="../../../../../assets/img/placeholder.png" alt="">
                    </div>
                    <!-- <div class="pt-3">
                      <span class="text-dark tx-bold tx-14 "> No data in this timeframe </span><br>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="Hm-mg-l mb-3 bd-t-0">
              <div class="row">
                <div class="col-12">
                  <p class="tx-10 tx-uppercase tx-semibold  tx-spacing-1 mg-b-5">
                    Total Transaction Amount
                  </p>
                  <div class="d-flex align-items-center bd-b mg-r-20">
                    <!-- <div class="wd-10 ht-10 rounded-circle bg-teal mg-r-5"></div> -->
                    <h5 class="tx-bold tx-rubik mg-b-0">
                      <span class=" text-sm mg-r-5" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                      {{ _AccountOverview.TotalSale |number: "1.2-2" || "--" }}
                      <br>
                      <small class="tx-color-03 tx-11">
                        From {{ _AccountOverview.TotalTransactions| number: "1.0-1" || "--"}} Transactions
                      </small>

                    </h5>
                  </div>

                </div><!-- col -->
                <div class="col-12 mt-3">
                  <p class="tx-10 tx-uppercase tx-semibold  tx-spacing-1 mg-b-5">Cash</p>
                  <div class="d-flex align-items-center  bd-b mg-r-20">
                    <!-- <div class="wd-10 ht-10 rounded-circle bg-primary mg-r-5"></div> -->
                    <h5 class="tx-bold tx-rubik mg-b-0 tx-teal "><span class=" text-sm mg-r-5"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                      {{ _AccountOverview.CashTransactionAmount| number: "1.2-2" || "--" }}
                      <br>
                      <small class="tx-color-03 tx-11">
                        {{_AccountOverview.CashTransactionsPerc| number: "1.0-1" || "--"}} % From
                        {{ _AccountOverview.CashTransactions| number: "1.0-1" || "--"}}
                        Transactions</small>
                    </h5>
                  </div>

                </div><!-- col -->
                <div class="col-12 mt-3">
                  <p class="tx-10 tx-uppercase tx-semibold  tx-spacing-1 tx-nowrap mg-b-5">Card </p>
                  <div class="d-flex align-items-center ">
                    <!-- <div class="wd-10 ht-10 rounded-circle bg-pink mg-r-5"></div> -->
                    <h5 class="tx-bold tx-rubik mg-b-0 tx-verve"><span class="text-sm mg-r-5"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                      {{ _AccountOverview.CardTransactionsAmount| number: "1.2-2" || "--" }}
                      <br>
                      <small class="tx-color-03 tx-11">
                        {{_AccountOverview.CardTransactionsPerc| number: "1.0-1" || "--"}} % From
                        {{_AccountOverview.CardTransactions| number: "1.0-1" || "--"}}
                        Transactions
                      </small>
                    </h5>
                  </div>
                </div><!-- col -->
              </div>




            </div><!-- card-footer -->

          </div>
        </div>



      </div><!-- card -->
    </div>
    <div class="col-sm-12 col-lg-6 mg-t-15  mg-lg-t-0">
      <div class="card shadow-none">
        <div class="card-header bd-b-0">
          <h6 class="mg-b-0 tx-bold">Transaction by Card Type</h6>
          <span class="tx-11 tx-color-03">
            This section provides information regarding how overall card
            transactions are spread across different card types
          </span>
        </div><!-- card-header -->
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card-body pd-t-0 mg-t-0"
              *ngIf="this._AccountOverview.CardTransactions  != 0 || _AccountOverview.Others.Transactions != 0">
              <canvas style="height: 250px;" baseChart [chartType]="'doughnut'" [datasets]="datapieCard.datasets"
                [labels]="datapieCard.labels" [options]="pieChartOptions" [colors]="doughnutcard" [legend]="false"
                (chartClick)="onChartClick($event)">
              </canvas>
            </div><!-- card-body -->

            <div class="card-body pd-t-30 mg-t-0"
              *ngIf="this._AccountOverview.CardTransactions == 0 && _AccountOverview.Others.Transactions == 0">
              <div style="height:200px" class="text-center m-auto  text-muted">
                <div>
                  <div>
                    <div
                      class="wd-140 wd-md-150 ht-140 ht-md-150  tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                      <img src="../../../../../assets/img/placeholder.png" alt="">
                    </div>
                    <!-- <div class="pt-3">
                      <span class="text-dark tx-bold tx-14 "> No data in this timeframe </span><br>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">

            <div class="Hm-mg-l mb-3 bd-t-0">
              <div class="row">
                <!-- mt-2 to mt-3 -->
                <div class="col-12 mt-2" *ngFor="let TItem of _AccountOverview.CardTypeSale;let i = index">
                  <!-- <div class="col-12 mt-3" *ngFor="let TItem of datapieCard;let i = index"> -->
                  <p class="tx-10 tx-uppercase tx-semibold link-01tx-spacing-1 tx-nowrap mg-b-5">
                    {{TItem.Name}}
                  </p>

                  <!-- Master Card , VISA , Verve ,Others -->
                  <div class="d-flex align-items-center bd-b mg-r-20">
                    <!-- <div class="wd-10 ht-10 rounded-circle bg-warning mg-r-5"></div> -->
                    <h5 class="tx-bold tx-rubik mg-b-0 "
                      [ngClass]="{'tx-MasterCard': TItem.Name  == 'Master Card',  'tx-teal': TItem.Name  == 'VISA',  'tx-verve': TItem.Name  == 'Verve'}">
                      <span class=" text-sm mg-r-5" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                      {{TItem.Amount | number: "1.2-2" ||"--"}}
                      <small class="tx-color-03 tx-11"><br>
                        {{TItem.TransactionPer| number: "1.0-1" || "--"}} % From
                        {{ TItem.Transactions | number: "1.0-1" || "--"}} Transactions
                      </small>
                    </h5>
                  </div>
                </div><!-- col -->
                <div class="col-12 mt-3">
                  <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Other Cards</p>
                  <div class="d-flex align-items-center" *ngIf="_AccountOverview.Others">
                    <!-- <div class="wd-10 ht-10 rounded-circle bg-primary mg-r-5"></div> -->
                    <h5 class="tx-bold tx-rubik tx-primary mg-b-0"><span class=" text-sm mg-r-5"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                      {{_AccountOverview.Others.Amount | number: "1.0-1"|| "--"}}
                      <br>
                      <small class="tx-color-03 tx-11">
                        {{_AccountOverview.Others.TransactionPer | number: "1.0-1" || "--"}} % From
                        {{_AccountOverview.Others.Transactions}}
                        Transactions
                      </small>
                    </h5>
                  </div>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-footer -->
          </div>

        </div>

      </div><!-- card -->
    </div>
  </div>