<form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">

    <div class="box">
        <div class="box-header b-b b-2x">
            <h3 class="text-warn">Customer Information</h3><small class="text-gray">Provider customer information for
                account setup </small>
        </div>
        <div class="box-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="FirstName" minlength="4" maxlength="128"
                                        class="form-control" [formControl]="Form_AddUser.controls['FirstName']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['FirstName'].valid && Form_AddUser.controls['FirstName'].touched}">
                                </div>
                                <label class="text-danger" for="FirstName"
                                    *ngIf="Form_AddUser.controls['FirstName'].hasError('required') && Form_AddUser.controls['FirstName'].touched">
                                    enter first name
                                </label>
                                <label class="text-danger" for="FirstName"
                                    *ngIf="Form_AddUser.controls['FirstName'].hasError('minlength') || Form_AddUser.controls['FirstName'].hasError('maxlength')">
                                    first name must be between 4 to 128 characters
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="LastName" minlength="4" maxlength="128"
                                        class="form-control" [formControl]="Form_AddUser.controls['LastName']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['LastName'].valid && Form_AddUser.controls['LastName'].touched}">
                                </div>
                                <label class="text-danger" for="LastName"
                                    *ngIf="Form_AddUser.controls['LastName'].hasError('required') && Form_AddUser.controls['LastName'].touched">
                                    enter last name
                                </label>
                                <label class="text-danger" for="LastName"
                                    *ngIf="Form_AddUser.controls['LastName'].hasError('minlength') || Form_AddUser.controls['LastName'].hasError('maxlength')">
                                    last name must be between 4 to 128 characters
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label> Mobile Number<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="MobileNumber" minlength="10" maxlength="18"
                                        class="form-control" (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['MobileNumber']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                </div>
                                <label class="text-danger" for="MobileNumber"
                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">
                                    enter mobile number
                                </label>
                                <label class="text-danger" for="MobileNumber"
                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')">
                                    mobile number must be between 10 to 18 numbers
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Email Address
                                </label>
                                <div class="controls">
                                    <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                                        [formControl]="Form_AddUser.controls['EmailAddress']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                </div>
                                <label class="text-danger" for="EmailAddress"
                                    *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">
                                    enter valid email address
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div> <label>{{ 'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                                    </label></div>
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="radio" name="gender"
                                            [value]="_HelperService.AppConfig.Gender.Male"
                                            [formControl]="Form_AddUser.controls['GenderCode']">
                                        <i class="dark-white"></i>
                                        {{ 'System.Users.Male' | translate }}</label>
                                </div>
                                <div class="radio float-left mr-3"><label class="ui-check"><input type="radio"
                                            name="gender" [value]="_HelperService.AppConfig.Gender.Female"
                                            [formControl]="Form_AddUser.controls['GenderCode']">
                                        <i class="dark-white"></i>
                                        {{ 'System.Users.Female' | translate }}</label></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="inline-form mb-2">
                                <div class="form-group">
                                    <label>Date Of Birth</label>
                                    <div>
                                        <select class="pr-1" [(ngModel)]="SelectedDay"
                                            [ngModelOptions]="{standalone: true}" style="    border: 1px solid #e4e6e8;
                                                            border-radius: 0px;
                                                            min-width: 40px;
                                                            background-color: #ffff;
                                                            height: 27px;
                                                            margin-right: 10px;">
                                            <option *ngFor="let c of Day" [value]="c.value">{{c.text}}</option>
                                        </select>
                                        <select class="pr-1" [(ngModel)]="SelectedMonth"
                                            [ngModelOptions]="{standalone: true}" style="    border: 1px solid #e4e6e8;
                                                            border-radius: 0px;
                                                            min-width: 40px;
                                                            background-color: #ffff;
                                                            height: 27px;
                                                            margin-right: 10px;">
                                            <option *ngFor="let c of Month" [value]="c.value">{{c.text}}</option>
                                        </select>
                                        <select class="pr-1" [(ngModel)]="SelectedYear"
                                            [ngModelOptions]="{standalone: true}" style="    border: 1px solid #e4e6e8;
                                                        border-radius: 0px;
                                                        min-width: 40px;
                                                        background-color: #ffff;
                                                        height: 27px;
                                                        margin-right: 10px;">
                                            <option *ngFor="let c of Year" [value]="c.value">{{c.text}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="light p-3 text-right b-b b-t">
            <button type="submit" class="btn btn-fw warn warn mr-2" (click)="Form_AddUser.value.OperationType='new'"
                [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                <span *ngIf="!_HelperService.IsFormProcessing">
                    {{ 'Common.Save' | translate }}
                </span>
                <span *ngIf="_HelperService.IsFormProcessing">
                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                            }}...
                </span>
            </button>

            <button type="button" class="btn btn-outline   b-warning  text-warning mr-2" (click)="Form_AddUser_Clear()">{{
                        'Common.Clear' |
                        translate }}</button>

            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Form_AddUser_Close()">{{
                        'Common.Close'
                        | translate }}</button>
        </div>
    </div>
</form>