<div class="card bd-t-0">
  <!-- <div class="card-header">
    <h6 class="tx-uppercase tx-semibold mg-b-0"> {{TargetHistoryList_Config.Title}}</h6>
  </div> -->
  <div class="box-header pt-0 px-3 pb-3 d-flex align-items-center justify-content-between">
    <!-- <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TargetHistoryList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TargetHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TargetHistoryList_ToggleOption(null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>
      <span class="badge badge-pill badge-primary"
        *ngFor="let TItem of TargetHistoryList_Config.Filters">{{TItem.Title}}</span>
    </div> -->


    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TargetHistoryList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TargetHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TargetHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>
      <span class="badge badge-pill badge-primary"
        *ngFor="let TItem of TargetHistoryList_Config.Filters">{{TItem.Title}}</span>
    </div>
    <div class="d-flex ml-auto">
      <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
        class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
        class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>
    
    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TargetHistoryList_Config.Sort.SortOrder == 'desc'"
                (click)="TargetHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TargetHistoryList_Config.Sort.SortOrder == 'asc'"
                (click)="TargetHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
       
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of TargetHistoryList_Config.Sort.SortOptions"
            (click)="TargetHistoryList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
            {{TItem.Name}}
          </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()"
          aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" >
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="TargetHistoryList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <!-- <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="TargetHistoryList_Config.StatusOptions"
                  (valueChanged)="TargetHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div> -->
            <!-- <div>
              <div class="form-group">
                <label>Owner</label>
                <select2 [options]="TargetHistoryList_Filter_Owners_Option" class="wd-100p"
                  (valueChanged)="TargetHistoryList_Filter_Owners_Change($event)">
                </select2>
              </div>
            </div> -->
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="TargetHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
      (click)="RemoveFilterComponent('Status')">
      {{_HelperService.FilterSnap.StatusName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
      (click)="RemoveFilterComponent('Sort')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
      (click)="RemoveFilterComponent('Other',i)">
      {{TItem.data[0].DisplayName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of TargetHistoryList_Config.Filters">{{TItem.Title}}</span>

  </div>
  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="">
            Month & Year
          </th>
          <th class="text-right">
            Target
          </th>
          <th class="text-right">
            Achievement
          </th>
          <th class="text-right">
            Difference
          </th>
          <!-- <th class="">
            Target Start
          </th>
          <th class="">
            Target Finish
          </th>
          <th class="">
            Set By
          </th> -->
          <th class="text-right">
            Set On
          </th>
          <th>

          </th>
        </tr>
      </thead>
      <tbody>

        <tr class="cursor-pointer" (click)="TargetHistoryList_RowSelected(TItem)" *ngFor="let TItem of TargetHistoryList_Config.Data
                                                | paginate: { id: 'TargetHistoryList_Paginator',itemsPerPage: TargetHistoryList_Config.PageRecordLimit, currentPage: TargetHistoryList_Config.ActivePage,
                                                totalItems: TargetHistoryList_Config.TotalRecords }">
          <!-- <td>
            <div class="tx-semibold tx-14">

              {{TItem.TodayTrAmount || "--"}}
            </div>
            <div class="tx-12 tx-muted">
              From {{ TItem.Transaction || "--"}} Transactions
            </div>
          </td> -->

          <td>
            <div class="">
              {{this._HelperService.FormatDateForRMTarget(TItem.StartDate,'MMM YYYY') || "--" }}
            </div>
          </td>

          <td class="text-right">
            <div class="text-muted">
              <!-- {{ TItem.RmMobileNumber | truncateText:40 }} -->
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.TotalTarget }} 
            </div>
          </td>

          <td class="text-right">
            <div class="">
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{TItem.AchievedTarget}}
 
              <div class="tx-12 text-success" *ngIf="TItem.AchievedTarget > TItem.TotalTarget">
                {{(TItem.AchievedTarget!=0?((TItem.AchievedTarget/TItem.TotalTarget)*100):0 )| number:'1.0-0'}}%
              </div>
              <div class="tx-12 text-muted" *ngIf="TItem.AchievedTarget==TItem.TotalTarget">
                {{(TItem.AchievedTarget!=0?((TItem.AchievedTarget/TItem.TotalTarget)*100):0 )| number:'1.0-0'}}%
              </div>
              <div class="tx-12 text-danger" *ngIf="TItem.AchievedTarget < TItem.TotalTarget">
                {{(TItem.AchievedTarget!=0?((TItem.AchievedTarget/TItem.TotalTarget)*100):0 )| number:'1.0-0'}}%
              </div>

            </div>
          </td>

          <!-- <td>
            <div class="tx-semibold tx-14">

              {{TItem.TodayTrAmount || "--"}}
            </div>
            <div class="tx-12 tx-muted">
              From {{ TItem.Transaction || "--"}} Transactions
            </div>
          </td> -->

          <td class="text-right">
            <div class="">
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{TItem.TotalTarget - TItem.AchievedTarget}}

              <!-- <div class="tx-12 text-success" *ngIf="TItem.AchievedTarget>TItem.TotalTarget">
                {{(((TItem.AchievedTarget - TItem.TotalTarget)/TItem.TotalTarget)*100)| number:'1.0-0'}}%
              </div> -->
              <div class="tx-12 text-success" *ngIf="TItem.AchievedTarget>TItem.TotalTarget">
                100+ %
              </div>
              <div class="tx-12 text-muted" *ngIf="TItem.AchievedTarget==TItem.TotalTarget">
                {{(((TItem.TotalTarget-TItem.AchievedTarget)/TItem.TotalTarget)*100)| number:'1.0-0'}}%
              </div>
              <div class="tx-12 text-danger" *ngIf="TItem.AchievedTarget<TItem.TotalTarget">
                {{(((TItem.TotalTarget-TItem.AchievedTarget)/TItem.TotalTarget)*100)| number:'1.0-0'}}%
              </div>
            </div>
          </td>

          

          <!-- <td>
            <div class="">

              {{TItem.StartDate || "--"}}
            </div>
          </td>

          <td>
            <div class="text-primary">

              {{TItem.EndDate || "--" }}
            </div>
          </td> -->

          <!-- <td>
            <div class="">
              {{TItem.CreatedByDisplayName || "--"}}
            </div>
          </td> -->

          <td class="text-right">
            <div class="text-muted text-uppercase">
              {{TItem.CreateDateD }}
            </div>
            <div class="text-muted text-lowercase">
              {{TItem.CreateDateT }}
            </div>
          </td>

          <td class="text-center text-primary">
            <span><a class="target" (click)="ShowEditTarget(TItem)">edit</a></span>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TargetHistoryList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TargetHistoryList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TargetHistoryList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TargetHistoryList_Config.PageRecordLimit"
        (ngModelChange)="TargetHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TargetHistoryList_Paginator" class="pagination pagination-space"
        (pageChange)="TargetHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>


<div class="modal fade" id="UpdateTarget" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="Form_UpdateTarget" (ngSubmit)="Form_UpdateTarget_Process(Form_UpdateTarget.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Update Targets</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="col-md-12">


            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label> Target Amount <span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="number" name="TotalTarget" maxlength="128" class="form-control"
                      [formControl]="Form_UpdateTarget.controls['TotalTarget']" [(ngModel)]="CurrentTarget.TotalTarget"
                      [ngClass]="{
                            'is-invalid':
                              !Form_UpdateTarget.controls['TotalTarget'].valid &&
                              Form_UpdateTarget.controls['TotalTarget'].touched
                          }" />
                  </div>
                  <label class="text-danger" for="TotalTarget" *ngIf="
                          Form_UpdateTarget.controls['TotalTarget'].hasError('required') &&
                          Form_UpdateTarget.controls['TotalTarget'].touched
                        ">Target Amount Required</label>
                  <label class="text-danger" for="TotalTarget" *ngIf="
                                  Form_UpdateTarget.controls['TotalTarget'].hasError(
                            'min'
                          ) 
                        ">Low Target Amount. Select Higher Target Amount</label>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_UpdateTarget_Close()">
            {{ "Common.Cancel" | translate }}
          </button>
          <button type="submit" class="btn btn-primary" (click)="Form_UpdateTarget.value.OperationType = 'new'"
            [disabled]="!Form_UpdateTarget.valid || _HelperService.IsFormProcessing ">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>