<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">

            <div class="row ">

                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                        <div class="media m-auto align-sm-items-center">
    
                            <div class="avatar avatar-xl  avatar-online" *ngIf="_SubAccountDetails.StatusCode=='default.active'">
                                <img style="border-color: rgb(32, 171, 104);" (error)="_HelperService.defaultImage($event)"
                                    src="{{'https://s3.eu-west-2.amazonaws.com/cdn.thankucash.com/' +  _SubAccountDetails.IconUrl }}"
                                    class="rounded-circle  bd bd-2" alt="">
                            </div>
    
                            <div class="avatar avatar-xl" *ngIf="_SubAccountDetails.StatusCode=='default.blocked'">
                                <img style="border-color: rgb(233, 34, 63);" (error)="_HelperService.defaultImage($event)"
                                    src="{{'https://s3.eu-west-2.amazonaws.com/cdn.thankucash.com/' +  _SubAccountDetails.IconUrl }}"
                                    class="rounded-circle  bd bd-2" alt="">
                            </div>
    
                        </div><!-- media -->
                        <!-- media -->
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter mg-t-15  mg-lg-t-0">
                    <div class="media  Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-bold text-capitalize tx-spacing-1 mg-b-2">
                                {{_SubAccountDetails.Name}}</h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal lh-2 mg-b-0">
                                    <span class="tx-color-03 mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="users"></i> </span> <span> Subadmin</span>
                                </h2>
                            </div>
                            <!-- <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                              <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal tx-rubik tx-spacing--2 lh-2 mg-b-0 d-flex">
                                  <span class="text-danger mg-r-5"> <i style="height: 18px; width: 18px;;"
                                          data-feather="map-pin"></i> </span> <span> {{_SubAccountDetails.Address}}</span>
                              </h2>
                          </div> -->
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div>
                <div class="col-lg-6 mg-t-15  mg-lg-t-0 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <!-- <div class=" text-center stores">
                                      <div class="text-center">
                                          <h3 class="tx-bold tx-40  tx-rubik tx-verve mg-b-5 mg-r-5 lh-1">{{_SubAccountDetails.Stores}}</h3>
                                      </div>
                                      <p class="tx-12 tx-color-03 mg-b-0 "> Stores</p>
                                  </div> -->
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <!-- <div class=" text-center Terminals">
                                      <div class="text-center">
                                          <h3 class="tx-bold tx-40 tx-rubik tx-teal mg-b-5 mg-r-5 lh-1 ">{{_SubAccountDetails.Terminals}}</h3>
                                      </div>
                                      <p class="tx-12 tx-color-03 mg-b-0"> Pos Terminal</p>

                                  </div> -->

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex mg-t-15  mg-lg-t-0 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0">
                                    <button (click)="EditBranch()" type="button"
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                        Account</button>
                                </div>

                                <div class="collapseButton">
                                    <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                        (click)="changeSlide() ; myFunction()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                                [class.clicked]="slideOpen"></i>
                                        </div>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">
                        <div class="row">

                            <!-- 
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <agm-map class="Hm-height ht-100p" [zoom]="12" [styles]="_HelperService.darkStyle"
                                    [latitude]="_HelperService._UserAccount.Latitude"
                                    [longitude]="_HelperService._UserAccount.Longitude">
                                    <agm-marker [latitude]="_HelperService._UserAccount.Latitude"
                                        [longitude]="_HelperService._UserAccount.Longitude"></agm-marker>
                                </agm-map>
                              
                            </div> -->

                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="mg-t-15  mg-lg-t-0">
                                        <label
                                            class="tx-14 tx-bold text-capitalize Hm-HeaderColor tx-spacing-1 mg-b-15">Contact
                                            information</label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03"><i data-feather="user"></i>
                                                <span class="tx-color-03">{{_SubAccountDetails.Name || "--"}}</span>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="smartphone"></i>
                                                <a>{{_SubAccountDetails.MobileNumber}}</a>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="mail"></i>
                                                <a>{{_SubAccountDetails.EmailAddress || "--"}}</a>
                                            </li>

                                        </ul>

                                    </div>
                                    <!-- <div class="col-lg-6 mg-t-15  mg-lg-t-0">
                                      <label
                                          class="tx-14 tx-bold text-capitalize Hm-HeaderColor tx-spacing-1 mg-b-15">
                                          Manager</label>
                                      <ul class="list-unstyled profile-info-list">
                                          <li class="tx-color-03"><i data-feather="user"></i> <span
                                                  class="tx-color-03">{{_SubAccountDetails.ManagerName}}</span></li>
                                          <li class="tx-color-03"><i data-feather="smartphone"></i> <a
                                                  class="tx-color-03">{{_SubAccountDetails.ManagerMobileNumber || "--"}}</a></li>
                                          <li class="tx-color-03"><i data-feather="mail"></i> <a>{{_SubAccountDetails.ManagerEmailAddress || "--"}}</a>
                                          </li>
                                      </ul>

                                  </div> -->
                                    <!-- <div class="col-lg-12 mg-t-15  mg-lg-t-0">
                                      <div class="d-flex">
                                          <button type="button"
                                              class="btn btn-xs  tx-color-03 btn-transparent bd bd-primary rounded-pill mg-r-10">Food</button>
                                          <button type="button"
                                              class="btn btn-xs  tx-color-03 btn-transparent bd bd-primary rounded-pill mg-r-10">Drinks</button>
                                          <button type="button"
                                              class="btn btn-xs  tx-color-03 btn-transparent bd bd-primary rounded-pill mg-r-10">Grocessory</button>
                                          <button type="button"
                                              class="btn  btn-xs tx-color-03  btn-transparent bd bd-primary rounded-pill mg-r-10">Drinks</button>


                                      </div>
                                  </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mg-t-15  mg-lg-t-0 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap">

                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <!-- <div class=" text-center stores">
                                  <div class="text-center">
                                      <h3 class="tx-bold tx-40  tx-rubik tx-verve mg-b-5 mg-r-5 lh-1">{{_SubAccountDetails.Stores}}</h3>
                                  </div>
                                  <p class="tx-12 tx-color-03 mg-b-0 "> Stores</p>
                              </div> -->
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <!-- <div class=" text-center Terminals">
                                  <div class="text-center">
                                      <h3 class="tx-bold tx-40 tx-rubik tx-teal mg-b-5 mg-r-5 lh-1 ">{{_SubAccountDetails.Terminals}}</h3>
                                  </div>
                                  <p class="tx-12 tx-color-03 mg-b-0"> Pos Terminal</p>

                              </div> -->

                            </div>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex mg-t-15  mg-lg-t-0 justify-content-end">
                        <div class="row">
                            <div class="manageButton mg-t-0 pd-t-0">
                                <button (click)="EditBranch()" type="button"
                                    class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                    Account</button>
                            </div>

                            <div class="collapseButton">
                                <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                    (click)="changeSlide() ; DisplayDiv()" class="btn  btn-link" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                            [class.clicked]="slideOpen"></i>
                                    </div>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>


</div>


<div id="Form_EditUser_Content" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title ml-3">Update SubAccount</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.Name" | translate}}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="Name" maxlength="128" class="form-control"
                                            [formControl]="Form_EditUser.controls['Name']"
                                            [(ngModel)]="_SubAccountDetails.Name"
                                            [ngClass]="{'is-invalid':!Form_EditUser.controls['Name'].valid &&Form_EditUser.controls['Name'].touched}" />
                                    </div>
                                    <label class="text-danger" for="Name"
                                        *ngIf="Form_EditUser.controls['Name'].hasError('required') &&Form_EditUser.controls['Name'].touched">
                                        {{"System.Users.Name_ER_Required" | translate}}
                                    </label>
                                    <label class="text-danger" for="Name"
                                        *ngIf="Form_EditUser.controls['Name'].hasError('minlength') ||Form_EditUser.controls['Name'].hasError('maxlength')">
                                        {{ "System.Users.Name_ER_Length" | translate }}
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.MobileNumber" | translate}}<span
                                            class="text-danger">*</span></label>

                                    <div class="controls">
                                        <div class="input-group">
                                            <div class="input-group-prepend" style="height: 41px;">
                                                <span class="input-group-text">+234</span>
                                            </div>
                                            <input type="text" name="MobileNumber" minlength="10" maxlength="14"
                                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="Form_EditUser.controls['MobileNumber']"
                                                [(ngModel)]="_SubAccountDetails.MobileNumber"
                                                [ngClass]="{'is-invalid':!Form_EditUser.controls['MobileNumber'].valid && Form_EditUser.controls['MobileNumber'].touched}" />
                                        </div>
                                    </div>


                                    <label class="text-danger" for="MobileNumber"
                                        *ngIf="Form_EditUser.controls['MobileNumber'].hasError('required') && Form_EditUser.controls['MobileNumber'].touched">
                                        {{"System.Users.MobileNumber_ER_Required" | translate}}
                                    </label>
                                    <label class="text-danger" for="MobileNumber"
                                        *ngIf="Form_EditUser.controls['MobileNumber'].hasError('minlength') ||Form_EditUser.controls['MobileNumber'].hasError('maxlength')">
                                        {{"System.Users.MobileNumber_ER_Length" | translate}}
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.EmailAddress" | translate}}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                                            [formControl]="Form_EditUser.controls['EmailAddress']"
                                            [(ngModel)]="_SubAccountDetails.EmailAddress"
                                            [ngClass]="{'is-invalid':!Form_EditUser.controls['EmailAddress'].valid &&Form_EditUser.controls['EmailAddress'].touched}" />
                                    </div>
                                    <label class="text-danger" for="EmailAddress"
                                        *ngIf="Form_EditUser.controls['EmailAddress'].hasError('required') && Form_EditUser.controls['EmailAddress'].touched">
                                        {{"System.Users.EmailAddress_ER_Required" | translate}}
                                    </label>

                                    <label class="text-danger" for="EmailAddress"
                                        *ngIf="Form_EditUser.controls['EmailAddress'].hasError('email') &&Form_EditUser.controls['EmailAddress'].touched">
                                        {{"System.Users.EmailAddress_ER_Invalid" | translate}}
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="radio float-left mr-3">
                                        <label class="ui-check">
                                            <input type="radio" [(ngModel)]="_SubAccountDetails.StatusCode"
                                                name="statusoptions" [value]="'default.active'"
                                                [formControl]="Form_EditUser.controls['StatusCode']">
                                            <i class="dark-white"></i>
                                            {{ 'Common.Active' | translate }}
                                        </label>
                                    </div>
                                    <div class="radio  mr-3">
                                        <label class="ui-check">
                                            <input type="radio" [(ngModel)]="_SubAccountDetails.StatusCode"
                                                name="statusoptions" [value]="'default.inactive'"
                                                [formControl]="Form_EditUser.controls['StatusCode']">
                                            <i class="dark-white"></i>
                                            {{ 'Common.Inactive' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_EditUser_Close()">
                        {{ "Common.Cancel" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="Form_EditUser.value.OperationType = 'new'"
                        [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            Update
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>

                    <!-- <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
                              (click)="Form_EditUser.value.OperationType='edit'"
                              [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                              <span *ngIf="!_HelperService.IsFormProcessing">
                                  {{ 'Common.SaveAndEdit' | translate }}
                              </span>
                              <span *ngIf="_HelperService.IsFormProcessing">
                                  <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                      }}...
                              </span>
                          </button> -->



                </div>
            </form>
        </div>
    </div>
</div>