<!-- acquirer--managers--details -->
<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">
            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">

                        <div class="avatar  avatar-xl " *ngIf="_ManagerDetails.StatusCode=='default.active'">
                            <img style="border-color: rgb(32, 171, 104);" (error)="_HelperService.defaultImage($event)" src="{{'https://s3.eu-west-2.amazonaws.com/cdn.thankucash.com/' +  _ManagerDetails.IconUrl }}" class="rounded-circle  bd bd-2" alt="">
                        </div>

                        <div class="avatar avatar-xl" *ngIf="_ManagerDetails.StatusCode=='default.blocked'">
                            <img style="border-color: rgb(233, 34, 63);" (error)="_HelperService.defaultImage($event)" src="{{'https://s3.eu-west-2.amazonaws.com/cdn.thankucash.com/' +  _ManagerDetails.IconUrl }}" class="rounded-circle  bd bd-2" alt="">
                        </div>

                    </div>
                </div>





                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter mg-t-15  mg-lg-t-0">
                    <div class="media  Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-bold text-capitalize  mg-b-2">
                                {{_ManagerDetails.Name}}
                                <span class="tx-color-03 tx-14 tx-normal">
                                    ({{_ManagerDetails.RoleName}})
                                </span>
                            </h6>
                            <!-- <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal tx-spacing--2 lh-2 mg-b-5">
                                    <span class="mg-r-5 tx-teal"> <i style="height: 18px; width: 18px;;"
                                            data-feather="users"></i> </span>{{_ManagerDetails.RoleName}}</h2>
                            </div> -->
                            <div class="d-md-flex d-lg-flex mg-y-5 Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal lh-2 mg-b-0 d-flex">
                                    <span class="tx-color-03 mg-r-5">
                                        <i style="height: 18px; width: 18px;;" data-feather="codesandbox"></i> </span>
                                    <span class="cursor-pointer text-primary" (click)="_FilterHelperService.BranchDetail_Selected(_ManagerDetails)">
                                        {{_ManagerDetails.BranchName}}
                                    </span>
                                </h2>
                            </div>
                            <div class="d-flex justify-content-between">

                                <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                    <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal   lh-2 mg-b-0 d-flex">
                                        <span class="mg-r-5 tx-color-03">
                                            <i style="height: 18px; width: 18px;;" data-feather="smartphone"></i>
                                        </span>
                                        <span>
                                            {{_ManagerDetails.MobileNumber}}
                                        </span>
                                    </h2>
                                </div>
                                <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline mg-l-15">
                                    <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal   lh-2 mg-b-0 d-flex">
                                        <span class="mg-r-5 tx-color-03">
                                            <i style="height: 18px; width: 18px;;" data-feather="mail"></i>
                                        </span>
                                        <span>{{_ManagerDetails.EmailAddress}}</span>
                                    </h2>
                                </div>

                            </div>
                        </div>
                        <!-- media-body -->
                    </div>
                    <!-- media -->
                </div>
                <div class="col-lg-6 mg-t-15  mg-lg-t-0 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class="tx-bold tx-40  tx-rubik  tx-verve mg-b-5 mg-r-5 lh-1">
                                                {{_ManagerDetails.Stores}}
                                            </h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 "> Stores</p>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class="tx-bold tx-40 tx-rubik  tx-teal mg-b-5 mg-r-5 lh-1 ">
                                                {{_ManagerDetails.Terminals}}
                                            </h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0"> POS Terminals</p>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex mg-t-15  mg-lg-t-0 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0">
                                    <button type="button" (click)="clicked()" class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill m-t-4">
                                        Manage Account
                                    </button>
                                    <br><br>
                                    <button class="btn tx-12 btn-secondary rounded-50 pd-x-30 mg-r-10" (click)="ShowAssignTargetModal()">
                                        Assign Target
                                    </button>
                                    <br>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0">
                <div class="row">

                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12 mg-t-15  mg-lg-t-0">
                                        <label class="tx-14 tx-bold text-capitalize Hm-HeaderColor  mg-b-15">
                                            Contact Information
                                        </label>
                                        <ul class="list-unstyled profile-info-list">

                                            <li class="tx-color-03">
                                                <i data-feather="smartphone"></i>
                                                <a>{{_ManagerDetails.MobileNumber}}</a>
                                            </li>
                                            <li class="tx-color-03">
                                                <i data-feather="mail"></i>
                                                <a>{{_ManagerDetails.EmailAddress}}</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <!-- <div class="col-lg-6 mg-t-15  mg-lg-t-0">
                                        <label
                                            class="tx-14 tx-bold text-capitalize Hm-HeaderColor tx-spacing-1 mg-b-15">Relationship
                                            Manager</label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03"><i data-feather="user"></i> <span class="tx-color-03">Bay Area, San
                                                    Francisco, CA</span></li>
                                            <li class="tx-color-03"><i data-feather="smartphone"></i> <a class="tx-color-03">(+1) 012 345 6789</a></li>
                                            <li class="tx-color-03"><i data-feather="mail"></i> <a >me@fenchiumao.me</a></li>
                                        </ul>

                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mg-t-15  mg-lg-t-0 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap">

                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <div class=" text-center stores">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40 tx-rubik  tx-verve mg-b-5 mg-r-5 lh-1">
                                            {{_ManagerDetails.Stores}}
                                        </h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0 "> Stores</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class=" text-center Terminals">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40 tx-rubik  tx-teal mg-b-5 mg-r-5 lh-1 ">
                                            {{_ManagerDetails.Terminals}}
                                        </h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0"> POS Terminals</p>
                                </div>

                            </div>


                        </div>
                    </div>
                    <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex mg-t-15  mg-lg-t-0 justify-content-end">
                        <div class="row">
                            <div class="manageButton mg-t-0 pd-t-0">
                                <button type="button" (click)="clicked()"
                                    class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                    Account</button>
                            </div>

                            <div class="collapseButton">
                                <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                    (click)="changeSlide() ; DisplayDiv()" class="btn  btn-link" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                            [class.clicked]="slideOpen"></i>
                                    </div>
                                </button>
                            </div>

                        </div>

                    </div> -->
                </div>


            </div>
        </div>
    </div>
</div>

<div class="card bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist">
        <div class="d-flex flex-wrap">
            <!-- <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Terminal-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.ManagerDetail.Terminals}}/{{_HelperService.AppConfig.ActiveReferenceKey}}/{{_HelperService.AppConfig.ActiveReferenceId}}/{{_ManagerDetails['RoleId']}}"
                    role="tab" aria-controls="contact" aria-selected="false">Terminal</a>
            </li> -->
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Terminal-tab5" data-toggle="tab" [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.ManagerDetail.Terminals}}/{{_HelperService.AppConfig.ActiveReferenceKey}}/{{_HelperService.AppConfig.ActiveReferenceId}}/{{_ManagerDetails['RoleId']}}"
                    role="tab" aria-controls="contact" aria-selected="false">
                    Terminal
                </a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.ManagerDetail.Stores}}/{{_HelperService.AppConfig.ActiveReferenceKey}}/{{_HelperService.AppConfig.ActiveReferenceId}}/{{_ManagerDetails['RoleId']}}"
                    role="tab" aria-controls="contact" aria-selected="false">
                    Stores
                </a>
            </li>
            <li class="nav-item cursor-pointer" *ngIf="_ManagerDetails.RoleId == 6" [routerLinkActive]="['active']">
                <a class="nav-link" id="Teams-tab5" data-toggle="tab" [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.ManagerDetail.Teams}}/{{_HelperService.AppConfig.ActiveReferenceKey}}/{{_HelperService.AppConfig.ActiveReferenceId}}/{{_ManagerDetails['RoleId']}}"
                    role="tab" aria-controls="profile" aria-selected="false">
                    Teams
                </a>
            </li>
            <li class="nav-item cursor-pointer" *ngIf="_ManagerDetails.RoleId == 8" [routerLinkActive]="['active']">
                <a class="nav-link" id="Teams-tab6" data-toggle="tab" [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.ManagerDetail.Targets}}/{{_ManagerDetails.AccountKey}}/{{_ManagerDetails.AccountId}}/{{_ManagerDetails['RoleId']}}"
                    role="tab" aria-controls="profile" aria-selected="false">
                    Targets
                </a>
            </li>
        </div>

        <div class="row  d-flex no-gutters pd-r-10">
            <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class=" order-1">
                    <input type="text" style="height: 30px;" class="form-control tx-13 form-daterangepicker" name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions" (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" style="height: 30px;" data-toggle="buttons" *ngIf="_HelperService.ShowDateRange">
                <label class="btn btn-xs pb-0 mb-0 tx-13 btn-white   d-flex align-items-center" (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label class="btn btn-xs  pb-0 mb-0 tx-13 btn-white d-flex align-items-center" (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label class="btn pb-0 mb-0 btn-xs tx-13 btn-white  active d-flex align-items-center" (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>
        </div>


        <!-- <li class="nav-item cursor-pointer">
            <a class="nav-link" id="contact-tab5" data-toggle="tab"
                routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant.SalesHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                role="tab" aria-controls="contact" aria-selected="false"></a>
        </li> -->
    </ul>
</div>
<router-outlet></router-outlet>

<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas style="width: 480px !important;">
    <div class="off-canvas-content">
        <!-- <div class="off-canvas-header text-danger text-right">
            <a (click)="unclick()"><i data-feather="x-circle" class="wd-25 ht-25"></i></a>
        </div> -->
        <div id="Form_EditUser_Content" class="off-canvas-body">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="card bd-b-0">
                    <div class="card-body  p-lg pd-l-15">
                        <div class="card-header bd-0">
                            <h3 class="tx-roboto tx-bold tx-lg-24  pd-l-0"> Manage Account </h3>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>
                                            {{ "System.Users.Name" | translate}}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="Name" maxlength="128" class="form-control" [formControl]="Form_EditUser.controls['Name']" [(ngModel)]="_ManagerDetails.Name" [ngClass]="{'is-invalid':!Form_EditUser.controls['Name'].valid &&Form_EditUser.controls['Name'].touched}"
                                            />
                                        </div>
                                        <label class="text-danger" for="Name" *ngIf="Form_EditUser.controls['Name'].hasError('required') &&Form_EditUser.controls['Name'].touched">
                                            {{"System.Users.Name_ER_Required" | translate}}
                                        </label>
                                        <label class="text-danger" for="Name" *ngIf="Form_EditUser.controls['Name'].hasError('minlength') ||Form_EditUser.controls['Name'].hasError('maxlength')">
                                            {{ "System.Users.Name_ER_Length" | translate }}
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>
                                            {{ "System.Users.MobileNumber" | translate}}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <div class="input-group">
                                                <div class="input-group-prepend" style="height: 41px;"><span class="input-group-text">+234</span>
                                                </div>
                                                <input type="text" name="MobileNumber" minlength="10" maxlength="14" class="form-control" (keypress)="_HelperService.PreventText($event)" [formControl]="Form_EditUser.controls['MobileNumber']" [(ngModel)]="_ManagerDetails.MobileNumber" [ngClass]="{'is-invalid':!Form_EditUser.controls['MobileNumber'].valid &&Form_EditUser.controls['MobileNumber'].touched}"
                                                />
                                            </div>
                                        </div>
                                        <label class="text-danger" for="MobileNumber" *ngIf="Form_EditUser.controls['MobileNumber'].hasError('required') && Form_EditUser.controls['MobileNumber'].touched">
                                            {{"System.Users.MobileNumber_ER_Required" | translate}}
                                        </label>
                                        <label class="text-danger" for="MobileNumber" *ngIf="Form_EditUser.controls['MobileNumber'].hasError('minlength') ||Form_EditUser.controls['MobileNumber'].hasError('maxlength')">
                                            {{"System.Users.MobileNumber_ER_Length" | translate}}
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>
                                            {{ "System.Users.EmailAddress" | translate}}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="EmailAddress" maxlength="256" class="form-control" [formControl]="Form_EditUser.controls['EmailAddress']" [(ngModel)]="_ManagerDetails.EmailAddress" [ngClass]="{'is-invalid':!Form_EditUser.controls['EmailAddress'].valid &&Form_EditUser.controls['EmailAddress'].touched}"
                                            />
                                        </div>
                                        <label class="text-danger" for="EmailAddress" *ngIf="Form_EditUser.controls['EmailAddress'].hasError('required') && Form_EditUser.controls['EmailAddress'].touched">
                                            {{ "System.Users.EmailAddress_ER_Required" | translate}}
                                        </label>

                                        <label class="text-danger" for="EmailAddress" *ngIf="Form_EditUser.controls['EmailAddress'].hasError('email') &&Form_EditUser.controls['EmailAddress'].touched">
                                            {{"System.Users.EmailAddress_ER_Invalid" | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>





                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mg-b-10" *ngIf="!_HelperService.IsFormProcessing">
                                        <label>{{ 'System.Menu.Branch' | translate }}
                                            <!-- <span class="text-danger">*</span> -->
                                        </label>
                                        <select2 name="S2GetBranches" class="full-width" [options]="GetBranches_Option" value="_ManagerDetails.BranchId" (valueChanged)="GetBranches_ListChange($event)"></select2>
                                        <div class="col-lg-12 Hm-media768 mg-b-10">
                                            <div class="d-inline justify-content-between">
                                                <button class="d-flex align-items-center" type="button"
                                                    class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 pd-r-10 pd-l-12 pd-y-5 text-warn text-sm mg-t-10">
                                                    {{_ManagerDetails.BranchName}}
                                                </button>
                                            </div>
                                        </div>
                                       
                                        <!-- 
                                            <label class="text-danger" for="RoleKey"
                                              *ngIf="Form_EditUser.controls['RoleKey'].hasError('required') && Form_EditUser.controls['RoleKey'].touched">
                                              {{'System.Users.EmailAddress_ER_Required' | translate }}
                                            </label> 
                                        -->
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mg-b-10" *ngIf="!_HelperService.IsFormProcessing">
                                        <label>{{ 'System.Users.Role' | translate }}
                                            <!-- <span class="text-danger">*</span> -->
                                        </label>
                                        <select2 name="S2GetRoles" class="full-width tx-14" [data]="_Roles" [options]="GetRoles_Option" (valueChanged)="GetRoles_ListChange($event)">
                                        </select2>
                                        <div class="col-lg-12 Hm-media768 mg-b-10">
                                            <div class="d-inline justify-content-between">
                                                <button class="d-flex align-items-center" type="button"
                                                    class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 pd-r-10 pd-l-12 pd-y-5 text-warn text-sm mg-t-10">
                                                    {{_ManagerDetails.RoleName}}
                                                </button>
                                            </div>
                                        </div>
                                        <!-- <label class="text-danger" for="RoleKey"
                                        *ngIf="Form_EditUser.controls['RoleKey'].hasError('required') && Form_EditUser.controls['RoleKey'].touched">{{
                                            'System.Users.EmailAddress_ER_Required' | translate }}</label> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" *ngIf="_ShowReportingM">
                                    <div class="form-group mg-b-10" *ngIf="!_HelperService.IsFormProcessing">
                                        <label>{{ 'System.Users.ReportingManager' | translate }}</label>
                                        <select2 name="S2GetManagers" class="full-width" [options]="GetMangers_Option" (valueChanged)="GetMangers_ListChange($event)"></select2>
                                        <div class="col-lg-12 Hm-media768 mg-b-10">
                                            <div class="d-inline justify-content-between">
                                                <button class="d-flex align-items-center" type="button"
                                                    class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 pd-r-10 pd-l-12 pd-y-5 text-warn text-sm mg-t-10">
                                                    {{_ManagerDetails.OwnerDisplayName}}
                                                </button>
                                            </div>
                                        </div>
                                       
                                        <!-- <label class="text-danger" for="RoleKey"
                                        *ngIf="Form_EditUser.controls['RoleKey'].hasError('required') && Form_EditUser.controls['RoleKey'].touched">{{
                                            'System.Users.EmailAddress_ER_Required' | translate }}</label> -->
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- <div class="pd-l-35">
                        <button class="btn btn-outline-primary mg-b-5">Reset Password </button>
                        <p class="tx-13 text-muted"> We will send link to this manager for reset password of his/her
                            account</p>
                    </div> -->

                    <div class="modal-footer d-flex justify-content-between pd-l-35">

                        <button type="button" *ngIf="_ManagerDetails.StatusCode == 'default.active' " class="btn btn-danger" data-dismiss="modal" (click)="BlockAccount()">
                            {{ "Common.Block" | translate }}
                        </button>
                        <button type="button" *ngIf="_ManagerDetails.StatusCode == 'default.blocked' " (click)="unBlockAccount()" class="btn  btn-success pnvalid pnvalid">
                            Unblock
                        </button>


                        <div>
                            <button type="button" class="btn btn-secondary mg-r-5" data-dismiss="modal" (click)="FormA_EditUser_Close()">
                                {{ "Common.Close" | translate }}
                            </button>

                            <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_EditUser.value.OperationType = 'new'" [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                                <span *ngIf="!_HelperService.IsFormProcessing">
                                    {{ "Common.Save" | translate }}
                                </span>
                                <span *ngIf="_HelperService.IsFormProcessing">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                    {{ "Common.PleaseWait" | translate }}...
                                </span>
                            </button>

                        </div>



                        <!-- <button type="submit" class="btn btn-primary"
                            (click)="Form_EditUser.value.OperationType = 'new'"
                            [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                {{ "Common.Save" | translate }}
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ "Common.PleaseWait" | translate }}...
                            </span>
                        </button> -->

                    </div>


                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="AssignTarget" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="Form_AssignTarget" (ngSubmit)="Form_AssignTarget_Process(Form_AssignTarget.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Assign Targets</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> Target Schedule
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <!-- <input type="text"  [min]="minDate" [max]="maxDate" class="form-control tx-13 form-daterangepicker" style="height: 30px;"
                                        name="daterangeInput" daterangepicker
                                        [options]="_HelperService.AppConfig.DatePickerOptionsFortomarrow"
                                        (selected)="_HelperService.SetDateRange($event)" /> -->
                                        <!-- 
                                        <input type="text" class="form-control" name="daterangeInputt" daterangepicker
                                         [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                        [formControl]="Form_AssignTarget.controls['TStartDate']"
                                        (selected)="ScheduleDateRangeChange($event)" /> -->


                                        <input type="text" class="form-control" [formControl]="Form_AssignTarget.controls['datefield']" name="datefield" id="monthlydate" autocomplete="off">
                                        <!-- <input type="date" id="start" name="trip-start"  class="form-control tx-13 form-daterangepicker" style="height: 30px;"
                                        name="daterangeInput"
                                              min="2021-06-01" max="2031-12-31" (selected)="_HelperService.SetDateRange($event)" > -->
                                        <!-- <input class="form-control" data-provide="datepicker" id="monthlydate"> -->
                                    </div>
                                    <label class="text-danger" for="StartDate" *ngIf=" Form_AssignTarget.controls['StartDate'].hasError('required') && Form_AssignTarget.controls['StartDate'].touched">
                                        Select Target Duration
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> Target Amount
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="number" name="TotalTarget" maxlength="128" class="form-control" [formControl]="Form_AssignTarget.controls['TotalTarget']" [ngClass]="{'is-invalid':!Form_AssignTarget.controls['TotalTarget'].valid &&Form_AssignTarget.controls['TotalTarget'].touched}"
                                        />
                                    </div>
                                    <label class="text-danger" for="TotalTarget" *ngIf="Form_AssignTarget.controls['TotalTarget'].hasError('required') &&Form_AssignTarget.controls['TotalTarget'].touched">
                                        Target Amount Required
                                    </label>
                                    <label class="text-danger" for="TotalTarget" *ngIf="Form_AssignTarget.controls['TotalTarget'].hasError('min') ">
                                        Low Target Amount. Select Higher Target Amount
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row" *ngIf="_ShowRMSelector">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ 'System.Users.ReportingManager' | translate }}<span
                                            class="text-danger">*</span>
                                    </label>
                                    <select2 name="S2GetRMs" class="full-width" [options]="GetRMs_Option"
                                        (valueChanged)="GetRM_ListChange($event)"></select2>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_AssignTarget_Close()">
                        {{ "Common.Cancel" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="Form_AssignTarget.value.OperationType = 'new'" [disabled]="!Form_AssignTarget.valid || _HelperService.IsFormProcessing ">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>