<!-- acquirer--merchants--list -->
<div class="card ">
    <div [className]="_HelperService._Assets.Box.header">
        <div class="tx-14 tx-bold"> {{MerchantsList_Config.Title}} </div>
        <div [className]="_HelperService._Assets.Box.headerTitleRight">
            <nav class="nav nav-icon-only mg-l-auto">
                <button class="btn tx-12 btn-primary rounded-50" (click)="Form_AddUser_Open()"> Add New Merchant </button>
            </nav>
        </div>
    </div>
    <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="MerchantsList_Config.SearchParameter" maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}" (keyup)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
                </div>
            </div>


        </div>
        <!-- <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

    </div> -->


        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2" [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

        </div>
        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">


                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'desc'" (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'asc'" (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of MerchantsList_Config.Sort.SortOptions" (click)="MerchantsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20" (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control  form-daterangepicker" size="16" name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions" (selected)="MerchantsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)"
                                />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p" [data]="MerchantsList_Config.StatusOptions" (valueChanged)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Owner</label>
                                <select2 [options]="MerchantsList_Filter_Owners_Option" class="wd-100p" (valueChanged)="MerchantsList_Filter_Owners_Change($event)">
                                </select2>
                            </div>
                        </div>
                        <button type="button" class="btn btn-light btn-sm mr-2" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
                        <button type="button" class="btn btn-primary btn-sm " (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor  RefreshColorOne cursor-pointer" (click)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i data-feather="refresh-cw"></i> </a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-8">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)" (click)="RemoveFilterComponent('Status')">
            {{_HelperService.FilterSnap.StatusName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span (click)="RemoveFilterComponent('Sort')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName}}
            <span (click)="RemoveFilterComponent('Other',i)" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary" *ngFor="let TItem of MerchantsList_Config.Filters">
      {{TItem.Title}}
    </span>

    </div>


    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th class="" *ngIf="ColumnConfig[0].Value">
                    </th>
                    <th class=" tx-14">
                        Merchant Name
                    </th>
                    <th class=" tx-14" *ngIf="ColumnConfig[1].Value">
                        City
                    </th>
                    <th class=" tx-14" *ngIf="ColumnConfig[2].Value">
                        Contact
                    </th>
                    <th class="text-right tx-14" *ngIf="ColumnConfig[3].Value">
                        Stores
                    </th>
                    <th class="text-right tx-14" *ngIf="ColumnConfig[4].Value">
                        Reward %
                    </th>
                    <th class="text-right tx-14" *ngIf="ColumnConfig[5].Value">
                        POS
                    </th>
                    <th class="text-right tx-14" *ngIf="ColumnConfig[6].Value">
                        Active POS
                    </th>
                    <th class=" tx-14" *ngIf="ColumnConfig[7].Value">
                        RM
                    </th>
                    <th class=" tx-14" *ngIf="ColumnConfig[8].Value">
                        Added On
                    </th>

                    <th class="d-flex">
                        <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;" data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
              <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i>
            </span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" (click)="MerchantsList_RowSelected(TItem)" *ngFor="let TItem of MerchantsList_Config.Data  | paginate: { id: 'MerchantsList_Paginator',itemsPerPage: MerchantsList_Config.PageRecordLimit, currentPage: MerchantsList_Config.ActivePage,  totalItems: MerchantsList_Config.TotalRecords }">
                    <td class="text-center" *ngIf="ColumnConfig[0].Value">
                        <img class="br" style="border-radius:18% !important" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
                    </td>
                    <td>
                        <div class="tx-14 tx-semibold ">{{TItem.DisplayName || "--"}}</div>
                        <small class="tx-12 text-muted WordWrap">
              {{TItem.Address | truncateText:40 || "--"}}
            </small>
                    </td>
                    <td class="text-centers" *ngIf="ColumnConfig[1].Value">
                        <div class="tx-14">
                            {{TItem.CityName || "--"}}
                        </div>
                    </td>
                    <td class="" *ngIf="ColumnConfig[2].Value">
                        <div class="tx-14 tx-verve">
                            {{TItem.ContactNumber}}
                        </div>
                        <small class="text-muted tx-11">
              {{TItem.EmailAddress || "--"}}
            </small>

                    </td>
                    <td class="text-right text-primary" *ngIf="ColumnConfig[3].Value">
                        <div class="tx-14">
                            {{TItem.Stores}}
                        </div>
                    </td>
                    <td class="text-right " *ngIf="ColumnConfig[4].Value">
                        <div class="tx-14">
                            {{TItem.RewardPercentage || "--"}}%
                        </div>
                    </td>
                    <td class="text-right" *ngIf="ColumnConfig[5].Value">
                        <div class="tx-14">
                            {{TItem.Terminals || "--"}}
                        </div>
                    </td>
                    <td class="text-right text-primary" *ngIf="ColumnConfig[6].Value">
                        <div class="tx-14">
                            {{TItem.ActiveTerminals}}
                        </div>
                    </td>
                    <td class="" *ngIf="ColumnConfig[7].Value">
                        <div class="tx-14">
                            {{TItem.RmDisplayName || "--"}}
                        </div>
                    </td>
                    <td class="text-muted tx-14" *ngIf="ColumnConfig[8].Value" style="width: 10%;">
                        <div>{{TItem.CreateDateD}}</div>
                        <div>{{TItem.CreateDateT}}</div>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3 tx-14">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{MerchantsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{MerchantsList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{MerchantsList_Config.TotalRecords}}
        </span>
        <span class="tx-14">
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="MerchantsList_Config.PageRecordLimit"
        (ngModelChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
        <span class="float-right tx-14">
      <pagination-controls id="MerchantsList_Paginator" class="pagination pagination-space"
        (pageChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
    </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Column</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngFor="let Col of TempColumnConfig">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
                        <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
            </div>
        </div>
    </div>
</div>