<!-- acquirer--merchant-detail--overview -->
<div class="card bd-t-0 px-3 pb-3 pt-0">
  <div class=" pd-b-20">
    <div class=" d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0 justify-content-between">
      <div >
        <div class="form-group  mb-0 pb-0 wd-200">
          <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
            [options]="_HelperService.AppConfig.DateRangeOptionsCustom"
            (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
        </div>
      </div>
      <div class="d-flex align-items-center">
        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
          {{_Monthly.ActualStartDate | date :["dd LLL yyyy"]}} - {{_Monthly.ActualEndDate | date
          :["dd LLL yyyy"]}}</span>
          </div>
        </div>
  </div>
  <div class="row row-xs">
    <div class="col-sm-6 col-lg-3 ">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-primary mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.Transaction || "0"}}</h3>
        </div>
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">TRANSACTIONS</h6>
        <p class="tx-12 tx-color-03 mg-b-0"> Total transactions on all pos during selected period </p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-verve mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.RedeemAmount || "0" | number: "1.2-2" }} </h3>
        </div>
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">REDEEMED AMOUNT</h6>
        <p class="tx-12 tx-color-03 mg-b-0"> Amount redeemed by customers
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-MasterCard mg-b-8 mg-r-5 lh-1">
            <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{_AccountOverview.RewardAmount || "0" | number: "1.2-2" }}
          </h3>
        </div>
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">REWARDED AMOUNT
        </h6>
        <p class="tx-12 tx-color-03 mg-b-0"> Amount rewarded to customers
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-MasterCard mg-b-8 mg-r-5 lh-1">
            <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{(_AccountOverview.RewardAmount - _AccountOverview.RedeemAmount ) || "0" | number: "1.2-2" }}
          </h3>
        </div>
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Total Virtual Amount remaining

        </h6>
        <p class="tx-12 tx-color-03 mg-b-0"> Total Virtual Amount remaining
        </p>
      </div>
    </div>
  </div>
  <div class="row row-xs mg-b-10 mg-t-20">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
      <div class="card">
        <div
          class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <div>
            <h6 class="mg-b-0">Visits metrics</h6>
            <p class="tx-11 text-secondary mg-b-0">Visits by New Customers vs Loyal Customers
            </p>
          </div>
          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0 mg-10">
            <li class="list-inline-item d-flex align-items-center text-center">
              <div class="tx-teal cursor-pointer" (click)="Toogle_Dataset_Visibility('Returning Visits')">
                <span class="{{VisitsChartData[0].hidden?'text-secondary':''}}">
                  <i data-feather="git-commit"></i>
                </span>
                <br>
                <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">VISITS BY Loyal</div>
              </div>
            </li>
            <li class="list-inline-item d-flex align-items-center text-center">
              <div class="tx-verve cursor-pointer" (click)="Toogle_Dataset_Visibility('New Visits')">
                <span class="{{VisitsChartData[1].hidden?'text-secondary':''}}">
                  <i data-feather="git-commit"></i>
                </span>
                <br>
                <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">VISITS BY NEW</div>
              </div>
            </li>
          </ul>
          <!-- btn-group -->
        </div><!-- card-header -->
        <div class="card-body pd-lg-25" *ngIf="this.VisitsChartData[0].data.length != 0">
          <div class="row ">
            <div class="col-lg-9 col-xl-9">
              <canvas *ngIf="showVisitsLoalityChart" baseChart #DataPlot="base-chart" [datasets]="VisitsChartData"
                [labels]="MonthlybarChartLabels" [options]="_HelperService.ChartConfig.BarChartBankLoyalty.Options"
                [colors]="lineVisitsChartColors" [plugins]="_HelperService.ChartConfig.BarChartBankLoyalty.Options.plugins"
                [chartType]="_HelperService.ChartConfig.BarChartBankLoyalty.Type">
              </canvas>
            </div>
            <div class="col-lg-3 col-xl-3  mg-t-30 mg-lg-t-0">
              <div class="row mg-b-15">
                <div class="col-sm-6 col-lg-12">
                  <div class="text-primary tx-18">
                    {{(_AccountOverview.VisitsByRepeatingCustomers+_AccountOverview.NewCustomers)| number:'1.0-0'}}
                    <small class="tx-11">
                      Visits </small>
                  </div>
                  <div class="text-secondary tx-uppercase tx-10"> Total visits </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                  <div class=" mg-b-5">
                    <div class="tx-teal tx-18">
                      {{_AccountOverview.VisitsByRepeatingCustomers | number:'1.0-0'}} Visits
                    </div>
                    <div class="text-secondary tx-uppercase tx-10"> Visits by Loyal CUSTOMERS </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30">
                  <div class="mg-b-5">
                    <div class="tx-verve tx-18"> {{_AccountOverview.NewCustomers| number:'1.0-0'}} Visits
                    </div>
                    <div class="text-secondary tx-uppercase tx-10"> visits BY NEW customers </div>
                  </div>
                </div>
              </div><!-- row -->
            </div>
          </div>
        </div><!-- card-body -->
        <div class="card-body pd-lg-25" *ngIf="this.VisitsChartData[0].data.length == 0">
          <div style="height:200px" class="text-center m-auto  text-muted">
            <div>
              <div>
                <div
                  class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                  <!-- <i class="fas fa-file tx-50"></i> -->
                  <img src="../../../../../assets/img/walk.svg" alt="">
                </div>
                <div class="pt-3">
                  <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                  <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- card -->
    </div>
  </div>
</div>