<!-- acquirer--merchants--details -->
<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">
            <div class="row ">
                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl" [hidden]="!isLoaded"><img
                                [style.border-color]="programDetails.StatusC"
                                (error)="_HelperService.defaultImage($event)"
                                src="{{_HelperService.UserAccount.IconUrl}}" class="rounded-circle  bd bd-2" alt="">
                        </div>

                        <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                            <div class="line"></div>
                        </div>
                    </div><!-- media -->
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media Hm-textCenterMd" [hidden]="!isLoaded">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-bold text-capitalize  mg-b-2">
                                {{programDetails.Name}}</h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal   lh-2 mg-b-5">
                                    <span class="mg-r-5 text-secondary"> </span> Start Date :
                                    <span class=""> {{programDetails.StartDateS }} </span>
                                </h2>
                            </div>
                            <div class="badge text-white tx-11" [ngClass]="programDetails.StatusB">
                                {{programDetails.StatusName}}</div>
                            <!-- <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                              <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal  lh-2 mg-b-0 d-flex">
                                  <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;;"
                                          data-feather="map-pin"></i> </span>
                                  <span>{{_MerchantDetails.Address}}</span>
                              </h2>
                          </div> -->
                        </div><!-- media-body -->
                    </div><!-- media -->

                    <div class="placeholder-paragraph wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                        <div class="line"></div>
                    </div>

                </div>
                <div class="col-lg-6 Hm-media768 " id="StoresDetails">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row flex-nowrap">

                                <div class="col-sm-4 col-md-4 col-lg-4">

                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class="tx-bold tx-40 tx-rubik   tx-verve mg-b-5 mg-r-5 lh-1 cursor-pointer"
                                                (click)="openRewardDialogue()">
                                                {{programDetails.RewardCap}}%</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 ">Reward Percentage</p>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3
                                                class="tx-bold tx-40 tx-rubik   tx-teal mg-b-5 mg-r-5 lh-1 cursor-pointer ">
                                                {{programDetails.Comission}}%</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0">Commission</p>

                                    </div>

                                </div>

                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class="tx-bold tx-40 tx-rubik   tx-teal mg-b-5 mg-r-5 lh-1 cursor-pointer "
                                                (click)="openInvoiceAmtDialogue()">
                                                {{programDetails.MinInvoiceAmount || 0}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0">Min Invoice Amount.</p>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                          <div class="row">
                              <div class="manageButton mg-t-0 pd-t-0">
                                  <button type="button" (click)="clicked()"
                                      class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                      Account</button>
                              </div>

                              <div class="collapseButton">
                                  <button [class.button-open]="!ExpandedView" [class.button-close]="ExpandedView"
                                      (click)="ToogleExpandedView() ; HideStoreDetail()" class="btn  btn-link"
                                      data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                      aria-controls="collapseOne">
                                      <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                              [class.clicked]="ExpandedView"></i>
                                      </div>
                                  </button>
                              </div>
                          </div>

                      </div> -->
                    </div>

                </div>
            </div>
        </div>

        <!-- <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body pt-0">
              <div class="row">

                  <div class="col-lg-1">

                  </div>
                  <div class="col-lg-11">
                      <div class="row">
                          <div class="col-sm-12 col-md-6 col-lg-6">

                              <agm-map class=" ht-100p" [zoom]="12" [latitude]="_MerchantDetails.Latitude"
                                  [longitude]="_MerchantDetails.Longitude" [styles]="_HelperService.darkStyle"
                                  [streetViewControl]="false">
                                  <agm-marker [latitude]="_MerchantDetails.Latitude"
                                      [longitude]="_MerchantDetails.Longitude">
                                  </agm-marker>
                              </agm-map>
                          </div>

                          <div class="col-sm-12 col-md-6 col-lg-6">
                              <div class="row">
                                  <div class="col-sm-12 col-md-6 col-lg-6 Hm-media768">
                                      <label class="tx-14 tx-bold text-capitalize Hm-HeaderColor  mg-b-15">Contact
                                          Person</label>
                                      <ul class="list-unstyled profile-info-list">
                                          <li class="tx-color-03"><i data-feather="user"></i> <span
                                                  *ngIf="_MerchantDetails.ContactPerson"
                                                  class="tx-color-03">{{_MerchantDetails.ContactPerson.Name||
                                                  "--"}}</span>
                                          </li>
                                          <li class="tx-color-03"><i data-feather="smartphone"></i> <a
                                                  *ngIf="_MerchantDetails.ContactPerson">{{_MerchantDetails.ContactPerson.MobileNumber}}</a>
                                          </li>
                                          <li class="tx-color-03"><i data-feather="mail"></i> <a class="text-break"
                                                  *ngIf="_MerchantDetails.ContactPerson">{{_MerchantDetails.ContactPerson.EmailAddress}}</a>
                                          </li>
                                      </ul>

                                  </div>
                                  <div class="col-sm-12 col-md-6 col-lg-6 Hm-media768">
                                      <label
                                          class="tx-14 tx-bold text-capitalize Hm-HeaderColor  mg-b-15">Relationship
                                          Manager</label>
                                      <ul class="list-unstyled profile-info-list">
                                          <li class="tx-color-03"><i data-feather="user"></i> <span
                                                  *ngIf="_MerchantDetails.Rm"
                                                  class="tx-color-03">{{_MerchantDetails.Rm.Name}}</span></li>
                                          <li class="tx-color-03"><i data-feather="smartphone"></i> <a
                                                  *ngIf="_MerchantDetails.Rm"
                                                  class="tx-color-03">{{_MerchantDetails.Rm.MobileNumber}}</a></li>
                                          <li class="tx-color-03"><i data-feather="mail"></i> <a
                                                  *ngIf="_MerchantDetails.Rm">{{_MerchantDetails.Rm.EmailAddress}}</a>
                                          </li>
                                      </ul>

                                  </div>
                                  <div class="col-sm-12 col-md-6 col-lg-12 Hm-media768">
                                      <div class="d-inline m-auto"
                                          *ngFor="let catagories of _MerchantDetails['Categories']">
                                          <button type="button"
                                              class="btn btn-xs  tx-color-03 btn-transparent bd bd-primary rounded-pill mg-r-10">{{catagories.Name}}</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row Hm-media768 d-block d-sm-none">
                  <div class="col-sm-12 col-md-6 col-lg-6">
                      <div class="row flex-nowrap">

                          <div class="col-sm-6 col-md-6 col-lg-6">

                              <div class=" text-center stores">
                                  <div class="text-center">
                                      <h3 class="tx-bold tx-40  tx-rubik  tx-verve mg-b-5 mg-r-5 lh-1">
                                          {{_MerchantDetails.Stores}}</h3>
                                  </div>
                                  <p class="tx-12 tx-color-03 mg-b-0 "> Stores</p>
                              </div>
                          </div>

                          <div class="col-sm-6 col-md-6 col-lg-6">
                              <div class=" text-center Terminals">
                                  <div class="text-center">
                                      <h3 class="tx-bold tx-40  tx-rubik  tx-teal mg-b-5 mg-r-5 lh-1 ">
                                          {{_MerchantDetails.Terminals}}</h3>
                                  </div>
                                  <p class="tx-12 tx-color-03 mg-b-0"> POS</p>

                              </div>

                          </div>


                      </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                      <div class="row">
                          <div class="manageButton mg-t-0 pd-t-0">
                              <button type="button" (click)="clicked()"
                                  class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                  Account</button>
                          </div>

                          <div class="collapseButton">
                              <button [class.button-open]="!ExpandedView" [class.button-close]="ExpandedView"
                                  (click)="ToogleExpandedView() ; ShowStoreDetail()" class="btn  btn-link"
                                  data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                  aria-controls="collapseOne">
                                  <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                          [class.clicked]="ExpandedView"></i>
                                  </div>
                              </button>
                          </div>

                      </div>

                  </div>
              </div>


          </div>
      </div> -->
    </div>
</div>


<div class="card  bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist" [routerLinkActive]="['active']">

        <div class="d-flex flex-wrap ">
            <li class="nav-item cursor-pointer">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.LoyaltyProgram.BankLoyaltyOverview}}"
                    role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Transactions-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.LoyaltyProgram.BankLoyaltyMerchant}}"
                    role="tab" aria-controls="Merchant" aria-selected="false">Merchant</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Terminal-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.LoyaltyProgram.BankLoyaltyTransaction}}"
                    aria-controls="Transactions" aria-selected="false">Transactions</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Reward-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.LoyaltyProgram.BankLoyaltyRewardTransaction}}"
                    aria-controls="Transactions" aria-selected="false">Reward Transactions</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Redeem-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.LoyaltyProgram.BankLoyaltyRedeemTransaction}}"
                    aria-controls="Transactions" aria-selected="false"> Redeem Transactions</a>
            </li>
        </div>

        <!-- <div class="row  d-flex no-gutters pd-r-10">
            <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class="  mg-r-10 order-1">
                    <input type="text" class="form-control tx-13 form-daterangepicker" style="height: 30px;"
                        name="daterangeInput" daterangepicker
                        [options]="_HelperService.AppConfig.DatePickerOptionsForToday"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" data-toggle="buttons" style="height: 30px;"
                *ngIf="_HelperService.ShowDateRange">
                <label
                    class="btn btn-xs pb-0 mb-0 tx-13    d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label
                    class="btn btn-xs  pb-0 mb-0 tx-13  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label
                    class="btn pb-0 mb-0 btn-xs tx-13  active d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>
        </div> -->

    </ul>
</div>


<router-outlet></router-outlet>

<!-- <div class="off-canvas off-canvas-overlay off-canvas-right  mn-wd-30p" #offCanvas style="width: 480px !important;">
  <div class="off-canvas-content">

      <div id="FormA_EditUser_Content" class="off-canvas-body">

          <div class="card bd-b-0">
              <div class="card-header bd-0">
                  <h3 class="tx-roboto tx-bold tx-lg-24 tx-sm-8 pd-l-0"> Manage Account</h3>
                  <ul class="nav nav-line" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Business" role="tab"
                              aria-controls="home" aria-selected="true">Business Info</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Contact" role="tab"
                              aria-controls="profile" aria-selected="false">Contact Info</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Address" role="tab"
                              aria-controls="contact" aria-selected="false">Address details</a>
                      </li>
                  </ul>
              </div>
              <div class="card-body  p-lg pd-l-15">
                  <div class="tab-content pd-x-20 bd-t-20 " id="myTabContent">
                      <div class="tab-pane fade show active" id="Business" role="tabpanel" aria-labelledby="home-tab">
                          <div class="row">
                              <div class="col-md-12">
                                  <form [formGroup]="FormA_EditUser"
                                      (ngSubmit)="FormA_EditUser_Process(FormA_EditUser.value)" role="form">
                                      <div class="form-group">
                                          <label>{{'System.Users.BusinessName' | translate }}<span
                                                  class="text-danger">*</span></label>
                                          <div class="controls">

                                              <input type="text"
                                                  placeholder="{{'System.Users.DisplayName' | translate }}"
                                                  name="DisplayName" maxlength="25" class="form-control"
                                                  [(ngModel)]="_MerchantDetails.DisplayName"
                                                  [formControl]="FormA_EditUser.controls['DisplayName']"
                                                  [ngClass]="{'is-invalid':!FormA_EditUser.controls['DisplayName'].valid && FormA_EditUser.controls['DisplayName'].touched}">
                                          </div>
                                          <div class="text-xs text-muted _500"> </div>
                                          <label class="text-danger" for="DisplayName"
                                              *ngIf="FormA_EditUser.controls['DisplayName'].hasError('required') && FormA_EditUser.controls['DisplayName'].touched">
                                              enter business name
                                          </label>
                                          <label class="text-danger" for="DisplayName"
                                              *ngIf="FormA_EditUser.controls['DisplayName'].hasError('minlength') || FormA_EditUser.controls['DisplayName'].hasError('maxlength')">business
                                              business name must be between 4 - 256 characters</label>
                                      </div>
                                      <div class="form-group">
                                          <label>Nick Name<span class="text-danger">*</span> </label>
                                          <div class="controls">
                                              <input type="text" placeholder="Nick Name" name="Name" maxlength="256"
                                                  class="form-control" [formControl]="FormA_EditUser.controls['Name']"
                                                  [(ngModel)]="_MerchantDetails.Name"
                                                  [ngClass]="{'is-invalid':!FormA_EditUser.controls['Name'].valid && FormA_EditUser.controls['Name'].touched}">
                                          </div>
                                          <label class="text-danger" for="Name"
                                              *ngIf="FormA_EditUser.controls['Name'].hasError('required') && FormA_EditUser.controls['Name'].touched">
                                              enter nick name
                                          </label>
                                          <label class="text-danger" for="DisplayName"
                                              *ngIf="FormA_EditUser.controls['Name'].hasError('minlength') || FormA_EditUser.controls['Name'].hasError('maxlength')">parent
                                              nick name must be between 2 - 25 characters</label>

                                      </div>
                                      <div class="form-group">
                                          <label>{{'System.Users.BusinessOwnerName' | translate }}<span
                                                  class="text-danger">*</span>
                                          </label>
                                          <div class="controls">
                                              <input type="text" placeholder="Owner Name" name="OwnerName"
                                                  maxlength="256" class="form-control"
                                                  [formControl]="FormA_EditUser.controls['OwnerName']"
                                                  [(ngModel)]="_MerchantDetails.OwnerName"
                                                  [ngClass]="{'is-invalid':!FormA_EditUser.controls['OwnerName'].valid && FormA_EditUser.controls['OwnerName'].touched}">
                                          </div>
                                          <label class="text-danger" for="OwnerName"
                                              *ngIf="FormA_EditUser.controls['OwnerName'].hasError('required') && FormA_EditUser.controls['OwnerName'].touched">
                                              enter business owner name</label>
                                          <label class="text-danger" for="OwnerName"
                                              *ngIf="FormA_EditUser.controls['OwnerName'].hasError('minlength') || FormA_EditUser.controls['OwnerName'].hasError('maxlength')">
                                              business owner name must be between 4 to 256 characters
                                          </label>

                                      </div>
                                      <div class="form-group">
                                          <label>Phone Number<span class="text-danger">*</span>
                                          </label>
                                          <div class="controls">
                                              <div class="input-group">
                                                  <div class="input-group-prepend">
                                                      <span
                                                          class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                                  </div>
                                                  <input type="text" placeholder="Phone Number" name="ContactNumber"
                                                      minlength="10" maxlength="18"
                                                      class="form-control contact-textbox-height"
                                                      (keypress)="_HelperService.PreventText($event)"
                                                      [formControl]="FormA_EditUser.controls['ContactNumber']"
                                                      [(ngModel)]="_MerchantDetails.ContactNumber"
                                                      [ngClass]="{'is-invalid':!FormA_EditUser.controls['ContactNumber'].valid && FormA_EditUser.controls['ContactNumber'].touched}">
                                              </div>
                                          </div>
                                          <label class="text-danger" for="ContactNumber"
                                              *ngIf="FormA_EditUser.controls['ContactNumber'].hasError('required') && FormA_EditUser.controls['ContactNumber'].touched">enter
                                              enter phone number</label>
                                          <label class="text-danger" for="ContactNumber"
                                              *ngIf="FormA_EditUser.controls['ContactNumber'].hasError('minlength') || FormA_EditUser.controls['ContactNumber'].hasError('maxlength')">
                                              phone number must be between 10 to 14 numbers
                                          </label>

                                      </div>
                                      <div class="form-group">
                                          <label>Email ID<span class="text-danger">*</span>
                                          </label>
                                          <div class="controls">
                                              <input type="text" placeholder="Email Id" name="EmailAddress"
                                                  maxlength="256" class="form-control"
                                                  [formControl]="FormA_EditUser.controls['EmailAddress']"
                                                  [(ngModel)]="_MerchantDetails.EmailAddress"
                                                  [ngClass]="{'is-invalid':!FormA_EditUser.controls['EmailAddress'].valid && FormA_EditUser.controls['EmailAddress'].touched}">
                                          </div>
                                          <label class="text-danger" for="EmailAddress"
                                              *ngIf="FormA_EditUser.controls['EmailAddress'].hasError('required') && FormA_EditUser.controls['EmailAddress'].touched">
                                              enter email address
                                          </label>

                                          <label class="text-danger" for="EmailAddress"
                                              *ngIf="FormA_EditUser.controls['EmailAddress'].hasError('email') && FormA_EditUser.controls['EmailAddress'].touched">
                                              enter valid busness email address
                                          </label>

                                      </div>
                                      <div class="form-group">
                                          <label>Reward Percentage<span class="text-danger">*</span>
                                          </label>
                                          <div class="controls">
                                              <input type="text" placeholder="Reward Percentage"
                                                  name="AccountPercentage" minlength="1" maxlength="100"
                                                  class="form-control"
                                                  [formControl]="FormA_EditUser.controls['AccountPercentage']"
                                                  [(ngModel)]="_MerchantDetails.RewardPercentage"
                                                  [ngClass]="{'is-invalid':!FormA_EditUser.controls['AccountPercentage'].valid && FormA_EditUser.controls['AccountPercentage'].touched}">
                                          </div>
                                          <label class="text-danger" for="AccountPercentage"
                                              *ngIf="FormA_EditUser.controls['AccountPercentage'].hasError('required') && FormA_EditUser.controls['AccountPercentage'].touched">
                                              enter reward percentage
                                          </label>
                                          <label class="text-danger" for="AccountPercentage"
                                              *ngIf="FormA_EditUser.controls['AccountPercentage'].hasError('min') || FormA_EditUser.controls['AccountPercentage'].hasError('max')">
                                              reward percentage must be between 0 to 100
                                          </label>
                                      </div>

                                      <div class="card-footer d-flex justify-content-between pd-x-0 full-width pd-r-70"
                                          style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                                          <button type="button" class="btn btn-danger" data-dismiss="modal"
                                              *ngIf="_MerchantDetails.StatusName != 'Blocked'"
                                              (click)="BlockAccount()">
                                              {{ "Common.Block" | translate }}
                                          </button>
                                          <button type="button" class="btn btn-success" data-dismiss="modal"
                                              *ngIf="_MerchantDetails.StatusName == 'Blocked'"
                                              (click)="UnblockBlockAccount()">
                                              {{ "Common.UnBlock" | translate }}
                                          </button>
                                          <div>
                                              <button type="button" class="btn btn-secondary mg-r-5"
                                                  (click)="unclick()"> close </button>

                                              <button type="submit" class="btn btn-primary"
                                                  (click)="FormA_EditUser.value.OperationType = 'edit'"
                                                  [disabled]="!FormA_EditUser.valid || _HelperService.IsFormProcessing">
                                                  <span [hidden]="_HelperService.IsFormProcessing">
                                                      {{ "Common.Save" | translate }}
                                                  </span>
                                                  <span [hidden]="!_HelperService.IsFormProcessing">
                                                      <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                      {{ "Common.PleaseWait" | translate }}...
                                                  </span>
                                              </button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="Contact" role="tabpanel" aria-labelledby="profile-tab">
                          <div class="row">
                              <div class="col-md-12">
                                  <form [formGroup]="FormB_EditUser" *ngIf="_MerchantDetails.ContactPerson"
                                      (ngSubmit)="FormB_EditUser_Process(FormB_EditUser.value)" role="form">
                                      <div class="form-group">
                                          <label>Contact Person<span class="text-danger">*</span>
                                          </label>
                                          <div class="controls">
                                              <input type="text" placeholder="Name" name="FirstName" minlength="4"
                                                  maxlength="128" class="form-control"
                                                  [(ngModel)]="_MerchantDetails.ContactPerson.Name"
                                                  [formControl]="FormB_EditUser.controls['FirstName']"
                                                  [ngClass]="{'is-invalid':!FormB_EditUser.controls['FirstName'].valid && FormB_EditUser.controls['FirstName'].touched}">
                                          </div>
                                          <label class="text-danger" for="FirstName"
                                              *ngIf="FormB_EditUser.controls['FirstName'].hasError('required') && FormB_EditUser.controls['FirstName'].touched">
                                              enter name
                                          </label>
                                          <label class="text-danger" for="FirstName"
                                              *ngIf="FormB_EditUser.controls['FirstName'].hasError('minlength') || FormB_EditUser.controls['FirstName'].hasError('maxlength')">
                                              enter name must be between 4 to 128 characters
                                          </label>
                                      </div>
                                      <div class="form-group ">
                                          <label> Email id<span class="text-danger">*</span>
                                          </label>
                                          <div class="controls">
                                              <input type="text" placeholder="Email Id" name="SecondaryEmailAddress"
                                                  maxlength="256" class="form-control"
                                                  [(ngModel)]="_MerchantDetails.ContactPerson.EmailAddress"
                                                  [formControl]="FormB_EditUser.controls['SecondaryEmailAddress']"
                                                  [ngClass]="{'is-invalid':!FormB_EditUser.controls['SecondaryEmailAddress'].valid && FormB_EditUser.controls['SecondaryEmailAddress'].touched}">
                                          </div>
                                          <label class="text-danger" for="SecondaryEmailAddress"
                                              *ngIf="FormB_EditUser.controls['SecondaryEmailAddress'].hasError('required') && FormB_EditUser.controls['SecondaryEmailAddress'].touched">
                                              enter email address
                                          </label>

                                          <label class="text-danger" for="SecondaryEmailAddress"
                                              *ngIf="FormB_EditUser.controls['SecondaryEmailAddress'].hasError('email') && FormB_EditUser.controls['SecondaryEmailAddress'].touched">
                                              enter valid email address
                                          </label>
                                      </div>
                                      <div class="form-group">
                                          <label> Mobile Number<span class="text-danger">*</span>
                                          </label>
                                          <div class="controls input-group">
                                              <div class="input-group-prepend">
                                                  <span
                                                      class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                              </div>
                                              <input type="text" placeholder="Mobile Number" name="MobileNumber"
                                                  minlength="10" maxlength="18" class="form-control"
                                                  (keypress)="_HelperService.PreventText($event)"
                                                  [formControl]="FormB_EditUser.controls['MobileNumber']"
                                                  [(ngModel)]="_MerchantDetails.ContactPerson.MobileNumber"
                                                  [ngClass]="{'is-invalid':!FormB_EditUser.controls['MobileNumber'].valid && FormB_EditUser.controls['MobileNumber'].touched}">
                                          </div>
                                          <label class="text-danger" for="MobileNumber"
                                              *ngIf="FormB_EditUser.controls['MobileNumber'].hasError('required') && FormB_EditUser.controls['MobileNumber'].touched">
                                              enter mobile number
                                          </label>
                                          <label class="text-danger" for="MobileNumber"
                                              *ngIf="FormB_EditUser.controls['MobileNumber'].hasError('minlength') || FormB_EditUser.controls['MobileNumber'].hasError('maxlength')">
                                              mobile number must be between 10 to 14 numbers
                                          </label>
                                      </div>

                                      <div class="card-footer d-flex justify-content-between pd-x-0 full-width pd-r-70 "
                                          style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                                          <button type="button" class="btn btn-danger" data-dismiss="modal"
                                              *ngIf="_MerchantDetails.StatusName != 'Blocked'"
                                              (click)="BlockAccount()">
                                              {{ "Common.Block" | translate }}
                                          </button>
                                          <button type="button" class="btn btn-success" data-dismiss="modal"
                                              *ngIf="_MerchantDetails.StatusName == 'Blocked'"
                                              (click)="UnblockBlockAccount()">
                                              {{ "Common.UnBlock" | translate }}
                                          </button>

                                          <div>
                                              <button type="button" class="btn btn-secondary mg-r-5"
                                                  (click)="unclick()"> close </button>


                                              <button type="submit" class="btn btn-primary"
                                                  (click)="FormB_EditUser.value.OperationType = 'edit'"
                                                  [disabled]="!FormB_EditUser.valid || _HelperService.IsFormProcessing">
                                                  <span [hidden]="_HelperService.IsFormProcessing">
                                                      {{ "Common.Save" | translate }}
                                                  </span>
                                                  <span [hidden]="!_HelperService.IsFormProcessing">
                                                      <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                      {{ "Common.PleaseWait" | translate }}...
                                                  </span>
                                              </button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>


                      <div class="tab-pane fade" id="Address" role="tabpanel" aria-labelledby="contact-tab">
                          <div class="row">
                              <div class="col-md-12">
                                  <form [formGroup]="FormC_EditUser"
                                      (ngSubmit)="FormC_EditUser_Process(FormC_EditUser.value)" role="form">



                                      <div class="row" *ngIf="_isAddressLoaded">
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <hcx-addressmanager [data]="_Address" [config]="_AddressConfig"
                                                  (OnAddressSet)="AddressChange($event)">
                                              </hcx-addressmanager>
                                          </div>
                                      </div>



                                      <div class="card-footer d-flex justify-content-between pd-x-0 full-width pd-r-70"
                                          style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                                          <button type="button" class="btn btn-danger" data-dismiss="modal"
                                              *ngIf="_MerchantDetails.StatusName != 'Blocked'"
                                              (click)="BlockAccount()">
                                              {{ "Common.Block" | translate }}
                                          </button>
                                          <button type="button" class="btn btn-success" data-dismiss="modal"
                                              *ngIf="_MerchantDetails.StatusName == 'Blocked'"
                                              (click)="UnblockBlockAccount()">
                                              {{ "Common.UnBlock" | translate }}
                                          </button>
                                          <div>
                                              <button type="button" class="btn btn-secondary mg-r-5"
                                                  (click)="unclick()"> close </button>

                                              <button type="submit" class="btn btn-primary"
                                                  (click)="FormC_EditUser.value.OperationType = 'edit'"
                                                  [disabled]="!FormC_EditUser.valid || _HelperService.IsFormProcessing">
                                                  <span [hidden]="_HelperService.IsFormProcessing">
                                                      {{ "Common.Save" | translate }}
                                                  </span>
                                                  <span [hidden]="!_HelperService.IsFormProcessing">
                                                      <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                      {{ "Common.PleaseWait" | translate }}...
                                                  </span>
                                              </button>
                                          </div>
                                      </div>
                                  </form>
                              </div>


                          </div>
                      </div>


                  </div>
              </div>
          </div>

      </div>
  </div>
</div> -->

<div class="modal" id="EditComission" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Comission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="controls">
                            <label for="comission">Comission</label>
                            <input type="number" name="comission" class="form-control" [(ngModel)]="comission">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateProgram('comission')">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="EditReward" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Reward</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="controls">
                            <label for="reward">Reward</label>
                            <input min="0" max="100" type="number" name="reward" class="form-control"
                                [(ngModel)]="reward">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateProgram('reward')">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="EditMinInvoiceAmt" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Min Invoice Amount</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="controls">
                            <label for="invoiceamt">Min invoice amount</label>
                            <input min="0" max="100" type="number" name="invoiceamt" class="form-control"
                                [(ngModel)]="minInvoiceAmt">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateProgram('minInvoiceAmt')">Save</button>
            </div>
        </div>
    </div>
</div>