<div class=" h-v d-flex flex align-items-center white " style="  display: block; 
position: relative;
overflow: hidden;">
    <!-- <div class="auroral-agrabah"></div>
    <div class="auroral-stars"></div> -->
    <div class="mx-auto w-xl w-auto-xs animate fadeIn pb-5" style="width: 70%;">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 ">
                <div class="mb-3 mt-5" *ngIf="_HelperService.AppConfig.Host == 'interswitch.thankucash.com'"><img
                        src="../../../assets/img/interswitch.png" class="w-xmd">
                </div>
                <div class="mb-3 mt-5" *ngIf="_HelperService.AppConfig.Host != 'interswitch.thankucash.com'"><img
                        src="../../../assets/img/logoinverse.png" class="w-xmd">
                </div>
            </div>
            <div class="col-lg-12">
                <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
                    <li role="presentation" class="active"><a aria-controls="discover" role="tab" data-toggle="tab"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            <p>About Business</p>
                        </a></li>
                    <li role="presentation" class="active"><a aria-controls="strategy" role="tab" data-toggle="tab"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            <p>Business Location</p>
                        </a></li>
                    <li role="presentation" class="active"><a aria-controls="optimization" role="tab"
                            data-toggle="tab"><i class="fa fa-check" aria-hidden="true"></i>
                            <p>Credit First Rewards</p>
                        </a></li>
                    <li role="presentation" class="active"><a aria-controls="reporting" role="tab" data-toggle="tab"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            <p>All Set</p>
                        </a></li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 b-a r-2x pb-3">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center mt-4  mb-4">
                        <h4 class="_400">Welcome , {{_HelperService.UserAccount.DisplayName}}</h4>
                        <div class="text-muted">
                            Your account is all ready, Our customer representative will reach you soon to help you
                        </div>
                    </div>
                    <div class="text-center full-width mb-3">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nZeC4TZigZ8" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen style="border-radius: 10px;border: 2px solid #9c26b0;"></iframe>
                    </div>
                    <div class="col-12 text-center">
                        <button type="button" (click)="NavigateToDashboard()" class="btn btn-lg purple text-lg"
                            [disabled]="Form_AddUser_Processing" style="width: 50%;">
                            Access Dashboard
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>