<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="box mb-0">
            <div class="box-header b-b">
                <h3> {{InvoiceList_Config.Title}}</h3>
            </div>
            <div class="box-tool">
                <ul class="nav nav-xs">
                    <li title="{{ 'Common.FilterT' | translate }}" class="nav-item"
                        (click)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)">
                        <a class="nav-link"><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li>
                    <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
                        (click)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Csv)"><a
                            class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a></li>
                    <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
                        (click)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                        <a class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
                </ul>
            </div>
            <div class="box-header light lt b-b">
                <div class="media">
                    <span class="avatar w-56 b-a b-warn b-2x">
                        <img src="{{ _OInvoiceDetails.UserAccountIconUrl }}" alt="." />
                    </span>
                    <div class="media-body mx-2 ml-3 mb-0 text-ellipses">
                        <h6 class="mb-1 text-dark mt-1 text-ellipses"
                            title="{{ _OInvoiceDetails.UserAccountDisplayName }}">
                            {{ _OInvoiceDetails.UserAccountDisplayName || "--" }}
                        </h6>
                        <p class=" text-sm mb-0 text-ellipses" title="{{ _OInvoiceDetails.UserAccountTypeName }}">
                            <span class="badge badge-success">{{ _OInvoiceDetails.UserAccountTypeName || "--" }}</span>
                            invoices : {{InvoiceList_Config.TotalRecords}}
                        </p>

                    </div>
                </div>
            </div>
            <div class="box-header light lt" *ngIf="InvoiceList_Config.ToggleFilter">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="input-group">
                            <input type="text" [value]="InvoiceList_Config.SearchParameter" maxlength="100"
                                class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                                (keyup)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                            <div class="input-group-append"><button class="btn white" type="button"
                                    (click)="InvoiceList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                        'Common.Go' | translate }}</button></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group  ">
                            <input type="text" class="form-control  form-daterangepicker mr-2" name="daterangeInput"
                                daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                                (selected)="InvoiceList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group  ">
                            <select2 [options]="_DataHelperService.S2_Sort_Option" class="full-width"
                                [data]="InvoiceList_Config.SortExpressionOption"
                                [value]="InvoiceList_Config.SortExpression"
                                (valueChanged)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
                            </select2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group  ">
                            <select2 [options]="_DataHelperService.S2_Status_Option"
                                [data]="InvoiceList_Config.StatusOptions" [value]="InvoiceList_Config.Status"
                                (valueChanged)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                            </select2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group   ">
                            <select2 [options]="InvoiceList_Filter_TransactionType_Option"
                                (valueChanged)="InvoiceList_Filter_TransactionTypes_Change($event)">
                            </select2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body p-0">
                <div class="px-3 py-3 b-b cursor-pointer" (click)="InvoiceList_RowSelected(TItem)" *ngFor="let TItem of InvoiceList_Config.Data
                                                                | paginate: { id: 'MerchantsList',itemsPerPage: InvoiceList_Config.PageRecordLimit, currentPage: InvoiceList_Config.ActivePage,
                                                                totalItems: InvoiceList_Config.TotalRecords }">
                    <div class="text-warn mb-1">
                        <div class="_600 "> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{TItem.Amount | number:'1.2-2' }}</div>
                    </div>
                    <div>
                        {{TItem.Name}}
                    </div>

                    <div>
                        {{TItem.InvoiceDate}}
                        <span class="{{TItem.StatusBadge}} float-right">{{TItem.StatusName}}</span>
                    </div>


                </div>


                <div class="  p-4">
                    <div class="mb-2">
                        <span class="mr-1">
                            {{ 'Common.Showing' | translate }}
                            <span class="bold">{{InvoiceList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                                {{InvoiceList_Config.ShowingEnd}}
                            </span> {{ 'Common.Of' | translate }} {{InvoiceList_Config.TotalRecords}}
                        </span>
                        |
                        <span class="ml-1">
                            {{ 'Common.Show' | translate }}
                            <select class=" w-64 " [(ngModel)]="InvoiceList_Config.PageRecordLimit"
                                (ngModelChange)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                                <option [ngValue]="TItem"
                                    *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                                    {{TItem}}
                                </option>
                            </select> {{ 'Common.Entries' | translate }}
                        </span>
                    </div>
                    <div>
                        <pagination-controls id="MerchantsList"
                            (pageChange)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                            nextLabel="{{ 'Common.Next' | translate }}"
                            previousLabel="{{ 'Common.Previous' | translate }}">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header b-b">
                <h3>Invoice
                    <span class="{{_OInvoiceDetails.StatusBadge}}">{{ _OInvoiceDetails.StatusName || "--" }}</span>
                    <span class="float-right">
                        <button type="button" class="btn btn-sm warn" style="margin-top:-5px;"
                            (click)="StartDownload()">Download</button>
                    </span>
                </h3>
            </div>
            <div class="box-body">
                <div class="padding" id="InvoiceContainer">
                    <div class="row b-b pb-3 mb-3">
                        <div class="col-6">
                            <img src="../../../../assets/img/logoinverse.png" style="width:180px">
                        </div>
                        <div class="col-6 text-right">
                            <div class="text-2x _300 pb-2">
                                Invoice
                            </div>
                            <div class="_500 text-dark">{{_OInvoiceDetails.FromName}}</div>
                            <div>{{_OInvoiceDetails.FromAddress}}</div>
                            <div> {{_OInvoiceDetails.FromContactNumber}}<br></div>
                        </div>
                    </div>

                    <div class="row  pb-3 mb-3">
                        <div class="col-6">
                            <div class="_600 text-muted text-uppercase text-sm pb-1">
                                Billed To
                            </div>
                            <div class="_500 text-dark">{{_OInvoiceDetails.ToName}}</div>
                            <div>{{_OInvoiceDetails.ToAddress}}</div>
                            <div> {{_OInvoiceDetails.ToEmailAddress}}<br></div>
                            <div> {{_OInvoiceDetails.ToContactNumber}}<br></div>
                        </div>
                        <div class="col-6 text-right">
                            <div class="_600 text-muted text-uppercase text-sm pb-1">

                                Details
                            </div>
                            <div>
                                <div>
                                    <span class=" text-dark text-sm">Invoice Number :</span>
                                    <div class="_500" style="    float: right;
                                    width: 100px;
                                    padding-left: 10px;"><strong>#{{_OInvoiceDetails.ReferenceId}}</strong></div>
                                </div>

                                <div>
                                    <span class=" text-dark text-sm">Invoice Date :</span>
                                    <div class="_500" style="    float: right;
                                    width: 100px;
                                    padding-left: 10px;">{{_OInvoiceDetails.InvoiceDate}}</div>
                                </div>
                                <div class="mb-2">
                                    <span class=" text-dark text-sm">Account Number :</span>
                                    <div class="_500" style="    float: right;
                                        width: 100px;
                                        padding-left: 10px;">{{_OInvoiceDetails.UserAccountId}}</div>
                                </div>
                                <div class="p-2" style="background-color:#f7f7f7; font-weight: bold;">
                                    <span class=" text-dark text-sm">Invoice Amount :</span>
                                    <div class="_500" style="    float: right;
                                        width: 100px;
                                        padding-left: 10px;">
                                        <strong><span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                            {{_OInvoiceDetails.TotalAmount | number:'1.2-2'}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped white">
                                    <thead>
                                        <tr>
                                            <th style="width: 60px">#</th>
                                            <th>DESCRIPTION</th>
                                            <th class="text-right" style="width: 140px">ITEMS</th>
                                            <th class="text-right" style="width: 110px">TOTAL</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let TItem of _OInvoiceDetails.Items">
                                            <td>{{TItem.ReferenceId || "0"}}</td>
                                            <td>{{TItem.Name || "--"}}</td>
                                            <td class="text-right">{{TItem.TotalItem || "0"}}</td>
                                            <td class="text-right">
                                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                                {{TItem.TotalAmount | number:'1.2-2'}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-right"><strong>Subtotal</strong></td>
                                            <td class="text-right">
                                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                                {{_OInvoiceDetails.Amount | number:'1.2-2'}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-right no-border"><strong>Discounts</strong></td>
                                            <td class="text-right">
                                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                                {{_OInvoiceDetails.DiscountAmount | number:'1.2-2'}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-right no-border"><strong>Charges</strong>
                                            </td>
                                            <td class="text-right">
                                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                                {{_OInvoiceDetails.Charge | number:'1.2-2'}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-right no-border"><strong>Total</strong></td>
                                            <td class="text-right"><strong>
                                                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                                    {{_OInvoiceDetails.TotalAmount | number:'1.2-2'}}
                                                </strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="box" *ngIf="!IsInvoiceUpdating">
            <div class="box-header b-b">
                <h3> Invoice Status
                    <span class="float-right" *ngIf="_OInvoiceDetails.StatusCode =='invoice.pending'">
                        <button type="button" class="btn btn-sm danger" style="margin-top:-5px;"
                            (click)="OpenInvoiceUpdator()">Mark As Paid</button>
                    </span>
                </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-3">
                        <div class="mb-2" title="{{_OInvoiceDetails.StatusName }}">
                            <small class="text-muted">Status</small>
                            <div class="_500 text-ellipses"> <span
                                    class="{{_OInvoiceDetails.StatusBadge}}">{{ _OInvoiceDetails.StatusName || "--" }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-2" title="{{_OInvoiceDetails.PaymentDate }}">
                            <small class="text-muted">Payment Date</small>
                            <div class="_500 text-ellipses">{{ _OInvoiceDetails.PaymentDate || "--" }} </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-2" title="{{_OInvoiceDetails.ModifyDateS }}">
                            <small class="text-muted">Payment Mode</small>
                            <div class="_500 text-ellipses">{{ _OInvoiceDetails.PaymentModeName || "--" }} </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-2" title="{{_OInvoiceDetails.PaymentApproverDisplayName }}">
                            <small class="text-muted">Payment Approver</small>
                            <div class="_500 text-ellipses">{{ _OInvoiceDetails.PaymentApproverDisplayName || "--" }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-2" title="{{_OInvoiceDetails.PaymentApproverDisplayName }}">
                            <small class="text-muted">Payment Reference</small>
                            <div class="_500 text-ellipses">{{ _OInvoiceDetails.PaymentReference || "--" }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="mb-2" title="{{_OInvoiceDetails.PaymentApproverDisplayName }}">
                            <small class="text-muted">Comment</small>
                            <div class="_500 text-ellipses">{{ _OInvoiceDetails.Comment || "--" }}
                            </div>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="_OInvoiceDetails.PaymentProofUrl != undefined">
                        <div> <small class="text-muted">Payment Receipt</small></div>
                        <div>
                            <img src="{{_OInvoiceDetails.PaymentProofUrl }}" style="max-width: 300px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body light b-t">
                <div class="row">
                    <div class="col-3">
                        <div class="mb-2" title="{{_OInvoiceDetails.CreateDateS }}">
                            <small class="text-muted">Create Date</small>
                            <div class="_500 text-ellipses">{{ _OInvoiceDetails.CreateDateS || "--" }} </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-2" title="{{_OInvoiceDetails.CreatedByDisplayName }}">
                            <small class="text-muted">Created By</small>
                            <div class="_500 text-ellipses">{{ _OInvoiceDetails.CreatedByDisplayName || "--" }} </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-2" title="{{_OInvoiceDetails.ModifyDateS }}">
                            <small class="text-muted">Modify Date</small>
                            <div class="_500 text-ellipses">{{ _OInvoiceDetails.ModifyDateS || "--" }} </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-2" title="{{_OInvoiceDetails.ModifyByDisplayName }}">
                            <small class="text-muted">Modify By</small>
                            <div class="_500 text-ellipses">{{ _OInvoiceDetails.ModifyByDisplayName || "--" }} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="IsInvoiceUpdating">

            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                <div class="box">
                    <div class="box-header b-b b-2x">
                        <h3 class="text-warn">Update Invoice</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Payment confirmation guarantor / approver<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="PaymentReference" maxlength="25" readonly
                                            class="form-control"
                                            [formControl]="Form_AddUser.controls['PaymentApprover']">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Payment mode<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <select class="form-control"
                                            [formControl]="Form_AddUser.controls['PaymentModeCode']">
                                            <option id="onlinebanktransfer" value="'onlinebanktransfer'"
                                                [value]="'onlinebanktransfer'">Online Bank
                                                Transfer</option>
                                            <option id="bankcashdeposit" value="'bankcashdeposit'"
                                                [value]="'bankcashdeposit'">Bank Cash Deposit
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Payment reference<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="PaymentReference" maxlength="25" class="form-control"
                                            [formControl]="Form_AddUser.controls['PaymentReference']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['PaymentReference'].valid && Form_AddUser.controls['PaymentReference'].touched}">
                                    </div>
                                    <label class="text-danger" for="PaymentReference"
                                        *ngIf="Form_AddUser.controls['PaymentReference'].hasError('required') && Form_AddUser.controls['PaymentReference'].touched">Enter
                                        payment reference</label>
                                    <label class="text-danger" for="PaymentReference"
                                        *ngIf="Form_AddUser.controls['PaymentReference'].hasError('minlength') || Form_AddUser.controls['PaymentReference'].hasError('maxlength')">Enter
                                        valid payment reference</label>
                                </div>
                                <div class="form-group">
                                    <label>Comment
                                    </label>
                                    <div class="controls">
                                        <textarea name="Comment" maxlength="256" rows="2" class="form-control"
                                            [formControl]="Form_AddUser.controls['Comment']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['Comment'].valid && Form_AddUser.controls['Comment'].touched}"></textarea>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label>Payment receipt <span class="text-danger">*</span>
                                    </label>
                                    <div class="mb-3">
                                        <input type="file" (change)="_HelperService.Icon_Change($event)" />
                                    </div>
                                    <div *ngIf="_HelperService._Icon_Cropper_Image != ''">
                                        <span class="float-right">
                                            <button type="button" class="btn btn-sm btn-success"
                                                (click)="_HelperService.Icon_Crop_Loaded()">
                                                <i class="fa fa-fw  fa-edit "></i>
                                                {{ 'Common.EditPicture' | translate }}
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                (click)="_HelperService.Icon_Crop_Clear()">
                                                <i class="fa fa-fw  fa-sync "></i>
                                                {{ 'Common.ClearPicture' | translate }}
                                            </button>
                                        </span>
                                        <img [src]="_HelperService._Icon_Cropper_Image" class="avatar w-96 b-a" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="light p-3 text-right b-b b-t">
                        <button type="submit" class="btn btn-fw warn warn mr-2"
                            (click)="Form_AddUser.value.OperationType='new'"
                            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                Mark as Paid
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                        }}...
                            </span>
                        </button>
                        <button type="button" class="btn btn-default" (click)="Form_AddUser_Clear()">{{
                                    'Common.Close'
                                    | translate }}</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>



<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageChangedEvent]="_HelperService._Icon_Cropper_ChangedEvent"
                                [aspectRatio]="1/1" format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCropped)="_HelperService.Icon_Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Change Picture
                            </div>
                            <div class="mb-3">
                                <input type="file" (change)="_HelperService.Icon_Change($event)" />
                            </div>
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>

                                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                            translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>