<!-- acquirer--campaign--list -->

<div class="card">
    <div [className]="_HelperService._Assets.Box.header">
        <div class="tx-14 tx-bold"> {{UserAccounts_Config.Title}} </div>
        <div [className]="_HelperService._Assets.Box.headerTitleRight">
            <nav class="nav nav-icon-only mg-l-auto">

                <button class="btn tx-12 btn-primary pd-x-20 rounded-50 " (click)="Open_AddCampaign()"> New Campaign
                </button>
            </nav>
        </div>
    </div>
    <div class="box-header px-3 pd-t-15 pd-b-10 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="UserAccounts_Config.SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="UserAccounts_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                            data-feather="search"></i> </button>
                </div>
            </div>

        </div>
        <!-- <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
              (click)="Delete_Filter()">
              <i data-feather="minus-circle"></i> </button>
      
            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
              <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                (valueChanged)="Active_FilterValueChanged( $event )">
              </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
              (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>
      
          </div> -->
          <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
              class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
              <i data-feather="minus-circle"></i>
            </button>
      
            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
              <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                (valueChanged)="Active_FilterValueChanged( $event )">
              </select2>
            </div>
            <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
            _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
              class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
                data-feather="plus-circle"></i> </button>
      
          </div>
      
          <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="UserAccounts_sdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()"
                    aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="UserAccounts_Config.Sort.SortOrder == 'desc'"
                                (click)="UserAccounts_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="UserAccounts_Config.Sort.SortOrder == 'asc'"
                                (click)="UserAccounts_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>
                   
                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of UserAccounts_Config.Sort.SortOptions"
                        (click)="UserAccounts_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                        {{TItem.Name}}
                      </a>
          

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                        (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                        Reset</button>
                      <button type="button" class="btn btn-primary btn-sm mg-t-20"
                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>

                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="UserAccounts_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()"
                    aria-expanded="false"> <i data-feather="filter"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <!-- <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                    daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                                    (selected)="UserAccounts_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div> -->

                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                                  [options]="_HelperService.AppConfig.DateRangeOptions"
                                  (selected)="UserAccounts_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                              </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <!-- <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                    [data]="UserAccounts_Config.StatusOptions" [value]="UserAccounts_Config.Status"
                                    (valueChanged)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2> -->


                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                [data]="UserAccounts_Config.StatusOptions"
                                (valueChanged)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                              </select2>
                            </div>
                        </div>

                        <button type="button" class="btn btn-light btn-sm mr-2"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm "
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
                (click)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                    data-feather="refresh-cw"></i> </a>
        </nav>
    </div>

    <div class="pt-0 pd-l-15 pd-b-15">

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==28)"
        (click)="RemoveFilterComponent('Status')">
        {{_HelperService.FilterSnap.StatusName}}
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='StartDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
        (click)="RemoveFilterComponent('Sort')">
        <span>
            {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
        {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
        *ngFor="let TItem of UserAccounts_Config.Filters">{{TItem.Title}}</span>
    </div>
    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>

                    <th class="text-center" *ngIf="EditColoum[0].Value">
                        Status
                    </th>
                    <th class="text-center" *ngIf="EditColoum[1].Value">
                        Campaign ID
                    </th>

                    <th>
                        Campaign Name
                    </th>
                    <th *ngIf="EditColoum[2].Value">
                        Type
                    </th>
                    <th *ngIf="EditColoum[3].Value">
                        Reward
                    </th>
                    <th *ngIf="EditColoum[4].Value">
                        Start
                    </th>
                    <th *ngIf="EditColoum[5].Value">
                        End
                    </th>
                    <th class="d-flex">
                        <span class="btn cursor-pointer text-primary p-0"
                            style="position: absolute; z-index: 3;right: -10px;" data-toggle="tooltip"
                            title="Edit Your Column" (click)="EditCol()">
                            <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" (click)="UserAccounts_RowSelected(TItem)"
                    *ngFor="let TItem of UserAccounts_Config.Data  | paginate: { id: 'UserAccounts_Paginator',itemsPerPage: UserAccounts_Config.PageRecordLimit, currentPage: UserAccounts_Config.ActivePage,  totalItems: UserAccounts_Config.TotalRecords }">
                    <!-- <td class="text-center">
                        <img class="br" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2"
                            [style.border-color]="TItem.StatusC">
                    </td> -->
                    <td *ngIf="EditColoum[0].Value">
                        <div class="text-center">
                            <span class="" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
                        </div>
                    </td>
                    <td *ngIf="EditColoum[1].Value">
                        <div class="tx-semibold text-center">{{TItem.ReferenceId  || "--"}}</div>

                    </td>
                    <td class="">
                        <div class="tx-14"> {{TItem.Name || "--"}}</div>
                        <div class="tx-12 text-muted"> All access card customers will get 2%. Cash back </div>
                    </td>
                    <td class="" *ngIf="EditColoum[2].Value">
                        {{ (TItem.TypeName | campaignText)  || "--"}}
                    </td>

                    <td class="" *ngIf="EditColoum[3].Value">
                        {{TItem.SubTypeValue  || "--"}}
                        <div class="tx-12 text-muted"> {{TItem.SubTypeName}}</div>

                    </td>
                    <td class="text-muted" *ngIf="EditColoum[4].Value">
                        {{TItem.StartDate  || "--"}}
                    </td>
                    <td class="text-muted" *ngIf="EditColoum[5].Value">
                        {{TItem.EndDate | date :["dd-MM-yyyy"]  }}
                    </td>
                    <td></td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
            {{ 'Common.Showing' | translate }}
            <span class="bold">{{UserAccounts_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{UserAccounts_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{UserAccounts_Config.TotalRecords}}
        </span>
        <span>
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="UserAccounts_Config.PageRecordLimit"
                (ngModelChange)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="UserAccounts_Paginator" class="pagination pagination-space"
                (pageChange)="UserAccounts_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Column</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngFor="let Col of SaveEditValue">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
                        <label class="form-check-label" for="">
                            {{Col.Name}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
            </div>
        </div>
    </div>
</div>