<!-- acquirer--branches--list -->
<div class="card">
  <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{BranchList_Config.Title}} </div>
    <div [className]="_HelperService._Assets.Box.headerTitleRight">
      <nav class="nav nav-icon-only mg-l-auto">
        <button class="btn tx-12 btn-primary rounded-50 pd-x-30" (click)="Form_AddUser_Open()"> New Branch </button>
      </nav>
    </div>
  </div>
  <div>
    <div class="box-header px-3 pd-t-15 pd-b-10 d-flex align-items-center justify-content-between">
      <div class="form-inline">
        <div class="input-group input-group-sm mr-3">
          <input type="text" class="form-control" [value]="BranchList_Config.SearchParameter" maxlength="100"
            class="form-control" placeholder="{{ 'Common.Search' | translate }}"
            (keyup)="BranchList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="button"
              (click)="BranchList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                data-feather="search"></i> </button>
          </div>
        </div>


      </div>

      <!-- <div class="d-flex ml-auto">
        <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
          (click)="Delete_Filter()">
          <i data-feather="minus-circle"></i> </button>

        <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
          <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
            [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
            (valueChanged)="Active_FilterValueChanged( $event )">
          </select2>
        </div>
        <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
          (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

      </div> -->
      <div class="d-flex ml-auto">
        <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
          class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
          <i data-feather="minus-circle"></i>
        </button>

        <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
          <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
            [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
            (valueChanged)="Active_FilterValueChanged( $event )">
          </select2>
        </div>
        <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
        _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
          class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()">
          <i data-feather="plus-circle"></i> </button>

      </div>
      <nav class="nav nav-with-icon tx-20">
        <div class="dropdown dropleft">
          <a href="" class="nav-link mr-2" id="BranchList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
            (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="align-left"
              class="tx-20"></i> </a>
          <div class="dropdown-menu tx-13">
            <form class="wd-250 pd-15">
              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                <div class="float-right tx-20" *ngIf="BranchList_Config.Sort.SortOrder == 'desc'"
                  (click)="BranchList_ToggleOption(null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                  <i class="fas fa-sort-alpha-down-alt"></i>
                </div>
                <div class="float-right tx-20" *ngIf="BranchList_Config.Sort.SortOrder == 'asc'"
                  (click)="BranchList_ToggleOption(null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                  <i class="fas fa-sort-alpha-up-alt"></i>
                </div>
              </h6>

              <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                *ngFor="let TItem of BranchList_Config.Sort.SortOptions"
                (click)="BranchList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                {{TItem.Name}}
              </a>

              <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm mg-t-20"
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
            </form>
          </div>
        </div>
        <div class="dropdown dropleft">
          <a href="" class="nav-link" id="RMsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
            (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
          </a>
          <div class="dropdown-menu tx-13">
            <form class="wd-250 pd-15" *ngIf="ResetFilterControls">
              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
              </h6>
              <div>
                <div class="form-group">
                  <label>Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="BranchList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Status</label>

                  <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                    [data]="BranchList_Config.StatusOptions"
                    (valueChanged)="BranchList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                  </select2>
                </div>
              </div>
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>

            </form>
          </div>
        </div>

        <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
          (click)="BranchList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
            data-feather="refresh-cw"></i> </a>
      </nav>
    </div>

    <div class="pt-0 pd-l-15 pd-b-15">
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
        (click)="RemoveFilterComponent('Status')">
        {{_HelperService.FilterSnap.StatusName}}
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
        (click)="RemoveFilterComponent('Sort')">
        <span>
          {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
        {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
        _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <span class="badge badge-pill badge-primary"
        *ngFor="let TItem of BranchList_Config.Filters">{{TItem.Title}}</span>
    </div>

    <div class="card-body p-0">
      <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
        <thead>
          <tr>
            <th class="text-center tx-14" *ngIf="ColoumConfig[0].Value">
            </th>
            <th class="tx-14">
              Branch ID
            </th>
            <th class="tx-14" *ngIf="ColoumConfig[1].Value">
              Branch Details
            </th>
            <th class="tx-14" *ngIf="ColoumConfig[2].Value">
              City
            </th>
            <th class="text-left tx-14" *ngIf="ColoumConfig[3].Value">
              Contact
            </th>
            <th class="text-right tx-14" *ngIf="ColoumConfig[4].Value">
              Stores
            </th>
            <th class="text-right tx-14" *ngIf="ColoumConfig[5].Value">
              POS
            </th>
            <th class="text-right tx-14" *ngIf="ColoumConfig[6].Value">
              Active POS
            </th>
            <th class="tx-14" *ngIf="ColoumConfig[7].Value">
              Manager
            </th>
            <th *ngIf="ColoumConfig[8].Value" class="tx-14">
              Added On
            </th>

            <th class="d-flex">
              <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;"
                data-toggle="tooltip" title="Edit Your Column" (click)="EditColConfig()">
                <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="cursor-pointer" (click)="BranchList_RowSelected(TItem)"
            *ngFor="let TItem of BranchList_Config.Data  | paginate: { id: 'BranchList_Paginator',itemsPerPage: BranchList_Config.PageRecordLimit, currentPage: BranchList_Config.ActivePage,  totalItems: BranchList_Config.TotalRecords }">
            <td class="m-l-auto" *ngIf="ColoumConfig[0].Value">
              <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span>
            </td>
            <td>
              <div class="tx-14">{{TItem.BranchCode || "--"}}</div>
            </td>


            <td *ngIf="ColoumConfig[1].Value">
              <div class="tx-14 tx-semibold ">{{TItem.DisplayName || "--"}}</div>
              <small class="tx-11 text-muted WordWrap">
                {{TItem.Address | truncateText:40 || "--"}}
              </small>
            </td>

            <td class="text-center tx-14" *ngIf="ColoumConfig[2].Value">
              <div class="tx-14">
                {{TItem.CityName || "--"}}
              </div>
            </td>
            <td class="text-left" *ngIf="ColoumConfig[3].Value">
              <div class="text-muted  tx-14 tx-verve">
                {{TItem.PhoneNumber || "--"}}
              </div>
              <small class="text-muted tx-11">
                {{TItem.EmailAddress || "--"}}
              </small>
            </td>
            <td class="text-right" *ngIf="ColoumConfig[4].Value">
              <div class="tx-14">
                {{TItem.Stores}}
              </div>
            </td>
            <td class="text-right" *ngIf="ColoumConfig[5].Value">
              <div class="tx-14">
                {{TItem.Terminals}}
              </div>
            </td>
            <td class="text-right text-primary" *ngIf="ColoumConfig[6].Value">
              <div class="tx-14">
                {{TItem.ActiveTerminals}}
              </div>
            </td>
            <td class="" *ngIf="ColoumConfig[7].Value">
              <div class="tx-14">
                {{TItem.ManagerName || "--"}}
              </div>
            </td>
            <td class="text-muted" *ngIf="ColoumConfig[8].Value">
              <div class="tx-14">{{TItem.CreateDateD || "--"}}</div>
              <div class="tx-14">{{TItem.CreateDateT || "--"}}</div>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer pd-20">
      <span class="mr-3 tx-14">
        {{ 'Common.Showing' | translate }}
        <span class="bold">{{BranchList_Config.ShowingStart}} {{ 'Common.To' | translate }}
          {{BranchList_Config.ShowingEnd}}
        </span> {{ 'Common.Of' | translate }} {{BranchList_Config.TotalRecords}}
      </span>
      <span class="tx-14">
        {{ 'Common.Show' | translate }}
        <select class="wd-40 " [(ngModel)]="BranchList_Config.PageRecordLimit"
          (ngModelChange)="BranchList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
            {{TItem}}
          </option>
        </select>
      </span>
      <span class="float-right tx-14">
        <pagination-controls id="BranchList_Paginator" class="pagination pagination-space"
          (pageChange)="BranchList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
          nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
        </pagination-controls>
      </span>
    </div>
  </div>

</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveColConfig()">Save</button>
      </div>
    </div>
  </div>
</div>