<div class="card mt-2">
    <div [className]="_HelperService._Assets.Box.header">
        <div class="tx-14 tx-bold"> {{MerchantsList_Config.Title}} </div>
        <div class="float-right">
            <!-- 
            <a href="../../../../assets/uploads/CustomerImport.xlsx" target="_blank"
                class="btn btn-primary float-left mr-2">
                Download Template
            </a> -->
            <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#DownloadSheet">
                Download Template
            </button>
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#SampleSheet">
                Upload Customer
            </button>
        </div>
    </div>
    <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="MerchantsList_Config.SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                            data-feather="search"></i> </button>
                </div>
            </div>
        </div>
         <!-- <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div> -->

        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
              class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
              <i data-feather="minus-circle"></i>
            </button>
      
            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
              <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                (valueChanged)="Active_FilterValueChanged( $event )">
              </select2>
            </div>
            <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
            _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
              class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
                data-feather="plus-circle"></i> </button>
      
          </div>

        <!-- <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div> -->


        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown"
                    (click)="_HelperService.StopClickPropogation()" aria-haspopup="true" aria-expanded="false"> <i
                        data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <!-- <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'desc'"
                                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'asc'"
                                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6> -->


                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'desc'"
                              (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                              <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'asc'"
                              (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                              <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                          </h6>

                        <!-- <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                            *ngFor="let TItem of MerchantsList_Config.Sort.SortOptions"
                            (click)="MerchantsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a> -->


                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of MerchantsList_Config.Sort.SortOptions"
                        (click)="MerchantsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                        {{TItem.Name}}
                      </a>
                  


                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                    daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                                    (selected)="MerchantsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                    [data]="MerchantsList_Config.StatusOptions"
                                    (valueChanged)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                            </div>
                        </div>
                        <!-- <div>
                            <div class="form-group">
                                <label>Owner</label>
                                <select2 [options]="MerchantsList_Filter_Owners_Option" class="wd-100p"
                                    (valueChanged)="MerchantsList_Filter_Owners_Change($event)">
                                </select2>
                            </div>
                        </div> -->
                        <button type="button" class="btn btn-light btn-sm mr-2"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm "
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
                (click)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                    data-feather="refresh-cw"></i> </a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-15">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
            (click)="RemoveFilterComponent('Status')">
            {{_HelperService.FilterSnap.StatusName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
            (click)="RemoveFilterComponent('Sort')">
            <span>
                {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
            _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div> 
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
            (click)="RemoveFilterComponent('Other',i)">
            {{TItem.data[0].DisplayName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary"
            *ngFor="let TItem of MerchantsList_Config.Filters">{{TItem.Title}}</span>

    </div>

    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th>Status</th>

                    <th>
                        Name
                    </th>

                    <th class="text-right">
                        Total Records
                    </th>
                    <th class="text-right">
                        Success
                    </th>
                    <th class="text-right">
                        Pending
                    </th>
                    <th class="text-right">
                        Error
                    </th>

                    <th class="text-center">
                        Added On
                    </th>
                    <!-- <th>
                        Added By
                    </th> -->
                    <th>Message</th>





                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" (click)="MerchantsList_RowSelected(TItem)"
                    *ngFor="let TItem of MerchantsList_Config.Data  | paginate: { id: 'MerchantsList_Paginator',itemsPerPage: MerchantsList_Config.PageRecordLimit, currentPage: MerchantsList_Config.ActivePage,  totalItems: MerchantsList_Config.TotalRecords }">
                    <!-- <td class="text-center">
                        <img class="br" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2"
                            [style.border-color]="TItem.StatusC">
                    </td> -->
                    <td>
                        <span *ngIf="TItem.StatusId == 3" class="badge badge-success"> Completed </span>
                        <span *ngIf="TItem.StatusId == 2" class="badge badge-warning"> Processing </span>
                        <span *ngIf="TItem.StatusId == 1" class="badge badge-warning"> Pending </span>
                        <span *ngIf="TItem.StatusId == 4" class="badge badge-danger"> Error </span>

                    </td>
                    <td>
                        <div class="tx-14 ">{{TItem.Name || "--"}}</div>

                    </td>




                    <td class="text-right">
                        {{TItem.TotalRecord || "0"}}
                    </td>
                    <td class="text-right">
                        {{TItem.Success || "0"}}
                    </td>
                    <td class="text-right">
                        {{TItem.Pending || "0"}}
                    </td>
                    <td class="text-right">
                        {{TItem.Error || "0"}}
                    </td>

                    <td class="text-center">
                        <div class="text-uppercase">{{TItem.CreateDateD || "--"}}</div>
                        <div class="text-lowercase">{{TItem.CreateDateT || "--"}}</div>
                        
                    </td>

                    <!-- <td class="">
                        {{TItem.CreatedByDisplayName || "--"}}
                    </td> -->

                    <td>
                        <div> <span class=""> {{TItem.StatusMessage || "--"}} </span></div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
            {{ 'Common.Showing' | translate }}
            <span class="bold">{{MerchantsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{MerchantsList_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{MerchantsList_Config.TotalRecords}}
        </span>
        <span>
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="MerchantsList_Config.PageRecordLimit"
                (ngModelChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="MerchantsList_Paginator" class="pagination pagination-space"
                (pageChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>

<div class="modal fade" id="SampleSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="container d-flex justify-content-center">

                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <span class="tx-50 tx-success"><i class="far fa-file-excel"></i></span>


                        <!-- <input  class="cursor-pointer btn  dragDrop"   style="padding:35px !important;" type="file"  class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">         -->


                        <input type="file" id="myFile" size="50" (change)="addfile($event)" multiple="false"
                            class="cursor-pointer btn  dragDrop"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                            style="padding:35px !important;" />

                        <button (click)="onUpload()" class=" btn btn-brand-02  wd-200 mt-3"> Upload File </button>

                        <div class="mg-t-15">
                            <!-- <div> You can download sample .xls file from here. </div> -->

                            <div class="mg-t-10"> Remember-</div>
                            <div class="mg-t-5"> 1.It's mandatory to fill Name, Mobile number in sample sheet. </div>
                            <!-- <div class="mg-t-10"> 2.DOB format should be <b> MM-DD-YYYY </b></div> -->
                            <div class="mg-t-10"> 2.Gender format should be <b> Male </b> , <b> Female </b> Or <b>
                                    Other</b> </div>

                        </div>

                        <!-- <ng2-file-input id="myFile"  class="text-center mt-1" [multiple]="false" 
                            (onAdded)="onFileChange($event)"
                            extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                            [removable]="false"></ng2-file-input>   -->
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="DownloadSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Download Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div>
                    <div> You can download sample .xls file from here. </div>

                    <div class="mg-t-10"> Remember-</div>
                    <div class="mg-t-5"> 1.It's mandatory to fill Name, Mobile number in sample sheet. </div>
                    <!-- <div class="mg-t-10"> 2.DOB format should be <b> MM-DD-YYYY </b></div> -->
                    <div class="mg-t-10"> 2.Gender format should be <b> Male </b> , <b> Female </b> Or <b> Other</b>
                    </div>


                </div>

                <div class="mg-t-10 d-flex align-items-center">
                    <a href="../../../../assets/uploads/CustomerImport.xlsx" target="_blank"
                        class="btn btn-primary float-left m-auto">
                        Download
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas
    style="width: 480px !important; overflow-y:auto !important ;">
    <div class="off-canvas-content">
        <div class="card">
            <div class="card-header  d-flex justify-content-between">
                <h3 class="pb-0 mb-0 tx-20"> Customer Details </h3>


                <div>
                    <span *ngIf="CustomerData.StatusId == 3" class="badge badge-danger"> Error </span>
                    <span *ngIf="CustomerData.StatusId == 2" class="badge badge-success"> Success </span>
                    <span *ngIf="CustomerData.StatusId == 1" class="badge badge-warning"> Pending </span>

                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 float-left text-secondary">Name</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.Name || "--"}}</div>
                </div>

                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">FirstName</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">
                        <div class="tx-medium">{{CustomerData.FirstName || "--"}}</div>

                    </div>
                </div>
                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">Last Name</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.LastName || "--"}}</div>
                </div>
                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">MobileNumber</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.MobileNumber || "--"}}</div>
                </div>

                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">EmailAddress</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.EmailAddress || "--"}}</div>
                </div>
                <div class="row  mg-t-10">
                    <div class="col-md-4 float-left text-secondary">Gender</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.Gender || "--"}}</div>
                </div>
                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">DateOfBirth</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.DateOfBirth | date :["dd-MM-yyyy"] }}</div>
                </div>
                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">Added On</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.CreateDate || "--"}}</div>
                </div>

                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary"> Added By</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.CreatedByDisplayName || "--"}}</div>
                </div>

                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">ReferenceNumber</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.ReferenceNumber || "--"}}</div>
                </div>
                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">Status Message</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.StatusMessage || "--"}}</div>
                </div>

            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>

            </div>
        </div>


    </div>
</div>