<!-- <div class="content content-fixed content-profile"> -->

<div class="container shadow-none pd-x-0 pd-t-30 pd-lg-x-10 pd-xl-x-0">
    <div class="media d-block d-lg-flex">
        <div class="profile-sidebar pd-lg-r-25">
            <div class="row">
                <div class="col-sm-3 col-md-2 col-lg">
                    <div class="avatar avatar-xxl avatar-online"><img style="border-radius: 9%;"
                            src="{{ _HelperService.UserAccount.IconUrl }}" alt=""></div>
                   
                </div>
                <div class="col-sm-8 col-md-7 col-lg mg-t-20 mg-sm-t-0 mg-lg-t-25">
                    <h5 class="mg-b-2 tx-spacing--1">{{_HelperService._UserAccount.DisplayName}}</h5>
                    <p class="tx-color-03 mg-b-25">{{_HelperService._UserAccount.UserName}}</p>
                </div>
                <div class="col-sm-6 col-md-5 col-lg mg-t-40">
                    <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Contact
                        Information</label>
                    <ul class="list-unstyled profile-info-list">
                        <li>
                            <span class="text-secondary">
                                <i class="fa fa-map-marker" style="font-size:20px" aria-hidden="true"></i>
                            </span>
                            <a class="ml-2">{{_HelperService._UserAccount.Address}}</a>
                        </li>

                        

                        <!-- <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-user">
                                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                <circle cx="12" cy="10" r="3"></circle>
                            </svg>
                            <a>{{_HelperService._UserAccount.Address}}</a>
                        </li> -->

                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-user">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            <a>{{CityDet.CityName}}</a>
                        </li>

                         <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-user">
                                <path
                                    d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                </path>
                            </svg>
                            <a>{{_HelperService._UserAccount.MobileNumber}}</a>
                        </li>

                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-user">
                                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                </path>
                                <polyline points="22,6 12,13 2,6"></polyline>
                            </svg>
                            <a>{{_HelperService._UserAccount.EmailAddress}}</a>
                        </li>


                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-user">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            <a>{{_HelperService._UserAccount.CreatedByDisplayName}}</a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
        <div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">

            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item pt-1 "><a class="nav-link active" href="#" data-toggle="tab"
                        data-target="#tab-1">Profile</a></li>
                <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab"
                        data-target="#tab-5">Password</a></li>
                <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab"
                        data-target="#tab-6">Contact</a></li>
                <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab"
                        data-target="#tab-7">Credentials</a></li>
                <!-- <li class="nav-item pt-1 pb-1"><a class="nav-link" href="#" data-toggle="tab" data-target="#tab-2">Account
                                Pin</a></li> -->
                <!--   <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" data-target="#tab-3">Emails</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" data-target="#tab-4">Notifications</a></li> -->

            </ul>

            <div class="tab-content bd bd-gray-300 bd-t-0" id="myTabContent">


                <!-- <div class="w w-auto-xs light bg bg-auto-sm b-r">
                            <div class="py-3">
                                <div class="nav-active-border left b-primary">
                        
                                </div>
                            </div>
                        </div> -->

                <div class="tab-pane fade show  bd-0  active" role="tabpanel" id="tab-1">
                    <!-- <div> <h5 class="mg-b-2 tx-spacing--1"> Public profile </h5> </div> -->
                    <form [formGroup]="Form_UpdateUser" (ngSubmit)="Form_UpdateUser_Process(Form_UpdateUser.value)"
                        role="form">

                        <div class="card  shadow-none bd-0 p-0 ">
                            <div class="pt-3 pb-3">
                                <div class="col-md-12">
                                    <div class="card-header">
                                        <h6 class="text-primary"> Acquirer / Bank Information</h6>
                                        <small class="text-gray">Provides acquirer information for account setup</small>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Account Code
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" readonly disabled
                                                            [ngModelOptions]="{standalone: true}" name="AcountCode"
                                                            maxlength="256" class="form-control"
                                                            [ngModel]="_HelperService._UserAccount.AccountCode">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.Users.DisplayName' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="DisplayName" maxlength="25"
                                                            [(ngModel)]="_HelperService._UserAccount.DisplayName"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['DisplayName']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['DisplayName'].valid && Form_UpdateUser.controls['DisplayName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="DisplayName"
                                                        *ngIf="Form_UpdateUser.controls['DisplayName'].hasError('required') && Form_UpdateUser.controls['DisplayName'].touched">{{
                                                        'System.Users.DisplayName_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="DisplayName"
                                                        *ngIf="Form_UpdateUser.controls['DisplayName'].hasError('minlength') || Form_UpdateUser.controls['DisplayName'].hasError('maxlength')">{{
                                                        'System.Users.DisplayName_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'System.Users.Name' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="Name" maxlength="256"
                                                            class="form-control"
                                                            [(ngModel)]="_HelperService._UserAccount.Name"
                                                            [formControl]="Form_UpdateUser.controls['Name']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Name'].valid && Form_UpdateUser.controls['Name'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="Name"
                                                        *ngIf="Form_UpdateUser.controls['Name'].hasError('required') && Form_UpdateUser.controls['Name'].touched">{{
                                                        'System.Users.Name_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="DisplayName"
                                                        *ngIf="Form_UpdateUser.controls['Name'].hasError('minlength') || Form_UpdateUser.controls['Name'].hasError('maxlength')">{{
                                                        'System.Users.Name_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.Users.ContactNumber' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="ContactNumber" minlength="10"
                                                            maxlength="18" class="form-control"
                                                            (keypress)="_HelperService.PreventText($event)"
                                                            [(ngModel)]="_HelperService._UserAccount.ContactNumber"
                                                            [formControl]="Form_UpdateUser.controls['ContactNumber']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['ContactNumber'].valid && Form_UpdateUser.controls['ContactNumber'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="ContactNumber"
                                                        *ngIf="Form_UpdateUser.controls['ContactNumber'].hasError('required') && Form_UpdateUser.controls['ContactNumber'].touched">{{
                                                        'System.Users.ContactNumber_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="ContactNumber"
                                                        *ngIf="Form_UpdateUser.controls['ContactNumber'].hasError('minlength') || Form_UpdateUser.controls['ContactNumber'].hasError('maxlength')">{{
                                                        'System.Users.ContactNumber_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'System.Users.EmailAddress' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="EmailAddress" maxlength="256"
                                                            class="form-control"
                                                            [(ngModel)]="_HelperService._UserAccount.EmailAddress"
                                                            [formControl]="Form_UpdateUser.controls['EmailAddress']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['EmailAddress'].valid && Form_UpdateUser.controls['EmailAddress'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="EmailAddress"
                                                        *ngIf="Form_UpdateUser.controls['EmailAddress'].hasError('required') && Form_UpdateUser.controls['EmailAddress'].touched">{{
                                                        'System.Users.EmailAddress_ER_Required' | translate }}</label>

                                                    <label class="text-danger" for="EmailAddress"
                                                        *ngIf="Form_UpdateUser.controls['EmailAddress'].hasError('email') && Form_UpdateUser.controls['EmailAddress'].touched">{{
                                                        'System.Users.EmailAddress_ER_Invalid' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>{{'System.Users.Address' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="Address" maxlength="128"
                                                            class="form-control"
                                                            [(ngModel)]="_HelperService._UserAccount.Address"
                                                            [formControl]="Form_UpdateUser.controls['Address']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Address'].valid && Form_UpdateUser.controls['Address'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="Address"
                                                        *ngIf="Form_UpdateUser.controls['Address'].hasError('required') && Form_UpdateUser.controls['Address'].touched">{{
                                                        'System.Users.Address_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="Address"
                                                        *ngIf="Form_UpdateUser.controls['Address'].hasError('minlength') || Form_UpdateUser.controls['Address'].hasError('maxlength')">{{
                                                        'System.Users.Address_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>{{ 'System.Users.WebsiteUrl' | translate }}
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="WebsiteUrl" maxlength="1024"
                                                            class="form-control"
                                                            [(ngModel)]="_HelperService._UserAccount.WebsiteUrl"
                                                            [formControl]="Form_UpdateUser.controls['WebsiteUrl']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['WebsiteUrl'].valid && Form_UpdateUser.controls['WebsiteUrl'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="WebsiteUrl"
                                                        *ngIf="Form_UpdateUser.controls['WebsiteUrl'].hasError('required') && Form_UpdateUser.controls['WebsiteUrl'].touched">{{
                                                        'System.Users.WebsiteUrl_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="WebsiteUrl"
                                                        *ngIf="Form_UpdateUser.controls['WebsiteUrl'].hasError('pattern') && Form_UpdateUser.controls['WebsiteUrl'].touched">{{
                                                        'System.Users.WebsiteUrl_ER_Invalid' | translate }}</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>{{'System.Users.Description' | translate }}
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="Description" maxlength="256"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['Description']"
                                                            [(ngModel)]="_HelperService._UserAccount.Description"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Description'].valid && Form_UpdateUser.controls['Description'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="Description"
                                                        *ngIf="Form_UpdateUser.controls['Description'].hasError('required') && Form_UpdateUser.controls['Description'].touched">{{
                                                        'System.Users.Description_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="Description"
                                                        *ngIf="Form_UpdateUser.controls['Description'].hasError('minlength') || Form_UpdateUser.controls['Description'].hasError('maxlength')">{{
                                                        'System.Users.Description_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <label>{{ 'System.Users.Icon' | translate }}
                                                                <span class="small muted">
                                                                    -
                                                                    {{_HelperService._FileSelect_Icon_Data.Width}}x{{_HelperService._FileSelect_Icon_Data.Height}}
                                                                </span>
                                                            </label>
                                                            <ng2-file-input [id]="_HelperService._FileSelect_Icon" [multiple]="false" (onAdded)="_HelperService._FileSelect_Icon_onAdded($event)"
                                                                extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                                                                [browse-text]="'Show file picker'" [removable]="false"></ng2-file-input>
                                                        </div>
                                                    </div> -->
                                </div>
                            </div>
                            <div class="light p-3 text-right b-b">
                                <button type="submit" class="btn btn-primary mr-2"
                                    (click)="Form_UpdateUser.value.OperationType='new'"
                                    [disabled]="!Form_UpdateUser.valid || _HelperService.IsFormProcessing">
                                    <span *ngIf="!_HelperService.IsFormProcessing">
                                        {{ 'Common.Update' | translate }}
                                    </span>
                                    <span *ngIf="_HelperService.IsFormProcessing">
                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                        translate
                                        }}...
                                    </span>
                                </button>
                            </div>


                        </div>

                    </form>
                </div>
                <div class="tab-pane fade" role="tabpanel" role="tabpanel" id="tab-2">
                    <div class="mg-b-2 tx-spacing--1">Access Pin</div>
                    <form [formGroup]="Form_Edit" (ngSubmit)="Form_Edit_Process(Form_Edit.value)" role="form">
                        <div class="p-3 col-md-6 b-b">
                            <div class="form-group">
                                <label>{{'System.Users.OldAccessPin' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="password" name="OldAccessPin"
                                        (keypress)="_HelperService.PreventText($event)" minlength="4" maxlength="4"
                                        class="form-control" [formControl]="Form_Edit.controls['OldAccessPin']"
                                        [ngClass]="{'is-invalid':!Form_Edit.controls['OldAccessPin'].valid && Form_Edit.controls['OldAccessPin'].touched}">
                                </div>
                                <label class="text-danger" for="OldAccessPin"
                                    *ngIf="Form_Edit.controls['OldAccessPin'].hasError('required') && Form_Edit.controls['OldAccessPin'].touched">{{
                                    'System.Users.OldAccessPin_ER_Required' | translate }}</label>
                                <label class="text-danger" for="AccessPin"
                                    *ngIf="Form_Edit.controls['OldAccessPin'].hasError('pattern') ||Form_Edit.controls['OldAccessPin'].hasError('minlength') || Form_Edit.controls['OldAccessPin'].hasError('maxlength')">{{
                                    'System.Users.OldAccessPin_ER_Length' | translate }}</label>
                            </div>
                            <div class="form-group">
                                <label>{{'System.Users.NewAccessPin' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="password" name="AccessPin"
                                        (keypress)="_HelperService.PreventText($event)" maxlength="4" maxlength="4"
                                        class="form-control" [formControl]="Form_Edit.controls['AccessPin']"
                                        [ngClass]="{'is-invalid':!Form_Edit.controls['AccessPin'].valid && Form_Edit.controls['AccessPin'].touched}">
                                </div>
                                <label class="text-danger" for="AccessPin"
                                    *ngIf="Form_Edit.controls['AccessPin'].hasError('required') && Form_Edit.controls['AccessPin'].touched">{{
                                    'System.Users.NewAccessPin_ER_Required' | translate }}</label>
                                <label class="text-danger" for="AccessPin"
                                    *ngIf="Form_Edit.controls['AccessPin'].hasError('pattern') || Form_Edit.controls['AccessPin'].hasError('minlength') || Form_Edit.controls['AccessPin'].hasError('maxlength')">{{
                                    'System.Users.NewAccessPin_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="light p-3 b-b b-t ml-3 mr-3">
                            <button type="submit" class="btn btn-sm warn warn mr-2"
                                (click)="Form_Edit.value.OperationType='new'"
                                [disabled]="!Form_Edit.valid || _HelperService.IsFormProcessing">
                                <span *ngIf="!_HelperService.IsFormProcessing">
                                    {{ 'Common.Update' | translate }}
                                </span>
                                <span *ngIf="_HelperService.IsFormProcessing">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                    translate
                                    }}...
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" role="tabpanel" id="tab-3">
                    <div class="mg-b-2 tx-spacing--1">Emails</div>
                </div>
                <div class="tab-pane fade" role="tabpanel" id="tab-4">
                    <div class="pmg-b-2 tx-spacing--1">Notifications</div>
                </div>

                <div class="tab-pane fade" role="tabpanel" id="tab-5">
                    <!-- <div>  <h5 class="mg-b-2 tx-spacing--1"> Password </h5> </div> -->
                    <form [formGroup]="Form_EditPassword"
                        (ngSubmit)="Form_EditPassword_Process(Form_EditPassword.value)" role="form">
                        <div class="card bd-0 p-0">
                            <div class="pt-3 pb-3">
                                <div class="col-md-12">
                                    <div class="card-header">
                                        <h6 class="text-primary"> Password </h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>{{'System.Users.OldPassword' | translate }}
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <div class="row">
                                                    <div class="col-md-10 pd-r-0">
                                                        <input *ngIf="OShowPassword" type="password" name="OldPassword"
                                                            maxlength="20" class="form-control" autocomplete="off"
                                                            [formControl]="Form_EditPassword.controls['OldPassword']"  [(ngModel)]="Password"
                                                            [ngClass]="{'is-invalid':!Form_EditPassword.controls['OldPassword'].valid && Form_EditPassword.controls['OldPassword'].touched}">

                                                        <input *ngIf="!OShowPassword" type="text" name="OldPassword"
                                                            maxlength="20" class="form-control" autocomplete="off"
                                                            [formControl]="Form_EditPassword.controls['OldPassword']"  [(ngModel)]="Password"
                                                            [ngClass]="{'is-invalid':!Form_EditPassword.controls['OldPassword'].valid && Form_EditPassword.controls['OldPassword'].touched}">
                                                    </div>


                                                    <div class="col-md-2 px-0 input-group-append">
                                                        <a *ngIf="OShowPassword" (click)="OToogleShowHidePassword()"
                                                            class="btn  btn-outline-light d-flex align-items-center cursor-pointer">
                                                            <i class="fa fa-eye-slash fa-1x" aria-hidden="true"></i></a>

                                                        <a *ngIf="!OShowPassword" (click)="OToogleShowHidePassword()"
                                                            class="btn  btn-outline-light d-flex align-items-center cursor-pointer">
                                                            <i class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
                                                    </div>

                                                </div>

                                                <!-- <div class="row">
                                                <div class="col-md-10">
                                                    <input *ngIf="OShowPassword" type="password"
                                                        name="OldPassword" maxlength="20" class="form-control" autocomplete="off"
                                                        [formControl]="Form_EditPassword.controls['OldPassword']"
                                                        [ngClass]="{'is-invalid':!Form_EditPassword.controls['OldPassword'].valid && Form_EditPassword.controls['OldPassword'].touched}">

                                                    <input *ngIf="!OShowPassword" type="text" name="OldPassword"
                                                        maxlength="20" class="form-control" autocomplete="off"
                                                        [formControl]="Form_EditPassword.controls['OldPassword']"
                                                        [ngClass]="{'is-invalid':!Form_EditPassword.controls['OldPassword'].valid && Form_EditPassword.controls['OldPassword'].touched}">
                                                </div>


                                                <div class="col-md-2">
                                                    <input *ngIf="OShowPassword" (click)="ToogleShowHidePassword()"
                                                        class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                        <i class="fa fa-eye-slash fa-1x"
                                                            aria-hidden="true"></i>

                                                    <input *ngIf="!OShowPassword"
                                                        (click)="ToogleShowHidePassword()"
                                                        class="btn  d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                        <i class="fa fa-eye fa-1x" aria-hidden="true"></i>
                                                </div>

                                            </div> -->

                                            </div>
                                            <label class="text-danger" for="OldPassword"
                                                *ngIf="Form_EditPassword.controls['OldPassword'].hasError('required') && Form_EditPassword.controls['OldPassword'].touched">{{
                                                'System.Users.OldPassword_ER_Required' | translate }}</label>

                                        </div>
                                        <div class="form-group">
                                            <label>{{'System.Users.NewPassword' | translate }}
                                                <span class="text-danger">*</span>
                                            </label>


                                            <div class="controls">
                                                <div class="row">
                                                    <div class="col-md-10 pd-r-0">
                                                        <input *ngIf="OShownewPassword" type="password" name="Password"
                                                            maxlength="20" class="form-control" autocomplete="off"
                                                            [formControl]="Form_EditPassword.controls['Password']"
                                                            [ngClass]="{'is-invalid':!Form_EditPassword.controls['Password'].valid && Form_EditPassword.controls['OldPassword'].touched}">

                                                        <input *ngIf="!OShownewPassword" type="text" name="Password"
                                                            maxlength="20" class="form-control" autocomplete="off"
                                                            [formControl]="Form_EditPassword.controls['Password']"
                                                            [ngClass]="{'is-invalid':!Form_EditPassword.controls['Password'].valid && Form_EditPassword.controls['OldPassword'].touched}">
                                                    </div>


                                                    <div class="col-md-2 px-0 input-group-append">
                                                        <a *ngIf="OShownewPassword"
                                                            (click)="OToogleShowHidenewPassword()"
                                                            class="btn  btn-outline-light d-flex align-items-center cursor-pointer">
                                                            <i class="fa fa-eye-slash fa-1x" aria-hidden="true"></i></a>

                                                        <a *ngIf="!OShownewPassword"
                                                            (click)="OToogleShowHidenewPassword()"
                                                            class="btn  btn-outline-light d-flex align-items-center cursor-pointer">
                                                            <i class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
                                                    </div>

                                                </div>
                                            </div>


                                            <!-- <div class="controls">
                                                <input type="password" name="Password" maxlength="20"
                                                    class="form-control"
                                                    [formControl]="Form_EditPassword.controls['Password']"
                                                    [ngClass]="{'is-invalid':!Form_EditPassword.controls['Password'].valid && Form_EditPassword.controls['Password'].touched}">
                                            </div> -->
                                            <label class="text-danger" for="Password"
                                                *ngIf="Form_EditPassword.controls['Password'].hasError('required') && Form_EditPassword.controls['Password'].touched">{{
                                                'System.Users.NewPassword_ER_Required' | translate }}</label>
                                            <label class="text-danger" for="Password"
                                                *ngIf="Form_EditPassword.controls['Password'].hasError('pattern') ||Form_EditPassword.controls['Password'].hasError('minlength') || Form_EditPassword.controls['Password'].hasError('maxlength')">{{
                                                'System.Users.NewPassword_ER_Length' | translate }}</label>
                                        </div>

                                        <div class="light p-3 text-right b-b">
                                            <button type="submit" class="btn btn-primary mr-2"
                                                (click)="Form_EditPassword.value.OperationType='new'"
                                                [disabled]="!Form_EditPassword.valid || _HelperService.IsFormProcessing">
                                                <span *ngIf="!_HelperService.IsFormProcessing">
                                                    {{ 'Common.Update' | translate }}
                                                </span>
                                                <span *ngIf="_HelperService.IsFormProcessing">
                                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{
                                                    'Common.PleaseWait' |translate }}...
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="tab-pane fade" role="tabpanel" id="tab-6">
                    <form [formGroup]="Form_UpdateContactUser"
                        (ngSubmit)="Form_UpdateContactUser_Process(Form_UpdateContactUser.value)" role="form">

                        <div class="card bd-0 p-0">
                            <div class="pt-3 pb-3">
                                <div class="col-md-12">
                                    <div class="card-header">
                                        <h6 class="text-primary"> Acquirer / Bank Contact Information</h6>

                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.Users.FirstName' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="FirstName" maxlength="128"
                                                            class="form-control"
                                                            [(ngModel)]="_HelperService._UserAccount.FirstName"
                                                            [formControl]="Form_UpdateContactUser.controls['FirstName']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateContactUser.controls['FirstName'].valid && Form_UpdateContactUser.controls['FirstName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="FirstName"
                                                        *ngIf="Form_UpdateContactUser.controls['FirstName'].hasError('required') && Form_UpdateContactUser.controls['FirstName'].touched">{{
                                                        'System.Users.FirstName_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="FirstName"
                                                        *ngIf="Form_UpdateContactUser.controls['FirstName'].hasError('minlength') || Form_UpdateContactUser.controls['FirstName'].hasError('maxlength')">{{
                                                        'System.Users.FirstName_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'System.Users.LastName' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="LastName" maxlength="128"
                                                            class="form-control"
                                                            [(ngModel)]="_HelperService._UserAccount.LastName"
                                                            [formControl]="Form_UpdateContactUser.controls['LastName']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateContactUser.controls['LastName'].valid && Form_UpdateContactUser.controls['LastName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="LastName"
                                                        *ngIf="Form_UpdateContactUser.controls['LastName'].hasError('required') && Form_UpdateContactUser.controls['LastName'].touched">{{
                                                        'System.Users.LastName_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="LastName"
                                                        *ngIf="Form_UpdateContactUser.controls['LastName'].hasError('minlength') || Form_UpdateContactUser.controls['LastName'].hasError('maxlength')">{{
                                                        'System.Users.LastName_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.Users.MobileNumber' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>

                                                    <div class="controls">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend" style="height: 41px;"><span
                                                                    class="input-group-text">+234</span>
                                                            </div>
                                                            <input type="text" name="MobileNumber" minlength="10"
                                                                maxlength="14" class="form-control"
                                                                (keypress)="_HelperService.PreventText($event)"
                                                                [(ngModel)]="_HelperService._UserAccount.MobileNumber"
                                                                [formControl]="Form_UpdateContactUser.controls['MobileNumber']"
                                                                [ngClass]="{'is-invalid':!Form_UpdateContactUser.controls['MobileNumber'].valid && Form_UpdateContactUser.controls['MobileNumber'].touched}">
                                                        </div>
                                                    </div>

                                                    <label class="text-danger" for="MobileNumber"
                                                        *ngIf="Form_UpdateContactUser.controls['MobileNumber'].hasError('required') && Form_UpdateContactUser.controls['MobileNumber'].touched">{{
                                                        'System.Users.MobileNumber_ER_Required' | translate
                                                        }}</label>
                                                    <label class="text-danger" for="MobileNumber"
                                                        *ngIf="Form_UpdateContactUser.controls['MobileNumber'].hasError('minlength') || Form_UpdateContactUser.controls['MobileNumber'].hasError('maxlength')">{{
                                                        'System.Users.MobileNumber_ER_Length' | translate
                                                        }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'System.Users.SecondaryEmailAddress' | translate
                                                        }}<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="SecondaryEmailAddress" maxlength="512"
                                                            class="form-control"
                                                            [(ngModel)]="_HelperService._UserAccount.SecondaryEmailAddress"
                                                            [formControl]="Form_UpdateContactUser.controls['SecondaryEmailAddress']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateContactUser.controls['SecondaryEmailAddress'].valid && Form_UpdateContactUser.controls['SecondaryEmailAddress'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="SecondaryEmailAddress"
                                                        *ngIf="Form_UpdateContactUser.controls['SecondaryEmailAddress'].hasError('required') && Form_UpdateContactUser.controls['SecondaryEmailAddress'].touched">{{
                                                        'System.Users.SecondaryEmailAddress_ER_Required' |
                                                        translate
                                                        }}</label>
                                                    <label class="text-danger" for="SecondaryEmailAddress"
                                                        *ngIf="Form_UpdateContactUser.controls['SecondaryEmailAddress'].hasError('email') && Form_UpdateContactUser.controls['SecondaryEmailAddress'].touched">{{
                                                        'System.Users.SecondaryEmailAddress_ER_Invalid' |
                                                        translate
                                                        }}</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="light p-3 text-right b-b">
                                <button type="submit" class="btn btn-primary mr-2"
                                    (click)="Form_UpdateContactUser.value.OperationType='new'"
                                    [disabled]="!Form_UpdateContactUser.valid || _HelperService.IsFormProcessing">
                                    <span *ngIf="!_HelperService.IsFormProcessing">
                                        {{ 'Common.Update' | translate }}
                                    </span>
                                    <span *ngIf="_HelperService.IsFormProcessing">
                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{
                                        'Common.PleaseWait' |
                                        translate
                                        }}...
                                    </span>
                                </button>
                            </div>


                        </div>

                    </form>
                </div>
                <div class="tab-pane fade" role="tabpanel" id="tab-7">
                    <form [formGroup]="Form_UpdateCredentialUser"
                        (ngSubmit)="Form_UpdateCredentialUser_Process(Form_UpdateCredentialUser.value)" role="form">

                        <div class="card bd-0 p-0">
                            <div class="pt-3 pb-3">
                                <div class="col-md-12">

                                    <div class="card-header">
                                        <h6 class="text-primary"> Acquirer / Bank Account Credentials</h6>

                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.Users.UserName' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="UserName" maxlength="256"
                                                            class="form-control"
                                                            [(ngModel)]="_HelperService._UserAccount.UserName"
                                                            [formControl]="Form_UpdateCredentialUser.controls['UserName']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateCredentialUser.controls['UserName'].valid && Form_UpdateCredentialUser.controls['UserName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="UserName"
                                                        *ngIf="Form_UpdateCredentialUser.controls['UserName'].hasError('required') && Form_UpdateCredentialUser.controls['UserName'].touched">{{
                                                        'System.Users.UserName_ER_Required' | translate }}</label>

                                                    <label class="text-danger" for="UserName"
                                                        *ngIf="Form_UpdateCredentialUser.controls['UserName'].hasError('minlength') || Form_UpdateCredentialUser.controls['UserName'].hasError('maxlength')">{{
                                                        'System.Users.UserName_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div> <label>{{ 'System.Users.Gender' | translate }}<span
                                                                    class="text-danger">*</span>
                                                            </label></div>
                                                        <div class="radio float-left mr-3">
                                                            <label class="ui-check"><input type="radio" name="gender"
                                                                    [(ngModel)]="_HelperService._UserAccount.GenderCode"
                                                                    [value]="_HelperService.AppConfig.Gender.Male"
                                                                    [formControl]="Form_UpdateCredentialUser.controls['GenderCode']">
                                                                <i class="dark-white"></i>
                                                                {{ 'System.Users.Male' | translate }}</label>
                                                        </div>
                                                        <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                                                    name="gender"
                                                                    [(ngModel)]="_HelperService._UserAccount.GenderCode"
                                                                    [value]="_HelperService.AppConfig.Gender.Female"
                                                                    [formControl]="Form_UpdateCredentialUser.controls['GenderCode']">
                                                                <i class="dark-white"></i>
                                                                {{ 'System.Users.Female' | translate }}</label></div>
                                                    </div>
                                                </div> -->
                                        </div>

                                    </div>


                                    <!-- <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <label>{{ 'System.Users.Icon' | translate }}
                                                            <span class="small muted">
                                                                -
                                                                {{_HelperService._FileSelect_Icon_Data.Width}}x{{_HelperService._FileSelect_Icon_Data.Height}}
                                                            </span>
                                                        </label>
                                                        <ng2-file-input [id]="_HelperService._FileSelect_Icon" [multiple]="false" (onAdded)="_HelperService._FileSelect_Icon_onAdded($event)"
                                                            extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                                                            [browse-text]="'Show file picker'" [removable]="false"></ng2-file-input>
                                                    </div>
                                                </div> -->
                                </div>
                            </div>
                            <div class="light p-3 text-right b-b">
                                <button type="submit" class="btn btn-primary mr-2"
                                    (click)="Form_UpdateCredentialUser.value.OperationType='new'"
                                    [disabled]="!Form_UpdateCredentialUser.valid || _HelperService.IsFormProcessing">
                                    <span *ngIf="!_HelperService.IsFormProcessing">
                                        {{ 'Common.Update' | translate }}
                                    </span>
                                    <span *ngIf="_HelperService.IsFormProcessing">
                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                        translate
                                        }}...
                                    </span>
                                </button>
                            </div>


                        </div>

                    </form>
                </div>



            </div>

        </div>
    </div>
</div>
