<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        <form [formGroup]="Form_UpdateUser" (ngSubmit)="Form_UpdateUser_Process(Form_UpdateUser.value)" role="form">
            <div class="box">
                <div class="box-header b-b b-2x">
                    <h3 class="text-warn">Store Information</h3><small class="text-gray">Provider store
                        information for
                        account setup </small>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.DisplayName' | translate }}<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="DisplayName" maxlength="25" class="form-control"
                                        [formControl]="Form_UpdateUser.controls['DisplayName']"
                                        [(ngModel)]="_HelperService._UserAccount.DisplayName"
                                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['DisplayName'].valid && Form_UpdateUser.controls['DisplayName'].touched}">
                                </div>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="Form_UpdateUser.controls['DisplayName'].hasError('required') && Form_UpdateUser.controls['DisplayName'].touched">{{
                                        'System.AddAcquirer.DisplayName_ER_Required' | translate }}</label>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="Form_UpdateUser.controls['DisplayName'].hasError('minlength') || Form_UpdateUser.controls['DisplayName'].hasError('maxlength')">{{
                                        'System.AddAcquirer.DisplayName_ER_Length' | translate }}</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.ContactNumber' | translate }}<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="ContactNumber" minlength="10" maxlength="18"
                                        class="form-control" (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_UpdateUser.controls['ContactNumber']"
                                        [(ngModel)]="_HelperService._UserAccount.ContactNumber"
                                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['ContactNumber'].valid && Form_UpdateUser.controls['ContactNumber'].touched}">
                                </div>
                                <label class="text-danger" for="ContactNumber"
                                    *ngIf="Form_UpdateUser.controls['ContactNumber'].hasError('required') && Form_UpdateUser.controls['ContactNumber'].touched">{{
                                        'System.AddAcquirer.ContactNumber_ER_Required' | translate }}</label>
                                <label class="text-danger" for="ContactNumber"
                                    *ngIf="Form_UpdateUser.controls['ContactNumber'].hasError('minlength') || Form_UpdateUser.controls['ContactNumber'].hasError('maxlength')">{{
                                        'System.AddAcquirer.ContactNumber_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.AddAcquirer.EmailAddress' | translate }}<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                                        [formControl]="Form_UpdateUser.controls['EmailAddress']"
                                        [(ngModel)]="_HelperService._UserAccount.EmailAddress"
                                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['EmailAddress'].valid && Form_UpdateUser.controls['EmailAddress'].touched}">
                                </div>
                                <label class="text-danger" for="EmailAddress"
                                    *ngIf="Form_UpdateUser.controls['EmailAddress'].hasError('required') && Form_UpdateUser.controls['EmailAddress'].touched">{{
                                            'System.AddAcquirer.EmailAddress_ER_Required' | translate }}</label>

                                <label class="text-danger" for="EmailAddress"
                                    *ngIf="Form_UpdateUser.controls['EmailAddress'].hasError('email') && Form_UpdateUser.controls['EmailAddress'].touched">{{
                                            'System.AddAcquirer.EmailAddress_ER_Invalid' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.Address' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <textarea name="Address" maxlength="256" rows="2" class="form-control"
                                        [formControl]="Form_UpdateUser.controls['Address']"
                                        [(ngModel)]="_HelperService._UserAccount.Address"
                                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Address'].valid && Form_UpdateUser.controls['Address'].touched}"></textarea>
                                </div>
                                <label class="text-danger" for="Address"
                                    *ngIf="Form_UpdateUser.controls['Address'].hasError('required') && Form_UpdateUser.controls['Address'].touched">{{
                                            'System.AddAcquirer.Address_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Address"
                                    *ngIf="Form_UpdateUser.controls['Address'].hasError('minlength') || Form_UpdateUser.controls['Address'].hasError('maxlength')">{{
                                            'System.AddAcquirer.Address_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.Users.Latitude' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Latitude" maxlength="20" class="form-control"
                                        [(ngModel)]="_HelperService._UserAccount.Latitude"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_UpdateUser.controls['Latitude']"
                                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Latitude'].valid && Form_UpdateUser.controls['Latitude'].touched}">
                                </div>
                                <label class="text-danger" for="Latitude"
                                    *ngIf="Form_UpdateUser.controls['Latitude'].hasError('required') && Form_UpdateUser.controls['Latitude'].touched">{{
                                                            'System.Users.Latitude_ER_Required' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.Users.Longitude' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Longitude" maxlength="20" class="form-control"
                                        [(ngModel)]="_HelperService._UserAccount.Longitude"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_UpdateUser.controls['Longitude']"
                                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Longitude'].valid && Form_UpdateUser.controls['Longitude'].touched}">
                                </div>
                                <label class="text-danger" for="Longitude"
                                    *ngIf="Form_UpdateUser.controls['Longitude'].hasError('required') && Form_UpdateUser.controls['Longitude'].touched">{{
                                                            'System.Users.Longitude_ER_Required' | translate }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-header b-b b-2x b-t">
                    <h3 class="text-warn">Store Account Credentials</h3>
                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.UserName' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="UserName" maxlength="256" class="form-control"
                                        [formControl]="Form_UpdateUser.controls['UserName']"
                                        [(ngModel)]="_HelperService._UserAccount.UserName"
                                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['UserName'].valid && Form_UpdateUser.controls['UserName'].touched}">
                                </div>
                                <label class="text-danger" for="UserName"
                                    *ngIf="Form_UpdateUser.controls['UserName'].hasError('required') && Form_UpdateUser.controls['UserName'].touched">{{
                                'System.AddAcquirer.UserName_ER_Required' | translate }}</label>

                                <label class="text-danger" for="UserName"
                                    *ngIf="Form_UpdateUser.controls['UserName'].hasError('minlength') || Form_UpdateUser.controls['UserName'].hasError('maxlength')">{{
                                'System.AddAcquirer.UserName_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.AddAcquirer.Password' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <input type="text" name="Password" maxlength="20"
                                        [(ngModel)]="_HelperService.RandomPassword" class="form-control"
                                        [formControl]="Form_UpdateUser.controls['Password']"
                                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Password'].valid && Form_UpdateUser.controls['Password'].touched}">

                                    <div class="input-group-append"><button class="btn white" type="button"
                                            (click)="_HelperService.GeneratePassoword()"><i
                                                class="{{ 'Common.RefreshI' | translate }}"></i></button></div>
                                </div>

                                <label class="text-danger" for="Password"
                                    *ngIf="Form_UpdateUser.controls['Password'].hasError('required') && Form_UpdateUser.controls['Password'].touched">{{
                                    'System.AddAcquirer.Password_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Password"
                                    *ngIf="Form_UpdateUser.controls['Password'].hasError('pattern') ||Form_UpdateUser.controls['Password'].hasError('minlength') || Form_UpdateUser.controls['Password'].hasError('maxlength')">{{
                                    'System.AddAcquirer.Password_ER_Length' | translate }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-header b-b b-2x b-t">
                    <h3 class="text-danger">Account Status</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div> <label>{{ 'System.AddAcquirer.AccountStatus' | translate }}<span
                                    class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="statusoptions"
                                    [value]="_HelperService.AppConfig.Status.Active"
                                    [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                    [formControl]="Form_UpdateUser.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Active' | translate }}</label>
                        </div>
                        <div class="radio  float-left mr-3"><label class="ui-check"><input type="radio"
                                    name="statusoptions" [value]="_HelperService.AppConfig.Status.Suspended"
                                    [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                    [formControl]="Form_UpdateUser.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Suspend' | translate }}</label></div>


                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                                    [value]="_HelperService.AppConfig.Status.Blocked"
                                    [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                    [formControl]="Form_UpdateUser.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Block' | translate }}</label></div>
                    </div>
                </div>
                <div class="light p-3 text-right b-b b-t">
                    <button type="submit" class="btn btn-fw warn warn mr-2"
                        (click)="Form_UpdateUser.value.OperationType='new'"
                        [disabled]="!Form_UpdateUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.Update' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                    }}...
                        </span>
                    </button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 hidden-xs ">
        <div class="box">
            <div class="box-header b-b b-2x">
                <h3 class="text-warn">Store Locator </h3>
                <small>Search or click on map to locate store address</small>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label>{{'System.Users.LocateAddress' | translate }}<span class="text-danger">*</span> </label>
                    <div class="controls">
                        <input type="text" name="GAddress" maxlength="256" class="form-control"
                            ngx-google-places-autocomplete #places="ngx-places"
                            (onAddressChange)="Form_UpdateUser_AddressChange($event)">
                    </div>
                </div>
                <agm-map style="height:255px;" [zoom]="12" [latitude]="_HelperService._UserAccount.Latitude"
                    [longitude]="_HelperService._UserAccount.Longitude"
                    (mapClick)="Form_UpdateUser_PlaceMarkerClick($event)">
                    <agm-marker [latitude]="_HelperService._UserAccount.Latitude"
                        [longitude]="_HelperService._UserAccount.Longitude">
                    </agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>




<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageChangedEvent]="_HelperService._Icon_Cropper_ChangedEvent"
                                [aspectRatio]="1/1" format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCropped)="_HelperService.Icon_Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Change Picture
                            </div>
                            <div class="mb-3">
                                <input type="file" (change)="_HelperService.Icon_Change($event)" />
                            </div>
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>

                                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                            translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>