<!-- <div class="card"> -->


  <div class="d-sm-flex align-items-center justify-content-between mb-2">
    <div class="d-flex justify-content-between ">
      <div class="form-group  mb-0 pb-0 " >
        <!-- <input type="text" class="form-control form-daterangepicker" name="daterangeInput"
            daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
            (selected)="TerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" /> -->
    </div>
    
    <div class="form-group mg-l-5 mb-0 pb-0 " *ngIf="!_HelperService.IsFormProcessing">
      <select2 name="S2GetBranches" class="full-width" [options]="GetBranches_Option"
          (valueChanged)="GetBranches_ListChange($event)"></select2>
 
  </div>

  <div class="form-group  mg-l-5 mb-0 pb-0" *ngIf="!_HelperService.IsFormProcessing">
    <select2 name="S2GetManagers" class="full-width" [options]="GetMangers_Option"
        (valueChanged)="GetMangers_ListChange($event)"></select2>

</div>

    </div>
    <div class="d-flex justify-content-between mg-t-10  mg-md-t-0">
      <button class="btn btn-sm pd-x-15 btn-white btn-uppercase"><i data-feather="mail" class="wd-10 mg-r-5"></i> Email</button>
      <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="upload" class="wd-10 mg-r-5"></i> Export</button>
    </div>
  </div>
    <div class="row row-xs">
      <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
        <div class="card ht-100p">
          <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
            <div>
              <h6 class="mg-b-5 tx-bold">Targets Report</h6>
              <p class="tx-13 tx-color-03 mg-b-0">20 May compared to <span class="text-primary"> Last Day</span></p>
            </div>
  
            <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
              <li class="list-inline-item d-flex align-items-center">
                <span class="d-block wd-10 ht-10 bg-teal rounded mg-r-5"></span>
                <span class="tx-sans  tx-10 tx-medium tx-color-03">Today</span>
              </li>
              <li class="list-inline-item d-flex align-items-center mg-l-5">
                <span class="d-block wd-10 ht-10 bg-MasterCard rounded mg-r-5"></span>
                <span class="tx-sans  tx-10 tx-medium tx-color-03">Same day Of Last Month</span>
              </li>
  
            </ul>
          </div><!-- card-header -->
          <div class="card-body pd-lg-25">
            <div class="row align-items-sm-end">
              <div class="col-lg-9 col-xl-9 col-md-12 p-0">

                <canvas class="chart-six"   baseChart #DataPlot="base-chart" [datasets]="barChartData" [labels]="barChartLabels"
                [options]="Options" [plugins]="Options.Plugins" [chartType]="_HelperService.ChartConfig.LineChart.Type">
              </canvas>
              </div>
  
              <div class="col-md-12 col-lg-3 col-xl-3 mg-t-30 mg-lg-t-0">
                <div class="row">
                  <div class="col-sm-6 col-lg-12">
            
                      <div class="d-flex justify-content-between mg-b-5">
                          <div class="wd-100p">
                            <p class="tx-bold tx-16 tx-verve mg-b-5">N200 200</p>
                            <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Target amount</p>
      
                            <p class="tx-12 tx-color-03 mg-b-0">Sales amount generated by all POS activities</p>
      
                          </div>
      
      
                        </div>
  
  
                  </div>
                  <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                    <div class="d-flex justify-content-between mg-b-5">
                      <div class="wd-100p">
                        <p class="tx-bold tx-16 tx-teal mg-b-5">N200 200</p>
                        <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Target Achieved</p>
  
                        <p class="tx-12 tx-color-03 mg-b-0">Total Transactions done by all POS</p>
  
                      </div>
  
  
                    </div>
   
  
                  </div>
                  <div class="col-sm-6  col-lg-12 mg-t-30">
                    <div class="d-flex justify-content-between mg-b-5">
                      <div class="wd-100p">
                        <p class="tx-bold tx-16 tx-primary mg-b-5">N200 200</p>
                        <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Revenue Amount/Pos</p>
  
                        <p class="tx-12 tx-color-03 mg-b-0">An average amount of revenue generated per POS</p>
  
                      </div>
  
  
                    </div>
  
                  </div>
  
                </div><!-- row -->
  
              </div>
            </div>
          </div><!-- card-body -->
        </div><!-- card -->
      </div>
    </div>

    <div class="row row-xs mt-3">
        <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
          <div class="card ht-100p">
            <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
              <div>
                <h6 class="mg-b-5 tx-bold">Sales Report</h6>
                <p class="tx-13 tx-color-03 mg-b-0">This Week Compare To <span class="text-primary"> Last Week </span></p>
              </div>
    
              <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
                <li class="list-inline-item d-flex align-items-center">
                  <span class="d-block wd-10 ht-10 bg-teal rounded mg-r-5"></span>
                  <span class="tx-sans  tx-10 tx-medium tx-color-03">Today</span>
                </li>
                <li class="list-inline-item d-flex align-items-center mg-l-5">
                  <span class="d-block wd-10 ht-10 bg-MasterCard rounded mg-r-5"></span>
                  <span class="tx-sans  tx-10 tx-medium tx-color-03">Same day Of Last Month</span>
                </li>
    
              </ul>
            </div><!-- card-header -->
            <div class="card-body pd-lg-25">
              <div class="row align-items-sm-end">
                <div class="col-lg-9 col-xl-9 col-md-12 p-0">

                  <canvas class="chart-six"   baseChart #DataPlot="base-chart" [datasets]="barChartData" [labels]="barChartLabels"
                  [options]="Options" [plugins]="Options.Plugins" [chartType]="_HelperService.ChartConfig.LineChart.Type">
                </canvas>
                </div>
    
                <div class="col-md-12 col-lg-3 col-xl-3 mg-t-30 mg-lg-t-0">
                  <div class="row">
                    <div class="col-sm-6 col-lg-12">
              
                        <div class="d-flex justify-content-between mg-b-5">
                            <div class="wd-100p">
                              <p class="tx-bold tx-16 tx-verve mg-b-5">N200 200</p>
                              <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Revenue amount</p>
        
                              <p class="tx-12 tx-color-03 mg-b-0">Amount of budget reached to this in 23 Hrs</p>
        
                            </div>
        
        
                          </div>
    
    
                    </div>
                    <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                      <div class="d-flex justify-content-between mg-b-5">
                        <div class="wd-100p">
                          <p class="tx-bold tx-16 tx-teal mg-b-5">N200 200</p>
                          <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Transactions</p>
    
                          <p class="tx-12 tx-color-03 mg-b-0">Amount of budget reached to this in 23 Hrs</p>
    
                        </div>
    
    
                      </div>
     
    
                    </div>
                    <div class="col-sm-6  col-lg-12 mg-t-30">
                      <div class="d-flex justify-content-between mg-b-5">
                        <div class="wd-100p">
                          <p class="tx-bold tx-16 tx-primary mg-b-5">N200 200</p>
                          <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Revenue Amount/Pos</p>
    
                          <p class="tx-12 tx-color-03 mg-b-0">Sales amount achieved under this Campaign</p>
    
                        </div>
    
    
                      </div>
    
                    </div>
    
                  </div><!-- row -->
    
                </div>
              </div>
            </div><!-- card-body -->
          </div><!-- card -->
        </div>
      </div>
  


  <!-- </div> -->