<div class="card mt-2">
    <div [className]="_HelperService._Assets.Box.header">
        <div class="tx-14 tx-bold"> {{MerchantsList_Config.Title}} </div>
        <div class="float-right">

            <!-- <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#DownloadSheet">
                Download Template
            </button>
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#SampleSheet">
                Upload Customer
            </button> -->

            <button type="button" class="btn btn-primary btn-xs" (click)="Form_AddCustomer_Show()">
                Add Customer
            </button>
        </div>
    </div>
    <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="MerchantsList_Config.SearchParameter" maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}" (keyup)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                            data-feather="search"></i> </button>
                </div>
            </div>
        </div>
        <!-- <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div> -->

        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i>
            </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2" [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
            _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown" (click)="_HelperService.StopClickPropogation()" aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <!-- <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'desc'"
                                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'asc'"
                                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6> -->



                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'desc'" (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'asc'" (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of MerchantsList_Config.Sort.SortOptions" (click)="MerchantsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>


                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20" (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions" (selected)="MerchantsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p" [data]="MerchantsList_Config.StatusOptions" (valueChanged)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                            </div>
                        </div>
                        <!-- <div>
                            <div class="form-group">
                                <label>Owner</label>
                                <select2 [options]="MerchantsList_Filter_Owners_Option" class="wd-100p"
                                    (valueChanged)="MerchantsList_Filter_Owners_Change($event)">
                                </select2>
                            </div>
                        </div> -->
                        <button type="button" class="btn btn-light btn-sm mr-2" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm " (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer" (click)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i data-feather="refresh-cw"></i> </a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-15">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)" (click)="RemoveFilterComponent('Status')">
            {{_HelperService.FilterSnap.StatusName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='desc')"
            (click)="RemoveFilterComponent('Sort')">
            <span>
                {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index" (click)="RemoveFilterComponent('Other',i)">
            {{TItem.data[0].DisplayName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary" *ngFor="let TItem of MerchantsList_Config.Filters">{{TItem.Title}}</span>

    </div>

    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th class="text-center">
                    </th>

                    <th class="tx-14">
                        Name
                    </th>

                    <th class="tx-14">
                        Mobile Number
                    </th>
                    <th class="tx-14">
                        Email Address
                    </th>

                    <th class="tx-14">
                        Gender
                    </th>

                    <th class="text-center tx-14">
                        Added On
                    </th>

                    <th class="tx-14">
                        Status
                    </th>


                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" (click)="MerchantsList_RowSelected(TItem)" *ngFor="let TItem of MerchantsList_Config.Data  | paginate: { id: 'MerchantsList_Paginator',itemsPerPage: MerchantsList_Config.PageRecordLimit, currentPage: MerchantsList_Config.ActivePage,  totalItems: MerchantsList_Config.TotalRecords }">
                    <td class="text-center">
                        <img class="br" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
                    </td>

                    <td>
                        <div class="tx-14">{{TItem.DisplayName || "--"}}</div>
                    </td>

                    <td class="">
                        <div class="tx-14">
                            {{TItem.MobileNumber || "--"}}
                        </div>
                    </td>

                    <td class="">
                        <div class="tx-14">
                            {{TItem.EmailAddress || "--"}}
                        </div>
                    </td>

                    <td class="">
                        <div class="tx-14">
                            {{TItem.GenderName || "--"}}
                        </div>
                    </td>

                    <td class="text-center">
                        <div class="text-uppercase tx-14">{{TItem.CreateDateD || "--"}}</div>
                        <div class="text-lowercase tx-14">{{TItem.CreateDateT || "--"}}</div>
                    </td>

                    <td>
                        <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3 tx-14">
            {{ 'Common.Showing' | translate }}
            <span class="bold">{{MerchantsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{MerchantsList_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{MerchantsList_Config.TotalRecords}}
        </span>
        <span class="tx-14">
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="MerchantsList_Config.PageRecordLimit"
                (ngModelChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right tx-14">
            <pagination-controls id="MerchantsList_Paginator" class="pagination pagination-space"
                (pageChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>

<div class="modal fade" id="SampleSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="container d-flex justify-content-center">

                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <span class="tx-50 tx-success"><i class="far fa-file-excel"></i></span>


                        <!-- <input  class="cursor-pointer btn  dragDrop"   style="padding:35px !important;" type="file"  class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">         -->


                        <input type="file" id="myFile" size="50" (change)="addfile($event)" multiple="false" class="cursor-pointer btn  dragDrop" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="padding:35px !important;"
                        />

                        <button (click)="onUpload()" class=" btn btn-brand-02  wd-200 mt-3"> Upload File </button>

                        <div> </div>

                        <!-- <ng2-file-input id="myFile"  class="text-center mt-1" [multiple]="false" 
                            (onAdded)="onFileChange($event)"
                            extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                            [removable]="false"></ng2-file-input>   -->
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="DownloadSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Download Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div>
                    <div> You can download sample .xls file from here. </div>

                    <div class="mg-t-10"> Remember-</div>
                    <div class="mg-t-5"> 1.It's mandatory to fill Name, Mobile number in sample sheet. </div>
                    <div class="mg-t-10"> 2.DOB format should be <b> MM-DD-YYYY </b></div>

                </div>

                <div class="mg-t-10 d-flex align-items-center">
                    <a href="../../../../assets/uploads/CustomerImport.xlsx" target="_blank" class="btn btn-primary float-left m-auto">
                        Download
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas style="width: 480px !important; overflow-y:auto !important ;">
    <div class="off-canvas-content">
        <div class="card">
            <div class="card-header  d-flex justify-content-between">
                <h3 class="pb-0 mb-0 tx-20"> Customer Details </h3>

                <div>
                    <span class="{{CustomerData.StatusB}} mg-l-10">
                        {{CustomerData.StatusName || "--"}}
                    </span>
                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 float-left text-secondary">Name</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.Name || "--"}}</div>
                </div>

                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">First Name</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">
                        <div class="tx-medium">{{CustomerData.FirstName || "--"}}</div>

                    </div>
                </div>
                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">Last Name</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.LastName || "--"}}</div>
                </div>
                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">Mobile Number</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.MobileNumber || "--"}}</div>
                </div>

                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">Email Address</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.EmailAddress || "--"}}</div>
                </div>
                <div class="row  mg-t-10">
                    <div class="col-md-4 float-left text-secondary">Gender</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.GenderName || "--"}}</div>
                </div>
                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">Date Of Birth</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.DateOfBirth | date :["dd-MM-yyyy"] }}</div>
                </div>
                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">Added On</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.CreateDate || "--"}}</div>
                </div>

                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary"> Added By</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.CreatedByDisplayName || "--"}}</div>
                </div>

                <div class="row mg-t-10">
                    <div class="col-md-4 float-left text-secondary">Reference Number</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{CustomerData.ReferenceNumber || "--"}}</div>
                </div>
                <!-- <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Status Message</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CustomerData.StatusMessage || "--"}}</div>
        </div> -->

            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>

            </div>
        </div>


    </div>
</div>

<div id="Form_AddCustomer_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true" style="overflow-y: scroll !important;">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddCustomer" (ngSubmit)="Form_AddCustomer_Process(Form_AddCustomer.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Customer</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.FirstName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="FirstName" placeholder="First Name" required maxlength="128" class="form-control" [formControl]="Form_AddCustomer.controls['FirstName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCustomer.controls['FirstName'].valid &&
                        Form_AddCustomer.controls['FirstName'].touched
                    }" />
                                </div>
                                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCustomer.controls['FirstName'].hasError('required') &&
                    Form_AddCustomer.controls['FirstName'].touched
                  ">{{
                                    "System.Users.FirstName_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCustomer.controls['FirstName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCustomer.controls['FirstName'].hasError('maxlength')
                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.LastName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="LastName" placeholder="Last Name" required maxlength="128" class="form-control" [formControl]="Form_AddCustomer.controls['LastName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCustomer.controls['LastName'].valid &&
                        Form_AddCustomer.controls['LastName'].touched
                    }" />
                                </div>
                                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCustomer.controls['LastName'].hasError('required') &&
                    Form_AddCustomer.controls['LastName'].touched
                  ">{{
                                    "System.Users.LastName_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCustomer.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCustomer.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ "System.Users.EmailAddress" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128" class="form-control" [formControl]="Form_AddCustomer.controls['EmailAddress']" [ngClass]="{
                          'is-invalid':
                            !Form_AddCustomer.controls['EmailAddress'].valid &&
                           Form_AddCustomer.controls['EmailAddress'].touched
                        }" />
                        </div>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCustomer.controls['EmailAddress'].hasError('required') &&
                       Form_AddCustomer.controls['EmailAddress'].touched
                      ">{{
                            "System.Users.EmailAddress_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCustomer.controls['EmailAddress'].touched &&
                        !Form_AddCustomer.controls['EmailAddress'].valid && 
                        !Form_AddCustomer.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
                    </div>



                    <div class="form-group">
                        <label>{{ "System.Users.MobileNumber" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <div class="input-group">
                                <div class="input-group-prepend" style="height: 41px;"><span class="input-group-text">+234</span>
                                </div>
                                <input type="text" placeholder="Contact Number" name="MobileNumber" minlength="10" maxlength="13" class="form-control" (keypress)="_HelperService.PreventText($event)" [formControl]="Form_AddCustomer.controls['MobileNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddCustomer.controls['MobileNumber'].valid &&
                         Form_AddCustomer.controls['MobileNumber'].touched
                      }" />
                            </div>
                        </div>
                        <label class="text-danger" for="MobileNumber" *ngIf="
                     Form_AddCustomer.controls['MobileNumber'].hasError('required') &&
                     Form_AddCustomer.controls['MobileNumber'].touched
                    ">{{
                            "System.Users.MobileNumber_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="MobileNumber" *ngIf="
                     Form_AddCustomer.controls['MobileNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddCustomer.controls['MobileNumber'].hasError('maxlength')
                    ">{{ "System.Users.MobileNumber_ER_Lengths" | translate }}</label>
                    </div>

                    <div class="form-group">
                        <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Male"
                                    [formControl]="Form_AddCustomer.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Male' | translate }}</label>
                        </div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Female"
                                    [formControl]="Form_AddCustomer.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Female' | translate }}</label></div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div>
                                <label>Profile Picture</label>
                            </div>
                            <div class="col-md-12">
                                <input-file #customer fileAccept="image/*" sizeLimit="400" fileLimit="1" inputId="input-file" placeholder="" (deletedFile)="removeImage($event)" (acceptedFile)="onImageAccept1($event)">
                                </input-file>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <div>
                            <label>Profile Picture
                            </label>
                        </div>
                        <div class="col-md-12">
                            <input-file #cashier inputId="input-file" placeholder="">
                            </input-file>
                        </div>
                    </div> -->


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddCustomer_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddCustomer.value.OperationType = 'new'" [disabled]="!Form_AddCustomer.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3" *ngIf="_ImageManager.ActiveImage != undefined && _ImageManager.ActiveImage != null">
                            <image-cropper [imageFileChanged]="_ImageManager.ActiveImage.file" [aspectRatio]="2 / 1" [format]="jpeg" [maintainAspectRatio]="_ImageManager.Option.MaintainAspectRatio" [cropperMinWidth]="_ImageManager.Option.MinimumWidth" [cropperMinHeight]="_ImageManager.Option.MinimumHeight"
                                [resizeToWidth]="_ImageManager.Option.ResizeToWidth" (imageCroppedBase64)="Icon_B64Cropped($event)" (imageLoaded)="_HelperService.Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " (click)="Icon_B64CroppedDone()" data-dismiss="modal">{{
                  'Common.PictureDone' |
                  translate }}</button> &nbsp;
                                <button type="button" class="btn btn-warning " (click)="Icon_Crop_Clear()">{{
                  'Common.PictureClearAndClose' |
                  translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>