<div class="box mb-0">
    <div class="box-body">
        <div class="box-header text-warn p-0 pb-3">
            <h3>{{_HelperService._UserAccount.DisplayName || "--"}}</h3>
        </div>
        <div class="row no-gutters">

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="mb-2"><small class="text-muted">{{'System.Users.ContactNumber' | translate
                        }}</small>
                    <div class="_500">{{_HelperService._UserAccount.ContactNumber || "--"}}</div>
                </div>


            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div><small class="text-muted">{{'System.Users.EmailAddress' | translate
                            }}</small>
                    <div class="_500">{{_HelperService._UserAccount.EmailAddress || "--"}}</div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-2"><small class="text-muted">{{'System.Users.Address' | translate }}</small>
                    <div class="_500">{{_HelperService._UserAccount.Address || "--"}}</div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="mb-2"><small class="text-muted">{{'Common.ActiveSince' | translate
                            }}</small>
                    <div class="_500">{{_HelperService._UserAccount.CreateDateS || "--"}}</div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="box mb-0">
    <div class="navbar navbar-expand-lg">
        <li class="d-lg-none d-flex align-items-center"><a href="#" class="mx-2" data-toggle="collapse"
                data-target="#navbarToggler"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                    viewBox="0 0 512 512">
                    <path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z"></path>
                </svg></a></li>
        <div class="collapse navbar-collapse order-lg-1" id="navbarToggler">
            <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.Dashboard}}/{{_HelperService.AppConfig.ActiveReferenceKey}}"
                        [routerLinkActive]="['active']"><span class="nav-text">{{
                                        'System.Menu.Dashboard' | translate }}</span></a>

                </li>
                <li class="nav-item" [routerLinkActive]="['active']"
                    *ngIf="!_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled">
                    <a class="nav-link"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.RewardHistory}}/{{_HelperService.AppConfig.ActiveReferenceKey}}"
                        [routerLinkActive]="['active']">
                        <span class="nav-text">{{
                                    'System.Menu.Reward' | translate }}</span></a>
                </li>

                <li class="nav-item" [routerLinkActive]="['active']"
                    *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled ">
                    <a class="nav-link"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.TUCPlusRewardHistory}}/{{_HelperService.AppConfig.ActiveReferenceKey}}"
                        [routerLinkActive]="['active']"><span class="nav-text"> {{
                                       'System.Menu.TucPlusReward' | translate }}</span></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']"
                    *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled ">
                    <a class="nav-link"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.TUCPlusRewardClaimHistory}}/{{_HelperService.AppConfig.ActiveReferenceKey}}"
                        [routerLinkActive]="['active']"><span class="nav-text"> {{
                                           'System.Menu.TucPlusTransfer' | translate }}</span></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.RedeemHistory}}/{{_HelperService.AppConfig.ActiveReferenceKey}}"
                        [routerLinkActive]="['active']">
                        <span class="nav-text">{{ 
                                    'System.Menu.Redeem' | translate }}</span></a>
                </li>
                <!-- <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.UpdateStore}}/{{_HelperService.AppConfig.ActiveReferenceKey}}"
                        [routerLinkActive]="['active']"><span class="nav-text">Update Store
                            Details</span></a>
                </li> -->
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>