<div class="d-flex flex fixed-height" id="SideContainer" [style.height.px]="_HelperService.ContainerHeight">
    <div class="fade aside aside-sm b-r b-l " id="content-aside" *ngIf="_HelperService.ShowAsidePanel">
        <div class="modal-dialog d-flex flex-column w-md h-100  lt">
            <div class="navbar white b-b">
                <div class="navbar-text nav-title flex" id="pageTitle">
                    <a (click)="_HelperService.NavigateBack()">
                        <i class=" icon-arrow-left-circle  pr-1"></i>
                    </a>
                    <span class="text-uppercase"> {{_HelperService.AppConfig.ActivePageName}}</span></div>
            </div>
            <div class="scrollable hover">
                <div class="p-2">
                    <div>
                        <div class="mb-2"><small class="text-muted">{{'System.Users.TerminalId' | translate }}</small>
                            <div class="_500">{{_HelperService._UserAccount.UserName || "--"}}</div>
                        </div>
                        <div class="mb-2">
                            <small class="text-muted">{{'System.Users.AccountCode' | translate }}</small>
                            <div class="_500">{{_HelperService._UserAccount.AccountCode || "--"}}</div>
                        </div>
                    </div>
                </div>
                <div class="tab-content pos-rlt">
                    <div class="tab-pane active" id="tab_details">

                        <div class="px-2 py-2 b-b b-t text-primary"> {{'System.Users.Activity' | translate }}
                            {{'System.Users.And' | translate }}
                            {{'System.Users.Registration' | translate }}
                        </div>
                        <div class="p-2 f-s-11">
                            <div class="pb-2" *ngIf="_HelperService._UserAccount.OwnerDisplayName != undefined">
                                <div class="text-dark float-right">{{_HelperService._UserAccount.OwnerDisplayName}}
                                </div>
                                <div class="text-muted"> Owner </div>
                            </div>
                            <div class="pb-2" *ngIf="_HelperService._UserAccount.AppName != undefined">
                                <div class="text-dark float-right">{{_HelperService._UserAccount.AppName}}</div>
                                <div class="text-muted">App </div>
                            </div>
                            <div class="pb-2" *ngIf="_HelperService._UserAccount.LastLoginDateS != undefined">
                                <div class="text-dark float-right">{{_HelperService._UserAccount.LastLoginDateS}}</div>
                                <div class="text-muted ">{{'System.Users.LastLogin' | translate }} </div>
                            </div>
                            <div class="pb-2">
                                <div class="text-dark float-right">{{_HelperService._UserAccount.CreateDateS}}</div>
                                <div class="text-muted">{{'Common.CreateDate' | translate }} </div>
                            </div>
                            <div class="pb-2" *ngIf="_HelperService._UserAccount.CreatedByDisplayName != undefined">
                                <div class="text-dark float-right">{{_HelperService._UserAccount.CreatedByDisplayName}}
                                </div>
                                <div class="text-muted">{{'Common.CreatedBy' | translate }} </div>
                            </div>
                            <div class="pb-2" *ngIf="_HelperService._UserAccount.ModifyDateS != undefined">
                                <div class="text-dark float-right">{{_HelperService._UserAccount.ModifyDateS}}</div>
                                <div class="text-muted">{{'Common.ModifyDate' | translate }} </div>
                            </div>
                            <div class="pb-2" *ngIf="_HelperService._UserAccount.ModifyByDisplayName != undefined">
                                <div class="text-dark float-right">{{_HelperService._UserAccount.ModifyByDisplayName}}
                                </div>
                                <div class="text-muted">{{'Common.ModifyBy' | translate }} </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane p-2" id="tab_updateprofile">

                        <form [formGroup]="Form_UpdateUser" (ngSubmit)="Form_UpdateUser_Process(Form_UpdateUser.value)"
                            role="form">







                            <div class="form-group">
                                <label>{{'System.Users.TerminalId' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="UserName" maxlength="256" class="form-control"
                                        [(ngModel)]="_HelperService._UserAccount.UserName"
                                        [formControl]="Form_UpdateUser.controls['UserName']"
                                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['UserName'].valid && Form_UpdateUser.controls['UserName'].touched}">
                                </div>
                                <label class="text-danger" for="UserName"
                                    *ngIf="Form_UpdateUser.controls['UserName'].hasError('required') && Form_UpdateUser.controls['UserName'].touched">{{
                                    'System.Users.UserName_ER_Required' | translate }}</label>

                                <label class="text-danger" for="UserName"
                                    *ngIf="Form_UpdateUser.controls['UserName'].hasError('minlength') || Form_UpdateUser.controls['UserName'].hasError('maxlength')">{{
                                    'System.Users.UserName_ER_Length' | translate }}</label>
                            </div>

                            <div class="form-group">
                                <div> <label>{{ 'System.Users.AccountStatus' | translate }}<span
                                            class="text-danger">*</span>
                                    </label></div>

                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="radio" name="statusoptions"
                                            [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                            [value]="_HelperService.AppConfig.Status.Active"
                                            [formControl]="Form_UpdateUser.controls['StatusCode']">
                                        <i class="dark-white"></i>
                                        {{ 'Common.Active' | translate }}</label>
                                </div>
                                <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                            name="statusoptions" [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                            [value]="_HelperService.AppConfig.Status.Inactive"
                                            [formControl]="Form_UpdateUser.controls['StatusCode']">
                                        <i class="dark-white"></i>
                                        {{ 'Common.Inactive' | translate }}</label></div>
                            </div>


                            <div class="light  text-right b-b b-t">
                                <button type="submit" class="btn btn-fw btn-block warn warn mr-2"
                                    (click)="Form_UpdateUser.value.OperationType='new'"
                                    [disabled]="!Form_UpdateUser.valid || _HelperService.IsFormProcessing">
                                    <span *ngIf="!_HelperService.IsFormProcessing">
                                        {{ 'Common.Update' | translate }}
                                    </span>
                                    <span *ngIf="_HelperService.IsFormProcessing">
                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                        translate
                                        }}...
                                    </span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="mt-auto p-2 white ">
                <div class="nav nav-pills nav-sm">
                    <div class="nav nav-md">
                        <a class="nav-link active" data-toggle="tab" data-target="#tab_details"
                            (click)="_HelperService.Get_UserAccountDetails()">
                            {{'System.Users.Details' | translate }} </a>
                        <!-- <a class="nav-link " data-toggle="tab" data-target="#tab_updateprofile">
                            {{'System.Users.UpdateProfile' | translate }} </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex  ">
            <div class="b-b">
                <div class="navbar navbar-expand-lg white pb-0" style="min-height: 3.45rem;"><a class="d-lg-none mx-2"
                        data-toggle="modal" data-target="#aside"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 512 512">
                            <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z"></path>
                        </svg></a>
                    <div class="navbar-text nav-title" id="pageTitle">
                        <a class="mx-2 text-lg text-primary" (click)="_HelperService.ToggleAsidePanel()">
                            <i class="fa fa-user-circle"></i>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse order-lg-1" id="navbarToggler">
                        <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">

                            <!-- <li class="nav-item" [routerLinkActive]="['active']">
                                        <a class="nav-link" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Customer}}/{{_HelperService.AppConfig.ActiveReferenceKey}}"
                                            [routerLinkActive]="['active']"><span class="nav-text">{{
                                                'System.Menu.Dashboard' | translate }}</span></a>
                                    </li> -->
                            <!-- <li class="nav-item" [routerLinkActive]="['active']">
                                <a class="nav-link"
                                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.TerminalRewardHistory}}/{{_HelperService.AppConfig.ActiveReferenceKey}}"
                                    [routerLinkActive]="['active']"><span class="nav-text">{{
                                                'System.Menu.Rewards' | translate }}</span></a>
                            </li>
                            <li class="nav-item" [routerLinkActive]="['active']">
                                <a class="nav-link"
                                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.TerminalRedeemHistory}}/{{_HelperService.AppConfig.ActiveReferenceKey}}"
                                    [routerLinkActive]="['active']"><span class="nav-text">{{
                                                'System.Menu.Redeems' | translate }}</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="navbar navbar-expand-lg b-b">
                       
                        <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
                            <i class="fa fa-align-justify"></i>
                        </a>
                        <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none"><span class="btn btn-sm btn-icon warn"><i
                                    class="fa fa-info-circle"></i> </span></a>
                        <ul class="nav flex-row order-lg-2">
                            <li class="d-lg-none d-flex align-items-center"><a href="#" class="mx-2" data-toggle="collapse"
                                    data-target="#navbarToggler"> <i class="fa fa-align-justify"></i></a></li>
                        </ul>
                        <div class="collapse navbar-collapse order-lg-1" id="navbarToggler">
                            <div class="nav nav-pills nav-sm">
                                <div class="nav nav-md">
                                    <a class="nav-link active" data-toggle="tab" data-target="#tab_SubRouter">
                                        {{'System.Users.Details' | translate }} </a>
                                    <a class="nav-link " data-toggle="tab" data-target="#tab_SubRouter">
                                        {{'System.Users.UpdateProfile' | translate }} </a>
                                </div>
                            </div>
                        </div>
                    </div> -->
            <div class="scroll-y">
                <div class="tab-pane active" id="tab_SubRouter">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>