<div class="box mb-0">
    <div class="box-header light lt">
        <div class="form-inline ">
            <div class="input-group mr-2"><input type="text" maxlength="100"
                    [(ngModel)]="AppUsers_Config.SearchParameter" class="form-control"
                    placeholder="{{ 'Common.Search' | translate }}">
                <div class="input-group-append"><button class="btn white" type="button"
                        (click)="AppUsers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                            'Common.Go' | translate }}</button></div>
            </div>
            <input type="text" class="form-control  mr-2" name="daterangeInput" daterangepicker
                [options]="_HelperService.AppConfig.DateRangeOptions"
                (selected)="AppUsers_ToggleOption_Date($event, _HelperService.AppConfig.ListToggleOption.Date)" />
            <select2 class=" mr-2" [options]="_HelperService.Select2Options_Multiple"
                [data]="AppUsers_Config.SortExpressionOption"
                (valueChanged)="AppUsers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
            </select2>
            <select2 class=" mr-2" [options]="_DataHelperService.S2_Status_Option"
                (valueChanged)="AppUsers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
            </select2>
            <ul class="nav nav-xs">
                <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
                    (click)="AppUsers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Csv)"><a
                        class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a></li>
                <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item" (click)="AppUsers_GetData()"><a
                        class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
            </ul>
        </div>
        <div *ngIf="AppUsers_Config.ToggleFilter">
            <div class="form-inline pt-3">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <select2 [options]="_HelperService.Select2Options_SearchColumn"
                            [data]="AppUsers_Config.VisiblityOptions" [value]="AppUsers_Config.SearchColumns"
                            (valueChanged)="AppUsers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SearchColumnChange)">
                        </select2>
                    </div>
                    <input type="text" [(ngModel)]="AppUsers_Config.ColumnSearchParameter" maxlength="256"
                        class="form-control" placeholder="{{ 'Common.ValueToSearch' | translate }}">
                    <div class="input-group-append mr-2"><button class="btn white" type="button"
                            (click)="AppUsers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                'Common.Go' | translate }}</button>
                    </div>
                </div>
            </div>
            <div class="form-inline pt-3">
                <select2 class="m-r-5" [options]="_HelperService.Select2Options_Multiple"
                    [data]="AppUsers_Config.VisiblityOptions" [value]="AppUsers_Config.Visiblity"
                    (valueChanged)="AppUsers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Visiblity)">
                </select2>
            </div>
        </div>
    </div>

    <div class="box-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-image"></i>
                    </th>
                    <th>
                        User
                    </th>
                    <th *ngFor="let TItem of AppUsers_Config.VisibleHeaders" class="{{TItem.Class}}">
                        {{TItem.DisplayName}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let TItem of AppUsers_Config.Data
                                                                | paginate: { id: 'AppUsers',itemsPerPage: AppUsers_Config.PageRecordLimit, currentPage: AppUsers_Config.ActivePage,
                                                                totalItems: AppUsers_Config.TotalRecords }">
                    <td class="td-status p-1">
                        <img class="br" src="{{TItem.IconUrl}}" style="    width: 32px;
                                    height: 32px;
                                    border-radius: 4px;
                                    border: 1px solid #e4e6e8;">
                    </td>
                    <td>

                        <span class="badge indigo  " *ngIf="TItem.GenderName =='Male'"
                            style="font-size:8px;margin-right:3px;">M</span>
                        <span class="badge pink  " *ngIf="TItem.GenderName =='Female'"
                            style="font-size:8px;margin-right:3px;">F</span>
                        <span *ngIf="TItem.OwnerKey == _HelperService.UserAccount.AccountKey">{{TItem.DisplayName
                                    || ''}}</span>
                        <span *ngIf="TItem.OwnerKey != _HelperService.UserAccount.AccountKey" class="text-warn _500">{{TItem.DisplayName
                                    || ''}}</span>
                    </td>
                    <td *ngFor="let HTItem of AppUsers_Config.VisibleHeaders" class="{{TItem.Class}}"
                        class="{{TItem.Class}}" title="{{TItem[HTItem.SystemName]}}">
                        <span *ngIf="HTItem.NavigateLink != undefined">
                            <span *ngIf="HTItem.NavigateLink != undefined && HTItem.NavigateField == undefined">
                                <a routerLink="{{HTItem.NavigateLink}}"> {{TItem[HTItem.SystemName] || "--"}}</a>
                            </span>
                            <span *ngIf="HTItem.NavigateField != undefined">
                                <a routerLink="{{HTItem.NavigateLink}}/{{TItem[HTItem.NavigateField]}}">
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                        {{TItem[HTItem.SystemName] || "--"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                        {{TItem[HTItem.SystemName]|| "0"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                        {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                        {{TItem[HTItem.SystemName] || "--"}}
                                    </span></a>
                            </span>
                        </span>
                        <span *ngIf="HTItem.NavigateLink == undefined">
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                {{TItem[HTItem.SystemName] || "--"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                {{TItem[HTItem.SystemName]|| "0"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                {{TItem[HTItem.SystemName] || "--"}}
                            </span>
                        </span>
                    </td>
                    <!-- <td class="td-btn-info" (click)="AppUsers_RowSelected(TItem)">
                                        <i class="{{ 'Common.InfoI' | translate }}"></i>
                                    </td> -->
                </tr>
            </tbody>
        </table>

        <div class="  p-4">
            <span class="mr-1">
                {{ 'Common.Showing' | translate }}
                <span class="bold">{{AppUsers_Config.ShowingStart}} {{ 'Common.To' | translate }}
                    {{AppUsers_Config.ShowingEnd}}
                </span> {{ 'Common.Of' | translate }} {{AppUsers_Config.TotalRecords}}
            </span>
            |
            <span class="ml-1">
                {{ 'Common.Show' | translate }}
                <select class=" w-64 " [(ngModel)]="AppUsers_Config.PageRecordLimit"
                    (ngModelChange)="AppUsers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                    <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                        {{TItem}}
                    </option>
                </select> {{ 'Common.Entries' | translate }}
            </span>
            <span class="float-right">
                <pagination-controls id="AppUsers"
                    (pageChange)="AppUsers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                    nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
                </pagination-controls>
            </span>
        </div>
    </div>
</div>