<!-- acquirer--branches--detail--sale -->
<div class="card bd-t-0">
  <div>
    <div class="card-header pt-0">
      <div class=" d-sm-flex">
        <div class=" media">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="shopping-cart"></i>
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              Transactions</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">15604</h4>
          </div>
        </div>
        <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <span class="tx-20"> <i class="fas fa-money-bill-alt"></i></span>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Amount</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">17347469</h4>
          </div>
        </div>

      </div>

    </div>
    <div class="box-header px-3 py-3 d-flex align-items-center justify-content-between">
      <div class="form-inline ">
        <div class="input-group input-group-sm mr-3">
          <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
            class="form-control" placeholder="{{ 'Common.Search' | translate }}"
            (keyup)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="button"
              (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)"><i
                data-feather="search"></i> </button>
          </div>
        </div>
        <span class="badge badge-pill badge-primary" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
      </div>
      <nav class="nav nav-with-icon tx-20">
        <div class="dropdown dropleft">
          <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
          <div class="dropdown-menu tx-13">
            <form class="wd-250 pd-15">
              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                  (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                  <i class="fas fa-sort-alpha-down-alt"></i>
                </div>
                <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                  (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                  <i class="fas fa-sort-alpha-up-alt"></i>
                </div>
              </h6>
              <a class="dropdown-item" *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
                (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                {{TItem.Name}}
              </a>
              <!-- <div *ngFor="let TItem of TUTr_Config.SortExpressionOption"
                          (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                          {{TItem.Name}}
                      </div> -->
              <!-- <div class="mt-2">
                          <button type="button" class="btn btn-primary btn-sm mr-2"
                              (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SortApply)">Apply</button>

                          <button type="button" class="btn btn-light btn-sm "
                              (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortReset)">
                              Reset</button>
                      </div> -->
            </form>
          </div>
        </div>
        <div class="dropdown dropleft">
          <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> <i data-feather="filter"></i> </a>
          <div class="dropdown-menu tx-13">
            <form class="wd-250 pd-15">
              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
              </h6>
              <div>
                <div class="form-group">
                  <label>Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Status</label>
                  <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                    [data]="TUTr_Config.StatusOptions" [value]="TUTr_Config.Status"
                    (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                  </select2>
                </div>
              </div>
              <!-- <div>
              <div class="form-group">
                <label>Owner</label>
                <select2 [options]="TUTr_Filter_Owners_Option" class="wd-100p"
                  (valueChanged)="TUTr_Filter_Owners_Change($event)">
                </select2>
              </div>
            </div> -->
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter)">Apply</button>

            </form>
          </div>
        </div>
        <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
          (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
            data-feather="refresh-cw"></i> </a>
      </nav>
    </div>

    <div class="card-body p-0">
      <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
        <thead>
          <tr>
            <th class="">Status</th>
            <th class="td-date">Date</th>
            <th> Customer</th>
            <th>Card Details</th>
            <th class="td-number">Ref Id</th>
            <th class="td-amount text-right">Amount</th>
            <th class="">Merchant</th>
            <th>POS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let TItem of (TUTr_Config.Data
                | paginate
                  : {
                      id: 'TUTr_Paginator',
                      itemsPerPage: TUTr_Config.PageRecordLimit,
                      currentPage: TUTr_Config.ActivePage,
                      totalItems: TUTr_Config.TotalRecords
                    })
            ">
            <td>
              <div class="">
                <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
              </div>
            </td>

            <td class="td-date">
              <div>{{ TItem.TransactionDateD || "--" }}</div>
              <div>
                <span class="">{{ TItem.TransactionDateT || "--" }}</span>
              </div>

            </td>
            <td>
              <div class="">
                {{ TItem.UserDisplayName || "--" }}
              </div>
              <div class="tx-12 text-muted">
                {{ TItem.UserMobileNumber || "--" }}
              </div>
            </td>
            <td>
              <div class="tx-14 text-uppercase" *ngIf="TItem.TypeName != 'Cash '">
                {{ TItem.CardBrandName || "--" }}
                <span *ngIf="TItem.CardBrandName != undefined">
                  <i *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'" class="fab fa-cc-visa tx-teal text-sm "></i>
                  <i *ngIf="TItem.CardBrandName.toLowerCase() == 'mastercard'"
                    class="fab fa-cc-mastercard tx-MasterCard text-sm  "></i>
                  <i *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                    class="fas fa-credit-card tx-verve text-sm  "></i>
                </span>
              </div>
              <div class="  text-uppercase" *ngIf="TItem.TypeName == 'Cash '">
                Cash Payment

                <i class="fab fas fa-money-bill-alt text-cash  tx-primary"></i>
              </div>
              <div class="tx-12 text-muted">
                <span class=""> {{ TItem.AccountNumber }}</span>
              </div>
            </td>
            <td>
              <div class="text-xs _500 text-muted">
                {{ TItem.ReferenceId }}
              </div>
            </td>
            <td class="text-right">
              <div>
                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                {{ TItem.InvoiceAmount | number: "1.2-2" || "--" }}
              </div>
            </td>

            <td class="">
              <div>{{ TItem.ParentDisplayName || "--" }}</div>
              <div class="tx-12 text-muted">
                {{ TItem.SubParentDisplayName || "--" }}
              </div>
            </td>

            <td>
              <div class="tx-bold">{{ TItem.CreatedByDisplayName || "--" }}
              </div>
              <div class="tx-12 text-muted">
                {{ TItem.AcquirerDisplayName || "--" }}
                <span>- {{ TItem.ProviderDisplayName || "--" }}</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer pd-20">
      <span class="mr-3">
        {{ 'Common.Showing' | translate }}
        <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
          {{TUTr_Config.ShowingEnd}}
        </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
      </span>
      <span>
        {{ 'Common.Show' | translate }}
        <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
          (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
            {{TItem}}
          </option>
        </select>
      </span>
      <span class="float-right">
        <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
          (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
          nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
        </pagination-controls>
      </span>
    </div>
  </div>
  <!-- <div [style.display]="Show.IconShow" style="height: 65vh" class="text-center m-auto  text-muted">
  <div style=" position: absolute; top: 30%; left: 35%;">
    <div>
    <div class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-white tx-muted tx-32 m-auto d-flex align-items-center justify-content-center rounded-circle">
      <i style=" width: 60px; height: 60px;  opacity: .5;" data-feather="smartphone"></i>
    </div>
    <span class="text-dark tx-bold tx-14"> No Transaction in this time frame </span><br>
    <span class="tx-muted  "> No transaction took place during the time frame you selected </span>
    </div>
  </div>
</div> -->
</div>