<!-- acquirer--terminals--live -->
<!-- <div class="d-flex flex fixed-height" id="SideContainer">
    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex"> 
           <div class="row py-3  no-gutters">
                <div class="d-sm-flex col-lg-12">
                    <div class="col-lg-3 media">
                      <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
                        <i data-feather="bar-chart-2"></i>
                      </div>
                      <div class="media-body bd-pink">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">Gross Earnings</h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$1,958,104</h4>
                      </div>
                    </div>
                    <div class="col-lg-3 media">
                      <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-pink tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-5">
                        <i data-feather="bar-chart-2"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Tax Withheld</h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$234,769<small>.50</small></h4>
                      </div>
                    </div>
                    <div class="col-lg-3 media">
                      <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-4">
                        <i data-feather="bar-chart-2"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Net Earnings</h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$1,608,469<small>.50</small></h4>
                      </div>
                    </div>
                    <div class="col-lg-3 media">
                        <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-4">
                          <i data-feather="bar-chart-2"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Net Earnings</h6>
                          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$1,608,469<small>.50</small></h4>
                        </div>
                      </div>
                  </div>
           
           </div>
           <div class="card-header py-2">

           </div>
            <div class="scrollable hover pl-4 pr-4">

                <div class="row" *ngIf="LiveTerminals != undefined">
                    <div class=" col-lg-2 col-md-3 col-sm-4 col-xs-6  pl-1 pr-1 mb-3"
                        *ngFor="let TItem of LiveTerminals.Data">
                        <div class="card ht-100p white fadeIn animated">
                            <div class="p-2    b-b"
                                [ngClass]="{'bg-success': TItem.Type == 'live', 'bg-MasterCard': TItem.Type == 'idle' , 'bg-danger': TItem.Type == 'dead' }">
                                <div class=" text-white">

                                    {{TItem.DisplayName  || "--"}}

                                    <span class="float-right">
                                        <small class="tx-10"> Last Transaction <br>
                                            <span class="tx-14 text-right">
                                                7 Days
                                            </span>
                                        </small>
                                    </span>

                                </div>
                            </div>
                            <div class=" "
                                [ngClass]="{'LiveTerminalCardSuccess': TItem.Type == 'live', 'LiveTerminalCardIdle': TItem.Type == 'idle' , 'LiveTerminalCardDanger ': TItem.Type == 'dead' }">

                                <div class="text-xxs p-2 text-center">
                                    <img src="{{TItem.ProviderIconUrl}}" width="60px">

                                  
                                    <div class="tx-11 tx-bold">{{TItem.ProviderDisplayName}}</div>
                                </div>

                                <div class="p-2 text-center">
                                 
                                    <div class="tx-14">
                                        <span class="tx-10">TID</span> : <span class="tx-bold">
                                            {{TItem.TerminalId  || "--"}}</span></div>
                                    <div class="tx-14 tx-bold"
                                        [ngClass]="{'text-success': TItem.Type == 'live', 'tx-MasterCard': TItem.Type == 'idle' , 'text-danger': TItem.Type == 'dead' }">
                                        {{TItem.StoreDisplayName  || "--"}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="card">

  <div class="card-header p-0">
    <div class="py-3 px-2  no-gutters">
      <div class="d-flex justify-content-between">
        <div class=" media">
          <div 
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">ALL
            </h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$1,958,104</h4>
          </div>
        </div>
        <div class=" media">
          <div (click)="SelectTerminalType('live')"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Active</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$234,769<small>.50</small></h4>
          </div>
        </div>
        <div class=" media">
          <div (click)="SelectTerminalType('idle')"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-MasterCard tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Idle</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$1,608,469<small>.50</small></h4>
          </div>
        </div>
        <div class=" media">
          <div (click)="SelectTerminalType('dead')"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Dead</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$1,608,469<small>.50</small></h4>
          </div>
        </div>
        <div class=" media">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-secondary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Unused</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$1,608,469<small>.50</small></h4>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="box-header px-3 py-3 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="" maxlength="100" class="form-control"
          placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>
      <span class="badge badge-pill badge-primary"
        *ngFor="let TItem of MerchantsList_Config.Filters">{{TItem.Title}}</span>
    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" (click)="toogleView();" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"> <i data-feather="grid" class="tx-20"></i>
        </a>
      </div>
      <!-- <div class="dropdown dropleft " *ngIf="!isActive">
        <a href="" (click)="toogleView() ; MapIcon()" class="nav-link mr-2" id="MerchantsList_sdropdown"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i data-feather="book-open"
            class="tx-20"></i> </a>
      </div> -->
      <!-- start -->
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <!-- <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="TerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div> -->
            <div>
              <div class="form-group">
                <label>Status</label>
                <select class="form-control" name='statusfilter' [(ngModel)]="SelectedTerminalStatus"
                  (change)="TerminalViewChange( )">
                  <option value="0">Filter by Status</option>
                  <option value="live">Live</option>
                  <option value="idle">Idle</option>
                  <option value="dead">Dead</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label>Terminal Provider</label>
              <select class="form-control" name='providerfilter' [(ngModel)]="SelectedProvider"
                (change)="TerminalViewChange()">
                <option value="0">Filter by Provider</option>
                <option *ngFor="let TItem of Providers" [value]="TItem.Name" value="{{TItem.Name}}">
                  {{TItem.Name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Store</label>
              <select class="form-control" name='storesfilter' [(ngModel)]="SelectedStore"
                (change)="TerminalViewChange()">
                <option value="0">Filter by Store</option>
                <option *ngFor="let TItem of Stores" [value]="TItem.Name" value="{{TItem.Name}}">
                  {{TItem.Name}}</option>
              </select>
            </div>
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter)">Apply</button>
          </form>
        </div>
      </div>
      <!-- end -->
      <div class="dropdown dropleft">
        <a class="nav-link ml-2"
          (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
            data-feather="refresh-cw"></i> </a>
      </div>
    </nav>
  </div>

  <div class="card-body" *ngIf="gridView">

    <div class="row" *ngIf="LiveTerminals != undefined">
      <div class=" col-lg-2 col-md-3 col-sm-4 col-xs-6  pl-1 pr-1 mb-3" *ngFor="let TItem of LiveTerminals.Data">
        <div class="card ht-100p white fadeIn animated">
          <div class="p-2    b-b"
            [ngClass]="{'bg-success': TItem.Type == 'live', 'bg-MasterCard': TItem.Type == 'idle' , 'bg-danger': TItem.Type == 'dead' }">
            <div class="  text-white">

              <span class="float-left">
                <small class="tx-10">Transaction <br>
                  <span class="tx-14">
                    365
                  </span>
                </small>

              </span>

              <!-- <span class="badge float-right" style="font-size: 60%;"
                                [ngClass]="{'badge-success ': TItem.Type == 'live', 'deep-orange': TItem.Type == 'idle' , 'badge-danger': TItem.Type == 'dead' }">{{TItem.Type}}</span> -->
              <span class="float-right text-right">
                <small class="tx-10"> Last Transaction <br>
                  <span class="tx-14">
                    7 Days
                  </span>
                </small>
              </span>

            </div>
          </div>
          <div class=" "
            [ngClass]="{'LiveTerminalCardSuccess': TItem.Type == 'live', 'LiveTerminalCardIdle': TItem.Type == 'idle' , 'LiveTerminalCardDanger ': TItem.Type == 'dead' }">

            <div class="text-xxs p-2 text-center">
              <img src="{{TItem.ProviderIconUrl}}" width="60px">

              <!-- <div class=" text-sm _500"
                                [ngClass]="{'text-success': TItem.Type == 'live', 'text-deep-orange': TItem.Type == 'idle' , 'text-danger': TItem.Type == 'dead' }">
                                {{TItem.LastTransactionDateDiffS}} ago
                            </div> -->
              <div class="tx-11 tx-bold">{{TItem.ProviderDisplayName}}</div>
            </div>

            <div class="p-2 text-center">
              <!-- <img src="{{TItem.MerchantIconUrl}}" style="  width: 30px;
                            float: left;
                            margin-right: 5px;
                            border: 1px solid #ccc;
                            border-radius: 3px;
                            margin-top: 4px;"> -->
              <div class="tx-14">
                <span class="tx-10">TID</span> : <span class="tx-bold">
                  {{TItem.TerminalId  || "--"}}</span></div>
              <div class="tx-14 tx-bold"
                [ngClass]="{'text-success': TItem.Type == 'live', 'tx-MasterCard': TItem.Type == 'idle' , 'text-danger': TItem.Type == 'dead' }">
                {{TItem.StoreDisplayName  || "--"}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="mapView">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <!-- <agm-map style="height: 100vh !important" [zoom]="12" [latitude]="Form_AddUser_Latitude" [longitude]="Form_AddUser_Longitude"
          (mapClick)="Form_AddUser_PlaceMarkerClick($event)">
          <agm-marker [iconUrl]="icon"  [latitude]="TItem.a" [longitude]="TItem.b" *ngFor="let TItem of Form_AddUser">
          </agm-marker>
          <agm-marker [iconUrl]="Success"  [latitude]="TItem.a" [longitude]="TItem.b" *ngFor="let TItem of Form_AddUser">
          </agm-marker>
        </agm-map> -->
        <div style="height: 70vh;" leaflet [leafletOptions]="options" [leafletMarkerCluster]="markerClusterData"
          [leafletMarkerClusterOptions]="markerClusterOptions" (leafletMarkerClusterReady)="markerClusterReady($event)">
        </div>
      </div>
    </div>
  </div>

</div>