<div [className]="_HelperService._Assets.Box.root">


    <div [className]="_HelperService._Assets.Box.header">
        <div [className]="_HelperService._Assets.Box.headerTitle">
            Select store locations <br>
            <small class="text-secondary"> select store location of merchant to add terminal </small>
        </div>

        <ul class="nav nav-xs">
            <!-- <li title="{{ 'Common.FilterT' | translate }}" class="nav-item" (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)"><a
    class="nav-link"><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li> -->
            <!-- <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
    (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Csv)">
    <a class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a></li> -->
            <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item" (click)="StoresList_GetData()"><a
                    class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
        </ul>

    </div>

    <div [className]="_HelperService._Assets.Box.bodyFilter">
        <div class="form-inline">
            <div class="input-group mr-2">
                <input type="text" [value]="StoresList_Config.SearchParameter" maxlength="256" class="form-control"
                    placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">

                <!-- <input type="text" maxlength="100"
    [(ngModel)]="StoresList_Config.SearchParameter" class="form-control"
    placeholder="{{ 'Common.Search' | translate }}"> -->
                <div class="input-group-append"><button class="btn btn-white" type="button"
                        (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
    'Common.Go' | translate }}</button></div>
            </div>

            <!-- <input type="text" class="form-control mr-2" name="daterangeInput" daterangepicker
    [options]="_HelperService.AppConfig.DateRangeOptions"
    (selected)="StoresList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    <select2 class=" mr-2" [options]="_HelperService.Select2Options_Multiple"
    [data]="StoresList_Config.SortExpressionOption"
    (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
    </select2>
    <select2 class=" mr-2" [options]="_DataHelperService.S2_Status_Option"
    (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
    </select2> -->

        </div>
        <div *ngIf="StoresList_Config.ToggleFilter">
            <div class="form-inline pt-3">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <select2 [options]="_HelperService.Select2Options_SearchColumn"
                            [data]="StoresList_Config.VisiblityOptions" [value]="StoresList_Config.SearchColumns"
                            (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SearchColumnChange)">
                        </select2>
                    </div>
                    <input type="text" [(ngModel)]="StoresList_Config.ColumnSearchParameter" maxlength="256"
                        class="form-control" placeholder="{{ 'Common.ValueToSearch' | translate }}">
                    <div class="input-group-append mr-2"><button class="btn white" type="button"
                            (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
    'Common.Go' | translate }}</button>
                    </div>
                </div>
            </div>
            <div class="form-inline pt-3">
                <select2 class="m-r-5" [options]="_HelperService.Select2Options_Multiple"
                    [data]="StoresList_Config.VisiblityOptions" [value]="StoresList_Config.Visiblity"
                    (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Visiblity)">
                </select2>
            </div>
        </div>
    </div>

    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>

                    <th *ngFor="let TItem of StoresList_Config.VisibleHeaders" class="{{TItem.Class}}">
                        {{TItem.DisplayName}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let TItem of StoresList_Config.Data
    | paginate: { id: 'StoresList',itemsPerPage: StoresList_Config.PageRecordLimit, currentPage: StoresList_Config.ActivePage,
    totalItems: StoresList_Config.TotalRecords }">
                    <!-- <td class="td-status">
    <i class="{{TItem.StatusI }}"></i>
    </td> -->

                    <td (click)="StoresList_RowSelected(TItem)" *ngFor="let HTItem of StoresList_Config.VisibleHeaders"
                        class="{{TItem.Class}}" class="{{TItem.Class}} cursor-pointer"
                        title="{{TItem[HTItem.SystemName]}}">
                        <span *ngIf="HTItem.NavigateLink != undefined">
                            <span *ngIf="HTItem.NavigateLink != undefined && HTItem.NavigateField == undefined">
                                <a routerLink="{{HTItem.NavigateLink}}">
                                    {{TItem[HTItem.SystemName] || "--"}}</a>
                            </span>
                            <span *ngIf="HTItem.NavigateField != undefined">
                                <a routerLink="{{HTItem.NavigateLink}}/{{TItem[HTItem.NavigateField]}}">
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                        <span *ngIf="TItem[HTItem.SystemName] != undefined">
                                            {{ (TItem[HTItem.SystemName].length>30)? (TItem[HTItem.SystemName] |
    slice:0:30)+'..':(TItem[HTItem.SystemName]) }}
                                        </span>
                                        <span *ngIf="TItem[HTItem.SystemName] == undefined">
                                            --
                                        </span>
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                        {{TItem[HTItem.SystemName]|| "0"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                        {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                        {{TItem[HTItem.SystemName] || "--"}}
                                    </span></a>
                            </span>
                        </span>
                        <span *ngIf="HTItem.NavigateLink == undefined">
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                <span *ngIf="TItem[HTItem.SystemName] != undefined">
                                    {{TItem[HTItem.SystemName] || "--"}}
                                </span>
                                <span *ngIf="TItem[HTItem.SystemName] == undefined">
                                    --
                                </span>
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                {{TItem[HTItem.SystemName]|| "0"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                {{TItem[HTItem.SystemName] || "--"}}
                            </span>
                        </span>
                    </td>
                    <!-- <td class="td-btn-info">
    <i class="{{ 'Common.InfoI' | translate }}"></i>
    </td> -->
                </tr>
            </tbody>
        </table>

        <div class=" p-4">
            <span class="mr-1">
                {{ 'Common.Showing' | translate }}
                <span class="bold">{{StoresList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                    {{StoresList_Config.ShowingEnd}}
                </span> {{ 'Common.Of' | translate }} {{StoresList_Config.TotalRecords}}
            </span>
            |
            <span class="ml-1">
                {{ 'Common.Show' | translate }}
                <select class=" w-64 " [(ngModel)]="StoresList_Config.PageRecordLimit"
                    (ngModelChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                    <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                        {{TItem}}
                    </option>
                </select> {{ 'Common.Entries' | translate }}
            </span>
            <span class="float-right">
                <pagination-controls id="StoresList"
                    (pageChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                    nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
                </pagination-controls>
            </span>
        </div>
    </div>
</div>


<div id="ModalAddTerminal" class="modal fade" data-backdrop="true">
    <div class="modal-dialog modal-lg ">
        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">

            <div class="modal-content">
                <div class="modal-header pd-x-50 pd-y-25">
                    <h5 class="modal-title ">Add New Terminal

                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body text-left p-0">
                    <span class="float-left " *ngIf="MerchantIconUrl != undefined">
                        <img src="{{MerchantIconUrl}}" class="w-50 bd bd-success float-right mr-3 mt-2"
                            style="border-width: 2px !important;border-radius: 3px; ">
                    </span>
                    <div class="card-header">
                        <div class="text-primary tx-15 tx-semibold">{{MerchantDisplayName}}</div>
                        <!-- <div class="text-secondary text-xs"> {{StoreDisplayName}} </div> -->
                        <small class="text-secondary"> {{StoreAddress}} </small>
                    </div>
                    <div class="pd-x-50 pd-y-25">
                        <div class="form-group">
                            <label>Enter {{'System.Users.TerminalId' | translate }}<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="DisplayName" maxlength="15" class="form-control"
                                    [formControl]="Form_AddUser.controls['DisplayName']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['DisplayName'].valid && Form_AddUser.controls['DisplayName'].touched}">
                            </div>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['DisplayName'].hasError('required') && Form_AddUser.controls['DisplayName'].touched">
                                Enter terminal id</label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['DisplayName'].hasError('minlength') || Form_AddUser.controls['DisplayName'].hasError('maxlength')">
                                Enter valid terminal id</label>
                        </div>
                        <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                            <label>{{"System.Menu.AddPosAccount" | translate}}<span class="text-danger">*</span>
                            </label>
                            <select2 class="full-width" [options]="GetPosAccountsOption"
                                (valueChanged)="GetPosAccountsListChange($event)"></select2>
                        </div>

                        <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                            <label>Select {{"System.Menu.Store" | translate}}<span class="text-danger">*</span>
                            </label>
                            <select2 class="full-width" [options]="GetPosAccountsOption"
                                (valueChanged)="GetPosAccountsListChange($event)"></select2>
                        </div>
                        <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                            <label>Select Branch Name<span class="text-danger">*</span>
                            </label>
                            <select2 class="full-width" [options]="GetPosAccountsOption"
                                (valueChanged)="GetPosAccountsListChange($event)"></select2>
                        </div>
                        <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                            <label>Select {{"System.Menu.Rm" | translate}}<span class="text-danger">*</span>
                            </label>
                            <select2 class="full-width" [options]="GetPosAccountsOption"
                                (valueChanged)="GetPosAccountsListChange($event)"></select2>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <!-- <button type="submit" class="btn btn-primary mr-2"
    (click)="Form_AddUser.value.OperationType='new'"
    [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
    <span *ngIf="!_HelperService.IsFormProcessing">
    {{ 'Common.SaveAndNew' | translate }}
    </span>
    <span *ngIf="_HelperService.IsFormProcessing">
    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
    }}...
    </span>
    </button> -->
                    <button type="submit" class="btn btn-primary bd-primary text-warn mr-2"
                        (click)="Form_AddUser.value.OperationType='close'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">Save
                            <!-- {{ 'Common.SaveAndClose' | translate }} -->
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
    }}...
                        </span>
                    </button>



                    <!-- <button type="button" class="btn btn-secondary" (click)="Form_AddUser_Close()">{{
    'Common.Close'
    | translate }}</button> -->


                </div>
            </div>

        </form>


    </div>
</div>