<div class="box mb-0">
  <div class="box-header light lt">
    <!-- <h3> {{MerchantsList_Config.Title}}</h3> -->
    <!-- <div class="float-right">
                    <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.AddPosTerminal}}" class="btn btn-outline b-warn text-warn btn-sm  mr-2">
                        {{'Common.AddNew' | translate }}</a>
                </div> -->
    <div class="form-inline ">
      <div class="input-group mr-2">
        <input type="text" maxlength="100" [(ngModel)]="MerchantsList_Config.SearchParameter" class="form-control"
          placeholder="{{ 'Common.Search' | translate }}" />
        <div class="input-group-append">
          <button class="btn white" type="button" (click)="
              MerchantsList_ToggleOption(
                null,
                _HelperService.AppConfig.ListToggleOption.Search
              )
            ">
            {{ "Common.Go" | translate }}
          </button>
        </div>
      </div>
      <!-- <input type="text" [value]="MerchantsList_Config.SearchParameter" maxlength="256" class="form-control mr-2"
                                                                placeholder="{{ 'Common.Search' | translate }}" (keyup)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)"> -->
      <input type="text" class="form-control  mr-2" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptions" (selected)="
          MerchantsList_ToggleOption(
            $event,
            _HelperService.AppConfig.ListToggleOption.Date
          )
        " />
      <select2 class=" mr-2" [options]="_HelperService.Select2Options_Multiple"
        [data]="MerchantsList_Config.SortExpressionOption" (valueChanged)="
          MerchantsList_ToggleOption(
            $event,
            _HelperService.AppConfig.ListToggleOption.Sort
          )
        ">
      </select2>
      <select2 class=" mr-2" [options]="_DataHelperService.S2_Status_Option" (valueChanged)="
          MerchantsList_ToggleOption(
            $event,
            _HelperService.AppConfig.ListToggleOption.Status
          )
        ">
      </select2>
      <ul class="nav nav-xs">
        <!-- <li title="{{ 'Common.FilterT' | translate }}" class="nav-item" (click)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)"><a
                                class="nav-link"><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li> -->
        <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item" (click)="
            MerchantsList_ToggleOption(
              $event,
              _HelperService.AppConfig.ListToggleOption.Csv
            )
          ">
          <a class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a>
        </li>
        <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item" (click)="MerchantsList_GetData()">
          <a class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a>
        </li>
      </ul>
    </div>
    <div *ngIf="MerchantsList_Config.ToggleFilter">
      <div class="form-inline pt-3">
        <div class="input-group ">
          <div class="input-group-prepend">
            <select2 [options]="_HelperService.Select2Options_SearchColumn"
              [data]="MerchantsList_Config.VisiblityOptions" [value]="MerchantsList_Config.SearchColumns"
              (valueChanged)="
                MerchantsList_ToggleOption(
                  $event,
                  _HelperService.AppConfig.ListToggleOption.SearchColumnChange
                )
              ">
            </select2>
          </div>
          <input type="text" [(ngModel)]="MerchantsList_Config.ColumnSearchParameter" maxlength="256"
            class="form-control" placeholder="{{ 'Common.ValueToSearch' | translate }}" />
          <div class="input-group-append mr-2">
            <button class="btn white" type="button" (click)="
                MerchantsList_ToggleOption(
                  null,
                  _HelperService.AppConfig.ListToggleOption.Search
                )
              ">
              {{ "Common.Go" | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="form-inline pt-3">
        <select2 class="m-r-5" [options]="_HelperService.Select2Options_Multiple"
          [data]="MerchantsList_Config.VisiblityOptions" [value]="MerchantsList_Config.Visiblity" (valueChanged)="
            MerchantsList_ToggleOption(
              $event,
              _HelperService.AppConfig.ListToggleOption.Visiblity
            )
          ">
        </select2>
      </div>
    </div>
  </div>
  <div class="box-body p-0">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="td-status">
            <i class="{{ 'Common.StatusI' | translate }}"></i>
          </th>
          <th *ngFor="let TItem of MerchantsList_Config.VisibleHeaders" class="{{ TItem.Class }}">
            {{ TItem.DisplayName }}
          </th>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
            let TItem of (MerchantsList_Config.Data
              | paginate
                : {
                    id: 'PosTerminalsList',
                    itemsPerPage: MerchantsList_Config.PageRecordLimit,
                    currentPage: MerchantsList_Config.ActivePage,
                    totalItems: MerchantsList_Config.TotalRecords
                  })
          ">
          <!-- <td class="td-status">
                        <i class="{{TItem.StatusI }}"></i>
                    </td> -->
          <td class="td-status p-1">
            <img class="br" src="{{ TItem.IconUrl }}" style="    width: 32px;
                            height: 32px;
                            border-radius: 4px;
                            border: 1px solid #e4e6e8;" />
          </td>
          <td *ngFor="let HTItem of MerchantsList_Config.VisibleHeaders" class="{{ TItem.Class }}"
            class="{{ TItem.Class }}" title="{{ TItem[HTItem.SystemName] }}">
            <span *ngIf="HTItem.NavigateLink != undefined">
              <span *ngIf="
                  HTItem.NavigateLink != undefined &&
                  HTItem.NavigateField == undefined
                ">
                <a routerLink="{{ HTItem.NavigateLink }}">
                  {{ TItem[HTItem.SystemName] || "--" }}</a>
              </span>
              <span *ngIf="HTItem.NavigateField != undefined">
                <a routerLink="{{ HTItem.NavigateLink }}/{{
                    TItem[HTItem.NavigateField]
                  }}">
                  <span *ngIf="
                      HTItem.DataType == _HelperService.AppConfig.DataType.Text
                    ">
                    <span *ngIf="TItem[HTItem.SystemName] != undefined">
                      {{
                        TItem[HTItem.SystemName].length > 30
                          ? (TItem[HTItem.SystemName] | slice: 0:30) + ".."
                          : TItem[HTItem.SystemName]
                      }}
                    </span>
                    <span *ngIf="TItem[HTItem.SystemName] == undefined">
                      --
                    </span>
                  </span>
                  <span *ngIf="
                      HTItem.DataType ==
                      _HelperService.AppConfig.DataType.Number
                    ">
                    {{ TItem[HTItem.SystemName] || "0" }}
                  </span>
                  <span *ngIf="
                      HTItem.DataType ==
                      _HelperService.AppConfig.DataType.Decimal
                    ">
                    {{ TItem[HTItem.SystemName] | number: "1.2-2" || "--" }}
                  </span>
                  <span *ngIf="
                      HTItem.DataType == _HelperService.AppConfig.DataType.Date
                    ">
                    {{ TItem[HTItem.SystemName] || "--" }}
                  </span></a>
              </span>
            </span>
            <span *ngIf="HTItem.NavigateLink == undefined">
              <span *ngIf="
                  HTItem.DataType == _HelperService.AppConfig.DataType.Text
                ">
                <span *ngIf="TItem[HTItem.SystemName] != undefined">
                  {{
                    TItem[HTItem.SystemName].length > 30
                      ? (TItem[HTItem.SystemName] | slice: 0:30) + ".."
                      : TItem[HTItem.SystemName]
                  }}
                </span>
                <span *ngIf="TItem[HTItem.SystemName] == undefined">
                  --
                </span>
              </span>
              <span *ngIf="
                  HTItem.DataType == _HelperService.AppConfig.DataType.Number
                ">
                {{ TItem[HTItem.SystemName] || "0" }}
              </span>
              <span *ngIf="
                  HTItem.DataType == _HelperService.AppConfig.DataType.Decimal
                ">
                {{ TItem[HTItem.SystemName] | number: "1.2-2" || "--" }}
              </span>
              <span *ngIf="
                  HTItem.DataType == _HelperService.AppConfig.DataType.Date
                ">
                {{ TItem[HTItem.SystemName] || "--" }}
              </span>
            </span>
          </td>
          <!-- <td class="td-btn-info" (click)="MerchantsList_RowSelected(TItem)">
                                                    <i class="{{ 'Common.InfoI' | translate }}"></i>
                                                </td> -->

          <td>
            <span class="badge success text-uppercase"
              *ngIf="TItem.StatusName == 'Active'">{{ TItem.StatusName }}</span>
            <span class="badge warning text-uppercase"
              *ngIf="TItem.StatusName == 'Inactive'">{{ TItem.StatusName }}</span>
            <span class="badge danger text-uppercase"
              *ngIf="TItem.StatusName == 'Blocked'">{{ TItem.StatusName }}</span>
            <span class="badge warning text-uppercase"
              *ngIf="TItem.StatusName == 'Suspended'">{{ TItem.StatusName }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="  p-4">
      <span class="mr-1">
        {{ "Common.Showing" | translate }}
        <span class="bold">{{ MerchantsList_Config.ShowingStart }}
          {{ "Common.To" | translate }}
          {{ MerchantsList_Config.ShowingEnd }}
        </span>
        {{ "Common.Of" | translate }} {{ MerchantsList_Config.TotalRecords }}
      </span>
      |
      <span class="ml-1">
        {{ "Common.Show" | translate }}
        <select class=" w-64 " [(ngModel)]="MerchantsList_Config.PageRecordLimit" (ngModelChange)="
            MerchantsList_ToggleOption(
              $event,
              _HelperService.AppConfig.ListToggleOption.Limit
            )
          ">
          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
            {{ TItem }}
          </option>
        </select>
        {{ "Common.Entries" | translate }}
      </span>
      <span class="float-right">
        <pagination-controls id="PosTerminalsList" (pageChange)="
            MerchantsList_ToggleOption(
              $event,
              _HelperService.AppConfig.ListToggleOption.Page
            )
          " nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
        </pagination-controls>
      </span>
    </div>
  </div>
</div>