<div>
    <div class="mb-2 nav-active-warn">
        <ul class="nav nav-pills white p-2 " data-nav="">
            <li class="nav-item active">
                <a class="nav-link active" href="#" data-toggle="tab" data-target="#TabBusinessInformation">Business
                    Information</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="#" data-toggle="tab" data-target="#TabStoreLocations">Store
                    Locations</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="#" data-toggle="tab" data-target="#TabStoreTerminals">Store
                    Terminals</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content mb-3">
    <div class="tab-pane animate fadeIn active text-muted" id="TabBusinessInformation">
        <form [formGroup]="F_AddMerchant" (ngSubmit)="F_AddMerchant_Process(F_AddMerchant.value)" role="form">
            <div class="box">
                <div class="box-header b-b b-2x">
                    <h3 class="text-warn"></h3><small class="text-gray">Provider company information
                        for
                        account setup </small>
                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{'System.Users.DisplayName' | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="DisplayName" maxlength="25" class="form-control"
                                                [(ngModel)]="_HelperService._UserAccount.DisplayName"
                                                [formControl]="F_AddMerchant.controls['DisplayName']"
                                                [ngClass]="{'is-invalid':!F_AddMerchant.controls['DisplayName'].valid && F_AddMerchant.controls['DisplayName'].touched}">
                                        </div>
                                        <div class="text-xs text-muted _500"> </div>
                                        <label class="text-danger" for="DisplayName"
                                            *ngIf="F_AddMerchant.controls['DisplayName'].hasError('required') && F_AddMerchant.controls['DisplayName'].touched">
                                            enter business display name
                                        </label>
                                        <label class="text-danger" for="DisplayName"
                                            *ngIf="F_AddMerchant.controls['DisplayName'].hasError('minlength') || F_AddMerchant.controls['DisplayName'].hasError('maxlength')">business
                                            display name must be between 2 - 25 characters</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Company Name<span class="text-danger">*</span> </label>
                                        <div class="controls">
                                            <input type="text" name="Name" maxlength="256" class="form-control"
                                                [(ngModel)]="_HelperService._UserAccount.Name"
                                                [formControl]="F_AddMerchant.controls['Name']"
                                                [ngClass]="{'is-invalid':!F_AddMerchant.controls['Name'].valid && F_AddMerchant.controls['Name'].touched}">
                                        </div>
                                        <label class="text-danger" for="Name"
                                            *ngIf="F_AddMerchant.controls['Name'].hasError('required') && F_AddMerchant.controls['Name'].touched">
                                            enter parent company name
                                        </label>
                                        <label class="text-danger" for="DisplayName"
                                            *ngIf="F_AddMerchant.controls['Name'].hasError('minlength') || F_AddMerchant.controls['Name'].hasError('maxlength')">parent
                                            company name must be between 4 - 256 characters</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Business Contact Number<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="ContactNumber" minlength="10" maxlength="18"
                                                [(ngModel)]="_HelperService._UserAccount.ContactNumber"
                                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="F_AddMerchant.controls['ContactNumber']"
                                                [ngClass]="{'is-invalid':!F_AddMerchant.controls['ContactNumber'].valid && F_AddMerchant.controls['ContactNumber'].touched}">
                                        </div>
                                        <label class="text-danger" for="ContactNumber"
                                            *ngIf="F_AddMerchant.controls['ContactNumber'].hasError('required') && F_AddMerchant.controls['ContactNumber'].touched">enter
                                            business contact number</label>
                                        <label class="text-danger" for="ContactNumber"
                                            *ngIf="F_AddMerchant.controls['ContactNumber'].hasError('minlength') || F_AddMerchant.controls['ContactNumber'].hasError('maxlength')">
                                            business contact number must be between 10 to 18 numbers
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Business Email Address<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                                                [(ngModel)]="_HelperService._UserAccount.EmailAddress"
                                                [formControl]="F_AddMerchant.controls['EmailAddress']"
                                                [ngClass]="{'is-invalid':!F_AddMerchant.controls['EmailAddress'].valid && F_AddMerchant.controls['EmailAddress'].touched}">
                                        </div>
                                        <label class="text-danger" for="EmailAddress"
                                            *ngIf="F_AddMerchant.controls['EmailAddress'].hasError('required') && F_AddMerchant.controls['EmailAddress'].touched">
                                            enter business email address
                                        </label>

                                        <label class="text-danger" for="EmailAddress"
                                            *ngIf="F_AddMerchant.controls['EmailAddress'].hasError('email') && F_AddMerchant.controls['EmailAddress'].touched">
                                            enter valid business email address
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <div class="form-group">
                                        <div> <label>Business Operation Type<span class="text-danger">*</span>
                                            </label></div>


                                        <div class="radio float-left mr-3"><label class="ui-check"><input type="radio"
                                                    name="acountoperationtype"
                                                    [value]="_HelperService.AppConfig.AccountOperationType.Offline"
                                                    [(ngModel)]="_HelperService._UserAccount.AccountOperationTypeCode"
                                                    [formControl]="F_AddMerchant.controls['AccountOperationTypeCode']">
                                                <i class="dark-white"></i>
                                                Offline</label></div>
                                        <div class="radio float-left  mr-3"><label class="ui-check"><input type="radio"
                                                    name="acountoperationtype"
                                                    [value]="_HelperService.AppConfig.AccountOperationType.Online"
                                                    [(ngModel)]="_HelperService._UserAccount.AccountOperationTypeCode"
                                                    [formControl]="F_AddMerchant.controls['AccountOperationTypeCode']">
                                                <i class="dark-white"></i>
                                                Online</label></div>
                                        <div class="radio float-left mr-3">
                                            <label class="ui-check"><input type="radio" name="acountoperationtype"
                                                    [(ngModel)]="_HelperService._UserAccount.AccountOperationTypeCode"
                                                    [value]="_HelperService.AppConfig.AccountOperationType.OnlineAndOffline"
                                                    [formControl]="F_AddMerchant.controls['AccountOperationTypeCode']">
                                                <i class="dark-white"></i>
                                                Online And Offline</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{'System.Users.Address' | translate }}<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <textarea rows="3" type="text" name="Address" maxlength="128"
                                                class="form-control" [(ngModel)]="_HelperService._UserAccount.Address"
                                                [formControl]="F_AddMerchant.controls['Address']"
                                                [ngClass]="{'is-invalid':!F_AddMerchant.controls['Address'].valid && F_AddMerchant.controls['Address'].touched}"></textarea>
                                        </div>
                                        <label class="text-danger" for="Address"
                                            *ngIf="F_AddMerchant.controls['Address'].hasError('required') && F_AddMerchant.controls['Address'].touched">
                                            enter registered business address</label>
                                        <label class="text-danger" for="Address"
                                            *ngIf="F_AddMerchant.controls['Address'].hasError('minlength') || F_AddMerchant.controls['Address'].hasError('maxlength')">
                                            registered address must be between 10 to 256 characters
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-12" style="display:none;">
                                    <div class="form-group">
                                        <label>Reward Percentage<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="RewardPercentage" minlength="1" maxlength="100"
                                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="F_AddMerchant.controls['RewardPercentage']"
                                                [ngClass]="{'is-invalid':!F_AddMerchant.controls['RewardPercentage'].valid && F_AddMerchant.controls['RewardPercentage'].touched}">
                                        </div>
                                        <label class="text-danger" for="RewardPercentage"
                                            *ngIf="F_AddMerchant.controls['RewardPercentage'].hasError('required') && F_AddMerchant.controls['RewardPercentage'].touched">
                                            enter reward percentage
                                        </label>
                                        <label class="text-danger" for="RewardPercentage"
                                            *ngIf="F_AddMerchant.controls['RewardPercentage'].hasError('minlength') || F_AddMerchant.controls['RewardPercentage'].hasError('maxlength')">
                                            reward percentage must be between 1 to 100
                                        </label>
                                    </div>
                                </div> -->

                            </div>

                        </div>
                    </div>

                </div>
                <div class="box-header b-b b-2x b-t">
                    <h3 class="text-warn">Contact Information</h3><small class="text-gray">Provider contact information
                        for
                        account setup </small>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="FirstName" minlength="4" maxlength="128"
                                                class="form-control" [formControl]="F_AddMerchant.controls['FirstName']"
                                                [(ngModel)]="_HelperService._UserAccount.FirstName"
                                                [ngClass]="{'is-invalid':!F_AddMerchant.controls['FirstName'].valid && F_AddMerchant.controls['FirstName'].touched}">
                                        </div>
                                        <label class="text-danger" for="FirstName"
                                            *ngIf="F_AddMerchant.controls['FirstName'].hasError('required') && F_AddMerchant.controls['FirstName'].touched">
                                            enter first name
                                        </label>
                                        <label class="text-danger" for="FirstName"
                                            *ngIf="F_AddMerchant.controls['FirstName'].hasError('minlength') || F_AddMerchant.controls['FirstName'].hasError('maxlength')">
                                            first name must be between 4 to 128 characters
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="LastName" minlength="4" maxlength="128"
                                                [(ngModel)]="_HelperService._UserAccount.LastName" class="form-control"
                                                [formControl]="F_AddMerchant.controls['LastName']"
                                                [ngClass]="{'is-invalid':!F_AddMerchant.controls['LastName'].valid && F_AddMerchant.controls['LastName'].touched}">
                                        </div>
                                        <label class="text-danger" for="LastName"
                                            *ngIf="F_AddMerchant.controls['LastName'].hasError('required') && F_AddMerchant.controls['LastName'].touched">
                                            enter last name
                                        </label>
                                        <label class="text-danger" for="LastName"
                                            *ngIf="F_AddMerchant.controls['LastName'].hasError('minlength') || F_AddMerchant.controls['LastName'].hasError('maxlength')">
                                            last name must be between 4 to 128 characters
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> Mobile Number<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="MobileNumber" minlength="10" maxlength="18"
                                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="F_AddMerchant.controls['MobileNumber']"
                                                [(ngModel)]="_HelperService._UserAccount.MobileNumber"
                                                [ngClass]="{'is-invalid':!F_AddMerchant.controls['MobileNumber'].valid && F_AddMerchant.controls['MobileNumber'].touched}">
                                        </div>
                                        <label class="text-danger" for="MobileNumber"
                                            *ngIf="F_AddMerchant.controls['MobileNumber'].hasError('required') && F_AddMerchant.controls['MobileNumber'].touched">
                                            enter mobile number
                                        </label>
                                        <label class="text-danger" for="MobileNumber"
                                            *ngIf="F_AddMerchant.controls['MobileNumber'].hasError('minlength') || F_AddMerchant.controls['MobileNumber'].hasError('maxlength')">
                                            mobile number must be between 10 to 18 numbers
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="light p-3 text-right b-a b-t">
                    <button type="submit" class="btn btn-fw warn warn mr-2"
                        (click)="F_AddMerchant.value.OperationType='new'"
                        [disabled]="!F_AddMerchant.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.Update' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                            }}...
                        </span>
                    </button>
                    <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
                        (click)="F_AddMerchant.value.OperationType='close'"
                        [disabled]="!F_AddMerchant.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            Update And Close
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                            }}...
                        </span>
                    </button>


                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="F_AddMerchant_Close()">{{
                                        'Common.Close'
                                        | translate }}</button>
                </div>
            </div>
        </form>

    </div>
    <div class="tab-pane animate fadeIn text-muted" id="TabStoreLocations">
        <div class="box">
            <form [formGroup]="F_AddStore" (ngSubmit)="F_AddStore_Process(F_AddStore.value)" role="form">
                <div class="box-header b-b b-2x">
                    <h3 class="text-warn">Add New Store</h3><small class="text-gray">
                        Enter store information below </small>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{'System.Users.DisplayName' | translate }}<span
                                                class="text-danger">*</span> </label>
                                        <div class="controls">
                                            <input type="text" name="DisplayName" maxlength="25" class="form-control"
                                                [formControl]="F_AddStore.controls['DisplayName']"
                                                [ngClass]="{'is-invalid':!F_AddStore.controls['DisplayName'].valid && F_AddStore.controls['DisplayName'].touched}">
                                        </div>
                                        <label class="text-danger" for="DisplayName"
                                            *ngIf="F_AddStore.controls['DisplayName'].hasError('required') && F_AddStore.controls['DisplayName'].touched">{{
                                                'System.Users.DisplayName_ER_Required' | translate }}</label>
                                        <label class="text-danger" for="DisplayName"
                                            *ngIf="F_AddStore.controls['DisplayName'].hasError('minlength') || F_AddStore.controls['DisplayName'].hasError('maxlength')">{{
                                                'System.Users.DisplayName_ER_Length' | translate }}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{'System.Users.ContactNumber' | translate }}<span
                                                class="text-danger">*</span> </label>
                                        <div class="controls">
                                            <input type="text" name="ContactNumber" minlength="10" maxlength="18"
                                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="F_AddStore.controls['ContactNumber']"
                                                [ngClass]="{'is-invalid':!F_AddStore.controls['ContactNumber'].valid && F_AddStore.controls['ContactNumber'].touched}">
                                        </div>
                                        <label class="text-danger" for="ContactNumber"
                                            *ngIf="F_AddStore.controls['ContactNumber'].hasError('required') && F_AddStore.controls['ContactNumber'].touched">{{
                                                    'System.Users.ContactNumber_ER_Required' | translate }}</label>
                                        <label class="text-danger" for="ContactNumber"
                                            *ngIf="F_AddStore.controls['ContactNumber'].hasError('minlength') || F_AddStore.controls['ContactNumber'].hasError('maxlength')">{{
                                                    'System.Users.ContactNumber_ER_Length' | translate }}</label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{'System.Users.Address' | translate }}<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <textarea rows="3" type="text" name="Address" maxlength="128"
                                                class="form-control" [formControl]="F_AddStore.controls['Address']"
                                                [ngClass]="{'is-invalid':!F_AddStore.controls['Address'].valid && F_AddStore.controls['Address'].touched}"></textarea>
                                        </div>
                                        <label class="text-danger" for="Address"
                                            *ngIf="F_AddStore.controls['Address'].hasError('required') && F_AddStore.controls['Address'].touched">{{
                                                                'System.Users.Address_ER_Required' | translate }}</label>
                                        <label class="text-danger" for="Address"
                                            *ngIf="F_AddStore.controls['Address'].hasError('minlength') || F_AddStore.controls['Address'].hasError('maxlength')">{{
                                                                'System.Users.Address_ER_Length' | translate }}</label>
                                    </div>
                                    <div class="form-group">
                                        <label>{{'System.Users.LocateAddress' | translate }}<span
                                                class="text-danger">*</span> </label>
                                        <div class="controls">
                                            <input type="text" name="GAddress" maxlength="256" class="form-control"
                                                ngx-google-places-autocomplete #places="ngx-places"
                                                (onAddressChange)="F_AddStore_AddressChange($event)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <agm-map style="height:255px;" [zoom]="12" [latitude]="F_AddStore_Latitude"
                                            [longitude]="F_AddStore_Longitude"
                                            (mapClick)="F_AddStore_PlaceMarkerClick($event)">
                                            <agm-marker [latitude]="F_AddStore_Latitude"
                                                [longitude]="F_AddStore_Longitude"></agm-marker>
                                        </agm-map>
                                    </div>
                                </div>
                                <div style="display:none;" class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ 'System.Users.Latitude' | translate }}<span
                                                class="text-danger">*</span> </label>
                                        <div class="controls">
                                            <input [(ngModel)]="F_AddStore_Latitude" type="text" name="Latitude"
                                                maxlength="20" class="form-control"
                                                [formControl]="F_AddStore.controls['Latitude']"
                                                [ngClass]="{'is-invalid':!F_AddStore.controls['Latitude'].valid && F_AddStore.controls['Latitude'].touched}">
                                        </div>
                                        <label class="text-danger" for="Latitude"
                                            *ngIf="F_AddStore.controls['Latitude'].hasError('required') && F_AddStore.controls['Latitude'].touched">{{
                                                        'System.Users.Latitude_ER_Required' | translate }}</label>
                                    </div>
                                </div>
                                <div style="display:none;" class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ 'System.Users.Longitude' | translate }}<span
                                                class="text-danger">*</span> </label>
                                        <div class="controls">
                                            <input [(ngModel)]="F_AddStore_Longitude" type="text" name="Longitude"
                                                maxlength="20" class="form-control"
                                                [formControl]="F_AddStore.controls['Longitude']"
                                                [ngClass]="{'is-invalid':!F_AddStore.controls['Longitude'].valid && F_AddStore.controls['Longitude'].touched}">
                                        </div>
                                        <label class="text-danger" for="Longitude"
                                            *ngIf="F_AddStore.controls['Longitude'].hasError('required') && F_AddStore.controls['Longitude'].touched">{{
                                                        'System.Users.Longitude_ER_Required' | translate }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="light p-3 text-right b-a b-t">
                        <button type="submit" class="btn btn-fw warn warn mr-2"
                            (click)="F_AddStore.value.OperationType='new'"
                            [disabled]="!F_AddStore.valid || _HelperService.IsFormProcessing">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                {{ 'Common.Save' | translate }}
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                            }}...
                            </span>
                        </button>
                        <button type="button" class="btn btn-outline   b-warning  text-warning mr-2"
                            (click)="F_AddStore_Clear()">{{
                        'Common.Clear' |
                        translate }}</button>


                    </div>
                </div>
            </form>

            <div class="box-header b-b b-t b-2x">
                <h3 class="text-warn">Stores List</h3><small class="text-gray">
                    list of alreadt added stores </small>
            </div>
            <div class="box mb-0">
                <div class="box-header light lt">
                    <div class="form-inline ">
                        <div class="input-group mr-2"><input type="text" maxlength="100"
                                [(ngModel)]="StoresList_Config.SearchParameter" class="form-control"
                                placeholder="{{ 'Common.Search' | translate }}">
                            <div class="input-group-append"><button class="btn white" type="button"
                                    (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                                'Common.Go' | translate }}</button></div>
                        </div>
                        <!-- <input type="text" [value]="StoresList_Config.SearchParameter" maxlength="256" class="form-control mr-2"
                                                                                    placeholder="{{ 'Common.Search' | translate }}" (keyup)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)"> -->
                        <!-- <input type="text" class="form-control  mr-2" name="daterangeInput" daterangepicker
                            [options]="_HelperService.AppConfig.DateRangeOptions"
                            (selected)="StoresList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                        <select2 class=" mr-2" [options]="_HelperService.Select2Options_Multiple"
                            [data]="StoresList_Config.SortExpressionOption"
                            (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
                        </select2>
                        <select2 class=" mr-2" [options]="_DataHelperService.S2_Status_Option"
                            (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                        </select2> -->
                        <ul class="nav nav-xs">
                            <!-- <li title="{{ 'Common.FilterT' | translate }}" class="nav-item" (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)"><a
                                                    class="nav-link"><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li> -->
                            <!-- <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
                                (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Csv)">
                                <a class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a></li> -->
                            <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
                                (click)="StoresList_GetData()"><a class="nav-link"><i
                                        class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
                        </ul>
                    </div>
                    <div *ngIf="StoresList_Config.ToggleFilter">
                        <div class="form-inline pt-3">
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <select2 [options]="_HelperService.Select2Options_SearchColumn"
                                        [data]="StoresList_Config.VisiblityOptions"
                                        [value]="StoresList_Config.SearchColumns"
                                        (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SearchColumnChange)">
                                    </select2>
                                </div>
                                <input type="text" [(ngModel)]="StoresList_Config.ColumnSearchParameter" maxlength="256"
                                    class="form-control" placeholder="{{ 'Common.ValueToSearch' | translate }}">
                                <div class="input-group-append mr-2"><button class="btn white" type="button"
                                        (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                                    'Common.Go' | translate }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-inline pt-3">
                            <select2 class="m-r-5" [options]="_HelperService.Select2Options_Multiple"
                                [data]="StoresList_Config.VisiblityOptions" [value]="StoresList_Config.Visiblity"
                                (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Visiblity)">
                            </select2>
                        </div>
                    </div>
                </div>

                <div class="box-body p-0">
                    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
                        <thead>
                            <tr>

                                <th *ngFor="let TItem of StoresList_Config.VisibleHeaders" class="{{TItem.Class}}">
                                    {{TItem.DisplayName}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let TItem of StoresList_Config.Data
                                                                                                | paginate: { id: 'StoresList',itemsPerPage: StoresList_Config.PageRecordLimit, currentPage: StoresList_Config.ActivePage,
                                                                                                totalItems: StoresList_Config.TotalRecords }">
                                <!-- <td class="td-status">
                                            <i class="{{TItem.StatusI }}"></i>
                                        </td> -->

                                <td *ngFor="let HTItem of StoresList_Config.VisibleHeaders" class="{{TItem.Class}}"
                                    class="{{TItem.Class}}" title="{{TItem[HTItem.SystemName]}}">
                                    <span *ngIf="HTItem.NavigateLink != undefined">
                                        <span
                                            *ngIf="HTItem.NavigateLink != undefined && HTItem.NavigateField == undefined">
                                            <a routerLink="{{HTItem.NavigateLink}}">
                                                {{TItem[HTItem.SystemName] || "--"}}</a>
                                        </span>
                                        <span *ngIf="HTItem.NavigateField != undefined">
                                            <a routerLink="{{HTItem.NavigateLink}}/{{TItem[HTItem.NavigateField]}}">
                                                <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                                    <span *ngIf="TItem[HTItem.SystemName] != undefined">
                                                        {{ (TItem[HTItem.SystemName].length>30)? (TItem[HTItem.SystemName] |
                                                                    slice:0:30)+'..':(TItem[HTItem.SystemName]) }}
                                                    </span>
                                                    <span *ngIf="TItem[HTItem.SystemName] == undefined">
                                                        --
                                                    </span>
                                                </span>
                                                <span
                                                    *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                                    {{TItem[HTItem.SystemName]|| "0"}}
                                                </span>
                                                <span
                                                    *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                                    {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                                </span>
                                                <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                                    {{TItem[HTItem.SystemName] || "--"}}
                                                </span></a>
                                        </span>
                                    </span>
                                    <span *ngIf="HTItem.NavigateLink == undefined">
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                            <span *ngIf="TItem[HTItem.SystemName] != undefined">
                                                {{ (TItem[HTItem.SystemName].length>30)? (TItem[HTItem.SystemName] |
                                                            slice:0:30)+'..':(TItem[HTItem.SystemName]) }}
                                            </span>
                                            <span *ngIf="TItem[HTItem.SystemName] == undefined">
                                                --
                                            </span>
                                        </span>
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                            {{TItem[HTItem.SystemName]|| "0"}}
                                        </span>
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                            {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                        </span>
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                            {{TItem[HTItem.SystemName] || "--"}}
                                        </span>
                                    </span>
                                </td>
                                <!-- <td class="td-btn-info" (click)="StoresList_RowSelected(TItem)">
                                                                        <i class="{{ 'Common.InfoI' | translate }}"></i>
                                                                    </td> -->
                            </tr>
                        </tbody>
                    </table>

                    <div class="  p-4">
                        <span class="mr-1">
                            {{ 'Common.Showing' | translate }}
                            <span class="bold">{{StoresList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                                {{StoresList_Config.ShowingEnd}}
                            </span> {{ 'Common.Of' | translate }} {{StoresList_Config.TotalRecords}}
                        </span>
                        |
                        <span class="ml-1">
                            {{ 'Common.Show' | translate }}
                            <select class=" w-64 " [(ngModel)]="StoresList_Config.PageRecordLimit"
                                (ngModelChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                                <option [ngValue]="TItem"
                                    *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                                    {{TItem}}
                                </option>
                            </select> {{ 'Common.Entries' | translate }}
                        </span>
                        <span class="float-right">
                            <pagination-controls id="StoresList"
                                (pageChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                                nextLabel="{{ 'Common.Next' | translate }}"
                                previousLabel="{{ 'Common.Previous' | translate }}">
                            </pagination-controls>
                        </span>
                    </div>
                </div>
            </div>


        </div>



    </div>
    <div class="tab-pane animate fadeIn text-muted" id="TabStoreTerminals">
        <div class="box">
            <div class="box-header b-b b-2x">
                <h3 class="text-warn">Add New Terminal</h3><small class="text-gray">Add new terminal</small>
            </div>
            <div class="box-body">
                <form [formGroup]="F_AddTerminal" (ngSubmit)="F_AddTerminal_Process(F_AddTerminal.value)" role="form">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                <label>{{ 'System.Users.Provider' | translate }}<span class="text-danger">*</span>
                                </label>
                                <select2 class="full-width" [options]="GetPosAccountsOption"
                                    (valueChanged)="GetPosAccountsListChange($event)"></select2>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                <label>{{ 'System.Users.Store' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div>
                                    <select2 class="full-width" [options]="GetStoresOption"
                                        (valueChanged)="GetStoresListChange($event)"></select2>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{'System.Users.TerminalId' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="DisplayName" maxlength="10" class="form-control"
                                        [formControl]="F_AddTerminal.controls['DisplayName']"
                                        [ngClass]="{'is-invalid':!F_AddTerminal.controls['DisplayName'].valid && F_AddTerminal.controls['DisplayName'].touched}">
                                </div>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="F_AddTerminal.controls['DisplayName'].hasError('required') && F_AddTerminal.controls['DisplayName'].touched">{{
                                        'System.Users.DisplayName_ER_Required' | translate }}</label>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="F_AddTerminal.controls['DisplayName'].hasError('minlength') || F_AddTerminal.controls['DisplayName'].hasError('maxlength')">{{
                                        'System.Users.DisplayName_ER_Length' | translate }}</label>
                            </div>
                        </div>

                    </div>
                    <div class="light p-3 text-right b-a b-t">
                        <button type="submit" class="btn btn-fw warn warn mr-2"
                            (click)="F_AddTerminal.value.OperationType='new'"
                            [disabled]="!F_AddTerminal.valid || _HelperService.IsFormProcessing">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                {{ 'Common.Save' | translate }}
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                            }}...
                            </span>
                        </button>
                        <button type="button" class="btn btn-outline   b-warning  text-warning mr-2"
                            (click)="F_AddTerminal_Clear()">{{
                        'Common.Clear' |
                        translate }}</button>

                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            (click)="F_AddTerminal_Close()">{{
                        'Common.Close'
                        | translate }}</button>
                    </div>
                </form>
            </div>

            <div class="box-header b-b b-2x b-t">
                <h3 class="text-warn">Available Terminals</h3><small class="text-gray">Available Pos terminals</small>
            </div>

            <div class="box mb-0">
                <div class="box-header light lt">
                    <!-- <h3> {{PosTerminalsList_Config.Title}}</h3> -->
                    <!-- <div class="float-right">
                                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.AddPosTerminal}}" class="btn btn-outline b-warn text-warn btn-sm  mr-2">
                                    {{'Common.AddNew' | translate }}</a>
                            </div> -->
                    <div class="form-inline ">
                        <div class="input-group mr-2"><input type="text" maxlength="100"
                                [(ngModel)]="PosTerminalsList_Config.SearchParameter" class="form-control"
                                placeholder="{{ 'Common.Search' | translate }}">
                            <div class="input-group-append"><button class="btn white" type="button"
                                    (click)="PosTerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                        'Common.Go' | translate }}</button></div>
                        </div>
                        <!-- <input type="text" [value]="PosTerminalsList_Config.SearchParameter" maxlength="256" class="form-control mr-2"
                                                                            placeholder="{{ 'Common.Search' | translate }}" (keyup)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)"> -->
                        <!-- <input type="text" class="form-control  mr-2" name="daterangeInput" daterangepicker
                            [options]="_HelperService.AppConfig.DateRangeOptions"
                            (selected)="PosTerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                        <select2 class=" mr-2" [options]="_HelperService.Select2Options_Multiple"
                            [data]="PosTerminalsList_Config.SortExpressionOption"
                            (valueChanged)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
                        </select2>
                        <select2 class=" mr-2" [options]="_DataHelperService.S2_Status_Option"
                            (valueChanged)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                        </select2> -->
                        <ul class="nav nav-xs">
                            <!-- <li title="{{ 'Common.FilterT' | translate }}" class="nav-item" (click)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)"><a
                                            class="nav-link"><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li> -->
                            <!-- <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
                                (click)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Csv)">
                                <a class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a></li> -->
                            <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
                                (click)="PosTerminalsList_GetData()"><a class="nav-link"><i
                                        class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
                        </ul>
                    </div>
                    <div *ngIf="PosTerminalsList_Config.ToggleFilter">
                        <div class="form-inline pt-3">
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <select2 [options]="_HelperService.Select2Options_SearchColumn"
                                        [data]="PosTerminalsList_Config.VisiblityOptions"
                                        [value]="PosTerminalsList_Config.SearchColumns"
                                        (valueChanged)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SearchColumnChange)">
                                    </select2>
                                </div>
                                <input type="text" [(ngModel)]="PosTerminalsList_Config.ColumnSearchParameter"
                                    maxlength="256" class="form-control"
                                    placeholder="{{ 'Common.ValueToSearch' | translate }}">
                                <div class="input-group-append mr-2"><button class="btn white" type="button"
                                        (click)="PosTerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                            'Common.Go' | translate }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-inline pt-3">
                            <select2 class="m-r-5" [options]="_HelperService.Select2Options_Multiple"
                                [data]="PosTerminalsList_Config.VisiblityOptions"
                                [value]="PosTerminalsList_Config.Visiblity"
                                (valueChanged)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Visiblity)">
                            </select2>
                        </div>
                    </div>
                </div>

                <div class="box-body p-0">
                    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
                        <thead>
                            <tr>
                                <th class="td-status">
                                    <i class="{{ 'Common.StatusI' | translate }}"></i>
                                </th>
                                <th *ngFor="let TItem of PosTerminalsList_Config.VisibleHeaders"
                                    class="{{TItem.Class}}">
                                    {{TItem.DisplayName}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let TItem of PosTerminalsList_Config.Data
                                                                                        | paginate: { id: 'PosTerminalsList',itemsPerPage: PosTerminalsList_Config.PageRecordLimit, currentPage: PosTerminalsList_Config.ActivePage,
                                                                                        totalItems: PosTerminalsList_Config.TotalRecords }">
                                <td class="td-status">
                                    <i class="{{TItem.StatusI }}"></i>
                                </td>
                                <td *ngFor="let HTItem of PosTerminalsList_Config.VisibleHeaders"
                                    class="{{TItem.Class}}" class="{{TItem.Class}}"
                                    title="{{TItem[HTItem.SystemName]}}">
                                    <span *ngIf="HTItem.NavigateLink != undefined">
                                        <span
                                            *ngIf="HTItem.NavigateLink != undefined && HTItem.NavigateField == undefined">
                                            <a routerLink="{{HTItem.NavigateLink}}">
                                                {{TItem[HTItem.SystemName] || "--"}}</a>
                                        </span>
                                        <span *ngIf="HTItem.NavigateField != undefined">
                                            <a routerLink="{{HTItem.NavigateLink}}/{{TItem[HTItem.NavigateField]}}">
                                                <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                                    <span *ngIf="TItem[HTItem.SystemName] != undefined">
                                                        {{TItem[HTItem.SystemName] || "--"}}
                                                    </span>
                                                    <span *ngIf="TItem[HTItem.SystemName] == undefined">
                                                        --
                                                    </span>
                                                </span>
                                                <span
                                                    *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                                    {{TItem[HTItem.SystemName]|| "0"}}
                                                </span>
                                                <span
                                                    *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                                    {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                                </span>
                                                <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                                    {{TItem[HTItem.SystemName] || "--"}}
                                                </span></a>
                                        </span>
                                    </span>
                                    <span *ngIf="HTItem.NavigateLink == undefined">
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                            <span *ngIf="TItem[HTItem.SystemName] != undefined">
                                                {{TItem[HTItem.SystemName] || "--"}}
                                            </span>
                                            <span *ngIf="TItem[HTItem.SystemName] == undefined">
                                                --
                                            </span>
                                        </span>
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                            {{TItem[HTItem.SystemName]|| "0"}}
                                        </span>
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                            {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                        </span>
                                        <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                            {{TItem[HTItem.SystemName] || "--"}}
                                        </span>
                                    </span>
                                </td>
                                <!-- <td class="td-btn-info" (click)="PosTerminalsList_RowSelected(TItem)">
                                                                <i class="{{ 'Common.InfoI' | translate }}"></i>
                                                            </td> -->
                            </tr>
                        </tbody>
                    </table>

                    <div class="  p-4">
                        <span class="mr-1">
                            {{ 'Common.Showing' | translate }}
                            <span class="bold">{{PosTerminalsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                                {{PosTerminalsList_Config.ShowingEnd}}
                            </span> {{ 'Common.Of' | translate }} {{PosTerminalsList_Config.TotalRecords}}
                        </span>
                        |
                        <span class="ml-1">
                            {{ 'Common.Show' | translate }}
                            <select class=" w-64 " [(ngModel)]="PosTerminalsList_Config.PageRecordLimit"
                                (ngModelChange)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                                <option [ngValue]="TItem"
                                    *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                                    {{TItem}}
                                </option>
                            </select> {{ 'Common.Entries' | translate }}
                        </span>
                        <span class="float-right">
                            <pagination-controls id="PosTerminalsList"
                                (pageChange)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                                nextLabel="{{ 'Common.Next' | translate }}"
                                previousLabel="{{ 'Common.Previous' | translate }}"></pagination-controls>
                        </span>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>